.test_flow_intructions 
  .inn 
    .page_title.pull-left
      Instructions for Adding Candidates 
    .clr
    .divider1
    %p.large-text
      There are two ways to add candidates the test will be sent to - Bulk Upload or Manual addition of candidates. Please note that only one method can be used at a time to add candidates.
    .divider2
    .section-title.pull-left
      Option A - Bulk Upload
    .clr
    %p.left-offset1.medium-text
      Using Bulk Upload, a large number of candidates can be added. This is done by uploading a file that contains information about all the candidates that have to be added.
  .bulk_upload
    .inn.step1
      .step
        %span
          Step 
        .step-count
          1
      %p
        This file needs to be in a particular format. Click on the 
        %b "Download sample file for adding candidates"
        link 
        %br/
        to download a file in the required format. Use this file to add candidates.
    .inn.step2
      .step
        %span
          Step 
        .step-count
          2
      %p
        Add candidate names under the 
        %b "name" 
        column and valid email ids under 
        %b "email". 
        %br/
        Adding mobile numbers under 
        %b "mobile_no" 
        is optional.
      %p.highlight_text
        Name and email address are mandatory. Mobile numbers are required 
        %br/
        only for sending test invite notifications to candidates via SMS.
      %p.second
        You can add more candidates by typing their information or by copy-pasting them 
        %br/
        from another source in the required format.
        %br/
        Once done, save file in the CSV format.
    .inn.step3
      .step
        %span
          Step 
        .step-count
          3
      %p
        Upload this file by clicking on 
        %b "Browse..."
        and navigating to your file.
       
    .inn.step4
      .step
        %span
          Step 
        .step-count
          4
      %p
        For 
        %b Existing Employees,
        you can optionally provide the candidates' current functional area.
      %p.highlight_text
        Please note that the functional area would apply to all the candidates in the file being uploaded. 
        
    .inn.step5.border-none
      .step
        %span
          Step 
        .step-count
          5
      %p
        You may reach the next step by clicking on the 
        %b 'Proceed'
        button.
  .or_divider
    %span
  .divider2

  .adding_individual
    .section-title.pull-left
      Option B - Adding Individual Candidates
    .clr
    .divider1
    %p.left-offset1.medium-text
      You can add candidates by entering their details manually. Up to 10 candidates can be added.
    .divider2
    .inn.step1
      .step
        %span
          Step 
        .step-count
          1
      %p
        Add candidate names under 
        %b "Full Name" 
        and valid email ids under 
        %b "Email".
        Adding mobile 
        %br/
        numbers under 
        %b "Mobile Number" 
        is optional.
      %p.highlight_text
        Name and email address are mandatory. Mobile numbers are required only for 
        %br/
        sending test invite notifications to candidates via SMS.
      %p.second
        For 
        %b Existing Employees, 
        you can optionally 
        %br/
        provide the candidates' current functional area.

    .inn.step2.border-none
      .step
        %span
          Step 
        .step-count
          2
      %p
        You may reach the next step by clicking on the 
        %b 'Proceed' 
        button.
