.process_explanation
  .page-title.pull-left
    .divider1
    Custom Assessment: How it works
  %a.btn.btn-warning.big.big-text.pull-right.large-text{:href => new_company_custom_assessment_path(:company_id =>current_user.company_id), :title => "Click Here To Create Custom Assessment"} 
    Create Custom Assessment
  .clr
  .span27.margin-auto
    - 5.times do |index|
      .thumb_holder.pull-left
        %div{:class => "thumb0#{index}"}
          %div{:class => "content0#{index}"}
          .down_carret
    .clr
  .divider13



