.process_explanation
  .span27.margin-auto
    - 5.times do |index|
      .thumb_holder.pull-left
        %div{:class => "thumb0#{index}"}
          %div{:class => "content0#{index}"}
          .down_carret
    .clr
    .divider5
    .huge-text.text-center
      Steps to create Custom Assessments.
      %br
      Place your cursor over individual icons to see explanation of each step.    
  .divider30



