.bulk-upload.de-activated
  %label
    %input{:type => "radio"}
    %b.extra-medium-text Upload candidates in bulk:
  .divider1
  .left-offset1.pull-left
    %input{:type => "file"}
    .divider1
    %a.underlined{:href => "#"}
      Sample CSV

  .left-offset1.pull-right
    .control-group.pull-left
      %select
        %option 1
        %option 2
        %option 3
      .help-text
        ( Select Functional Area for exisiting employees only )
    %button.btn.btn-info.pull-left
      Proceed
    .clr
  .clr

