.create-test.norms.add
  .inn.first
    .page-title Tests
  .inn
    = render :partial => "shared/test-flow-sub-nav"
    .divider1
    = form_for @assessment, :as => :assessment, :url => add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
      .select-candidate-type 
        %b.span.show.left-offset1
          Please select the candidate type :
        .show.left-offset1.pull-left
          %label
            %input{:type => "radio", :name => "assessment[candiadate_stage]"}
            Existing Employees
          %label
            %input{:type => "radio", :name => "assessment[candiadate_stage]"}
            Potential Employees
        .clr 
      .divider1
      .span4.left-offset1
        %b Full name
      .span5.left-offset1
        %b Email id
      .span4.left-offset1
        %b Contact number
        (optional)
      .clr
      .divider1
      %ul.add-candidates.unstyled.clearfix
        - @candidate_assessments.each_with_index do |candidate_assessment,index|
          = render :partial => "assessments/assessment_candidate_assessment_fields", :locals => { :candidate_assessment => candidate_assessment, :index => (index+1) } 
      %button.pull-right.btn.btn-info
        Proceed
      .clr
