.span18.margin-auto.text-center
  .large-text
    Enter the email address of the people who should receive Reports
  .divider1
  %input.span18.first{:type => "text", :placeholder => "Email addresses seperated by commas. Do not add candidate email address here."}
  .clr
  .divider3
  %button.btn.btn-warning.big-text.big
    Send Assessment