.span18.margin-auto.text-center
  .big-text
    Enter the email address of the people who should receive the Assessment Reports
  .divider1
  %input.span18.first{:type => "text", :placeholder => "Email addresses should be seperated by commas. Do not enter Assessment Takers' email addresses here."}
  .clr
  .divider3
  %button.btn.btn-warning.large-text.big
    Send Assessment