%h1 Assessment#new
%p Find me in app/views/assessments/new.html.haml

=# render 'form', method: :post, url: company_assessments_path(:company_id => params[:company_id]), assessment: @assessment

=# link_to 'Back', company_assessments_path(:company_id => params[:company_id])
