.span18.pull-right
  %ul#sub-nav.pull-right
    %li
      %a.setting{href: "#", title: "Account"}
      %ul.medium-text
        - if defined?(@company)
          %li
            %a{:href=>statistics_vac_company_path(@company)} VAC Usage
        %li
          %a{href: "/logout"} Logout
  %ul.navbar.pull-right.clearfix
    %li
      %a{:href=>select_company_vac_company_managers_path} ACCOUNTS
    - if defined?(@company)
      %li
        %a{:href=>home_company_oac_exercises_path(@company), :title=> "VAC",class: (["oac/exercises/index"].include?("#{params[:controller]}/#{params[:action]}") ? "active" : "")}
          VAC Home
  .clr
.clr
