#spotlight
  .divider4
  .container
    .headings
      .huge-text.pull-left 
        Sreelakshmi Venugopal
      .pull-right
        .huge-text.color-warning  
          Individual Report
        .extra-medium-text
          Survey Answered On: 10/06/2014
      .clr
      .divider1
    .divider2