%br/
= render :partial => 'suitability/overall_fitment_grades/import_form'
%br/
= render :partial => 'suitability/overall_fitment_grades/export_form'
%br/
= link_to 'Back', suitability_overall_fitment_grades_path
= link_to 'Destroy All', destroy_all_suitability_overall_fitment_grades_path
