.candidate_manager_guidelines
  .container
    .divider2
    .title
      Guidelines for Candidate&#39;s Manager
    .divider2
    %ul
      - @report.report_data[:competency_guidelines].each do |key, value|
        %li
          .span7.bold
            #{key}
          .span22
            #{value[:manager]}
          .clr
