.user_development_guide
  .container
    .divider2
    .title
      Development Guide for the Candidate
    .divider1
    %ul
      - @report.report_data[:trait_guidelines].each do |key, value|
        %li
          .span7.bold.extra-medium-text
            #{key}
          .span22.extra-medium-text
            #{value[:user]}
          .clr
        .divider1
.clr
.divider2