.candidate_manager_guidelines
  .container
    .divider2
    .title
      Guidelines for Candidate&#39;s Manager
    .divider2

    %ul
      -3.times do
        %li
          .span7.bold
            Assertiveness
          .span22
            lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum.
          .clr
