.user_manager_guidelines
  .container
    .divider2
    .title
      Development guide for candidate
    .divider1
    %p.extra-medium-text.gray-darker
      This section offers some tips and suggestions for the candidate to improve on a particular trait/ parameter.
    .divider1
    %ul
      - @report.report_data[:competency_guidelines].each do |key, value|
        %li
          .span7.first.bold.extra-medium-text
            #{key}
          .span22.extra-medium-text
            #{value[:user]}
          .clr
        .divider1
.divider1
