.candidate_development_guide
  .container
    .divider2
    .title
      Development Guide for the Candidate
    .divider2

    %ul
      -3.times do
        %li
          .span7.bold
            Assertiveness
          .span22
            lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum lorel ispum.
          .clr