.scores_competencies_graph.descending_order.section02
  .divider2
  .container
    .title
      360&#176; Competencies: Scores in Descending Order
    .divider2
    .graph_instructions.medium-text
      .stakeholder_rating_icon.span.first
      .span
        %span.bold
          360&#176; 
        Rating
      .classic_user_icon.span
      .span.bold
        Self Rating
      
      .clr

    = render :partial => "mrf/assessments/reports/competency_report/html/descending_graph.html"