#distribution_data_points
  .divider1
  .scores.container
    .title
      Data Points about #{get_assessment_purpose(@report)} Degree Scores: Competencies
    .divider2
    - @report.report_data[:competency_scores].each do |competency_name, competency_score|  
      - competency_hash = HashWithIndifferentAccess.new({ competency_score: competency_score })
      .frame.mrf.gray-bg
        .heading.pull-left
          = competency_name
        .clr
        - section_value.each do |section|
          - locals = Hash[section["locals"].map { |key, value| [key.to_sym, competency_hash[key.to_sym]] }]
          = render :partial => section["path"], :locals => locals
      .divider2                  
