#distribution_data_points 
  .pull-right
    .divider1
    .extra-medium-text.pull-left.line-height2
      360&#176; Scores across exercise
    .trait_rating.max.span{:style => "width: 150px"}
      .left
        Highest
      .right
        = @assessment.report_data[:competency_scores][competency][:max_score][:score] == 0 ? "-" : @assessment.report_data[:competency_scores][competency][:max_score][:score]
      .clr
    .trait_rating.min.span{:style => "width: 150px"}
      .left
        Lowest
      .right
        = @assessment.report_data[:competency_scores][competency][:min_score][:score] == 0 ? "-" : @assessment.report_data[:competency_scores][competency][:min_score][:score]
      .clr
    .clr
  

  .clr