#distribution_data_points 
  .pull-right
    .divider1
    .extra-medium-text.pull-left.line-height2
      360° Scores across exercise
    .trait_rating.max.span{:style => "width: 150px"}
      .left
        Highest
      .right
        xx
      .clr
    .trait_rating.min.span{:style => "width: 150px"}
      .left
        Lowest
      .right
        xx
      .clr
    .clr
  

  .clr