.competency_importance_as_per_stakeholders.border-bottom-grayDark
  .divider2
  .container
    .title
      Competency Importance as per Stakeholders
    .divider2
    .frame
      .padding-all2
        .table_container 
          %table.frequency_rating_table{:cellpadding=>"0", :cellspacing=> "0", width: "100%"}
            %tbody
              %tr.captions
                %td
              
                %td.dark_mute_bg.bold{:colspan=>"5"}
                  Stakeholders
              %tr
                %td.dark_mute_bg.bold.text-center{:style=>"min-width: 15%;"}
                  Competencies
                -5.times do 
                  %td.green_bg.captions
                    xxxxxx
              -5.times do 
                %tr
                  %td.captions.dark_mute_bg
                    ffd
                  -5.times do 
                    %td
                      xxxxxx
                 
           
    .divider2
             
