.section03
  .divider2
  .scores.container
    .title
      Data Points on 360&#176; Scores: Questions
    .divider2
    .frame
      .heading.pull-left
        Customer Service Orientation
      .heading.pull-right
        360&#176; Score: 100
      .clr
      .divider2
      .span28.margin-auto
        .large-text
          Trait: 
          %span.default
            Stress Tolerance

        -4.times do
          .divider1
          .big-text
            Question to Stakeholder:
          .extra-medium-text.color-warning
            Pays minute attention to details while completing a task
          .divider2

          #distribution_data_points
            .span7.first
              .large-text
                Overall Score
              .divider1
              .panel.bg-white
                .divider4
                .rating_snippet
                  .rating_title.green
                    360° Score
                  .value
                    3.0
                  .clr
                .divider4
                
            
            .span21
              .large-text
                Average rating given by Stakeholders
              .divider1
              .panel.bg-white
                .divider2
                .span18.margin-auto
                  -3.times do
                    .span6.first
                      .divider1
                      .rating_snippet
                        .rating_title.blue
                          Manager(3)
                        .value
                          3.0
                        .clr
                  .clr
                  -3.times do
                    .span6.first
                      .divider1
                      .rating_snippet
                        .rating_title.blue
                          Manager(3)
                        .value
                          3.0
                        .clr
                  .clr
                .clr
                .divider3
            .clr

        .self-rate
          .divider2
          .span28.margin-auto
            .span21.first
              .large-text
                Trait: 
                %span.default
                  Stress Tolerance

              .divider1
              .big-text
                Question to Stakeholder:
              .extra-medium-text.color-warning
                Pays minute attention to details while completing a task
              .divider2
            .span

              #distribution_data_points
                .span7.first
                  .large-text
                    Overall Score
                  .divider1
                  .panel.bg-white
                    .divider2
                    .rating_snippet
                      .rating_title.blue_light
                        Self Rating 
                      .value
                        3.0
                      .clr
                    .divider2
            .clr
            .divider2