.scores_competencies_graph.descending_order.section02
  .divider2
  .container
    .title
      360&#176; Traits: Scores in Descending Order
    = render :partial => "mrf/assessments/reports/competency_report/html/descending_graph.html"