%ul
  - trait[:comments].each do |role_name, role_wise_comment|
    - if role_wise_comment.any?{ |comment| comment[:comment].present? }
      %li
        .stakeholder.span3.first
          = role_name.titleize
        .comment-box.span23.pull-right.medium-text.line-height1
          - role_wise_comment.each do |comment|
            = comment[:comment]
            %br
          .arrow
        .clr