- section_value.each do |section|
  = render :partial => section["path"]
.clr
.divider1
%p.extra-medium-text.gray-darker
  This section gives an overview of ratings obtained by the individual on each value. It displays Self Ratings along with an average of all Stakeholder Ratings.
.divider2
