.traits_under_graph
  .graph_container
    .left_sec.pull-left
      .graph_instructions.left-offset4
        .span1.divider2.stakeholder_rating_icon
        .span1.divider2.classic_user_icon
        .clr
      %ul
        -6.times do
          %li
            .span6.extra-medium-text.first.trait_title
              Communication Skills
              
            .stakeholder_rating.medium-text.pull-left
              2.75
            .self_rating.medium-text.span
              5.0
            .clr
          
    .right_sec.span21.pull-right
      .classic_competency_graph
        .classic_competency_graph_scale
          .block.pull-left
            1.0
          -4.times do |index|
            .block.pull-left{:style=>"width: #{830/4}px; text-align: right"}
              #{index+2}
              \.0

          .clr
        .graph
          .graph_content
            -6.times do
              .divider1
              .descending_graph_bar.max{:style => "width: 20%; background: #a119a6"}
              .descending_graph_bar.min{:style => "width: 30%; background: #24d8ba"}
              .divider1
    .clr