#distribution_data_points
  .divider1
  .scores.container
    .title
      Data Points about 360 Degree Scores
    .divider2


    .frame.mrf.gray-bg
      .heading.pull-left
        Self Direction
      .clr
      .divider2

      
      .extra-large-text.left-offset2
        Integrity
      .divider2

      
      %table{:class=>"span27 margin-auto", :cellpadding=> "0", :cellspacing=> "0"}
        %tr
          %td
            .span7.right-offset1.first
              .extra-medium-text.line-height2
                Overall Scores

              .panel.bg-white
                .divider1
                .rating_snippet
                  .rating_title.green
                    360&#176; Score
                  .value
                    100
                  .clr
                .divider1
                .rating_snippet
                  .rating_title.blue
                    Self Rating
                  .value
                    5
                  .clr
                .divider1
                .rating_snippet
                  .rating_title.brown
                    360&#176; (Including Self)
                  .value
                    5
                  .clr
                .divider1
                

              .divider2
              .extra-medium-text.line-height2
                Average rating given by Stakeholders
              .panel.bg-white
                .divider1
                -6.times do
                  .rating_snippet
                    .rating_title.blue
                      Managers
                    .value
                      100
                    .clr
                  .divider1



            .clr
          %td
            .span17.left-offset1
              .divider2
              .panel.bg-white.legend_ratings
                .span.medium-text
                  Legend Ratings
                .clr
                .divider1
                %ul.clearfix
                  -6.times do
                    %li
                      .block.span{:style=>"background: #9583b6;"}
                      .span
                        Between 4.55 to 6.77
                      .clr
              .divider1
                
              .panel.bg-white.rating_breakdown
                .extra-large-text.text-center 
                  Overall Breakdown of Ratings given by all Stakeholders
                .breakdown_bar_section
                  .breakdown_bar.left-offset2.pull-left
                    .bar{:style=>"height: 20%; background: #9583b6;"}
                    .bar{:style=>"height: 30%; background: #ccc;"}
                    .bar{:style=>"height: 50%; background: #000;"}
                  %ul.breakdown_rating_list.pull-left
                    -6.times do
                      %li
                        .block.span{:style=>"background: #000;"}
                        .span8
                          123 Stakeholders (23%)
                        .clr
                  .clr

            .clr
      .divider1

      .span27.margin-auto
        %ul.clearfix.breakdown_small
          -6.times do
            %li.span9.pull-left
              .panel.rating_breakdown
                .medium-text
                  Breakdown of Ratings given by Managers
                .breakdown_bar_section
                  .breakdown_bar.pull-left
                    .bar{:style=>"height: 20%; background: #9583b6;"}
                    .bar{:style=>"height: 30%; background: #ccc;"}
                    .bar{:style=>"height: 50%; background: #000;"}
                  %ul.breakdown_rating_list.pull-left
                    -6.times do
                      %li
                        .block.span{:style=>"background: #000;"}
                        .span5
                          123 Stakeholders (23%)
                        .clr

                  .clr 
              .divider1

