- if subjective_response_value[:role_wise_subjective_responses].values.flatten.any?{|role_wise_response| role_wise_response.present?}
  %table{:cellspacing=>"15"}
    - subjective_response_value[:role_wise_subjective_responses].each_slice(2) do |step_role_wise_subjective_responses|
      %tr.clearfix
        - step_role_wise_subjective_responses.each do |role, role_wise_response|
          - role_wise_response.each do |comments|
            - if comments.present?
              %td
                .medium-text
                  = comments.html_safe
- else
  .no-responses
    .box.padding-all1
      No Responses
  .divider3
