.graph_instructions.medium-text.title_ins
  .graph_stakeholder_rating_icon.pull-left
  .stakeholder_rating.span
    Rating by other Stakeholders
  .graph_classic_user_icon.span
  .user_rating.span
    Self Rating
  .overlapped_score.pull-left
    .competency_overlapped_score_icon.span
    .span
      Score Overlap is indicated by 
  / .graph_stakeholder_average_rating_icon.pull-left
  / .stakeholder_average_rating.span
  /   Average Competency Score across candidates
  
  .clr
