.overview
  .top-triangle
    .bottom-triangle
      .container
        .divider2
        .content.span22.margin-auto
          .overview-title
            Overview
          %ul.competency-list.mrf.pull-left.default
            %li
              .competency-name.title.pull-left
                Competency
              .competency-value.title.pull-right
                #{get_assessment_purpose(@report)}&#176; Rating Average  
              .clr
            - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
              %li
                .competency-name.pull-left
                  = competency_name
                .competency-value.pull-right
                  = competency_scores[:score][:bucket] || "-"
                .clr
          .clr
        .divider2
