#developement_guide_competencies.section03
  .divider1
  .scores.container
    .title
      Data Points on #{get_assessment_purpose(@report)}&#176; Scores of Competencies
    .divider2
    - score_competencies_hash = HashWithIndifferentAccess.new({ role_wise_scores: @report.report_data[:role_wise_scores] })    
    - section_value.each do |section|
      - locals = Hash[section["locals"].map { |key, value| [key.to_sym, score_competencies_hash[key.to_sym]] }]
      = render :partial => section["path"], :locals => locals
    .divider2