#overview.section01
  .overall_report
    .container
      .divider6
      .user-name.pull-left
        = @report.report_data[:user][:name]
      .final-score.pull-right
        360 Degree Values Assessment Exercise Report
      .clr
      .extra-medium-text.pull-left
        360 Degree Values Assessment Exercise:
        = @report.report_data[:assessment][:name]
        .divider1
      .clr
      .medium-text.pull-left
        Exercise Completed On:
        = hdate(@report.report_data[:generated_at])
      .clr
    - section_value.each do |value|
      = render :partial => value["path"]
