.stakeholder-comments
  .container
    .divider2
    .title
      Stakeholder Comments on various Competencies
    .divider2
    - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
      - if competency_scores[:trait_scores].present?
        - if competency_scores[:trait_scores].any?{|trait| trait[:comments].values.flatten.any?{|comment| comment[:comment].present?} }
          - competency_scores[:trait_scores].each do |trait|
            - if trait[:comments].values.flatten.any?{|comment| comment[:comment].present?}
              .frame
                .heading.pull-left
                  Comments on 
                  = competency_name
                .clr
                - if !trait[:comments].present?
                  .no-responses
                    .box
                      No Responses
                  .divider3
                - else
                  - section_value.each do |section|
                    = render :partial => section["path"], :locals => { :trait => trait}
        - else
          .divider2
          .no-responses
            .box
              No comments present for the traits under this competency
          .divider2
        .divider2 
