- if @report.report_data[:mrf_report_competency_self_360]
  #scores.section03
    .divider1
    .scores.container
      .span10
        .title.line-height2
          Competencies with 360&#176; Scores
        .divider1
        - if @report.report_data[:assessment][:set_ranges]
          .mrf-benchmark-ranges-block.pull-left
            .pull-left
              Industry Benchmark
            .line.pull-left
            .clr
        .clr
      .scale.mrf.pull-right.left-offset1
        .line{ class: "line#{@norm_buckets.size}" }
        .marker-container
          - @norm_buckets.each do |norm_bucket|
            .marker
              .arrow
              .marker-info
                = norm_bucket.description rescue "-"
              - if norm_bucket.name.split(" ").size == 1
                %br/
              = norm_bucket.name
        .clr
      .clr
      .divider1
      .frame.mrf.gray-bg
        %ul.mrf_scores_listing
          - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
            = render :partial => "mrf/assessments/reports/competency_report/html/competencies_aggregated", :locals => { :competency_name => competency_name, :competency_scores => competency_scores}
      .divider2
