.stakeholder-comments.responses
  .container
    .divider2
    .title
      Responses to Other Questions
    .divider2
    - section_value.each do |section|
      = render :partial => section["path"], :locals => {:section_value => section["children"]}
      .divider2