- @trait_scores_difference = Hash.new
- @report.report_data[:competency_scores].each do |competency, competency_scores|
  - competency_scores[:trait_scores].each do |trait_score|
    - @trait_scores_difference[trait_score[:trait][:name]] =  (trait_score[:average_score_excluding_self][:score] - trait_score[:average_score_self][:score]).abs

-negative_hash = Hash.new
- @report.report_hash[:perception_gap]["negative_differences"].each do |trait|
  - negative_hash[trait] = @trait_scores_difference[trait]
- negative_hash = Hash[negative_hash.sort_by { |key, value| value }]

-positive_hash = Hash.new
- @report.report_hash[:perception_gap]["positive_differences"].each do |trait|
  - positive_hash[trait] = @trait_scores_difference[trait]
- positive_hash = Hash[positive_hash.sort_by { |key, value| value }.reverse]

-aggrement_hash = Hash.new
- @report.report_hash[:perception_gap]["aggrement"].each do |trait|
  - aggrement_hash[trait] = @trait_scores_difference[trait]
- aggrement_hash = Hash[aggrement_hash.sort_by { |key, value| value }.reverse]


.competency_perception_gap_on_traits
  .divider2
  .container
    .title
      Perception Gap on Traits
    .divider1
    %p.extra-medium-text.gray-darker
      This section enlists traits in three parts, based on the gap between self ratings and stakeholder ratings on those traits:    
    .span10.large-text.first
      Agreement
    .span10.large-text.first
      Perceived Negative Difference
    .span.large-text.first
      Perceived Positive Difference
    .clr
    .divider1
    %table{:cellpadding=>"0", :cellspacing=>"0"}
      %tr
        - @report.report_hash[:perception_gap].each do |title, traits|
          %td.description
            .span9.first
              = Rails.application.config.reports["perception_gap"][title.to_s]
          %td.space
      %tr
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - aggrement_hash.each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - negative_hash.each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - positive_hash.each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
.divider2.border-bottom-grayLighter

