- sorted_perception_gap = sort_perception_gap_section(@report.report_data[:competency_scores], @report.report_hash[:perception_gap]) 

.competency_perception_gap_on_traits
  .divider2
  .container
    .title
      Perception Gap on Traits
    .divider1
    %p.extra-medium-text.gray-darker
      This section enlists traits in three parts, based on the gap between self ratings and stakeholder ratings on those traits:    
    .span10.large-text.first
      Agreement
    .span10.large-text.first
      Perceived Negative Difference
    .span.large-text.first
      Perceived Positive Difference
    .clr
    .divider1
    %table{:cellpadding=>"0", :cellspacing=>"0"}
      %tr
        - @report.report_hash[:perception_gap].each do |title, traits|
          %td.description
            .span9.first
              = Rails.application.config.reports["perception_gap"][title.to_s]
          %td.space
      %tr
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - sorted_perception_gap[:aggrement].each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - sorted_perception_gap[:negative].each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - sorted_perception_gap[:positive].each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
.divider2.border-bottom-grayLighter

