.competency_perception_gap_on_traits
  .divider2
  .container
    .title
      Perception Gap on Traits
    .divider2
    .span10.large-text.first
      Agreement
    .span10.large-text.first
      Positive Difference
    .span.large-text.first
      Negative Difference
    .clr
    .divider1
    %table{:cellpadding=>"0", :cellspacing=>"0"}
      %tr
        - @report.report_hash[:perception_gap].each do |title, traits|
          %td.description
            .span9.first
              = Rails.application.config.reports["perception_gap"][title.to_s]
          %td.space
      %tr
        - @report.report_hash[:perception_gap].each do |title, traits|
          %td
            .span9
              .divider1
              %ul.disc.large-text
                -traits.each do |trait_name|
                  %li
                    = trait_name
              .divider1
            .clr
          %td.space
.divider2.border-bottom-grayLighter

