.response_distribution_six_points
  .container
    .divider2
    .title
      Response distribution on Questions
    .divider2
    -2.times do
      .frame.extra-medium-text
        %ul
          %li.titles.clearfix
            .span13
              Questions on Emotional Control
            .span3
              Never
            .span3
              Rarely 
            .span3
              Occasionally
            .span3
              Many times
            .span3
              Almost always
            .span3
              Always
          -2.times do 
            %li.clearfix
              .span13
                .question
                  Question 1 Stakeholder
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  
              .span3
                xx
              .span3
                xx
              .span3
                xx
              .span3
                xx
              .span3
                xx
              .span3
                xx

          -2.times do 
            %li.clearfix.candidate_answer
              .span13
                .question
                  Question 1 Stakeholder
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  
              .span3
                xx
              .span3.active
                xx
              .span3
                xx
              .span3
                xx
              .span3
                xx
              .span3
                xx

      .divider1