.response_distribution.container
	.divider1
	.scores.container
		.title
			Response Distribution on Questions
		.divider2
	.frame.mrf.gray-bg
		.heading.pull-left
			Achievment Orientation: Trait "Target Orientaton"
		.clr
		.divider2
		.span30.extra-medium-text
			Shows great vision in imagning the future?
		.clr
		.divider2

		.span10.medium-text
			&nbsp;
		- 6.times do |index|
			.span3.medium-text.text-center
				Occasionaly
		.clr
		.divider1
		
		- 2.times do 
			.span10
				ROLE
			- 6.times do |index|
				.span3.medium-text.text-center
					.score_block
						12
			.clr
			.divider1

	.divider2