- @report.report_data[:subjective_responses_self].each_with_index do |(subjective_response_key, subjective_response_value), index|
  .frame
    .heading
      .span3.first
        Question 
        = index + 1
      .span25.first
        = subjective_response_value[:body]
      .clr
    .divider1
    - section_value.each do |section|
      = render :partial => section["path"], :locals => {:subjective_response_value => subjective_response_value}
      .divider2
  .divider2
