#scores.individual.scores_competencies_graph.section02
  .divider2
  .container
    .title.pull-left
      #{get_assessment_purpose(@report)}&#176; and Self Ratings on Values
    - section_value.each do |section|
      = render :partial => section["path"], :locals => { :section_value => section["children"]}
