#scores_competencies.scores_competencies_graph.section02
  .divider2
  .container
    .title
      360&#176; Scores: Competencies
    .divider3
    - section_value.each do |section|
      = render :partial => section["path"], :locals => { :section_value => section["children"]}