#scores_competencies.individual.scores_competencies_graph.section02
  .divider2
  .container
    .title.pull-left
      360&#176; and Self Ratings on Competencies/Values
    - section_value.each do |section|
      = render :partial => section["path"], :locals => { :section_value => section["children"]}
