#scores_competencies.scores_competencies_graph.section02
  .divider2
  .container
    .title
      360&#176; Scores: Competencies
    .divider3
    .graph_instructions.medium-text
      .graph_classic_user_icon.span.first
      .user_rating.span
        Self Rating
      .graph_stakeholder_rating_icon.span
      .stakeholder_rating.span
        Rating by other Stakeholders
      .overlapped_score.pull-left
        .competency_overlapped_score_icon.span.left-offset1
        .span
          Score Overlap 
        
      .desired_range.span3
      .span
        Desired Range
      .clr
    .divider2
    = render :partial => "mrf/assessments/reports/competency_report/html/competency_classic_graph.html.haml"
