.traits_under_competencies.scores_competencies_graph.section02
  .divider2
  .container
    .title
      360&#176; Scores: Traits under Competencies
    .divider2
    = render :partial => "mrf/assessments/reports/competency_report/html/traits_under_competency_classic_graph"