.container
  .divider1
  - completed_count = 0
  - sent_count = 0
  - Hash[@report.report_data[:feedback_stats]].each do |role, status|
    - completed_count += status[:completed]
    - sent_count += status[:sent]
  .medium-text.span6.pull-right{:style=>"margin-top: -30px;"}
    Completion Status: #{completed_count} out of #{sent_count}
  .clr
.divider3