.strength_weakness_areas.section02
  .divider2
  .scores.container
    .title
      Strength and Areas of Improvement
    .divider2
    .extra-large-text
      Recognized Strengths
    .divider1
    .section_description.extra-medium-text
      .left-info.span13.padding-all1
        Lorem ipsum dolor sit amet, homero fabulas convenire at mea, everti temporibus has te. Mei te iudico iriure, eum ad illud omnium facilisis. Et falli minimum cum, at ius vero assueverit. Mel dicam contentiones at, sale movet ne vel. Est ex nostro deserunt, nec quot aeque et, noster bonorum has ut.
      .right-info.span14.padding-all1
        %ul
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
      .clr
    .divider2

    .extra-large-text
      Unrecognized Strengths
    .divider1
    .section_description.extra-medium-text
      .left-info.span13.padding-all1
        Lorem ipsum dolor sit amet, homero fabulas convenire at mea, everti temporibus has te. Mei te iudico iriure, eum ad illud omnium facilisis. Et falli minimum cum, at ius vero assueverit. Mel dicam contentiones at, sale movet ne vel. Est ex nostro deserunt, nec quot aeque et, noster bonorum has ut.
      .right-info.span14.padding-all1
        %ul
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
      .clr
    .divider2


    .extra-large-text
      Recognized Areas of Improvement
    .divider1
    .section_description.extra-medium-text
      .left-info.span13.padding-all1
        Lorem ipsum dolor sit amet, homero fabulas convenire at mea, everti temporibus has te. Mei te iudico iriure, eum ad illud omnium facilisis. Et falli minimum cum, at ius vero assueverit. Mel dicam contentiones at, sale movet ne vel. Est ex nostro deserunt, nec quot aeque et, noster bonorum has ut.
      .right-info.span14.padding-all1
        %ul
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
      .clr
    .divider2

    .extra-large-text
      Unrecognized Areas of Improvement
    .divider1
    .section_description.extra-medium-text
      .left-info.span13.padding-all1
        Lorem ipsum dolor sit amet, homero fabulas convenire at mea, everti temporibus has te. Mei te iudico iriure, eum ad illud omnium facilisis. Et falli minimum cum, at ius vero assueverit. Mel dicam contentiones at, sale movet ne vel. Est ex nostro deserunt, nec quot aeque et, noster bonorum has ut.
      .right-info.span14.padding-all1
        %ul
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
          %li
            Social Networking
      .clr
    .divider2