.classic_report.border-bottom-grayDark
  .scores_competencies_graph.descending_order.mrf_top_bottom_competencies
    .divider2
    .container
      .title.pull-left
        Top 3 and Bottom 3 Competencies
      .pull-left.left-offset1{:style => "font-size: 80px;color: #83b4e2"}
        &#8226;
      .span.big-text
        360&#176 Rating
      .clr
      .divider2
      .traits_under_graph.clearfix
        .graph_container
          .left_sec.pull-left
            .graph_instructions.pull-right.first
              .span7.bold.first.extra-medium-text.line-height2
                Top3
              .span1.divider2.first{:style => "font-size: 80px;color: #83b4e2"}
                &#8226;
              .clr
            .clr
            %ul
              - 2.times do
                %li
                  .trait_title.first.span7.extra-medium-text.default
                    XXXXCompetencyXXX
                  .stakeholder_rating.medium-text.pull-left
                    xx
                  .clr
                
          .right_sec.span21.pull-right
            .classic_competency_graph
              .classic_competency_graph_scale
                .block.pull-left
                  0
                - 2.times do |index|
                  .block.pull-left{:style=>"width: #{(830/5-1)}px; text-align: right"}
                    #{index+1}
                .clr
              .graph.no-background
                .graph_content.no-background
                  - 2.times do
                    .divider1
                    .descending_graph_bar.max{:style => "width: 30%; background: #83b4e2"}
                    .divider1
        .clr
      .divider1  
      .traits_under_graph.clearfix
        .graph_container
          .left_sec.pull-left
            .graph_instructions.pull-right.first
              .span7.bold.first.extra-medium-text.line-height2
                Bottom3
              .span1.divider2.first{:style => "font-size: 80px;color: #83b4e2"}
                &#8226;
              .clr
            .clr
            %ul
              - 2.times do
                %li
                  .trait_title.first.span7.extra-medium-text.default
                    XXXXCompetencyXXX
                  .stakeholder_rating.medium-text.pull-left
                    xx
                  .clr
                
          .right_sec.span21.pull-right
            .classic_competency_graph
              .classic_competency_graph_scale
                .block.pull-left
                  0
                - 2.times do |index|
                  .block.pull-left{:style=>"width: #{(830/5-1)}px; text-align: right"}
                    #{index+1}
                .clr
              .graph.no-background
                .graph_content.no-background
                  - 2.times do
                    .divider1
                    .descending_graph_bar.max{:style => "width: 30%; background: #83b4e2"}
                    .divider1
        .clr
    .divider2