#distribution_data_points.pull-left 
  .span.heading.medium-text.line-height1{:style => "margin-top: 3px; padding: 4px"}
    360&#176; Rating : #{trait_score[:average_score_excluding_self][:points]}
  .trait_rating.max.span{:style => "width: 150px"}
    .left
      Highest
    .right
      = trait_score[:max_score_excluding_self][:points] || "-"
    .clr
  .trait_rating.min.span{:style => "width: 150px"}
    .left
      Lowest
    .right
      = trait_score[:min_score_excluding_self][:points] || "-"
    .clr
  .clr

.clr

 