.graph_instructions.medium-text
  .graph_classic_user_icon.span.first
  .user_rating.span
    Self Rating
  .graph_stakeholder_rating_icon.span
  .stakeholder_rating.span
    Rating by other Stakeholders
  .overlapped_score.pull-left
    .competency_overlapped_score_icon.span.left-offset1
    .span
      or
    .trait_overlapped_score_icon.span
    .span
      Score Overlap 
    .clr
  .desired_range.span2
  .span
    Desired Range
  .clr