.graph_instructions.medium-text.pull-right
  .graph_stakeholder_rating_icon.span
  .stakeholder_rating.span
    Rating by other Stakeholders
  .graph_classic_user_icon.span
  .user_rating.span
    Self Rating
  .span
    Score Overlap is indicated by 
  .competency_overlapped_score_icon.span
  .clr
.clr
.extra-medium-text.gray-dark
  Place the cursor on any trait to see its definition    
.divider2