#distribution_data_points
  .divider1
  .scores.container
    .title
      Data Points about #{get_assessment_purpose(@report)} Degree Scores: Traits Under Competencies
    .divider2
    - @report.report_data[:competency_scores].each do |competency_name, competency_score|
      - competency_score[:trait_scores].each do |trait_score|
        - distribution_hash = HashWithIndifferentAccess.new({ trait_score: trait_score})
        .frame.mrf.gray-bg
          .heading.pull-left
            #{competency_name}: #{trait_score[:trait][:name]}
          .clr
          - section_value.each do |section|
            - locals = Hash[section["locals"].map { |key, value| [key.to_sym, distribution_hash[key.to_sym]] }]
            = render :partial => section["path"], :locals => locals
        .divider2
