#distribution_data_points
  .divider1
  .scores.container
    .title
      Data Points about 360 Degree Scores: Traits Under Competencies
    .divider2
    - @report.report_data[:competency_scores].each do |competency_name, competency_score|
      - competency_score[:trait_scores].each do |trait_score|
        - distribution_hash = HashWithIndifferentAccess.new({ trait_score: trait_score})
        .frame.mrf.gray-bg
          .heading.pull-left
            #{competency_name}: #{trait_score[:trait][:name]}
          .clr
          = render :partial => "mrf/assessments/reports/competency_report/html/mrf_overall_breakdown_at_trait_level", :locals => { trait_score: trait_score }
          = render :partial => "mrf/assessments/reports/competency_report/html/mrf_stakeholder_level_breakdown_at_trait_level", :locals => { trait_score: trait_score }
        .divider2
