#trait_wise_frequency_data_points.section03
  .container
    .divider2
    .scores.container
      .title
        Data Points on 360&#176; Scores: Traits Under Competencies
      .divider2
      - @report.report_data[:competency_scores].each do |competency,competency_scores|
        .frame
          .heading.pull-left
            = competency
          .clr
          - competency_scores[:trait_scores].each do |trait_score|
            - trait_hash = HashWithIndifferentAccess.new({trait_score: trait_score, role_wise_scores: trait_score[:role_wise_scores], trait_wise: true, graph_buckets: @trait_graph_buckets})
            .divider2
            .section03
              .span28.margin-auto
                %b.large-text
                  = trait_score[:trait][:name]
                .divider1
                - section_value.each do |section|
                  - locals = Hash[section["locals"].map { |key, value| [key.to_sym, trait_hash[key.to_sym]] }]
                  = render :partial => section["path"], :locals => locals
                .divider1
        .divider2
