#distribution_data_points.pull-left 
  .span.heading.medium-text.line-height1{:style => "margin-top: 7px; padding: 2px 10px"}
    360&#176; Rating : xx
  .extra-medium-text.span.line-height2
    360&#176; Scores across exercise
  .trait_rating.max.span{:style => "width: 150px"}
    .left
      Highest
    .right
      = trait_score[:max_score_excluding_self][:points] || "-"
    .clr
  .trait_rating.min.span{:style => "width: 150px"}
    .left
      Lowest
    .right
      = trait_score[:min_score_excluding_self][:points] || "-"
    .clr
  .clr

.clr

 