- section_value.each do |section|
  = render :partial => section["path"]
.divider1
%p.extra-medium-text.gray-darker
  This section shows an overview of ratings obtained by the individual on each of the traits (parameters) under every competency. It displays Self Ratings along with an average of all Stakeholder Ratings.   
.divider2