.traits_under_graph
  -3.times do
    .graph_container
      .left_sec.pull-left
        .graph_instructions.left-offset4
          .span1.divider2.stakeholder_rating_icon
          .span1.divider2.classic_user_icon
          .clr
        %ul
          %li
            .span6.extra-medium-text.first
              Communication Skills
            .stakeholder_rating.medium-text.pull-left
              23.3
            .self_rating.medium-text.span
              69
            .clr
          -5.times do
            %li
              .span6.extra-medium-text.first.trait_title
                Customer Service Orientation....
                .info
                  .arrow
                  Customer Service Orientation: Degree to which an individual is willing to go out of his/her way to ensure customer satisfaction
              .stakeholder_rating.medium-text.pull-left
                23.3
              .self_rating.medium-text.span
                69
              .clr
      .right_sec.span21.pull-right
        .classic_competency_graph
          .classic_competency_graph_scale
            .block.pull-left
              0
            -10.times do |index|
              .block.pull-left{:style=>"width: #{830/10-1}px; text-align: right"}
                #{(index+1)*10}
            .clr
          .graph
            .graph_content
              .divider2
              .graph_bar{:style=>"margin-left: #{830/10-1}px;"}
                -# add class ".equal_rating" to ".graph_bar.equal_rating" if score is equal
                .graph_stakeholder_rating
                .graph_self_rating
              .divider1
              -5.times do |index|
                .divider2
                .graph_bar.trait_under{:style=>"margin-left: #{830/10-1}px;"}
                  -# add class ".equal_rating" to ".graph_bar.equal_rating" if score is equal
                  .graph_stakeholder_rating
                  .graph_self_rating
                .divider1
              .divider1
      .clr

