= render :partial => "shared/360/group_report_header"
.report_content.border-bottom-grayLighter
  .mrf_top_bottom_competencies
    .color-info.big-text.pull-left
      Top 2 and Bottom 2 Competencies
    .pull-left.left-offset1{:style => "font-size: 47px;color: #469ada"}
      &#8226;
    .span.medium-text.default
      Average 360&#176 Rating
    .clr
    .divider1
    .scores_competencies_graph.descending_order.descending_average_rating
      -2.times do
        .traits_under_graph
          .graph_container
            .left_sec.pull-left
              .divider1
              .span5.medium-text.first.trait_title.bold
                Top 2
              .pull-left{:style => "margin-left:4px;font-size: 47px;color: #469ada"}
                &#8226;
              .clr
              %ul
                -5.times do
                  %li
                    .span5.medium-text.first.trait_title
                      Competency Name
                    .stakeholder_rating.pull-left
                      3.09
                    .clr
               
            .right_sec.span13.pull-right
              .classic_competency_graph
                .classic_competency_graph_scale
                  .block.pull-left
                    0
                  - 5.times do |index|
                    .block.pull-left{:style=>"width: #{(510/5)}px; text-align: right"}
                      = index+1

                  .clr
                 
                .graph
                  .graph_content
                    -5.times do
                      .divider1
                      .descending_graph_bar.max{:style => "width: 12%; background: #469ada"}
                     
                      .divider1
            .clr
= render :partial => "mrf/assessments/assessment_reports/competency_group_report/pdf/average_individual_ratings"

.page-break