- if @report.report_data[:top_and_bottom_competencies]
  = render :partial => "shared/360/group_report_header"
  .report_content.border-bottom-grayLighter
    .mrf_top_bottom_competencies
      .color-info.big-text.pull-left
        Top 2 and Bottom 2 Competencies
      .pull-left.left-offset1{:style => "font-size: 47px;color: #83b4e2"}
        &#8226;
      .span.medium-text.default
        Average #{get_assessment_purpose(@report)}&#176; Rating
      .clr
      .divider1
      .scores_competencies_graph.descending_order.descending_average_rating
        - sorted_top_competency_scores = Hash[@report.report_data[:competency_scores].sort_by{|key,value| value[:average_score_including_self][:points] }.reverse[0..1]]
        = render :partial => "mrf/assessments/assessment_reports/competency_group_report/pdf/sorted_top_bottom_competencies", :locals => {:display_name => "Top 2", :sorted_competency_scores => sorted_top_competency_scores}
        - sorted_bottom_competency_scores = Hash[@report.report_data[:competency_scores].sort_by{|key,value| value[:average_score_including_self][:points] }[0..1]]
        = render :partial => "mrf/assessments/assessment_reports/competency_group_report/pdf/sorted_top_bottom_competencies", :locals => {:display_name => "Bottom 2", :sorted_competency_scores => sorted_bottom_competency_scores}
  .page-break