= render :partial => "shared/reports/benchmark_report_header"
.benchmark_report
  .inner
    .overall_report
      .benchmark_assessment_range
        .indication.clearfix
          .box.pull-left
          .span Desired/Acceptable Scores as per benchmarking 
        .divider2
        .span17
          .range_title.text-right
            Suggested range for candidates assessments
          .divider1
          .range_list_title.pull-left
            Factor Names
          .scale.pull-right
            .marker
              %br/
              Low
            .marker
              Below Average
            .marker
              %br/
              Average
            .marker
              Above Average
            .marker
              %br/
              High
            .marker
              Very High
              
            .clr
          .clr
        .clr
        %ul.range_list
          -6.times do
            %li
              .span17
                .factor_label
                  Stress Tolerance
                .slider 
                  .offset1.range.width2
                .clr
              .clr
      .notification
        Factor scores are measured relative to Industry standards for this job role and experience level
        %span.star *
            
