.benchmark_report
  .inner{ style: "margin-top:0px;" }
    .overall_report
      .blue_bg_heading Score distribution for each factor (%)

      .graph_section.clearfix
        .pull-left
          .factor_title
            Adaptability 
          %p.factor_description
            Degree to which an individual is open to new experiences, ideas, feedback and change
        .bargraph.pull-right
          %ul.bars.clearfix
            %li.bar1.bluebar{style: "height: 100%;"}
            %li.bar2.bluebar{style: "height: 20%;"}
            %li.bar3.redbar{style: "height: 40%;"}
            %li.bar4.greenbar{style: "height: 60%;"}
            %li.bar5.orangebar{style: "height: 80%;"}
          %br/
          %ul.label
            %li blueberry
            %li apple
            %li kiwi
            %li orange
            %li grape
          %br/
          %ul.y-axis
            %li 100%
            %li 80%
            %li 60%
            %li 40%
            %li 20%
            %li 0%
            %li.units

        .graph_title
          Score distribution for each factor (%)
          
