.benchmark_report
  .inner
    .overall_report
      .blue_bg_heading.pull-left 
        Score distribution for each factor (%)
      .clr  
      - factor_benchmarks.each do |factor_name, benchmarks|
        .graph_section.clearfix
          .pull-left
            .factor_title
              = factor_name
            %p.factor_description
              = benchmarks[:factor_definition]
          .pull-right
            = render :partial=> "benchmarks/report/factor_benchkmark", :locals=>{:benchmarks=>benchmarks}
      .notification
        Factor scores are measured relative to Industry standards for this job role and experience level
        %span.star *
              
