.benchmark_report
  .inner{ style: "margin-top:0px;" }
    .overall_report
      .logo.pull-right
      .clr
      .heading
        .big-text
          Benchmarking Report 
        .span.first
          Assessment Name: 
        .span9
          Sales Manager at Mercedes Benz Dealership
        .clr

      .visual
        %p This report helps you identify where some of your better performers score on different behavioral factors, in turn allowing you to compare other existing or potential candidates to them.

        %p Listed below are factors that candidates were benchmarked on. 

        %p Subsequent pages contain the score distribution of candidates for each measured factor. Also included are benchmarks and suggested subsequent score ranges for this assessment. 

        .sub-heading.pull-left
          No. of Candidates 
          %br/
          Benchmarked
          .candate_count
            10
        .clr

      
