= render :partial => "shared/reports/benchmark_report_header"
.benchmark_report
  .inner
    .overall_report
      .benchmark_assessment_range
        .indication.clearfix
          .box.pull-left
          .span Desired/Acceptable Scores as per benchmarking 
        .divider2
        .span17
          .range_title.text-right
            Suggested range for candidates assessments
          .divider1
          .range_list_title.pull-left
            Factor Names
          .scale.pull-right
            - @norm_buckets.each do |norm_bucket|
              .marker
                - if norm_bucket.name.split(" ").size == 1
                  %br/
                = norm_bucket.name
            .clr
          .clr
        .clr
        %ul.range_list
          - @norm_buckets.size.times do
            %li
              .span17
                .factor_label
                  Stress Tolerance
                .slider 
                  .offset1.range.width2
                .clr
              .clr
      .notification
        Factor scores are measured relative to Industry standards for this job role and experience level
        %span.star *
            
