= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'       

- template = @templates[0]
- content_for :email_partial do
  %span.extra-medium-text.span2.first.show
    Message
  .massage-body.italic.span15.medium-text
    - if template
      = template.preview(:body).html_safe
  .clr

.send-assessment
  .heading
    %i.icon-envelope
    Email Settings
  .divider2
  = render :partial => "shared/email_template", :locals => { :templates => @templates, :email_headline => "Following is the Preview of the email that stakeholders will receive."}

