.customize
  .inn.first
    .page-title.pull-left
      Name of the Walk-In Index Page
  .inn.gray-gradient
    .pull-left
      .test-flow-sub-nav.clearfix.pull-left
        .menu.active 1 &nbsp; Create Page             
        .menu 2 &nbsp; Customize           
        .menu 3 &nbsp; Summary              
    .pull-right
      %a.btn.btn-info.medium-text.span{:href => "#", :title => "Proceed"}
        Proceed
      
    .clr

    .divider1
    %form
      .expire
        %b.show.line-height2.medium-text.pull-left
          Expire page on: 
        .left-offset1.pull-left
          %select
            %option
              Hour
            %option
              2
          %select
            %option
              Mins
            %option
              2
        .left-offset1.pull-left
          %select
            %option
              Date
            %option
              1
          %select.big
            %option
              Month
            %option
              2
          %select
            %option
              Year
            %option
              2
        .clr
      .divider1

      .list
        %ul.unstyled.clearfix
          %li.titles
            .control-group
              .left-sec
                %b Included
              .right-sec
                %b Selected Tests
              .clr  
          - 3.times do
            %li
              -# add class ".checked" to "<label>" when user clicks on checkbox/label
              .control-group
                .left-sec
                  %input{:type => "checkbox"}
                .right-sec
                  %label
                    Some Test Name will come here in one line
                .clr
              .control-group
                .left-sec.line-height2
                  Optional:
                .right-sec
                  %input{:type => "text", :placeholder => "Enter Display Name for the Test. This name will be displayed on the Index Page. If left blank, existing test title will be displayed on the Index Page."}

                .clr
        .pull-right
          %a.btn.btn-info.medium-text.span{:href => "#", :title => "Proceed"}
            Proceed
          
        .clr