%div
  .inn.first
    .page-title.pull-left
      Walk-Ins
    .pagination.pull-right
      = paginate @assessment_groups
  .inn.gray-gradient
    - if @assessment_groups.empty?
      .medium-text.alert.pull-left
        No walk-ins have been created. To create a Walk-In, 
        %a{:href => new_company_assessment_group_path(:company_id => params[:company_id]), :title => "Click Here To Create New Walk In"} click here.
    - if can?(:create, "Suitability::Assessment")    
      %a.btn.btn-info.pull-right{:href => new_company_assessment_group_path(:company_id => params[:company_id]), :title => "Click Here To Create New Walk-In"} 
        Create a new Walk-In Index Page
    .clr
    .divider1
    - if @assessment_groups.present?    
      .list-snippet-titles.medium-text.clearfix
        .span3
          Walk-In ID
        .span10
          Walk-In Index Page
        .span5
          Page Management
        .span
                     
      %ul.unstyled
        - @assessment_groups.each do |assessment_group|
          %li.list-snippet
            .span3
              %a.default-color{:href=> candidates_company_assessment_group_path(:company_id => params[:company_id], :id => assessment_group.id), :title =>  assessment_group.title} Walk In #{assessment_group.id}
            .span10.first.lhs-border
              %a.default-color{:href=> candidates_company_assessment_group_path(:company_id => params[:company_id], :id => assessment_group.id), :title => assessment_group.title}  
                = assessment_group.title
            .span5.lhs-border
              %a.underlined{:href=> edit_company_assessment_group_path(:company_id => @company.id, id: assessment_group.id), :title=> "title"}   
                Manage
            
            .span.lhs-border
              %a.underlined{:href => assessment_group.hex_ref, :title => "Send This Test"}
                Link  
    .divider1         
    %a.btn.btn-info.pull-right{:href => new_company_assessment_group_path(:company_id => params[:company_id]), :title => "Click Here To Create New Walk-In"} 
      Create a new Walk-In Index Page
    .clr
  .inn
    .pagination.pull-right
      = paginate @assessment_groups
