.inn.first
  .page-title.pull-left
    Create Walk-In Index Page
.inn.gray-gradient
  .pull-left
    .test-flow-sub-nav.clearfix.pull-left
      .menu.active 1 &nbsp; Create Page             
      .menu 2 &nbsp; Customize           
      .menu 3 &nbsp; Summary              
  .pull-right
    %a.btn.btn-info.medium-text.span{:href => "#", :title => "Proceed"}
      Proceed
    
  .clr

  .divider1