.inn.first
  .page-title.pull-left
    Name of the Walk-In Index Page
.inn.gray-gradient
  .pull-left
    .content-sub-nav.clearfix
      %a.menu{:title => "Candidates", :href => "#", :class => "active"}
        Summary
  .pull-right
    %span.span.medium-text.line-height2
      Test expire on:   
      %b 22:00hrs  
      %b 
        \|  
      %b 19 JAN 2014
    %a.btn.btn-info.medium-text.span{:href => "#", :title => "Edit Walk-In List"}
      Edit
  .clr

  .divider1

  .index-page-link
    .span
      %b URL to access Index page:
    .span15
      %a{:href => "#", :title => "URL to access Index page"}
        http://doc.gooogle.com/
    .clr
  .divider1       
  .list-snippet-titles.clearfix
    .span3.first
      Test ID
    .span13
      Test Name
    .span3
      Tests Sent
    .span
      Tests Answered
  %ul.unstyled
    %li.list-snippet
      .span3.first
        %a.default-color{:title => "", :href => "#"}
          Test043
      .span13.lhs-border
        %a.default-color{:title => "", :href => "#"}
          Some Test name will appear here
      .span3.lhs-border
        %a.default-color{:title => "", :href => "#"}
          420
      .span.lhs-border
        %a.default-color{:title => "", :href => "#"}
          420
  .pull-right
    %a.btn.btn-info.medium-text.span{:href => "#", :title => "Edit Walk-In List"}
      Edit
  .clr