.inn.first
  .page-title.pull-left
    Name of the Walk-In Index Page
.inn.gray-gradient
  .pull-left
    .test-flow-sub-nav.clearfix.pull-left
      .menu.active 1 &nbsp; Create Page             
      .menu 2 &nbsp; Customize           
      .menu 3 &nbsp; Summary              
  .pull-right
    %span.span.medium-text.line-height2
      Test expire on:   
      %b 22:00hrs  
      %b 
        \|  
      %b 19 JAN 2014
    
  .clr

  .divider1

  .index-page-link
    .span
      %b URL to access Index page:
    .span15
      %a{:href => "#", :title => "URL to access Index page"}
        http://doc.gooogle.com/
    .clr
  .divider1       
  .list-snippet-titles.clearfix
    .span3.first
      Test ID
    .span18
      Test Name
   
  %ul.unstyled
    %li.list-snippet
      .span3.first
        %a.default-color{:title => "", :href => "#"}
          Test043
      .span18.lhs-border
        %a.default-color{:title => "", :href => "#"}
          Some Test name will appear here
      
  .pull-right
    %a.btn.btn-info.medium-text.span{:href => "#", :title => "Submit Final List"}
      Submit
  .clr