%br/
= render :partial => 'job_experiences/import_form'
%br/
= render :partial => 'job_experiences/export_form'
%br/
= link_to 'Back', job_experiences_path
= link_to 'Destroy All', destroy_all_job_experiences_path
