.trr_header
  .logo-icon
  .pull-right.text-right
    .big-text.font-bold
      Training Requirements Report
    .medium-text 
      Assessment Included: #{@report_data[:assessment_name].present? ? @report_data[:assessment_name] : "Multiple Assessments" }
  .clr
