= render :partial => "assessment_reports/training_requirements_report/pdf/header"
.divider2
#details
  .title.extra-large-text.pull-left
    Remaining Traits
  .pull-right
    .score-indicator.round
      .indicator.less_favorable.first
        Less scores
      .indicator.favorable
        Favorable scores
      .indicator.mid-favorable
        Average Scores
      .clr
  .clr
  - if @report.trr_graph == "bar"
    = render :partial => "assessment_reports/training_requirements_report/pdf/bar_graph", :locals => { :factor_scores => factor_scores, :step => step }
  - else
    = render :partial => "assessment_reports/training_requirements_report/pdf/pie_chart", :locals => { :factor_scores => factor_scores, :step => step }
