= render :partial => "assessment_reports/training_requirements_report/pdf/header"
.divider2
#details
  .title.extra-large-text.pull-left
    Remaining Traits
  .pull-left
    .score-indicator.round
      .indicator.first
        Candidates with Favorable scores
      .indicator.favorable
        Candidates with Less Favorable scores
      .label.span.default-text{:style => "margin-top: 0;"}
        Average Scores
      .clr
  .clr
  - if @report.trr_graph == "bar"
    = render :partial => "assessment_reports/training_requirements_report/pdf/bar_graph", :locals => { :factor_scores => factor_scores, :step => step }
  - else
    = render :partial => "assessment_reports/training_requirements_report/pdf/pie_chart", :locals => { :factor_scores => factor_scores, :step => step }
