#overview.section01
  .divider2
  .logo
  .divider25
  .pie-chart.pull-left{ id: "coverpie_1", "data-percentage-candidates" => 40, style: "width: 140px;height: 140px;" }
  .pie-chart.pull-left{ id: "coverpie_2", "data-percentage-candidates" => 60, style: "width: 140px;height: 140px;" }
  .pie-chart.pull-left{ id: "coverpie_3", "data-percentage-candidates" => 80, style: "width: 140px;height: 140px;" }
  .pie-chart.pull-left{ id: "coverpie_4", "data-percentage-candidates" => 90, style: "width: 140px;height: 140px;" }
  .clr
  .divider2
  %h1.pull-left
    #{@report.report_title}
  .clr
  .divider2
  .large-text
    Assessment Included: 
    #{@report_data[:assessment_name]}
    %br/
    %br/
    Total Candidates Assessed: 
    #{@report_data[:no_of_candidates_assessed]}
  .divider2



      
