= render :partial => "assessment_reports/training_requirements_report/pdf/header"
.divider2
#trait-score
  .title.extra-large-text.pull-left
    Top Training Needs
  .pull-left
    .score-indicator
      .indicator.less-favorable
        Candidates with Less Favorable scores
      .indicator.favorable
        Candidates with Favorable scores
      .clr
  .clr
  .divider1
  
  %ul.training-need-list
    - counter = 0
    - limiter = Rails.application.config.reports["html"]["graph_limiter_on_training_requirement_report"]
    - @report_data[:factor_scores].keys.each_slice(3) do |factor_names|
      - factor_scores = @report_data[:factor_scores].slice(*factor_names)
      %li
        - factor_scores.each_with_index do |(factor_name,factor_score), index|
          - counter = counter + 1
          - if counter <= limiter
            .snippet
              .count.pull-left
                1
              .trait-title.pull-left
                = factor_name
              .clr
              .divider1
              .pie-visual
                %canvas{:width => "110", :height => "110","data-plot" => factor_score[:percentage_candidates]}
              .divider1
              .score
                #{factor_score[:percentage_candidates]}% Less Favourable
        .clr