- @custom_score_bucket_names = Rails.application.config.reports["oac_report"]
.competency_report  
  - @report.report_configuration["html"]["sections"].each do |section_value|
    = render :partial => section_value["path"], :locals => { :section_value => section_value["children"] }
  .divider6
  .footer
    .container.extra-medium-text
      .pull-left
        For Customer Support Please Contact us at support@jombay.com
      .pull-right
        .home-page-redirect
          www.jombay.com
        
      .clr
