:javascript
  var kme_logging_enabled = #{Rails.application.config.log_kissmetrics} ;

  function clog(o){ 
    try{
      console.log(o); 
    }
    catch(e){
    }
  }

  function serializeForm (form) {
    try{
      var data = {};
      var formData = $(form).serializeArray();
      for (var i = formData.length; i--;) {
        var name = formData[i].name;
        var value = formData[i].value;
        var index = name.indexOf('[]');
        if (index > -1) {
          name = name.substring(0, index);
          if (!(name in data)) {
            data[name] = [];
          }
          data[name].push(value);
        }
        else
          data[name] = value;
        }
        return data;
    }
    catch(e){
      return {};
    }
  };

  function kissMetricsEvent(event, params){
    if(params != undefined){
      _kmq.push(['record', event, params])
    }
    else{
      _kmq.push(['record', event])
    }
    if(kme_logging_enabled){ 
      clog('Pushed KM event : ' + event); 
      if(params != undefined){
        clog(params);
      }
    }
  }
  
  function kissMetricsFormSubmitEvent(form){
    kissMetricsEvent($(form).attr('data-frm-kme'), serializeForm(form));
  }

  $(document).ready(function(){
    $(document).on('click', '[data-kme]', function(){
      kissMetricsEvent($(this).attr('data-kme'));
    })
  })
  