.divider2.border-bottom-grayLighter

#scale_description.scale-indicates
  .divider3
  .extra-large-text.text-center
    %b Help Section: Expected Score Range 
  .divider2
  %p
    The 'Expected Score Range' for a Trait is the range of score that is deemed acceptable or desirable. A candidate falling within this range has their score marked 'Favorable' on the Trait, whereas one falling out of it has their score marked 'Unfavorable'.
  .visual
  .divider2
  .extra-large-text.text-center
    %b Help Section: Meaning of Trait Scores on Scale 
  .divider2
  - @norm_buckets.each_with_index do |norm_bucket,index|
    %p
      = "#{index+1}. "
      = norm_bucket.description

  .divider2 
  .clr
