%br/
= render :partial => 'suitability/default_factor_norm_ranges/import_form'
%br/
= render :partial => 'suitability/default_factor_norm_ranges/export_form'
%br/
= link_to 'Back', suitability_fits_path
= link_to 'Destroy All', destroy_all_suitability_fits_path
