Hello,
<p><b>Company ID <%= @order_data[:company_id] %></b>'s payment of amount <%= @order_data[:amount] %> has failed for some reason! They were trying to buy <%= @order_data[:assessments_purchased] %> assessments. </p>
