<p>
  Benchmark report for assessment with ID - <%= @report_hash[:assessment_id] %> is generated. You may view the report by clicking on the web-link below.
</p>
<p>
  Report URL: <%= report_company_benchmark_url(:company_id => @report_hash[:company_id], :id => @report_hash[:assessment_id])  %>
</p>
<p>
  You may alternatively view the report by copy-pasting the link in your web browser's address bar and visiting the link or by logging into   your Jombay Account. 
</p>
