Hi <%= @report_hash[:candidate][:name] %>,
<p>
  Thank you for choosing to have your psychometric profiling done by Jombay. Your personal report is ready!
</p>
<p>
  The report provides scores and detailed descriptions on behavioral factors, while classifying them as Favorable and Less Favorable. Also included are the training guide and more details for each factor.

</p>
<p>
  You can view your report at: <%= company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => @report_hash[:company][:id], :candidate_id => @report_hash[:candidate][:id], :custom_assessment_id => @report_hash[:assessment][:id], :id => @report_hash[:id], :view_mode => "html")  %>
</p>
<p>
  You may alternatively view the report by copy-pasting the link in your web browser's address bar and visiting the link or by logging into your Jombay Account.
</p>
<p>
  If you face any technical difficulties or have any queries please feel free to reach us at 
  <a href="mailto:prakhar@jombay.com" title="For any queries Mail to Prakhar"> 
    prakhar@jombay.com. 
  </a>  
  You can also call us at 
  <b>+91 87960 29607</b>
</p>
<p>
  Best regards,<br/>
  Prakhar Srivastava<br/>
  Jombay
</p>
<br/>
<br/>
<%= render :partial => 'shared/unsubscribe' %>
