#header.jq_header
  .container
    .logo.pull-left
      = image_tag(asset_path("jombay-logo.png"))
      .divider1
    .user_name.span
      = truncate @report.report_data[:candidate][:name], :length   => 20
    .right_sec.pull-right
      %span
        #{@report.report_data[:overall_scores][:percentile_score]}%
      %span.logi_color L
      %span.exp_color> E
      %span.meth_color> M
      %span.soc_color> S
  
