#header.jq_header
  .container
    .logo.pull-left
      = image_tag("jombay-logo.png")
      .divider1
    .user_name.span
      Pranav do Truncket
    .right_sec.pull-right
      %span 84% 
      %span.logi_color L
      %span.exp_color> E
      %span.meth_color> M
      %span.soc_color> S
  