%br
= render :partial => 'functional_areas/import_form'
%br
= render :partial => 'functional_areas/export_form'
%br
= link_to 'Back', functional_areas_path
= link_to 'Destroy All', destroy_all_functional_areas_path
