- if is_superuser?
  %a{:href => s3_report_company_mrf_assessment_path(@company.id, @assessment.id, user.id, report.id), :title => "View Report", :target => '_blank'}
    %i.icon-file
    View Report
- else
  Locked Report    
