.functional
  .functional_final_score
    .score_band.pull-right Aggregate Score: 32%
    .clr
  .overview
    .bottom-triangle
      .container
        .divider2
        .content
          .overview-title
            .divider1
            Overview of Sections Scores
           
          .divider1
          %ul.competency-list.pull-left
            
            %li
              .competency-name.pull-left
                competency_name
              .competency-value.pull-left
                28%
                
              .clr
          .clr
        .divider2
