.badge_label.clearfix.span9.first{"data-snippet" => skills_snippet.id}
  -#
    .badge_count
      1
  .badge_content
    #{ skills_snippet.name }
  %a.close{"data-dismiss" => "alert", :type => "button"} ×

  = hidden_field_tag("skill[nice][skill_id][]", skills_snippet.id)