.frame.mrf.gray-bg
  .heading.pull-left
    = competency_name
  .heading.pull-right 
    Competency's 360° Rating: 
    = competency_scores[:score][:bucket]
  .clr 
  %ul.mrf_scores_listing
    - competency_scores[:trait_scores].each_with_index do |trait_score, index|
      %li
        .divider4
        .span8.left-sec.first.right-offset1
          .rounded.pull-left
          .span7.pull-right
            .title
              = trait_score[:trait][:name]
            .divider1
            .discription.medium-text
              = trait_score[:trait][:description]
          .clr
        .span17.right-sec.left-offset1
          .rating-slider
            -6.times do
              .marker
                -#add/remove ".mrf-rating" and ".self-rating" to ".marker" or else if both add both classes like this ".marker.mrf-rating.self-rating" 
                .arrow-mrf-result
                .arrow-self-result
                .mrf-result
                  .left
                    360 Rating
                  .right
                    Average (High)
                  .clr
                .self-result
                  .left
                    Above Average
                  .right
                    Self Rating
                  .clr
            .clr
        .clr
        .divider4
.divider1
