.competency-container.mrf
  .heading.pull-left
    People Management
  .heading.pull-right
    360° Rating: Average
  .clr
   
  .factors_container
    .factors_list  
      -14.times do |index|
        %div{:class=>"factor_#{index+1} "}
          .text-wrap{:style=>"margin-top: 30px;"}
            Favorable
      -#use ".less_favorable" or ".favorable" to change the color of text and ".underlined" for underlined Text.
.divider1  
