.container#manager_guideline
  .divider2
  .title
    Summary of 360 Degree Feedback
  .divider2
.overview
  .top-triangle
    .bottom-triangle
      .container
        .feedback-stats
          .divider2
          .caption
            Feedback Stats
          %ul
            %li.head
              .left
                Feedback from
              .middle
                Requests to
              .right
                Completed by
              .clr
            - 5.times do
              %li.list
                .left
                  Manager
                .middle
                  28
                .right
                  12
                .clr
        .divider2