#scores.section03
  .divider1
  .scores.container
    .title.pull-left
      Traits with 360 Degree Scores 
    
    .scale.mrf.pull-right.left-offset1
      .line
      .marker-container
        - 6.times do 
          .marker
            .arrow
            .marker-info
              abcd abcd ddfdf abcd abcd ddfdf abcd abcd ddfdf abcd abcd ddfdf 
            
            Above average
          
      .clr
    .clr
    .divider3
    = render :partial => "mrf/assessments/reports/competency"