#scores.section03
  .divider1
  .scores.container
    .title
      Data Points about 360 Degree Scores 
    .divider2
    = render :partial => "mrf/assessments/reports/competency_data_points",:locals =>{:role_wise_scores => @report.report_data[:role_wise_scores]}
    
    - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
      = render :partial => "mrf/assessments/reports/page_4_all_individual", :locals => { :competency_name => competency_name, :competency_scores => competency_scores}