#overview.section01
  .overall_report.container
    .divider6
    .user-name.pull-left
      chandrakant
    .final-score.pull-right
      360° Profiling Report
    .clr

    .divider3
    .extra-medium-text
      360° Profiling: 360 Title
      .divider1
      Report Generated On: 10/06/2014
    .divider2
.overview
  .top-triangle
    .bottom-triangle
      .container
        .divider2
        .content
          .overview-title
            Ratings Overview of Competencies / Values Measured
          %ul.competency-list.mrf.pull-left
            %li
              .competency-name.title.pull-left
                Competency
              .competency-value.title.pull-right
                360° Rating
              .clr
            - 5.times do 
              %li
                .competency-name.pull-left
                  Situation Management 
                .competency-value.pull-right
                  Above Average
                .clr
          .clr
        .divider2
