- competency_order = @report.report_data[:assessment][:competency_order] || @report.report_data[:competency_scores].collect{|competency, competency_data| competency_data[:id] }
- @report.report_data[:competency_scores] = Hash[@report.report_data[:competency_scores].sort_by{|competency,competency_data| competency_order.index(competency_data[:id]).to_i }]
.competency_report
  .classic_report
    - @report.report_configuration["pdf"]["sections"].each do |section_value|
      = render :partial => section_value["path"], :locals => { :section_value => section_value["children"] }
      .page-break

  .common-top-trangle
    .common-bottom-trangle 
      = render :partial => "shared/reports/pdf/about_us"
      .page-break
      = render :partial => "shared/reports/pdf/legal_disclaimer"
      .page-break