Email dated: &lt;Email Sent Date and Time&gt;
%br
%br
Dear &lt;Stakeholder's Name&gt;,
%br
%p
  You have an invitation from &lt;Sender Name&gt; for #{@company.name} to participate in a 360° Feedback Exercise via Jombay. This exercise is titled "#{@assessment.name}" and aims to develop a comprehensive 360º profile of all candidates attached to it.
%p
  360º Exercises lets candidates understand perception of others, helping them enhance their strengths and work on areas of improvement.
%p
  To get started with the feedback, please click on the link below. Your feedback will be completely anonymous. Please ensure that you read the guidelines presented before the exercise carefully!
%p
  Link: &lt;Feedback URL&gt;
%p
  %ul
    %li
      This link is meant only to be used by you (&lt;Stakeholder's Name&gt;). Please do not forward it to anyone else. 
      %br
    %li
      If you believe you’ve been sent an incorrect link, please let us know at shekhar@jombay.com
      %br
    %li
      If you accidentally close the Feedback window, you can again click on the link above to resume the exercise
      %br
    %li
      If you face any technical difficulties, please feel free to reach us at shekhar@jombay.com

%p
  Best Regards, 
  %br
  - if is_superadmin?
    #{current_user.name}
    %br
    Jombay
    %br
  - else
    &lt;Sender Name&gt;
    %br
    #{@company.name}
    %br
%p
  Other notes: 
  %br
  %ol
    %li
      If the link above does not work, or wraps over 2 or more lines, please copy and paste the link directly into your browser while ensuring that there are no spaces in between. 
      %br
    %li
      If more candidates are added to this 360º Profiling Exercise with your feedback requested from, you will be notified
      
%br
%br
