- competency_scores = @report.report_hash[:competency_scores].map{|key,value| [key,value] }
= render "shared/reports/pdf/report_header"
.divider1
.overview
  .container
    .divider2
    .content.overview_scale
      - locals_hash = { competency_scores: competency_scores }
      - section_value.each do |section|
        - locals = Hash[section["locals"].map { |key, value| [key.to_sym, locals_hash[key.to_sym]] }]
        - locals[:section_value] = section["children"]
        = render :partial => section["path"], :locals => locals
    .divider2
