.pull-left
  .overview-title.text-left
    %h1.font-normal.color-warning.medium-text
      Overview of Competencies / Values Measured
    .instruction_container
      .instructions
        .instruction1.pull-left
          Favorable
        .instruction2.less_favorable.pull-left
          Less Favorable
        .clr
.scale.span8.pull-right
  - scale_values = get_scale_and_marker_width(@company_norm_buckets)
  .scale_inner
    .line{ style: "left: #{ scale_values[:scale_offset] }%; width: #{scale_values[:scale_width]}%" }
    .marker_container
      - @company_norm_buckets.each do |norm_bucket|
        .marker{ style: "width: #{scale_values[:marker_width]}%" }
          %span
            - if norm_bucket.name.split(" ").size == 1
              %br/
            = norm_bucket.name
      .clr
.clr