<div id="fb-root"></div>
<script>
  var fbAppId = '<%= Rails.application.config.facebook["app_id"] %>';
  
  (function(){

    var fbInitFuncs = [];
    var fbInitialized = false;

    window.fbAsyncInit = function() {
      fbInitialized = true;
      FB.init({
        appId  : '<%= Rails.application.config.facebook["app_id"] %>',
        status : true,
        cookie : true,
        xfbml  : true
      });
      for(var i=0;i<fbInitFuncs.length;i++){
        fbInitFuncs[i]();
      }
    };

    window.onFbInit = function(func){
      if(fbInitialized){
        func();
      }
      else{
        fbInitFuncs.push(func);
      }
    }
  })();

  (function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
  }(document));
</script>
