- content_for :recruiter_title do
  .t_heading.clearfix.padding_left_right1
    .pull-left.biggest_text.white.font_normal.line_height2
      New Client Registration
    .pull-right.medium_text.white.line_height2
      Already have Recruiter account? 
      %a{:href => "#", :title => "Jomaby sign in"} 
        %strong.white Sign in
      here
  .clr

- content_for :sidebar do
  = render :partial => "recruiters/shared/help_block"
  
  
.rec_rhs
  .divider1
  .biggest_text.faded_dark.font_normal.line_height2.offset1
    Account Details
  .registration_form
    %form.form-horizontal
      .control-group
        %label.control-label{:for => "hrName"} HR Name
        .controls
          %input#hrName{:class=> "span9", :placeholder => "HR Name", :type => "text"}
      .control-group
        %label.control-label{:for => "emailId"} Email id
        .controls
          %input#emailId{:class=> "span9", :placeholder => "Email id", :type => "text"}
      .control-group
        %label.control-label{:for => "phoneNumber"} Phone Number
        .controls
          %input#phoneNumber{:class=> "span9", :placeholder => "Phone Number", :type => "text"}
      .control-group
        %label.control-label{:for => "password"} Password
        .controls
          %input#password{:class=> "span9", :placeholder => "Password", :type => "text"}
      .control-group
        %label.control-label{:for => "confirmPassword"} Confirm Password
        .controls
          %input#confirmPassword{:class=> "span9", :placeholder => "Confirm Password", :type => "text"}
      .form-actions
        %button.pull-right{:class => "btn btn-warning offset1", :type => "submit"}
          %strong Register Now
        .clr










