.company_profile
  .inn.first
    .page-title
      Settings
  .inn.gray-gradient
    .pull-left
      = render :partial => "shared/settings-content-sub-nav"
    .clr
    .divider2

    .company_logo.pull-left
      = image_tag("image 110X75")

    .span18.medium-text
      .divider1
      %b Some Company Name
      .divider1
      %b SCN937
    .clr
    .divider1
    .span13.first.medium-text
      %a.domain_name.default-color{:href => "#", :title => "Click Here to go SomeoneName's website"}
        www.employerwebsite.com
      .divider1
      .hqcity
        HqCity Name
    .span8
      %b HQ Address
      %br/
      Some address, Pune,
      %br/
      Maharashtra - 733522
    .clr
    .divider1
    .description
      %b Employer Description
      %p One thing, however, is that according to the discussion we had the Organization Structure navigation would not be present in the settings and statistics pages. One thing, however, is that according to the discussion we had the Organization Structure navigation would not be present in the settings and statistics pages.One thing, however, is that according to the discussion we had the Organization Structure navigation would not be present in the settings and statistics pages.One thing, however, is that according to the discussion we had the Organization Structure navigation would not be present in the settings and statistics pages.One thing, however, is that according to the discussion we had the Organization Structure navigation would not be present in the settings and statistics pages.One thing, however, is that according to the discussion we had the Organization Structure navigation would not be present in the settings and statistics pages.

      %p
        One thing, however, is that according to the discussion we had the Organization Structure navigation would not be present in the settings and statistics pages.
    

