
= render partial: "shared/360/compact_mrf_report_header.pdf.haml",  :locals => { :display_text => "Data Points on 360 Degree Scores: Questions"}
.scores.classic_report
  .divider1
  .extra-medium-text.green_heading
    Trait: Stress Tolerance
  .divider1
  .gray-darker
    Question to Stakeholder:
  .small-text.color-warning
    Questtion text?
  .divider1
  .left-offset1
    .stakeholder_rating_icon.span1.first &nbsp;
    .medium-text.color-average.pull-left
      360&#176; Score: 200.00
    .clr
    .divider1
    .medium-text.black
      Average rating given by Stakeholder
    .border-bottom-grayLighter
      .divider1
      .span.color-average
        1 Colleague : 2.0
      .clr
      .divider1
  .divider1  
  .extra-medium-text.green_heading
    Trait: Stress Tolerance
  .divider1
  .gray-darker
    Question to Self:
  .small-text.color-warning
    QUestion ttext?
  .divider1
  .left-offset1
    .classic_user_icon.span1.first &nbsp;
    .medium-text.color-average.pull-left
      Self Rating: 200.00
    .clr
    .divider1
.page-break
 