- completed_count = 0
- sent_count = 0
- Hash[@report.report_data[:feedback_stats]].each do |role, status|
  - completed_count += status[:completed]
  - sent_count += status[:sent]
.pull-right
  Completion Status: #{completed_count} out of #{sent_count}
.clr