.divider1
%ul.mrf_data_points_listing
  - @report.report_data[:trait_scores].each do |trait_score, index|
    = render :partial => "mrf/assessments/reports/fit_report/pdf/trait_wise_rating", :locals => {:trait_score => trait_score, :index => index}
  .divider1
.divider1

