-if @report.report_data[:plain_mrf_traits_overview]
  #traits.section02
    .divider3
    .trait_fit.container
      .title
        360&#176; Traits measured in this Assessment
      .divider3
      .factors_container
        .factors_list  
          - @report.report_data[:trait_scores].each_with_index do |trait_score,index|
            - margin = trait_score[:trait][:name].split(" ").size > 1 ? 15 : 30
            %div{ class: "factor_#{index+1}" }
              .text-wrap{:style=>"margin-top: #{margin}px;"}
                = trait_score[:trait][:name].gsub(" ","<br/>").html_safe
          .clr
      .divider4
      .bottom-sec
        Empty Hexagons represent behavioural traits that are not included in the scope of this Assessment
      .divider2