- @report.report_data[:subjective_responses_self].each do |subjective_response_key, subjective_response_value|
  - subjective_response_value[:role_wise_subjective_responses].each do |role,responses|
    - responses.each_slice(7) do |step_responses|
      = render partial: "shared/360/mrf_report_header"
      .stakeholder-comments.responses
        .divider2
        .blue_heading.extra-large-text
          Responses to Other Questions
        .divider1
        - section_value.each do |section|
          = render :partial => section["path"], :locals => { :role => role, :subjective_response_value => subjective_response_value, :step_responses => step_responses}
      .page-break
