- if @report.report_data[:mrf_report_show_trait_comments] && @report.report_data[:comments_enabled]
  .stakeholder-comments
    .container
      .divider2
      .title
        Stakeholder Comments on Traits
      .divider2
      - @report.report_data[:trait_scores].each do |trait|
        = render :partial => "mrf/assessments/reports/fit_report/pdf/comments_on_traits", :locals => { :trait_scores => trait}
