= render partial: "shared/360/mrf_report_header.pdf.haml"
- if @report.report_data[:mrf_report_show_trait_comments] && @report.report_data[:comments_enabled]
  .stakeholder-comments
    .divider2
    .blue_heading.extra-large-text
      Stakeholder Comments on Traits
    .divider1
    - @report.report_data[:trait_scores].each do |trait|
      = render :partial => "mrf/assessments/reports/fit_report/pdf/comments_on_traits", :locals => { :trait_scores => trait}
