- if @report.report_hash[:guidelines_for_user_manager].present?
  - guides_step = 12
  - user_manager_guidelines = @report.report_hash[:guidelines_for_user_manager]
  - ordered_guides = user_manager_guidelines.select{|factor_name, guide| !guide[:pass] && (guide[:factor_type] == "Suitability::Factor" || guide[:factor_type] == "Suitability::AlarmFactor") }.map{|factor,guide| [factor,guide] }
  - ordered_guides += user_manager_guidelines.select{|factor_name, guide| guide[:pass] && (guide[:factor_type] == "Suitability::Factor" || guide[:factor_type] == "Suitability::AlarmFactor") }.map{|factor,guide| [factor,guide] }
  - (0..ordered_guides.length-1).step(guides_step) do |step|
    - step_user_manager_guidelines = Hash[ordered_guides[step..(step+(guides_step - 1))]]     
    = render "shared/reports/pdf/report_header"
    .scores.interview_guide
      .container
        .divider1
        .page_title.pull-left
          Guidelines for Assessment Taker&#39;s Manager
        .instruction_container.pull-right
          .instructions
            .instruction1.pull-left
              Favorable Traits
            .instruction2.less_favorable.pull-left
              Less Favorable Traits
            .clr
        .clr
        .divider1
        %ul.clearfix.scores_listing.first.interview_guide_listing
          - step_user_manager_guidelines.each do |factor_name, guide|
            %li
              - klass = guide[:factor_type] == "Suitability::DirectPredictor" ? 'mid_favorable' : (guide[:pass]? 'favorable' : 'less_favorable')
              .span1.first.hexagon-icon{ class: klass }
              .factor-name.span5
                = factor_name
              .description.span16
                = guide[:body]
              .clr
    .page-break              
