.inner{ style: "margin-top:0px;" }
  .overall_report
    .j-logo.pull-left
    /sec 0
    - if @report.report_hash[:assessment][:brand_partner]
      .pull-right
        = wicked_pdf_image_tag("#{@report.report_hash[:assessment][:brand_partner].underscore}.png")
    .clr
    .divider30
    .huge-text
      = @report.report_hash[:candidate][:name]
    .divider2
    - section_value.each do |section|
      = render :partial => section["path"]