.cover_page
  .divider5
  .container
    .j-logo.pull-left
    - logos = @report.report_hash[:assessment][:brand_partners].to_a.map{|partner| Rails.application.config.brand_partners[partner][:logo] }.compact.uniq
    - logos.each do |logo|
      .pull-right
        - imagePath = asset_path(logo)
        .partner-logo{:style => "background: url(#{imagePath}) no-repeat center 0; width: 240px; height: 200px "}
    .clr
  .divider24
  .user_name.huge-text
    = @report.report_hash[:user][:name]
  .divider1
  - section_value.each do |section|
    = render :partial => section["path"]
.page-break
