#overview.section01
  .divider2
  .logo
  .divider25
  .pie
  .divider2
  %h1.pull-left
    Training Requirements Report
  .clr
  .divider2
  .large-text
    .pull-left
      Assessments Included: 
    .assessment_names.pull-left
      #{@report_data[:assessment_names].to_a.join(', ')}
    .clr
    %br/
    %br/
    Total Candidates Assessed: 
    #{@report_data[:no_of_candidates_assessed]}
  .divider2
