%li.listing_snippet
  %a.job_title.pull-left{:href => "#", :title => "Job Title goes here"}
    = truncate(job.title, :length => 45)
  .date.pull-right
    = job.updated_at.strftime("%b %d")
  .clr
  .divider1
  .bottom_sec 
    //if view candidates are "(0)" then add class .inactive //if view candidates are "(0)" then add class .inactive exp  %a.pull-left.inactive
    %a.pull-left{:href => "#", :title => "Number of candidates"}
      %i.icon-user.icon-large
      View candidates(644)
    .bottom_sec_hidden.pull-left
      %a.pull-left{:href => "#", :title => "Number of candidates"}
        %i.icon-th-large.icon-large
        Duplicate
      %a.pull-left{:href => "#", :title => "Number of candidates"}
        %i.icon-eye-close.icon-large
        Close      
      %a.margin.pull-right{:href => "#", :title => "Number of candidates"}
        %i.icon-trash.icon-large
        Delete
    .clr