%li.listing_snippet.post_notification
  //".post_notification" class will only aaded when we want notification of job posted successfully, If ther is no need to show notification just remove class ".post_notification" Plz dont remove any of HTML or partial you jst have to change/add/remove class ".post_notification" to show and hide notification
  %a.job_title.pull-left{:href => recruiters_job_path(:id => pending_job.uuid), :title => "#{pending_job.name}"}
    = truncate(pending_job.name, :length => 45)
  .date.pull-right
    = pending_job.updated_at.strftime("%b %d")
  .clr
  .divider1
  .bottom_sec 
    //if view candidates are "(0)" then add class .inactive //if view candidates are "(0)" then add class .inactive exp  %a.pull-left.inactive
    %a.pull-left{:title => "Number of candidates"}
      %i.icon-user.icon-large
      View candidates
    -#
      .bottom_sec_hidden.pull-left
        %a.pull-left{:href => duplicate_recruiters_job_path(:id => pending_job.uuid), :title => ""}
          %i.icon-th-large.icon-large
          Duplicate
        %a.pull-left{:href => "#", :title => ""}
          %i.icon-eye-close.icon-large
          Close      
        %a.margin.pull-right{:href => "#", :title => ""}
          %i.icon-trash.icon-large
          Delete
    .clr