- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Company Details
- content_for :sidebar do
  .divider1
  .divider9.span5.fl_none.gray_border.margin_auto
  .divider1
  %strong.show.medium_text.padding_left_right2
    ZS Associates Company Pvt. Limited

.inn.clearfix
  .title.pull-left
    Profile
  %a.pull-right{:href => "#", :title => "Edit info"}
    %strong
      + Edit
  .clr
  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      Account Type
    .span8
      Employer
  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      About Company
    .span8
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      Company Website
    .span8
      ww.dfg.fg
  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      Location
    .span8
      Pune
  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      Address
    .span8
      Lorem ipsum dolor sit amet, 

.inn.clearfix
  .title.pull-left
    Account Details
  %a.pull-right{:href => "#", :title => "Edit info"}
    %strong
      + Edit
  .clr
  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      Name
    .span8
      My name is khan
  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      Phone Number
    .span8
      +91-904304303
  .divider1
  .content.clearfix.medium_text
    %strong.span6.text_right  
      Email ID
    .span8
      ww.dfg@gh.cfg








     