.content-sub-nav.clearfix
  %a.menu{:href => "#"}
    Statistics
  %a.menu{class: (["traits"].include?(params[:action]) ? "active" : "")}
    Traits Included
  %a.menu{class: (["candidates"].include?(params[:action]) ? "active" : "")}
    Candidates
