.content-sub-nav.clearfix
  %a.menu{class: (["statistics"].include?(params[:action]) ? "active" : "")}
    Statistics
  %a.menu{class: (["stakeholders"].include?(params[:action]) ? "active" : "")}
    Stakeholders

