.report_header.clearfix
  .logo{:style => "position: absolute;width: 99px;bottom: 23px;"}
    = wicked_pdf_image_tag ('report/pdf/j-logo.png')
  .text-right
    .user_name
      = @report.report_hash[:user][:name]
    .medium-text
      360&#176; Profiling: 
      = @report.report_hash[:assessment][:name]