.header.clearfix
  .extra-medium-text.white.pull-left.line-height3
    = display_text rescue "NA"
  .text-right.pull-right
    .user_name
      = @report.report_hash[:candidate][:name]
    .medium-text
      360&#176; Profiling: 
      = @report.report_hash[:assessment][:name]
  .clr

