.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag(asset_path("jombay-logo.png"))
      .big-text.gray-dark.padding-all1.pull-left
        360&#176; Profiling Group Report
      .pull-right
        %ul#nav.clearfix.pull-left
          %li.left
          %li
            %a.scroll{ href: "#overview" }
              Overview
          %li
            %a.scroll{ href: "#graph"}
              Graph
          %li
            %a.scroll{ href: "#competency-rating" }
              Comptency Rating
          %li
            %a.scroll{ href: "#overall" }
              Data Points: Competencies
          %li
            %a.scroll{ href: "#perception-gap" }
              Perception Gap
          %li.right
        = link_to "Printable PDF", s3_group_report_company_mrf_assessment_url(:company_id => @report.report_data[:company][:id], :id => @report.report_data[:assessment][:id], :report_id => @report.id, :format => :pdf, :host => Rails.application.config.action_mailer.default_url_options[:host]), :class => "btn btn-warning span print-btn", target: :_blank

= wicked_pdf_javascript_include_tag 'common'

