.report_header.clearfix
  .logo.pull-left
    = wicked_pdf_image_tag('report/pdf/jombay-logo.png')
  .span16.pull-right.text-right{:style=>"padding-top: 5px"}
    360&#176; Profiling: Sample 360 Degree Report - Business Head
  .clr