.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag(asset_path("jombay-logo.png"))
      .big-text.gray-dark.padding-all1.pull-left
        360&#176; Profiling Group Report
      .pull-right
        %ul#nav.clearfix.pull-left
          %li.left
          %li
            %a.scroll{ href: "#overview" }
              Overview
          %li
            %a.scroll{ href: "#graph"}
              Graph
          %li
            %a.scroll{ href: "#competency-rating" }
              Comptency Rating
          %li
            %a.scroll{ href: "#overall" }
              Data Points: Competencies
          %li
            %a.scroll{ href: "#perception-gap" }
              Perception Gap
          %li.right
= wicked_pdf_javascript_include_tag 'common'

