- if is_superadmin?
  .divider2
  %select{id: "set_assessment_type", name: "set_assessment_type"}
    %option{value: 'competency'} COMPETENCY
    %option{value: 'fit'} FIT  
  .divider2
  .span30
    .pull-left
      %h1.text-center
        HTML Report Sections 
      #html_configuration
      %br
      %a.btn.btn-info.large-text.bold{:id => "generate_html_preview", :target => "_blank"}
        Generate HTML Preview
    .pull-left
      %h1.text-center
        PDF Report Sections
      #pdf_configuration
      %br
      %a.btn.btn-info.large-text.bold{:id => "generate_pdf_preview", :target => "_blank"}
        Generate PDF Preview
    .clr
  .divider2


= javascript_include_tag "mrf/enableSections"