- if is_superadmin?
  %h1.text-center
    HTML Report Sections
   
  %select{id: "set_assessment_type", name: "set_assessment_type"}
    %option{value: ''} Set Assessment Type
    %option{value: 'competency'} COMPETENCY
    %option{value: 'fit'} FIT

  %select{id: "set_view_mode", name: "set_assessment_type"}
    %option{value: ''} Set View Mode
    %option{value: 'pdf'} PDF
    %option{value: 'html'} HTML
  
  .divider2
  
  #html_configuration

= javascript_include_tag "mrf/enableSections"