%h1 All Suitability Factors
- if can? :create, "Suitability::Factor"
  = link_to "Manage Suitability Factors", manage_suitability_factors_path
.pagination.pull-right
  = paginate @factors        
.clr  
%table
  %tr
    %th
      Name
    %th
      Definition
  - for factor in @factors do
    %tr 
      %td
        =	link_to factor.name, suitability_factor_path(factor)
      %td
        = factor.definition
.pagination.pull-right
  = paginate @factors       
.clr   
