%h1 All Suitability Factors
- if can? :create, "Suitability::Factor"
  = link_to "Upload Suitability Factors", new_suitability_factor_path
  = link_to "Manage Suitability Factors", manage_suitability_factors_path
%ul.unstyled
  - for factor in @factors do
    %li 
    =	link_to factor.name, suitability_factor_path(factor)
