= render :partial => "master_data/import_from_google_drive"
%br/
%br/
= render :partial => "master_data/export_form"
%br/
%br/
= render :partial  => "display_name_import_form"
%br/

= link_to 'Back', suitability_factors_path
=# link_to 'Destroy All', destroy_all_suitability_factors_path
