- url =  company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => report.report_data[:company][:id], :candidate_id => report.report_data[:candidate][:id], :custom_assessment_id => report.report_data[:assessment][:id], :id => report.id, :view_mode => "html")
%a{:href => url, :title => "View Report", target: "_blank"}
  %i.icon-file{:style=>"font-size: 21px; line-height: 20px;"}
  View Report
  - if is_superadmin?
    - if candidate_assessment.options[:link_used]
      - url_params = CGI::parse(candidate_assessment.options[:link_used])
      = "(Manager Link Used)" if url_params["cc"].present?
