.medium-text
  Disclaimer: Please note that the reports will be generated 24 hours later the candidate completes all parts of the assessment. In case of any queries, please contact operations@jombay.com
