.box.pull-left
  .box-icon.pull-left
  .box-title.pull-left.extra-medium-text.default 
    Expected Range
  .clr
.instruction1.pull-left.extra-medium-text.default
  Favorable
.instruction2.less_favorable.pull-left.extra-medium-text.default
  Less Favorable
.clr