@import ../grid/core-set

.pull-right
  float: right
.pull-left
  float: left
.hide
  display: none
.show
  display: block !important
.invisible
  visibility: hidden
.first 
  margin-left: 0 !important
.last
  margin-right: 0
.no-background
  background: none !important
.no-padding
  padding: 0 !important
.no-r-padding
  padding-right: 0 !important
.no-margin
  margin: 0 !important

.float-none
  float: none !important

.margin-auto
  margin-left: auto !important
  margin-right: auto !important
  float: none !important

.gray-dark
  color: $grayDark
.gray-darker
  color: $grayDarker
.gray-light
  color: $grayLight
.gray-lighter
  color: $grayLighter
.color-warning
  color: $color-warning !important
.color-info
  color: $color-info !important
.color-success
  color: $color-success !important
.color-green
  color: $color-green
.color-stop
  color: $red
.rounded
  border-radius: 50%
.black
  color: #000
.white
  color: #fff
.default
  color: $default !important
.border-primary
  border: 1px solid $grayLighter
.border-warning
  border: 1px solid $color-warning
.border-top-grayLighter
  border-top: 1px solid $grayLighter
.border-right-grayLighter
  border-right: 1px solid $grayLighter
.border-right-gray
  border-right: 1px solid $grayLight
.border-bottom-grayDark
  border-bottom: 1px solid $grayDark
.border-bottom-grayLighter
  border-bottom: 1px solid $grayLighter
.border-left-grayLighter
  border-left: 1px solid $grayLighter
.border-bottom-success
  border-bottom: 1px solid $color-success
.no-border
  border: none !important 
.fw
  width: 100% !important 
.hw
  width: 49.9% !important
a.underlined
  text-decoration: underline
  &:hover
    text-decoration: none
a.default-color
  color: $textColor
  &:hover
    color: $color-warning
.bold
  font-weight: 700
.page-title 
  color: #414042 
  font-size: $extra-large-text
  line-height: 35px
.de-activated
  cursor: not-allowed
  color: $grayLighter
.bg-white
  background-color: #fff !important
.bg-warning
  background-color: $color-warning !important
.bg-success
  background-color: $color-success !important

.or
  position: relative

  [class*="or"]
    position: absolute
    line-height: 25px
    background: #fff
    padding: 0 7px
  .or-right
    top: 49%
    right: -20px
  .or-bottom
    left: 48.5%
    bottom: -14px
.pannel
  background: #fff
  border: 1px solid #e3e3e3
  padding: 8px 0
  &.success-border-l
    border-left: 3px solid $color-success
