@import ../grid/core-set

.pull-right
  float: right
.pull-left
  float: left
.hide
  display: none
.show
  display: block
.invisible
  visibility: hidden
.first 
  margin-left: 0 !important
.last:after 
  clear: right
.float-none
  float: none !important

.margin-auto
  margin-left: auto !important
  margin-right: auto !important
  float: none !important
.link-color
  color: $linkColor
.color-warning
  color: $color-warning
.rounded
  border-radius: 50%
.white
  color: #fff
.border-primary
  border: 1px solid #dedede
