- width = 70
- number_of_buckets = 6

.overview-title{:style=>"padding: 0 30px"}
  .pull-left.text-left
    %h1.big-text.color-warning{:style=>"padding-top: 10px"}
      Competency Scores
    .clr
    .divider1  
    .instruction_container
      .instructions
        - section_value.each do |value|
          = render :partial => value["path"]
    .clr
  .scale
    .line{:style => "width:#{(@score_buckets.size-1)*width}px"}
    .marker-container
      - @score_buckets.each do |score_bucket|
        .marker
          %br/
          = @custom_score_bucket_names["#{score_bucket.uid}"]['name']
      .clr
  .clr
.clr
