.box.pull-left
  .box-icon.pull-left
  .box-title.pull-left.default 
    Expected Range
  .clr
.instruction1.pull-left.default
  Favorable
.instruction2.less_favorable.pull-left.default
  Less Favorable
.clr