.location_preferences.recruiters_icons.clerafix.medium_text{:class => preferred ? "ok" : "not_ok"}
  .span4.text_center
    %strong #{ location.name }
  .span2.pull-right.divider1
  .pull-right
    .span2.text_center
      #{ preferred ? "Okay" : "Not Okay" }
.divider1
