.thank-you
  .divider4
  .container
    .text-wrap
      .title
        Thank you for your feedback!
      .divider2
      .thumb
      .divider4
      .sub-title
        Your responses were recorded successfully.
      .divider2
  .divider4