.final-score.overall_score_rating{:style=>"background-color: #128975; width: 495px"}
  .score_rating_title.pull-left{:style=>"color: #fff"}
    Aggregate Score
  .span.large-text.line-height2
    = @report.report_hash[:overall_score_bucket][:name]
  .clr
.clr 