- if @report.report_hash[:consistency][:score]
  .consistency_score.score{:style=>"background-color: #128975;"}
    .left_sec
      Consistency Score
    .right_sec
      #{(@report.report_hash[:consistency][:score].to_f*100).round(2)}%
    .clr
  