- bg_hex = @report.report_hash[:overall_factor_score_rating][:color]
.score_rating.score{:style=>"background-color: #{bg_hex};"}
  .left_sec
    Score Rating
  .right_sec{ title: @report.report_hash[:overall_factor_score_rating][:name] }
    = truncate @report.report_hash[:overall_factor_score_rating][:name], :length => 18 rescue "-"
  .clr
  