#overview.section01
  .overall_report.container
    .divider8
    .user-name.pull-left
      = @report.report_hash[:candidate][:name]
    - section_value.each do |section|
      = render :partial => section["path"], :locals => { nested_child: section["children"] }
