.section02
  .divider3
  .trait_fit.container
    .title
      Traits measured in this Assessment
    .divider2
    .instruction_container
      .instructions
        .instruction1.pull-left
          Favorable Traits 
        .instruction2.less_favorable.pull-left
          Less Favorable Traits
        .clr
    .divider4
    .factors_container
      .factors_list  
        - @report.report_hash[:factor_scores].each_with_index do |(factor_name,factor_score),index|
          - margin = factor_name.split(" ").size > 1 ? 15 : 30
          %div{ class: "factor_#{index+1} #{factor_score[:pass] ? 'favorable' : 'less_favorable'}" }
            .text-wrap{:style=>"margin-top: #{margin}px;"}
              = factor_name.gsub(" ","<br/>").html_safe
        .clr
    .divider4
    .bottom-sec
      Empty Hexagons represent behavioural traits that are not included in the scope of this Assessment
    .divider2