.content-sub-nav.clearfix
  %a.menu{class: (["details"].include?(params[:action]) ? "active" : ""), href: details_company_exit_survey_path(@company.id,@survey.id)}
    Statistics
  %a.menu{class: (["traits"].include?(params[:action]) ? "active" : ""), href: traits_company_exit_survey_path(@company.id,@survey.id)}
    Traits Included
  %a.menu{class: (["candidates","candidate"].include?(params[:action]) ? "active" : ""), href: candidates_company_exit_survey_path(@company.id,@survey.id)}
    Candidates
  %a.menu{class: (["group_reports","new", "edit","index"].include?(params[:action]) ? "active" : ""), href: group_reports_company_exit_survey_path(@company.id,@survey.id)}
    Group Reports
