.badge_label.clearfix.span9.first{"data-snippet" => job_industry.id}
  -#
    .badge_count
      #{ job_category.count }
  .badge_content
    #{ truncate(job_industry.name, length: 50) }
  %a.close{"data-dismiss" => "alert", :href => "[data-id='#{ job_industry.id }']"} ×
  = hidden_field_tag("candidate[industry][id][]", job_industry.id)