%h1 Edit suitability option

= render 'form', url: suitability_item_option_path(params[:item_id],@option.id), method: :put, item_id: params[:item_id], factor_id: params[:factor_id], option: @option

= link_to 'Back', suitability_item_option_path(params[:item_id],@option.id)
