.color-band.extra-medium-text.pull-right{:style=>"background-color: #128975"}
  .head.pull-left{:style=>"color: #fff"}
    Aggregate Score
  .white.pull-left
    = @report.report_hash[:aggregate_competency_score_bucket][:name]
  .clr
