- if @report.report_hash[:consistency][:score]
  .color-band.extra-medium-text.pull-right{:style=>"margin-bottom: 1px; background-color: #128975"}
    .head.pull-left{:style=>"color: #fff"}
      Overall Consistency Score
    .white.pull-left
      #{(@report.report_hash[:consistency][:score].to_f*100).round(2)}%
    .clr
  .clr  
