.color-band.extra-medium-text{:style=>"margin-bottom: 1px; background-color: #128975"}
  .head.pull-left{:style=>"color: #fff"}
    Aggregate Numerical Score
  .white.pull-left
    #{@report.report_hash[:aggregate_competency_score]}%
  .clr
