= render partial: "shared/reports/pdf/report_header"
.aptitude_score
  .divider2
  %h1.font-normal.blue_heading.large-text
    Score for Aptitude 
  .divider1
  .pannel
    .divider1
    .span7.margin-auto
      .span3.first.rounded
        #{@report.report_data[:cocubes_score]} / #{@report.report_data[:cocubes_max_score]}
      .span3.left-offset1.rounded
        #{@report.report_data[:cocubes_percentage_score]}%
      .clr
      .divider1
      .span3.first.text-center.large-text
        Score
      .span3.left-offset1.text-center.large-text
        Percentage
      .clr
    .divider1
  .divider2
.page-break