= render partial: "shared/reports/pdf/report_header"
.aptitude_score
  .divider2
  .blue_heading.large-text
    Score for Aptitude 
  .divider1
  .pannel
    .divider1
    .span7.margin-auto
      .span3.first.rounded
        18 / 50
      .span3.left-offset1.rounded
        42%
      .clr
      .divider1
      .span3.first.text-center.large-text
        Score
      .span3.left-offset1.text-center.large-text
        Percentage
      .clr

    .divider1
  .divider2