- bg_hex = @report.report_hash[:aggregate_competency_score_rating][:color]
.scores
  .score_rating.score{:style=>"background-color: #{bg_hex}"}
    .left_sec{:style=>"color: #fff"}
      Score Rating
    .right_sec
      = @report.report_hash[:aggregate_competency_score_rating][:name] rescue "-"
    .clr
.clr