= render partial: "shared/reports/pdf/report_header"
.competency_report_guideline
  .divider2
  .blue_heading.large-text
    Guidelines to Interpret the Report
  .divider2
  .suitability-competency-report-guideline.text-center
    = image_tag("report/html/suitability-competency-report-guideline.jpg")
  .divider2