.overview
  .inner{ style: "margin-top:0px;" }
    .divider2
    .j-logo
    .divider4

    .large-text
      = @report.report_hash[:candidate][:name]
    .divider1

    .content
      .overview-title
        .left
          Competencies / Values
        .right
          Scores
        .clr

      %ul.competency-list.pull-left
        - competency_scores.each do |competency_name, competency_data|
          %li
            .competency-name
              = competency_name
            .competency-value
              - company_norm_bucket = @company_norm_buckets.detect{|company_norm_bucket| company_norm_bucket.norm_bucket_ids.include?(competency_data[:grade_uid]) }
              = company_norm_bucket.name
            .clr
      .clr
    .divider2
