.overall_report
  .divider3
  .j-logo.pull-left

  - if @report.report_hash[:assessment][:brand_partner]
    .pull-right
      = wicked_pdf_image_tag("#{@report.report_hash[:assessment][:brand_partner].underscore}.png")
  .clr
  .divider30
  .huge-text
    = @report.report_hash[:candidate][:name]
  .divider2

  - section_value.each do |section|
    = render :partial => section["path"], :locals => { :nested_section_value => section["children"] }