.overall_report.no-bg
  .divider1
  .clr
  .divider10
  - if @report.report_data[:company][:logo_url]
    %div
      %p.text-center.medium-text.bold
        For
      - imagePath = @report.report_data[:company][:logo_url]
      .partner-logo.margin-auto{:style => "background: url(#{imagePath}) no-repeat center 0; width: auto; height: 200px "}
  .divider5
  .huge-text.bold
    = @report.report_hash[:user][:name]
  .divider2
  .large-text
    .span.first
      Assessment Name:
    .span10
      = @report.report_hash[:assessment][:name]
    .clr
    .divider1
    Assessment Taken On:
    = @report.report_hash[:completed_at]
    .divider2
    .clr
  
  .frame.padding-all2.large-text
    This Assessment is designed to capture the behavioural characteristics that are most applicable to the assessment taker. The statements used in the assessment are neutral in nature to ensure that there are no 'Right' or 'Wrong' responses.
    This report focuses on the overall behavioural profile of the assessment taker and is intended to act as an indicative guiding tool rather than a judgement. The reports showcases score descriptions along with the strengths and areas of improvements on competencies identified for superior performance that are imperative for success.
  .clr


.page-break
