.divider1
.overall_report
  .divider3
  - if @report.report_hash[:assessment][:brand_partner]
    .pull-right
      - imagePath = asset_path("brand-partners/"+@report.report_hash[:assessment][:brand_partner].underscore+".png")
      .partner-logo{:style => "background: url(#{imagePath}) no-repeat center 0; width: 200px; height: 200px "}
  .clr
  .divider26
  .huge-text
    = @report.report_hash[:candidate][:name]
  .divider2
  - section_value.each do |section|
    = render :partial => section["path"], :locals => { :nested_section_value => section["children"] }
.page-break
