.divider1
.cover_page
  .divider5
  .container
    .j-logo.pull-left
    - @report.report_hash[:assessment][:brand_partners].to_a.each do |partner|
      .pull-right
        - imagePath = asset_path("brand-partners/"+partner.underscore+".png")
        .partner-logo{:style => "background: url(#{imagePath}) no-repeat center 0; width: 240px; height: 200px "}
    .clr
    .divider26
  .user_name.huge-text
    = @report.report_hash[:user][:name]
  .divider2
  - section_value.each do |section|
    = render :partial => section["path"], :locals => { :nested_section_value => section["children"] }
.page-break
