.explanation_of_cocubes_score
  .divider2
  .blue_heading.extra-large-text
    Explanation of CoCubes Score
  .divider1
  .frame
    %ul
      %li
        .divider1
        .cocubes_score_title.low.span10.extra-large-text.first
          %strong Low
        .cocubes_score_scale.span7.pull-right.large-text
          .icon.low{:style=>"left: 9%"}
            .arrow
              0%-30%
          .slider.average
          .slider.high
          .clr

        .clr
        .divider1
        %p.large-text
          May not always be able to approach simple tasks logically and identify cause effects. Will require constant monitoring and direction to interpret information and solve basic cognitive problems. Likely to be suitable for repetitive work with negligible problem solving.
      %li
        .divider1
        .cocubes_score_title.average.span10.extra-large-text.first
          %strong Average
        .cocubes_score_scale.span7.pull-right.large-text
          .icon.average{:style=>"left: 40%"}
            .arrow
              30%-50%
          .slider.average
          .slider.high
          .clr

        .clr
        .divider1
        %p.large-text
          May not always be able to approach simple tasks logically and identify cause effects. Will require constant monitoring and direction to interpret information and solve basic cognitive problems. Likely to be suitable for repetitive work with negligible problem solving.
      %li
        .divider1
        .cocubes_score_title.high.span10.extra-large-text.first
          %strong High
        .cocubes_score_scale.span7.pull-right.large-text
          .icon.high{:style=>"left: 74%"}
            .arrow
              50%-100%
          .slider.average
          .slider.high
          .clr

        .clr
        .divider1
        %p.large-text
          May not always be able to approach simple tasks logically and identify cause effects. Will require constant monitoring and direction to interpret information and solve basic cognitive problems. Likely to be suitable for repetitive work with negligible problem solving.


  .divider2

