- if @report.report_hash[:pdf_suitability_reports_scale_description_page]
  -if @report.report_data[:hexagons_page_competency]
    = render partial: "shared/reports/pdf/report_header"
  .divider2
  .scores
    .blue_heading.large-text
      Explanation of Jombay Scores
  %ul.explanation_scores_list
    - @company_norm_buckets.each do |norm_bucket_scale, index|
      %li
        .scores
          .left.pull-left
            .scale.right-offset1
              .line{:style=>"width:#{(@company_norm_buckets.size-1)*50}px"}
              .marker-container
                - @company_norm_buckets.each_with_index do |norm_bucket, index|
                  .marker{ :class=> norm_bucket_scale.name == norm_bucket.name ? 'active': ''}
                    = norm_bucket.name
                .clr
            .clr
          .right.pull-right.extra-medium-text
            .divider1
            = norm_bucket_scale.description
          .clr
  .page-break      
