- if @report.report_hash[:pdf_suitability_reports_scale_description_page]
  - placeHolders = {"text" => ["Low is the minimum score on the scale","'Below Average' is a score falling between 'Low' and 'Average'","The Average range has been split into 2 parts - 'Average (Low)'and 'Average (High)' where 'Average (Low)' is the lower half","The Average range has been split into 2 parts - 'Average (Low)' and 'Average (High)' where 'Average (High)' is the upper half of the average","Above Average' is a score falling between 'Average' and 'High'","'High' is the maximum score on the scale"]}
  - active_label_index = 0
  -if @report.report_data[:hexagons_page_competency]
    = render partial: "shared/reports/pdf/report_header"
  .divider2
  .scores
    .blue_heading.large-text
      Explanation of Jombay Scores
  %ul.explanation_scores_list
    -placeHolders["text"].each_with_index do |placeholder, index|
      %li
        .scores
          .left.pull-left
            .scale.right-offset1
              .line
              .marker-container
                - @norm_buckets.each_with_index do |norm_bucket, index|
                  .marker{ :class=> active_label_index == index ? 'active': ''}
                    = norm_bucket.name
                .clr
            .clr
          .right.pull-right.extra-medium-text
            .divider1
            = placeholder
          .clr
      - active_label_index += 1