- step_toc = 0
- trait_scores = get_factors_under_competencies(@report)
- trait_scores.each_slice(4) do |step_data|
  .inner
    .scores.favorable_factors
      .divider1
      .span8.first
        - if step_toc == 0
          - step_toc += 1
          %h1.font-normal.blue_heading.large-text
            Scores of Factors measured under different Competencies / Values
          .divider1
        - else
          .font-normal.blue_heading.large-text
            Scores of Factors measured under different Competencies / Values
          .divider1
        .instruction_container
          .instructions
            .instruction1.pull-left.first
              Favorable Traits
            .instruction2.less_favorable.pull-left
              Less Favorable Traits
            .clr
        - if (@report.report_hash[:functional_items].present?)
          .functional-traits-title
            Functional Traits (Trait Score is #{@report.report_data[:include_functional_traits_in_aggregate_scores] ? "included in":"excluded from"} competency scores)
      .pull-right
        .divider1
        .scale
          .line{:style=>"width:#{(@company_norm_buckets.size-1)*50}px"}
          .marker-container
            - @company_norm_buckets.each do |norm_bucket|
              .marker
                - if norm_bucket.name.split(" ").size == 1
                  %br/
                = norm_bucket.name
            .clr
      .clr
      .divider2
      - section_value.each do |section|
        = render :partial => section["path"], :locals => {:step_data => step_data}
      .page-break