- step = 0
- ordered_guides = get_ordered_guidelines(@report.report_hash[:interview_guide])  
- ordered_guides.each_slice(12) do |step_interview_questions|
  = render "shared/reports/pdf/report_header"
  .container
    .scores.interview_guide
      .divider1
      - if step == 0
        %h1.page_title.pull-left
          Interview Questions
      -else
        .page_title.pull-left
          Interview Questions
      - step += 1
      .instruction_container.pull-right
        .instructions
          .instruction1.pull-left
            Favorable
          .instruction2.less_favorable.pull-left
            %u
              Less Favorable
          .clr
      .clr
      %ul.clearfix.scores_listing.first.interview_guide_listing
        - step_interview_questions.each do |factor_name, question|
          - klass = question[:pass] ? "favorable" : "less_favorable"
          %li
            .span1.first.hexagon-icon{ class: klass }
            .factor-name.span5
              = factor_name
            .description.span16
              = question[:body]
            .clr
  .page-break
