- step = 0
- @report.report_hash[:interview_guide].each_slice(5) do |step_interview_questions|
  .inner
    .scores.interview_guide
      .divider1
      - if step == 0
        %h1.font-normal.blue_heading.large-text.pull-left
          Interview Questions
      -else
        .blue_heading.large-text.pull-left
          Interview Questions
      - step += 1
      .instruction_container.pull-right
        .instructions
          .instruction1.pull-left
            Favorable Traits
          .instruction2.less_favorable.pull-left
            Less Favorable Traits
          .clr
      .clr
      %ul.clearfix.interview_guide_listing
        - step_interview_questions.each do |factor_name, question|
          - klass = question[:pass] ? "favorable" : "less_favorable"
          %li
            .divider1
            .que-no.hexagon-icon{ class: klass }
            .factor-name.pull-left
              = factor_name
            .description.pull-left
              = question[:body]
            .clr
            .divider1
  .page-break
