.color-band.extra-medium-text.pull-right{:style=>"margin-bottom: 1px;margin-top: 1px; background-color: #128975"}
  .head{:style=>"color: #fff;width:94%;border-bottom:1px solid #fff"}
    Aggregate Numerical Score
  .white.line-height1.default-text{:style=>"padding: 7px 10px"}
    = @report.report_data[:aggregate_competency_score_rating][:description]
