.color-band.extra-medium-text.pull-right{:style=>"margin-bottom: 1px;margin-top: 1px; background-color: #128975"}
  .head{:style=>"color: #fff;width:100%;border-bottom:1px solid #fff"}
    Aggregate Numerical Score
  .white.line-height1.default-text{:style=>"padding: 7px 10px"}
    Indicates low level of suitability for the behaviours measured. This implies that the candidate has scored mostly in the unfavourable range and that the candidate has a low alignment to the behavioural profile
-#
  .final-score.overall_score_rating{:style=>"background-color: #128975; width: 495px; margin-bottom: 1px;margin-top: 1px"}
    .score_rating_title.fw.first{:style=>"color: #fff; margin-bottom: 1px; padding-right: 35px"}
      Score Rating Description
    .medium-text{:style => "padding: 15px 10px;"}
      
