.scores
  .score{:style=>"margin-bottom: 2px;margin-top: 2px; background-color: #128975"}
    .left_sec.float-none{:style=>"width: auto"}
      Score Rating Description
    .right_sec.float-none{:style=>"width: auto;min-height:10px"}
      = @report.report_data[:aggregate_competency_score_rating][:description]
.clr