- @report.report_data[:subjective_items].each_slice(3) do |subjective_items|
  .functional-questions.objective
    .divider2
    .title
      Responses to Other Subjective Questions
    .divider2
    - subjective_items.each do |item_id, item_data|
      .frame
        .divider1
        .label.label-warning.pull-left.left-offset1
          Question
        .span14
          = item_data[:item][:body].gsub("<text_box>","___________________").html_safe
        .clr
        .divider1
        - item_data[:response].each do |index, response|
          .label.label-warning.pull-left.left-offset1
            Response #{(index.to_i+1)}
          .span15.bold    
            = response
          .clr
          .divider1
      .divider1
  .divider1
  .page-break
