.send-assessment
  .heading
    %i.icon-envelope
    Email Settings
  .divider2
  = render :partial => "walkin_groups/mail_body_for_invitation"
  .clr  
= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'
= javascript_include_tag 'walkins/email_settings'          
