- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.walk-ins-customize
  = render :partial => "walkin_groups/assessments", locals: { url: customize_company_walkin_group_path(@company, @walkin_group) }
= javascript_include_tag "walk_ins"
