.walk-ins-list
  .page-title.pull-left
    .divider1
    Walk-Ins
  - if can?(:create, "Suitability::WalkinGroup")    
    %a.btn.btn-warning.big.big-text.span.pull-right.large-text{:href => new_company_walkin_group_path(:company_id => params[:company_id]), :title => "Click Here To Create New Walk-In"} 
      Create a new Walk-In Index Page
  
  - if @walkin_groups.empty?
    .medium-text.alert.pull-right
      No walk-ins have been created. To create a Walk-In, 
      %a{:href => new_company_walkin_group_path(:company_id => params[:company_id]), :title => "Click Here To Create New Walk In"} click here.
  .clr
  .divider2

  - if @walkin_groups.present?    
    .list-snippet-titles.large-text.clearfix
      .span5.first
        %a{:href => "#"}
          Walk-In ID
          %i.icon-chevron-down.small-text.line-height1
      .span10
        %a{:href => "#"}
          Walk-In Index Page
          %i.icon-chevron-down.small-text.line-height1
      .span8
        Page Management
    .divider1

    %ul
      - @walkin_groups.each do |walkin_group|
        %li.list-snippet.border-bottom-grayLighter
          .divider1
          .span5.first
            %a{:href=> company_walkin_group_path(:company_id => params[:company_id], :id => walkin_group.id), :title =>  walkin_group.title} Walk In #{walkin_group.id}
          .span10
            %a{:href=> company_walkin_group_path(:company_id => params[:company_id], :id => walkin_group.id), :title => walkin_group.title}  
              = walkin_group.title
          .span8
            %a{:href=> edit_company_walkin_group_path(:company_id => @company.id, id: walkin_group.id), :title=> "title"}   
              Manage
          
          .span
            %a{:href => walkin_group.url, target: "_blank", :title => "Send This Test"}
              Link  
          .clr
          .divider1
  .divider2
  - if @walkin_groups.present?
    .pull-right
      .muted.extra-medium-text
        .span.line-height2
          Go to Page
        %select.span2{onchange:"location = this.options[this.selectedIndex].value;"}
          - @walkin_groups.total_pages.times do |page|
            %option{selected: params[:page].to_i == (page + 1),value: company_walkin_groups_path(@company, :page => page + 1), }
              = page + 1
        .clr
    .clr    
 
