#trait-score
  .container
    .divider2
    .title
      Tips on Areas of Improvement
    .divider2
    .pull-left
      .divider2
      .score-indicator
        .indicator.less-favorable.first
          Candidates with Less Favorable scores
        .indicator.favorable
          Candidates with Favorable scores
        .clr
        .divider1
        .indicator.mid-favorable.first
          Most frequent score amongst less favourable scores
        .clr
    
    .scale.pull-right
      .line
      .marker-container
        -6.times do 
          .marker
            .arrow
            .marker-info
              Low on the scale indicates that the individual possesses or exhibits minimum amount of the trait measured
            %br/
            -#remove %br if score text widin 2 lines ie. average high etc
            Low
        .clr
    .clr
    .divider1
   
  %ul.improvement-tips-list
    - 5.times do |index|
      %li
        .container
          .trait-name.span10.first
            .divider2
            Emotional Control 
          .pie-snippet.span6
            .divider1
            .left
              28%
            .pie-visual 
              %canvas{:id => "myCanvas#{index}", :width => "70", :height => "70", :style => "border: 1px solid black"} 
            .right.favorable
              12%
          .rating-slider.pull-right
            .marker
              .arrow
              .score
                Low
            .marker
              .arrow
              .score
                Below Average
            .marker
              .arrow
              .score
                Average (Low)
            .active.marker
              .arrow
              .score
                Average (High)
            .marker
              .arrow
              .score
                Above Average
            .marker
              .arrow
              .score
                High
            .clr
           
          .clr
          .divider1
          %p
            You may want to discuss with them alternative ways of dealing with highly emotional situations. It could help them learn how to manage their emotions better.
  .divider2