#trait-score
  .container
    .divider2
    .title.pull-left
      Top Training Needs
    .pull-left
      .score-indicator
        .indicator.less-favorable
          Candidates with Less Favorable scores
        .indicator.favorable
          Candidates with Favorable scores
        .clr
    .clr
    .divider3

  %ul.training-need-list
    -2.times do
      %li
        .container
          -5.times do |index|
            .snippet
              .trait-title
                Emotional Control
              .divider1
              .pie-visual
                %canvas{:id => "myCanvas#{index}", :width => "130", :height => "130", :style => "border: 1px solid black"}

              .divider1
              .score
                100% Less Favorable
          .clr

