= render :partial => "shared/reports/training_requirements_report_header"
.benchmark_report.training_requirements_report
  .inner
    .overall_report
      = render :partial => "shared/reports/training_requirements/factor_scores", :locals => { :factor_scores => factor_scores }
      .divider1
      .notification
        Factor scores are measured relative to Industry standards for this job role and experience level
        %span.star *
