.training_requirements_report
  .inner{ style: "margin-top:0px;" }
    .overall_report
      %ul.tips_listing
        %li.list_header.clearfix
          .lhs
            .title Factor 
          .list_score % Candidates with less favorable scores
          .list_candidate_score Most candidates scored
        - 7.times do
          %li.clearfix
            .lhs
              .title Emotional Control
              %p.factor_description
                You may want to discuss with them alternative ways of dealing with highly emotional situations. It could help them learn how to manage their emotions better.
            .list_score 
              .score_icon
                70%
            .list_candidate_score 
              Below
              %br/
              Average
      .notification
        Factor scores are measured relative to Industry standards for this job role and experience level
        %span.star *
