.benchmark_report.training_requirements_report
  .inner{ style: "margin-top:0px;" }
    .overall_report
      .logo.pull-right
      .clr
      .heading
        .big-text
          Training Requirements 
          .small-text 
            Report Summary
        .span.first
          Assessment Name: 
        .span9
          #{@assessment.name}
        .clr

      .visual
        %p This report helps you identify training needs of the candidates who have taken the above mentioned assessment.


        %p It consolidates areas of improvement for all candidates.

        %p Listed below are the factors measured in the assessment alongside the percentage of candidates who did not score in the desired or favorable range for each of the measured factor. 

        %p Subsequent pages include training guide and more details for each factor.
 

        .sub-heading.pull-left
          No. of Candidates 
          %br/
          Assessed
          .candate_count
            #{@assessment.training_requirement_report[:no_of_candidates_assessed]}
        .clr
        .divider1
      .graph
        = render :partial => "assessment_reports/training_requirements_report/h_graph"



      
