.final-score.overall_score_rating{:style => "background-color: #{aggregate_score_color}; width: 360px"}
  .score_rating_title.pull-left.big-text.line-height2{:style => "color: #{aggregate_score_color}"}
    Score Rating
  .span
    = aggregate_score_rating
  .clr
