.candidate-mrf-show
  .span15.huge-text.first
    .divider1
    AID 1234 360 Assessment
  %a.btn.btn-info.pull-right.big-text.big.bold{:href => '#'}
    Create a new 360&#176; Profiling Exercise
  .clr
  .divider2
  = render :partial => "shared/360/candidate-content-sub-nav"

  .padding-all2.border-warning.shifted-up1    
    .list-snippet-titles.big-text.clearfix
      .span3.first
        %a{:href => "#", :title => "360 ID"}
          360&#176;CID
          %i.icon-chevron-down.small-text.line-height1
      .span10
        %a{:href => "#", :title => "Created On"}
          Candidates
          %i.icon-chevron-down.small-text.line-height1
      .span5
        %a{:href => "#", :title => "Profiling Exercises Title "}
          360&#176; Status
          %i.icon-chevron-down.small-text.line-height1
      .span5.text-center
        %a{:href => "#", :title => "Candidates"}
          Reports
          %i.icon-chevron-down.small-text.line-height1
      .span5.text-center
        Remind Stakeholders
      .clr
      .divider1          
      %ul
        -10.times do
          %li.list-snippet.extra-medium-text
            .divider1
            .span3.first
              %a{:href => "#", :title => "360ID"}
                123
            .span10
              Guardians Of Galaxy
            .span5
              Partially Complete
            .span5.text-center
              %a{:href => "#", :title => "View Report"}
                %i.icon-file
                View Report
            .span5.text-center
              %a{:href => "#", :title => "Send Reminders"}
                Send Reminders
            .clr
    .divider2
    .pull-right
      .muted.extra-medium-text
        .span.line-height2
          Go to Page
        %select.span2
          %option 01
        .clr
    .clr