.container  
  .span14.page-title.first
    Create a new 360º Profiling Exercise
  .clr.divider2
  .border-primary
    .padding-all2.border-bottom-grayLighter
      = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
        %label.pull-left.big-text.line-height2 
          Enter a title for this 360º Exercise
        %input.span20.pull-right{:type => "text"}

      = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
        %input.span26.show.margin-auto{:type => "text", :placeholder=>"Enter a title for this 360º Exercise"}
      .clr
    .hw.border-right-gray.pull-left
      .span10.margin-auto
        .divider3
        .big-text
          Choose an existing assessment to run the 360º
        .divider1
        %select.fw
          %option Choose assessment
        .divider1
        %label.big-text.default
          %input{:type=>"checkbox"}
          Include Additional Traits
        .divider1
        %p.medium-text.text-justify
          If you wish use an existing assessment to build the 360º Profiling around, choose this option. You may include additional Traits not present in the assessment by enabling the 'Include Additional Traits' option.
        .divider2
        %input.btn.btn-info.large-text.bold.pull-right{:type=>"button", :value=>"Proceed"}
        .clr
        .divider2
    .hw.pull-right
      .span11.margin-auto
        .divider7
        .big-text.color-info.text-center
          Build 360º from Scratch with New Traits
        .divider1 
        %p.medium-text.text-justify
          If you wish to build the 360º Profiling without an existing assessment, by selecting Traits of your choice, choose this option.
    .clr

           