.trait-show
  .span18.huge-text.first
    .divider1
    AID 1234 360 Assessment
  %a.btn.btn-info.pull-right.big-text.big.bold{:href => '#'}
    Create a new 360&#176; Profiling Exercise
  .clr
  .divider2
  = render :partial => "shared/360/candidate-content-sub-nav"


  .padding-all2.border-warning.shifted-up1
    .big-text
      .extra-large-text.pull-left
        Traits Measured: 31
      .pull-right.extra-medium-text
        .span.marker.orange-bg
        .span 
          Traits Present in the included assessment : Assessment Name
          -#need to truncate "assessment name"
        .clr.divider1
        .span.marker.blue-bg
        .span
          Traits Present in Only this 360 Profiling Exercise

      .clr
    .divider1
    %ul.clearfix.scores_listing.first
      -10.times do 
        %li
          .extra-medium-text
            .color-info.font-bold
              -#in some case, replace ""color-info" to "color-warning"
              Assertivness
            .factor-description
              Some Defintion
          .clr
    .divider2     