%br/
= render :partial => 'suitability/factor_norm_bucket_descriptions/import_form'
%br/
= render :partial => 'suitability/factor_norm_bucket_descriptions/export_form'
%br/
= link_to 'Back', suitability_factor_norm_bucket_descriptions_path
= link_to 'Destroy All', destroy_all_suitability_factor_norm_bucket_descriptions_path
