- if @assessment.brand_partners.present?
  %span{ title: @assessment.brand_partners.map(&:titleize).join(',') + ' Pending' }
    #{truncate(@assessment.brand_partners.map(&:titleize).join(','), { length: 15 })} Pending
- elsif is_superuser?
  Competency Scoring...
- else
  Generating Report...
