- content_for :sidebar do
  .job_flow_lhs
    %ul
      %li.done
        1. Job Description
      %li.active
        2. Candidate Requirement
      %li
        3. Candidate Preference
      %li
        4. Compensation &amp; Logistics
      %li
        5. Miscellaneous
      %li
        6. Contact Details
      %li
        7. Preview
%h1 THIS IS DASHBOARD
%div
  = form_tag job_posting_recruiters_dashboard_index_path, :method => :put do
    = fields_for :job_posting do |f|
      = f.submit "Post job"
%div
  -# Rails.logger.ap current_user.leonidas_resource.company