= render partial: "shared/360/mrf_report_header.pdf.haml"
.scores.classic_report
  .divider1
  .green_heading.big-text
    Competency  “Customer Service Orientation”
  .divider1
  .extra-medium-text
    Trait: Stress Tolerance
  -6.times do
    .divider1

    .gray-darker
      Question to Stakeholder:
    .small-text.color-warning
      Pays minute attention to details while completing a task

    .divider1

    .left-offset1
      .stakeholder_rating_icon.span1.first &nbsp;
      .medium-text.color-average.pull-left
        360&#176; Score: 100.00
      .clr

      .divider1

      .medium-text.black
        Average rating given by 51 Stakeholders

      .border-bottom-grayLighter
        .divider1
        - 6.times do
          .span.color-average
            2 Managers: 100.00
        .clr
        .divider1


  .divider1
  
  .extra-medium-text
    Trait: Stress Tolerance
  .divider1

  .gray-darker
    Question to Self:
  .small-text.color-warning
    Pays minute attention to details while completing a task

  .divider1

  .left-offset1
    .classic_user_icon.span1.first &nbsp;
    .medium-text.color-average.pull-left
      Self Rating: 5
    .clr

    .divider1