.sub-tiltle.large-text
  Comments on Traits under
  = competency_name
.divider2
.bottom-trangle
  .frame
    .trait-comment-heading.medium-text
      Comments on
      %span.trait-name
        = trait_scores[:trait][:name]
        
    .trait-comment-sub-heading
      - if trait_scores[:comments_compulsory] == true
        Comments were Mandatory
      - else
        Comments were Optional
    .divider2
    - if !trait_scores[:comments].present?
      .no-responses
        .box
          No Responses
      .divider1
    - else
      %ul
        - if trait_scores[:comments].values.flatten.any?{|comment| comment[:comment].present?}
          - trait_scores[:comments].each do |role_name, role_wise_comment|
            - if role_wise_comment.any?{ |comment| comment[:comment].present? }
              %li
                .stakeholder.span2.first
                  = role_name.titleize if @report.report_data[:show_stakeholder_type_in_comments_subjective_items]
                .comment-box.span15.pull-right
                  = role_wise_comment.map { |comment| comment[:comment] }.compact.join("; ")
                  .arrow
                .clr
        - else
          %li
            .no-responses
              .box
                No Responses
            .divider1
.divider1
