- if @report.report_data[:mrf_report_show_subjective_responses] && @report.report_data[:subjective_responses_enabled]
  - @report.report_data[:subjective_responses_others].each do |subjective_response_key, subjective_response_value|

    - subjective_response_value[:role_wise_subjective_responses].each do |role,responses|
      - responses.each_slice(7) do |step_responses|
        = render partial: "shared/360/mrf_report_header.pdf.haml"
        .stakeholder-comments.responses
          .divider2
          .blue_heading.extra-large-text
            Responses to Other Questions
          .divider1
          = render :partial => "mrf/assessments/reports/competency_report/pdf/subjective_responses", :locals => { :role => role, :subjective_response_value => subjective_response_value, :step_responses => step_responses}
        .page-break
  - @report.report_data[:subjective_responses_self].each do |subjective_response_key, subjective_response_value|

    - subjective_response_value[:role_wise_subjective_responses].each do |role,responses|
      - responses.each_slice(7) do |step_responses|
        = render partial: "shared/360/mrf_report_header.pdf.haml"
        .stakeholder-comments.responses
          .divider2
          .blue_heading.extra-large-text
            Responses to Other Questions
          .divider1
          = render :partial => "mrf/assessments/reports/competency_report/pdf/subjective_responses", :locals => { :role => role, :subjective_response_value => subjective_response_value, :step_responses => step_responses}
        .page-break
