- if @report.report_data[:mrf_report_data_pts_competencies_avg] || @report.report_data[:mrf_report_data_pts_competencies]
  = render partial: "shared/360/mrf_report_header.pdf.haml"
  #developement_guide_competencies.section03
    .divider1
    .scores
      .blue_heading.extra-large-text
        Data Points on 360&#176; Scores of Competencies
      .divider2
      - if @report.report_data[:mrf_report_data_pts_competencies_avg]
        = render :partial => "mrf/assessments/reports/competency_report/pdf/competency_data_points",:locals =>{:role_wise_scores => @report.report_data[:role_wise_scores]}
      .divider2
