= render partial: "shared/360/mrf_report_header.pdf.haml"
- if @report.report_data[:mrf_report_competency_self_360]
  #scores.section03
    .divider1
    .scores
      .span6.first.pull-left
        .blue_heading.extra-large-text
          Competencies with 360&#176; Scores
        .divider1
        .mrf-benchmark-ranges-block.pull-left
          .pull-left
            Industry Benchmark
          .line.pull-left
          .clr
        .clr
      .scale.mrf.pull-right.right-offset1
        .line
        .marker-container
          - @norm_buckets.each do |norm_bucket|
            .marker
              - if norm_bucket.name.split(" ").size == 1
                %br/
              = norm_bucket.name
        .clr
      .clr
      .divider1
      -#= render :partial => "mrf/assessments/reports/fit_report/pdf/fit", :locals => {:trait_scores => @report.report_data[:trait_scores]}

      .frame.mrf.gray-bg
        %ul.mrf_scores_listing
          - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
            = render :partial => "mrf/assessments/reports/competency_report/pdf/competencies_aggregated", :locals => { :competency_name => competency_name, :competency_scores => competency_scores}
      .divider2
