.scores
  .traits_under_competencies.scores_competencies_graph.section02
    .blue_heading.large-text
      360&#176; Scores: Traits under Competencies
    .divider1
    .graph_instructions.medium-text
      .classic_user_icon.pull-left
      .user_rating.pull-left
        Self Rating
      .stakeholder_rating_icon.span
      .stakeholder_rating.pull-left
        Rating by other Stakeholders
      .overlapped_score
        .span.left-offset1
          Score Overlap is indicated by 
        .competency_overlapped_score_icon.span
        .span
          or
        .trait_overlapped_score_icon.span
        .clr
      .clr
    - page.each do |competency, hash|  
      - competency_scores = @report.report_data[:competency_scores][competency]
      - trait_scores = hash[:pick]
      = render :partial => "mrf/assessments/reports/competency_report/pdf/traits_under_competency_classic_graph", locals: { competency: competency, competency_scores: competency_scores, trait_scores: trait_scores }
