- if @report.report_data[:mrf_report_strength_areas_of_improvement]
  = render partial: "shared/360/mrf_report_header.pdf.haml"
  .strength_weakness_areas.section02
    .scores
      .blue_heading.large-text
        Strength and Areas of Improvement
      .divider2
      - @report.report_data[:strengths_and_areas_of_improvement].each do |type, traits|
        .big-text
          = type.titleize
        .divider1
        %table.section_description.extra-medium-text{:cellpadding=>"0", :cellspacing=>"0", :align=>"top"}
          %tbody
            %tr
              %td.left-info.big-text
                .padding-all1
                  = Rails.application.config.reports["mrf_report"][type.to_s]
              %td.right-info
                .padding-all1
                  - if traits.empty?
                    No such traits
                  - else  
                    %ul.big-text
                      - traits.each do |trait|
                        %li
                          = trait
        .divider2
  .page-break

