%p
  Please feel free to contact us at 
  %a{ href: "mailto:#{Rails.application.config.emails[:jit_recipients][:support]}" }
    #{Rails.application.config.emails[:jit_recipients][:support]}
  if you face any problems or have any queries!
