.p
  About us: Jombay's Talent Measurement & Analytics Platform is powered by People Science (Psychometrics). Jombay's platform measures human behavior. It helps companies in reducing hiring errors, predicting attrition, identifying leadership potential, knowing what differentiates a top performer from an average, among others.
