<p>
  If you wish to opt-out of communications from Employers via Jombay, please <a href='#'>click here to unsubscribe</a>. 
  Please note that doing so may lead to you missing​ communication affecting job/appraisal/development/other opportunities
</p>