body {
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
html, body{
  height: 100%;
}

h1 {
    margin: 0;
}
ul {
    list-style: none outside none;
    margin: 0;
}
a, a:hover {
    text-decoration: none;
}
a, a:focus {
    outline: medium none;
}
p{
  font-size: 18px;
  line-height: 25px;
}
.first {
    margin-left: 0 !important;
}
.wrapper{
  position: relative;
  min-height: 100%;
}
[class*="span"] {
    float: left;
    margin-left: 10px;
}
.color-warning {
    color: #F58220;
}
.extra-medium-text {
    font-size: 16px;
    line-height: 18px;
}
.divider1{
  height: 18px; 
}
.divider6{
  height: 230px; 
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clr{
  clear: both;
}
.container {
    margin: auto;
    width: 1190px;
}

#header{
  background: #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}
#header ul{
  list-style: none;
}
#header .container{
  height: 57px;
}
#header .logo {
  margin-top: 14px;
}
#header .help_number{
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: #414042;
  margin: 0 9px;
  padding: 18px 4px;
  padding-left: 30px; 
  background: url("/images/home/icon-phone.png") no-repeat 0 center;

}
#header .company_name {
  color: #bcbec0;
  font-size: 16px;
  line-height: 21px;
  padding: 18px 0 18px 10px;
}
#header .navbar {
  border-left: 1px solid #CCCCCC;
  margin-top: 1px;
  padding: 0 13px;
}
#header .navbar li {
  float: left;
  font-size: 12px;
  line-height: 18px;
}
#header .navbar li a {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: #414042;
    display: block;
    margin: 0 9px;
    padding: 18px 4px;
}
#header .navbar li a:hover, #header .navbar li a.active {
    border-bottom: 3px solid #F58220;
    color: #F58220;
    text-decoration: none;
}

.btn {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #E6E6E6;
  color: #333333;
}

.btn:hover, .btn:focus {
  background-position: 0 -15px;
  color: #333333;
  text-decoration: none;
  transition: background-position 0.1s linear 0s;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}

.btn-warning {
    background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #F89406;
    color: #FFFFFF;
}

.content{
  background: #fff;
  padding: 30px 335px 50px  50px;
  background: url("/images/error/error_icon.png") no-repeat 680px 120px;
}
.title{
  font-size: 30px;
  line-height: 35px;
}
.sub-title{
  margin-bottom: 40px;
}
.instructions{
  font-size: 13px;
  margin: 0 0 0 15px;
}
.instructions a {
  margin-top: 40px;
  color: #333;
  display: block;
}
.instructions span{
  display: block;
}
.instructions .caption{
  color: #0da1cc;
  font-size: 14px;
  font-weight: bold;
}

[class^="icon"]{
  color: red;
  float: left;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-right: 10px;
  background: url("/images/error/icons.png") no-repeat center center #0da1cc;
}
.icon1{
  background-position: 0px 0px;
}
 
.icon2{
  background-position: 0px -42px;
}

.icon3{
  background-position: 0px -84px;
}
.footer{
  background: #28b29b;
  padding: 18px 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: #fff;
}
.footer ul{
  list-style: none;
  float: left;
  margin-left: 50px;
  padding: 0
}
.footer *{
  color: #fff ;
  font-size: 12px;
}
.footer a:hover{
  color: #F58220;
  text-decoration: none;
}
.footer li{
  padding: 0 10px;
  line-height: 22px;
}
.footer li span{
  color: #002b3b;
}
