body {
  background: url('/images/shared/blue_bg.png');
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
html, body{
  height: 100%;
}

h1 {
    margin: 0;
}
ul {
    list-style: none outside none;
    margin: 0;
}
a, a:hover {
    text-decoration: none;
}
a, a:focus {
    outline: medium none;
}
p{
  font-size: 18px;
  line-height: 25px;
}
.wrapper{
  position: relative;
  min-height: 100%;
}
.divider6{
  height: 108px; 
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clr{
  clear: both;
}
.container {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: auto;
    width: 970px;
}

#nav {
  background: #002B3A;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
#nav h1 {
  font-size: 13px;
  line-height: 18px;
}
#nav a {
  color: #FFFFFF;
  font-size: 13px;
  padding: 10px;
  display: block;
}
#nav a:hover {
  text-decoration: underline;
}
#nav li.active a {
  background: none repeat scroll 0 0 white;
  color: #002B3A;
  font-weight: bold;
}
#nav li.active a:hover {
  cursor: default;
  text-decoration: none;
}
#nav ul {
  margin: 0;
}
#nav li {
  float: left;
  padding: 0 5px;
}
#nav li:last-child {
  padding-right: 0;
}
#nav .header-menu {
  float: right;
}
#nav .navbar-inner.container {
  background: transparent;
  padding: 0 35px;
  width: 900px;
}
#nav #logo {
  float: left;
}
#nav #logo a {
  background: url("/images/shared/jombay-logo.png") no-repeat 0 center;
  display: inline-block;
  text-indent: -100000px;
  width: 195px;
}

.content{
  background: #fff;
  box-shadow: 0 0 10px #7d9da7;
  padding: 30px 335px 50px  50px;
  background: url("/images/error/error_icon.png") no-repeat 680px 120px;
}
.title{
  font-size: 30px;
  line-height: 35px;
}
.sub-title{
  margin-bottom: 40px;
}
.instructions{
  font-size: 13px;
  margin: 0 0 0 15px;
}
.instructions a {
  margin-top: 40px;
  color: #333;
  display: block;
}
.instructions span{
  display: block;
}
.instructions .caption{
  color: #0da1cc;
  font-size: 14px;
  font-weight: bold;
}

[class^="icon"]{
  color: red;
  float: left;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-right: 10px;
  background: url("/images/error/icons.png") no-repeat center center #0da1cc;
}
.icon1{
  background-position: 0px 0px;
}
 
.icon2{
  background-position: 0px -42px;
}

.icon3{
  background-position: 0px -84px;
}
#footer {
  background: #002b3a;
  color: #6eabc1;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer .container {
  margin: 0 auto;
  width: 950px;
}
#footer .copyright{
  font-size: 12px
}
#footer a {
  color: #6EABC1;
  text-decoration: none;
}
#footer a:hover{
  color: #fff;
  text-decoration: underline;
}
#footer .inn {
  background: none;
  padding: 0 35px;
  width: 900px;
  margin: auto;
  border: 0;
}
#footer .inn ul li {
  float: left;
}
#footer ul.footer-menu {
  padding: 15px 0 0 0;
  float: right
}
#footer ul.footer-menu li{
  padding: 0 10px 
} 
#footer ul{
  margin-bottom: 15px
}

#footer .inn .reach-us li {
  padding: 0 5px
}
#footer .inn .reach-us * {
color: #fff;}

