- areas_of_improvements = competency_scores.select{|id,data| !data[:score][:pass]}
- if areas_of_improvements.present?
  .divider2
  .color-info.large-text
    Development Guide on Areas of Improvement
    .divider1
  %ul
    - areas_of_improvements.each do |id, data|
      %li
        .extra-medium-text.line-height2
          = data[:name]
        .medium-text.gray-dark
          = @report.report_data[:competency_guidelines][data[:name]][:guide]
        .divider1.border-bottom-grayLighter
        .divider1
