.content-sub-nav
  .menu
    background: transparent
    border: 1px solid #cccccc
    float: left
    min-width: 170px
    font-size: 18px
    text-align: center
    color: #bcbec0
    border-left: 1px solid #dddddd
    border-bottom: 0
    padding: 8px 10px
    display: block
    margin-left: -1px

    &:first-child
      margin-left: 0

    &:hover
      color: $color-warning
      text-decoration: none
    &.active
      position: relative
      border: 1px solid $color-warning
      border-bottom-color: #fff
      border-bottom: 0
      background: #fff
      color: $color-warning


