.navigation-sub-nav.clearfix.pull-left
  .menu{ class: ([:new].include?(params[:action].to_sym)) ? "active" : "" }
    .count 1
    Enter Test Details
  .menu{ class: ([:competencies].include?(params[:action].to_sym)) ? "active" : "" }
    .count 2
    Choose Competencies
  .menu
    .count 3
    Add Assessment Taker Details
  .menu
    .count 4
    Confirm &amp; Send Assessment
.clr
