.factor-block
  .factor-header
    .title-block.pull-left
      Managing People 
    .score-block.pull-right
      Average  
    .clr
  .visual 
    -10.times do |index|
      %div{:class=>"factor#{index+1}"}
        Customer Satisfaction
    -#use ".less_favorable" or ".favorable" to change the color of text and ".underlined" for underlined Text.  
