= content_for :dont_bundle do
  = stylesheet_link_tag 'recruiters/shared/open_header' 

.header_layout
  .header
    .ynl_logo
      %a{:href => recruiters_root_path}
        = image_tag("ynl-logo.png")
    .header_right_sec
      .navigations
        %ul.menu.unstyled.clearfix
          %li
            %a{:href => new_user_session_path} Log In
          %li
            %a{:href => new_user_registration_path} Register
          %li.selected.fade_blue.medium_text
            %a{:href => "#"} 
              For Job Seekers
        .clr
      .clr
  .clr