%b.large-text
  Forgot Password
.divider3
Please enter your email id and we'll send you instructions to reset your password.
.divider1
.text-center
  =  render :partial => "shared/alert-error"
.divider1
%from
  %input{:type => "text", :placeholder => "Email id"}
  .divider1
  %button.btn.btn-info.pull-right
    Submit
  .clr