%b.large-text
  Forgot Password
.divider3
= render :partial => "shared/user-alerts"
Please enter your email id and we'll send you instructions to reset your password.
.divider1
= form_for(:user, :url => send_reset_password_path, method: :post) do |f|
  = f.text_field :email, :placeholder => "Email ID"
  .divider1
  %button.btn.btn-info.pull-right
    Submit
  .clr
