.divider7
.span18.text-center.margin-auto.line-height2
  .padding-all1.big-text.border-warning
    Link to reset password has been emailed to #{params[:user][:email]}
    %br/
    Please click the link in the email received to reset your Jombay password
  .divider3
  .sent-icon
  .divider3
