- if @company
  .password_setting
    = render :partial => "shared/sub-nav-companies"
    .inn.first
      .page-title
        Settings
    .inn.gray-gradient
      .pull-left.sub-nav
        = render :partial => "shared/settings-content-sub-nav"
      .clr
      = render :partial => "users/password_settings"
- else
  = render :partial => "users/password_settings"    
