- if @company
  .password_setting
    = render :partial => "shared/sub-nav"
    .inn.first
      .page-title
        Settings
    .inn.gray-gradient
      = render :partial => "shared/settings-content-sub-nav"
      .clr
      = render :partial => "users/password_settings"
- else
  = render :partial => "users/password_settings"    
