
- content_for :notification_bar do
  = ""
= render :partial => "shared/user-alerts"
.divider5
.span14.left-offset1
  .page-title 
    Set New Password for
    .color-warning
      example@abc.com
  .divider2
  .span12.border-primary.first
    = form_for(:user, :url => update_password_path, method: :put) do |f|
      .divider2
      .span8.margin-auto.extra-medium-text
        .control-group
          %input{type: "password", :class => "fw", :name => "user[password]", :placeholder => "Enter a password"}
  
        .control-group
          %input{type: "password", :class => "fw", :name => "user[password_confirmation]", :placeholder => "Re-enter password to confirm"}

        %input{type: "hidden", name: "user[reset_password_token]", value: params[:reset_password_token]}
        .divider1
        %button.large-text.btn.btn-warning.pull-right{:title=>"Log In To Jombay!"}
          Submit
        .clr
      .clr
      .divider2
    .clr
.span14
  .extra-large-text
    What makes a password strong (or weak)?
  .divider1
  %b.extra-medium-text.gray-dark
    A strong password:
  .divider1
  %ul.disc.extra-medium-text.gray-dark
    %li 
      Is at least eight characters long.
      .divider1

    %li 
      Does not contain your user name, real name, or company name.
      .divider1

    %li 
      Does not contain a complete word.
      .divider1

    %li 
      Is significantly different from previous passwords.
      .divider1
.clr
.divider2