%b.large-text
  Reset Password
.divider1
= render :partial => "shared/user-alerts"
= form_for(:user, :url => update_password_path, method: :put) do |f|
  %input{type: "password", :name => "user[password]", :placeholder => "New Password"}
  %input{type: "password", :name => "user[password_confirmation]", :placeholder => "Confirm Password"}
  %input{type: "hidden", name: "user[reset_password_token]", value: params[:reset_password_token]}
  %button.btn.btn-info.pull-right
    Reset
  .clr
