%b.large-text
  Reset Password
.divider1
- if flash[:error].present?
  .text-center
    =  render :partial => "shared/alert-error"
%from
  %input{:type => "text", :placeholder => "Email id"}
  %input{:type => "password", :placeholder => "Confirm Password"}
  %input{:type => "password", :placeholder => "New Password"}
  %button.btn.btn-info.pull-right
    Reset
  .clr
