.assessor_feedback
  .container
    .divider2
    .frame.bg-gray
      .heading.line-height3
        Assessor&#39;s Feedback 

      .padding-all2.extra-medium-text
        #{@report.report_data[:assessor_feedback]}
    .divider2
  