.competency_description
  .container
    .divider2
    .title
      Competency Descriptions
    .divider2
    %table{ width: "100%", :cellspacing=> "0", :cellpadding=> "0" }
      - @report.report_data[:super_competency_scores].each do |name, data|
        %tr
          %td.left{ style: "width:20%" }
            .span3
              = data[:name]

          %td.right{ style: "width:80%" }
            = data[:description]
    .divider2
.divider2
