.overview.tool_wise
  .container
    .divider2
    .title
      Toolwise View of Competencies / Values Measured
    .divider2
    .content
      %ul.competency-list
        %li.overview-title
          .span11.text-left.no-border.line-height2
            Competency
          .pull-right
            - @report.report_data[:super_competency_configuration][:toolwise_configuration].each do |tool,config|
              .span3.no-border.text-center
                = tool.titleize
            .clr
          .clr
        - competencies = @report.report_data[:super_competency_configuration][:toolwise_configuration].values.flatten.map{|x| x.values.map{|k| k["name"] } }.flatten.uniq
        - competencies.each do |competency|
          %li.extra-medium-text
            .span11
              = truncate competency, :length => 55
            .pull-right
              - @report.report_data[:super_competency_configuration][:toolwise_configuration].each do |tool,config|
                - checked = config.values.find{|x| x["name"] == competency }.present?
                .span3.text-center
                  - if checked
                    %i.icon-ok-sign
                  - else
                    \-  
              .clr
            .clr
        
    .divider2
