.competency_description
  .container
    .divider2
    .title
      Competency Description
    .divider2
    %table{ :cellspacing=> "0", :cellpadding=> "0" }
      -3.times do
        %tr
          %td.left
            .span3.margin-auto
              Competency Name

          %td.right
            Works towards building relationships with customers by providing world class service. Demonstrates a customer focused mindset and contributes towards enhancing the overall experience. Uses customer insights to help provide inputs on new and improved customer offerings. Is looked upon as a trusted advisor who aids in providing best advice to suit customer needs. Uses skills and abilities to ensure that the customer stays engaged at all cost.
    .divider2
.divider2