#overview.section01
  .divider3
  .overall_report.container
    - section_value.each do |value|
      = render :partial => value["path"], :locals => {:section_value => value["children"]}
  .clr
  .divider3