#overview.header-container
  #header
    .container
      .pull-right
        - section_value.each do |section|
          = render :partial => section["path"], locals: { section_value: section["children"] }
.divider3
