.divider2
.individual_development_plan
  .container
    .divider1
    %table
      %tr
        %td{:colspan=>"5"}
          Individual Development Plan
      %tr
        %td
          .span5
            What are my Goals?
          .clr
        %td
          .sapn8
            What do I have to do to achive these goals?
          .clr
        %td
          .span5 What Support andResources will I need?
          .clr
        %td
          .span5 How will I measure success?
          .clr
        %td
          .span3 Target Date for Review
          .clr
      -2.times do
        %tr
          -5.times do
            %td
              \-
  .divider2              
