.container
  .divider2
  .frame.bg-gray
    .heading 
      Overall Feedback
    .padding-all2.extra-medium-text
      Some text Some textSome text Some textSome text Some text  Some textSome text
  .divider1
  .clr