.overview.tool_wise
  .container
    .divider2
    .title
      Toolwise View of Competencies / Values Measured
    .divider2
    .content
      %ul.competency-list
        %li.large-text.clearfix.black.overview-title.border-bottom-grayDark
          .span11.title.text-left
            Competency
          .span3.title
            Psychometry
          .span3.title.first
            Personal Interview
          .span3.title.first
            Group Discussion
          .span3.title.first
            SJT
          .span3.title.first
            Case Studies
          .span3.title.first
            E-Trays

        -5.times do
          %li.extra-medium-text.clearfix
            -#.favorable.first.hexagon-icon.span1
            .span11
              = truncate "Responsibility of outcomes sample Lorem ipsum text check length punctuality agreeablenes", :length => 55
            .span3.text-center
              %i.icon-ok.color-info
            .span3.text-center.first
              %i.icon-remove.gray-lighter
            .span3.text-center.first
              %i.icon-ok.color-info
            .span3.text-center.first
              %i.icon-remove.gray-lighter
            .span3.text-center.first
              %i.icon-ok.color-info
            .span3.text-center.first
              %i.icon-remove.gray-lighter
        
    .divider1
    .divider1.border-bottom-grayLighter
