.partners.text-center
  .container
    .divider2
    .big-text
      Partners
    .divider1
    .partner_logos
      - @report.report_data[:tools].map{|x,y| y[:logo].present? ? y[:logo] : nil }.compact.uniq.each do |logo|
        = image_tag("report/html/oac/partner_logos/#{logo}")
    .divider1
