.partners.text-right
  .container
    .divider1
    - if @report.report_data[:company][:logo_url]
      .span2.first
        - url = @report.report_data[:company][:logo_url]
        = image_tag(url)
    .pull-right
      .divider1
      .large-text.pull-left{:style => "padding-right: 22px"}
        Powered by
      .partner_logos.pull-left
        - @report.report_data[:tools].map{|x,y| y[:logo].present? ? y[:logo] : nil }.compact.uniq.each do |logo|
          = image_tag("report/html/oac/partner_logos/#{logo}")
      .clr
    .clr
    .divider1
.divider6
