.tool_description
  .container
    .divider2
    .title
      Tool Descriptions
    .divider2
    %table{ :cellspacing=> "0", :cellpadding=> "0", :width=>"100%" }
      - @report.report_data[:tools].each do |tool, data|
        %tr
          %td.left
            .span3.margin-auto
              = tool

          %td.right
            = data[:description]
    .divider2
.divider2
