#developement_guide_traits.section03
  .divider1
  .scores.container
    .title
      Data Points about #{get_assessment_purpose(@report)}&#176; Scores 
    .divider2
    - section_value.each do |section|
      = render :partial => section["path"]