#distribution_data_points
  .divider1
  .scores.container
    .title
      Data Points about 360 Degree Scores
    .divider2
    - @report.report_data[:trait_scores].each do |trait_score|  
      - locals_hash = { trait_score: trait_score }
      .frame.mrf.gray-bg
        .divider2
        .heading.pull-left.large-text.left-offset1
          For the trait
          "#{trait_score[:trait][:name]}"
        .clr
        .divider2
        - section_value.each do |section|
          - locals = Hash[section["locals"].map { |key, value| [key.to_sym, locals_hash[key.to_sym]] }]
          = render :partial => section["path"], locals: locals
      .divider2                  
