.stakeholder-comments
  .container
    .divider2
    .title
      Stakeholder Comments on Traits
    .divider2
    - section_value.each do |section|
      = render :partial => section["path"]
  .divider3
