.span6
  = test_link_statuses[candidate_assessment.link_status]
  #{hdate candidate_assessment.completed_at}, #{htime candidate_assessment.completed_at} Hrs
- if is_superadmin?    
  .span2.big-text.first
    &nbsp;
