.mrf_navigation-sub-nav.navigation-sub-nav.clearfix.pull-left
  .menu{class: "active"}
    .count 1
    Enter the details
  .menu
    .count 2
    Select Competencies
  .menu
    .count 3
    Select Questions
  .menu
    .count 4
    Select Weightages
  .menu
    .count 5
    Subjective Questions
  .menu
    .count 6
    Send the Exercise

.clr
