.candidate-summary-nav.clearfix
  %a.menu{ class: (params[:action] == "candidates" ? "active" : ""),:href => candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Candidates"}
    Candidates     
  %a.menu{ class: (params[:action] == "show" ? "active" : ""), :href => company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Summary"}
    Summary     
