.content-sub-nav.clearfix
  %a.menu{ class: (["candidate","candidates"].include?(params[:action]) ? "active" : ""),:href => candidates_company_benchmark_path(:company_id => params[:company_id], :id => params[:id]), :title => "Candidates"}
    Candidates     
  %a.menu{ class: (["show"].include?(params[:action]) ? "active" : ""), :href => company_benchmark_path(:company_id => params[:company_id], :id => params[:id]), :title => "Summary"}
    Results
.clr
