.footer 
  .container 
    .pull-left
      Jombay &copy; #{Time.now.year.to_s}
    .pull-right
      %a{:href=>"http://products.jombay.com/terms-and-conditions/", :title=> "Jombay's Terms, Policies", :target=>"_blank"}
        Jombay's Terms, Policies