#header
  .container
    .logo.pull-left
      = link_to(image_tag("jombay-logo.png"), "/")
    - if defined?(@company)  
      .span7.company_name
        = @company.name  
    .span19.pull-right
      %ul#sub-nav.pull-right
        %li
          %a.setting{href: "#", title: "Account"}             
          %ul
            - if defined?(@company)
              %li
                %a{:href=>statistics_company_path(@company)} Usage
              %li
                %a{:href=>company_path(@company)} Settings
              %li
                %a{:href=>company_training_requirement_groups_path(@company)} Traning Requirements
              %li
                %a{:href=>company_walkin_groups_path(@company)} Walk-Ins
              %li
                %a{:href=>company_benchmarks_path(@company)} Benchmarks
            %li
              %a{href: "/logout"} Logout
      %a.label.label-warning.label-small.pull-right{:href=>"#", :title=> "UPGRADE ACCOUNT"}
        UPGRADE ACCOUNT

      %ul.navbar.pull-right.clearfix        
        - if defined?(@company)
          - if current_user.type == "SuperAdmin"            
            %li
              %a{:href=>companies_path(), :title=> "COMPANIES"}
                COMPANIES
          - if current_user.type == "Admin"
            %li
              %a{:href=>home_company_path(@company), :title=> "HOME"}
                HOME
          %li
            %a{:href=>company_assessments_path(@company), :title=> "ASSESSMENTS"}
              ASSESSMENTS
          %li
            %a{:href=>"#", :title=> "REPORTS"}
              REPORTS

          - else
            %li
              %a{:href=>companies_path(), :title=> "COMPANIES"}
                COMPANIES

        %li
          %a{:href=>help_adding_candidates_path(), :title=> "HELP"}
            HELP
      .clr
    .clr

      
/ %a.userName.logout.pull-right{:href => logout_path, :title => "Logout"}
/   Logout
