#header
  .container
    .logo.pull-left
      = link_to(image_tag("jombay-logo.png"), "/")
    - if defined?(@company)  
      .span7.company_name
        = @company.name  
    .span19.pull-right
      
      %ul#sub-nav.pull-right
        %li
          %a.setting{href: "#", title: "Account"} 
            
          %ul
            %li
              %a{href: "#"} Usage
            %li
              %a{href: "#"} Settings
            %li
              %a{href: "#"} Traning Requirements
            %li
              %a{href: "#"} Walk-Ins
            %li
              %a{href: "#"} Benchmarks
            %li
              %a{href: "#"} Logout
      %a.label.label-warning.label-small.pull-right{:href=>"#", :title=> "UPGRADE ACCOUNT"}
        UPGRADE ACCOUNT
      
      %ul.navbar.pull-right.clearfix
        %li
          %a{:href=>"#", :title=> "HOME"}
            HOME
        %li
          %a{:href=>"#", :title=> "ASSESSMENTS"}
            ASSESSMENTS
        %li
          %a{:href=>"#", :title=> "REPORTS"}
            REPORTS
        %li
          %a{:href=>"#", :title=> "HELP"}
            HELP
      .clr
    .clr

      
/ %a.userName.logout.pull-right{:href => logout_path, :title => "Logout"}
/   Logout
