%ul#icons
  %li
    .icon-glass
      icon-glass
  %li
    .icon-music
      icon-music
  %li
    .icon-search
      icon-search
  %li
    .icon-envelope
      icon-envelope
  %li
    .icon-heart
      icon-heart
  %li
    .icon-star
      icon-star
  %li
    .icon-star-empty
      icon-star-empty
  %li
    .icon-user
      icon-user
  %li
    .icon-film
      icon-film
  %li
    .icon-th-large
      icon-th-large
  %li
    .icon-th
      icon-th
  %li
    .icon-th-list
      icon-th-list
  %li
    .icon-ok
      icon-ok
  %li
    .icon-remove
      icon-remove
  %li
    .icon-zoom-in
      icon-zoom-in
  %li
    .icon-zoom-out
      icon-zoom-out
  %li
    .icon-off
      icon-off
  %li
    .icon-signal
      icon-signal
  %li
    .icon-cog
      icon-cog
  %li
    .icon-trash
      icon-trash
  %li
    .icon-home
      icon-home
  %li
    .icon-file
      icon-file
  %li
    .icon-time
      icon-time
  %li
    .icon-road
      icon-road
  %li
    .icon-download-alt
      icon-download-alt
  %li
    .icon-download
      icon-download
  %li
    .icon-upload
      icon-upload
  %li
    .icon-inbox
      icon-inbox
  %li
    .icon-play-circle
      icon-play-circle
  %li
    .icon-repeat
      icon-repeat
  // \f020 doesn't work in Safari. all shifted one down
  %li
    .icon-refresh
      icon-refresh
  %li
    .icon-list-alt
      icon-list-alt
  %li
    .icon-lock
      icon-lock
  %li
    .icon-flag
      icon-flag
  %li
    .icon-headphones
      icon-headphones
  %li
    .icon-volume-off
      icon-volume-off
  %li
    .icon-volume-down
      icon-volume-down
  %li
    .icon-volume-up
      icon-volume-up
  %li
    .icon-qrcode
      icon-qrcode
  %li
    .icon-barcode
      icon-barcode
  %li
    .icon-tag
      icon-tag
  %li
    .icon-tags
      icon-tags
  %li
    .icon-book
      icon-book
  %li
    .icon-bookmark
      icon-bookmark
  %li
    .icon-print
      icon-print
  %li
    .icon-camera
      icon-camera
  %li
    .icon-font
      icon-font
  %li
    .icon-bold
      icon-bold
  %li
    .icon-italic
      icon-italic
  %li
    .icon-text-height
      icon-text-height
  %li
    .icon-text-width
      icon-text-width
  %li
    .icon-align-left
      icon-align-left
  %li
    .icon-align-center
      icon-align-center
  %li
    .icon-align-right
      icon-align-right
  %li
    .icon-align-justify
      icon-align-justify
  %li
    .icon-list
      icon-list
  %li
    .icon-indent-left
      icon-indent-left
  %li
    .icon-indent-right
      icon-indent-right
  %li
    .icon-facetime-video
      icon-facetime-video
  %li
    .icon-picture
      icon-picture
  %li
    .icon-pencil
      icon-pencil
  %li
    .icon-map-marker
      icon-map-marker
  %li
    .icon-adjust
      icon-adjust
  %li
    .icon-tint
      icon-tint
  %li
    .icon-edit
      icon-edit
  %li
    .icon-share
      icon-share
  %li
    .icon-check
      icon-check
  %li
    .icon-move
      icon-move
  %li
    .icon-step-backward
      icon-step-backward
  %li
    .icon-fast-backward
      icon-fast-backward
  %li
    .icon-backward
      icon-backward
  %li
    .icon-play
      icon-play
  %li
    .icon-pause
      icon-pause
  %li
    .icon-stop
      icon-stop
  %li
    .icon-forward
      icon-forward
  %li
    .icon-fast-forward
      icon-fast-forward
  %li
    .icon-step-forward
      icon-step-forward
  %li
    .icon-eject
      icon-eject
  %li
    .icon-chevron-left
      icon-chevron-left
  %li
    .icon-chevron-right
      icon-chevron-right
  %li
    .icon-plus-sign
      icon-plus-sign
  %li
    .icon-minus-sign
      icon-minus-sign
  %li
    .icon-remove-sign
      icon-remove-sign
  %li
    .icon-ok-sign
      icon-ok-sign
  %li
    .icon-question-sign
      icon-question-sign
  %li
    .icon-info-sign
      icon-info-sign
  %li
    .icon-screenshot
      icon-screenshot
  %li
    .icon-remove-circle
      icon-remove-circle
  %li
    .icon-ok-circle
      icon-ok-circle
  %li
    .icon-ban-circle
      icon-ban-circle
  %li
    .icon-arrow-left
      icon-arrow-left
  %li
    .icon-arrow-right
      icon-arrow-right
  %li
    .icon-arrow-up
      icon-arrow-up
  %li
    .icon-arrow-down
      icon-arrow-down
  %li
    .icon-share-alt
      icon-share-alt
  %li
    .icon-resize-full
      icon-resize-full
  %li
    .icon-resize-small
      icon-resize-small
  %li
    .icon-plus
      icon-plus
  %li
    .icon-minus
      icon-minus
  %li
    .icon-asterisk
      icon-asterisk
  %li
    .icon-exclamation-sign
      icon-exclamation-sign
  %li
    .icon-gift
      icon-gift
  %li
    .icon-leaf
      icon-leaf
  %li
    .icon-fire
      icon-fire
  %li
    .icon-eye-open
      icon-eye-open
  %li
    .icon-eye-close
      icon-eye-close
  %li
    .icon-warning-sign
      icon-warning-sign
  %li
    .icon-plane
      icon-plane
  %li
    .icon-calendar
      icon-calendar
  %li
    .icon-random
      icon-random
  %li
    .icon-comment
      icon-comment
  %li
    .icon-magnet
      icon-magnet
  %li
    .icon-chevron-up
      icon-chevron-up
  %li
    .icon-chevron-down
      icon-chevron-down
  %li
    .icon-retweet
      icon-retweet
  %li
    .icon-shopping-cart
      icon-shopping-cart
  %li
    .icon-folder-close
      icon-folder-close
  %li
    .icon-folder-open
      icon-folder-open
  %li
    .icon-resize-vertical
      icon-resize-vertical
  %li
    .icon-resize-horizontal
      icon-resize-horizontal
  %li
    .icon-bar-chart
      icon-bar-chart
  %li
    .icon-twitter-sign
      icon-twitter-sign
  %li
    .icon-facebook-sign
      icon-facebook-sign
  %li
    .icon-camera-retro
      icon-camera-retro
  %li
    .icon-key
      icon-key
  %li
    .icon-cogs
      icon-cogs
  %li
    .icon-comments
      icon-comments
  %li
    .icon-thumbs-up
      icon-thumbs-up
  %li
    .icon-thumbs-down
      icon-thumbs-down
  %li
    .icon-star-half
      icon-star-half
  %li
    .icon-heart-empty
      icon-heart-empty
  %li
    .icon-signout
      icon-signout
  %li
    .icon-linkedin-sign
      icon-linkedin-sign
  %li
    .icon-pushpin
      icon-pushpin
  %li
    .icon-external-link
      icon-external-link
  %li
    .icon-signin
      icon-signin
  %li
    .icon-trophy
      icon-trophy
  %li
    .icon-github-sign
      icon-github-sign
  %li
    .icon-upload-alt
      icon-upload-alt
  %li
    .icon-lemon
      icon-lemon
  %li
    .icon-phone
      icon-phone
  %li
    .icon-check-empty
      icon-check-empty
  %li
    .icon-bookmark-empty
      icon-bookmark-empty
  %li
    .icon-phone-sign
      icon-phone-sign
  %li
    .icon-twitter
      icon-twitter
  %li
    .icon-facebook
      icon-facebook
  %li
    .icon-github
      icon-github
  %li
    .icon-unlock
      icon-unlock
  %li
    .icon-credit-card
      icon-credit-card
  %li
    .icon-rss
      icon-rss
  %li
    .icon-hdd
      icon-hdd
  %li
    .icon-bullhorn
      icon-bullhorn
  %li
    .icon-bell
      icon-bell
  %li
    .icon-certificate
      icon-certificate
  %li
    .icon-hand-right
      icon-hand-right
  %li
    .icon-hand-left
      icon-hand-left
  %li
    .icon-hand-up
      icon-hand-up
  %li
    .icon-hand-down
      icon-hand-down
  %li
    .icon-circle-arrow-left
      icon-circle-arrow-left
  %li
    .icon-circle-arrow-right
      icon-circle-arrow-right
  %li
    .icon-circle-arrow-up
      icon-circle-arrow-up
  %li
    .icon-circle-arrow-down
      icon-circle-arrow-down
  %li
    .icon-globe
      icon-globe
  %li
    .icon-wrench
      icon-wrench
  %li
    .icon-tasks
      icon-tasks
  %li
    .icon-filter
      icon-filter
  %li
    .icon-briefcase
      icon-briefcase
  %li
    .icon-fullscreen
      icon-fullscreen
  %li
    .icon-group
      icon-group
  %li
    .icon-link
      icon-link
  %li
    .icon-cloud
      icon-cloud
  %li
    .icon-beaker
      icon-beaker
  %li
    .icon-cut
      icon-cut
  %li
    .icon-copy
      icon-copy
  %li
    .icon-paper-clip
      icon-paper-clip
  %li
    .icon-save
      icon-save
  %li
    .icon-sign-blank
      icon-sign-blank
  %li
    .icon-reorder
      icon-reorder
  %li
    .icon-list-ul
      icon-list-ul
  %li
    .icon-list-ol
      icon-list-ol
  %li
    .icon-strikethrough
      icon-strikethrough
  %li
    .icon-underline
      icon-underline
  %li
    .icon-table
      icon-table
  %li
    .icon-magic
      icon-magic
  %li
    .icon-truck
      icon-truck
  %li
    .icon-pinterest
      icon-pinterest
  %li
    .icon-pinterest-sign
      icon-pinterest-sign
  %li
    .icon-google-plus-sign
      icon-google-plus-sign
  %li
    .icon-google-plus
      icon-google-plus
  %li
    .icon-money
      icon-money
  %li
    .icon-caret-down
      icon-caret-down
  %li
    .icon-caret-up
      icon-caret-up
  %li
    .icon-caret-left
      icon-caret-left
  %li
    .icon-caret-right
      icon-caret-right
  %li
    .icon-columns
      icon-columns
  %li
    .icon-sort
      icon-sort
  %li
    .icon-sort-down
      icon-sort-down
  %li
    .icon-sort-up
      icon-sort-up
  %li
    .icon-envelope-alt
      icon-envelope-alt
  %li
    .icon-linkedin
      icon-linkedin
  %li
    .icon-undo
      icon-undo
  %li
    .icon-legal
      icon-legal
  %li
    .icon-dashboard
      icon-dashboard
  %li
    .icon-comment-alt
      icon-comment-alt
  %li
    .icon-comments-alt
      icon-comments-alt
  %li
    .icon-bolt
      icon-bolt
  %li
    .icon-sitemap
      icon-sitemap
  %li
    .icon-umbrella
      icon-umbrella
  %li
    .icon-paste
      icon-paste
  %li
    .icon-lightbulb
      icon-lightbulb
  %li
    .icon-exchange
      icon-exchange
  %li
    .icon-cloud-download
      icon-cloud-download
  %li
    .icon-cloud-upload
      icon-cloud-upload
  %li
    .icon-user-md
      icon-user-md
  %li
    .icon-stethoscope
      icon-stethoscope
  %li
    .icon-suitcase
      icon-suitcase
  %li
    .icon-bell-alt
      icon-bell-alt
  %li
    .icon-coffee
      icon-coffee
  %li
    .icon-food
      icon-food
  %li
    .icon-file-alt
      icon-file-alt
  %li
    .icon-building
      icon-building
  %li
    .icon-hospital
      icon-hospital
  %li
    .icon-ambulance
      icon-ambulance
  %li
    .icon-medkit
      icon-medkit
  %li
    .icon-fighter-jet
      icon-fighter-jet
  %li
    .icon-beer
      icon-beer
  %li
    .icon-h-sign
      icon-h-sign
  %li
    .icon-plus-sign-alt
      icon-plus-sign-alt
  %li
    .icon-double-angle-left
      icon-double-angle-left
  %li
    .icon-double-angle-right
      icon-double-angle-right
  %li
    .icon-double-angle-up
      icon-double-angle-up
  %li
    .icon-double-angle-down
      icon-double-angle-down
  %li
    .icon-angle-left
      icon-angle-left
  %li
    .icon-angle-right
      icon-angle-right
  %li
    .icon-angle-up
      icon-angle-up
  %li
    .icon-angle-down
      icon-angle-down
  %li
    .icon-desktop
      icon-desktop
  %li
    .icon-laptop
      icon-laptop
  %li
    .icon-tablet
      icon-tablet
  %li
    .icon-mobile-phone
      icon-mobile-phone
  %li
    .icon-circle-blank
      icon-circle-blank
  %li
    .icon-quote-left
      icon-quote-left
  %li
    .icon-quote-right
      icon-quote-right
  %li
    .icon-spinner
      icon-spinner
  %li
    .icon-circle
      icon-circle
  %li
    .icon-reply
      icon-reply
  %li
    .icon-github-alt
      icon-github-alt
  %li
    .icon-folder-close-alt
      icon-folder-close-alt
  %li
    .icon-folder-open-alt
      icon-folder-open-alt