.divider2
.span30{ class: is_superuser? ? "" : 'hide' }
  .control-group
    %label
      Select Candidate Type
    %select.span10.first{name: 'candidate_type', id: 'set_candidate_type'}
      %option{:value => ""}
        Select Assessment Type
        %option{:value => "employed"}
          EMPLOYED
        %option{:value => "candidate"}
          CANDIDATE
    .clr  
  .pull-left
    %h1.text-center
      HTML Report Sections 
    #html_configuration
    %br
    %button.btn.btn-info.large-text.bold{:id => "generate_html_preview", type: "html"}
      Generate HTML Preview
  .pull-left
    %h1.text-center
      PDF Report Sections
    #pdf_configuration
    %br
    %button.btn.btn-info.large-text.bold{:id => "generate_pdf_preview", type: "pdf"}
      Generate PDF Preview
  .clr
  .divider2
- if is_superuser?
  - content_for :iframe do
    %iframe#iframe1.hide{:style =>"height: 1000px;width:99.7%;margin:auto;overflow:auto;"}

= javascript_include_tag "set_report_configration"