.footer.clearfix
  .medium-text.pull-left
    = render :partial => "assessment_reports/navigation.html.haml", :locals => { :current_page => current_page }
  .left-offset1.pull-left
    Private & Confidential
  .medium-text.pull-right 
    &copy; Jombay 
