.divider2
.span30{ class: is_superadmin? ? "" : 'hide' }
  .pull-left
    %h1.text-center
      HTML Report Sections 
    #html_configuration
    %br
    %button.btn.btn-info.large-text.bold{:id => "generate_html_preview", type: "html"}
      Generate HTML Preview
  .pull-left
    %h1.text-center
      PDF Report Sections
    #pdf_configuration
    %br
    %button.btn.btn-info.large-text.bold{:id => "generate_pdf_preview", type: "pdf"}
      Generate PDF Preview
  .clr
  .divider2
- if is_superadmin?
  - content_for :iframe do
    %iframe#iframe1.hide{:style =>"height: 1000px;width:99.7%;margin:auto;overflow:auto;"}

= javascript_include_tag "set_report_configration"
