.divider2
.span30{ class: is_superadmin? ? "" : 'hide' }
  .pull-left
    %h1.text-center
      HTML Report Sections 
    #html_configuration
    %br
    %button.btn.btn-info.large-text.bold{:id => "generate_html_preview"}
      Generate HTML Preview
  .pull-left
    %h1.text-center
      PDF Report Sections
    #pdf_configuration
    %br
    %button.btn.btn-info.large-text.bold{:id => "generate_pdf_preview"}
      Generate PDF Preview
  .clr
.divider2


= javascript_include_tag "mrf/enableSections"
