.content-sub-nav.clearfix
  %a.menu{:title => "Company Profile", :href => "#"}
    Company Profile
  %a.menu{:title => "Password Settings", :href => "#"}
    Password Settings
  %a.menu.active{:title => "User Settings", :href => "#"}
    User Settings
              