.content-sub-nav.clearfix
  %a.menu{:title => "Company Profile", :href => company_path(@company), class: "#{ ['show'].include?(params[:action]) ? 'active':''  }"}
    Company Profile
  %a.menu{:title => "Password Settings", :href => password_settings_path, class: "#{ ['password_settings'].include?(params[:action]) ? 'active':''  }"}
    Password Settings
  %a.menu{:title => "User Settings", :href => user_settings_company_path(@company), class: "#{ ['user_settings','add_users', 'remove_users'].include?(params[:action]) ? 'active':''  }" }
    User Settings
  %a.menu{:title => "Data", :href => competencies_company_path(@company), class: "#{ ['competencies'].include?(params[:action]) ? 'active':''  }" }
    Data
    
