.content-sub-nav.clearfix
  - if @company
    %a.menu{:title => "Company Profile", :href => company_path(@company), class: "#{ ['show'].include?(params[:action]) ? 'active':''  }"}
      Company Profile
  %a.menu{:title => "Password Settings", :href => password_settings_path, class: "#{ ['password_settings'].include?(params[:action]) ? 'active':''  }"}
    Password Settings
  - if current_user.type == "SuperAdmin"  
    %a.menu{:title => "User Settings", :href => user_settings_company_path(@company.id), class: "#{ ['user_settings','add_users', 'remove_users'].include?(params[:action]) ? 'active':''  }" }
      User Settings
    %a.menu{:title => "Company Managers", :href => company_managers_company_path(@company), class: "#{ ['company_managers'].include?(params[:action]) ? 'active':''  }" }
      Company Managers  
  .clr    
