.page-sub-nav.clearfix
  .company-logo.pull-left
    = image_tag("http://placehold.it/36x26")
  .company-name.span11
    Wipro Technologies
  .navigation.pull-right.clearfix
    %ul.unstyled.clearfix
      %li
        %a{:href=> company_assessments_path(:company_id => params[:company_id]), :title=>"Test"} 
          %span.icon-pencil 
          Test
      %li.active
        %a{:href=> statistics_company_path(:id => params[:company_id]), :title=>"Statistics"} 
          %span.icon-pie 
          Statistics
      %li
        %a{:href=> settings_company_path(:id => params[:company_id]), :title=>"Settings"} 
          %span.icon-cog
          Settings
