.page-sub-nav.clearfix
  //.company-logo.pull-left
  //  = image_tag("http://placehold.it/36x26")
  .navigation.pull-right.clearfix
    %ul.unstyled.clearfix
      - if current_user.type == "SuperAdmin"
        %li{ class: (["training_requirement_groups"].include?(params[:controller]) ? 'active' : '') }
          %a{:title => "Training Requirements", :href => company_training_requirement_groups_path(@company)}
            %span.icon-align-left
            Training Requirements
        %li{ class: (["walkin_groups"].include?(params[:controller]) ? 'active' : '') }
          %a{:title => "Walk-Ins", :href => company_walkin_groups_path(@company)}
            %span.icon-run
            Walk-Ins    
        %li{ class: (["suitability/benchmarks/candidate_assessments","suitability/benchmarks"].include?(params[:controller]) ? 'active' : '') }
          %a{ :href=> company_benchmarks_path(@company), :title=>"Benchmarks"} 
            %span.icon-j-guy 
            Benchmarks
      %li{ class: (["suitability/custom_assessments/candidate_assessments","suitability/custom_assessments/training_requirements_reports","suitability/custom_assessments"].include?(params[:controller]) ? 'active' : '') }
        %a{ :href=> company_custom_assessments_path(@company), :title=>"Tests"} 
          %span.icon-pencil 
          Tests
      %li{ class: (["company_statistics"].include?(params[:controller]) ? 'active' : '') }
        %a{ :href=> statistics_company_path(@company), :title=>"Statistics" }  
          %span.icon-pie 
          Usage
      %li{ class: (["company_settings", "companies", "users"].include?(params[:controller]) ? 'active' : '') }
        %a{:href=> company_path(@company), :title=>"Settings"} 
          %span.icon-cog
          Settings
