.page-sub-nav.clearfix
  //.company-logo.pull-left
  //  = image_tag("http://placehold.it/36x26")
  .company-name.span10
    = @company.name
  .navigation.pull-right.clearfix
    %ul.unstyled.clearfix
      %li
        %a{:title => "Walk-Ins", :href => "/companies/2/benchmarks/"}
          %span.icon-run
          Walk-Ins
      - if current_user.type == "SuperAdmin"
        %li{ class: (["benchmarks/candidate_assessments","benchmarks"].include?(params[:controller]) ? 'active' : '') }
          %a{ :href=> company_benchmarks_path(@company), :title=>"Benchmarks"} 
            %span.icon-j-guy 
            Benchmarks
      %li{ class: (["assessments/candidate_assessments","assessments/training_requirements_reports","assessments"].include?(params[:controller]) ? 'active' : '') }
        %a{ :href=> company_assessments_path(@company), :title=>"Tests"} 
          %span.icon-pencil 
          Tests
      %li{ class: (["company_statistics"].include?(params[:controller]) ? 'active' : '') }
        %a{ :href=> statistics_company_path(@company), :title=>"Statistics" }  
          %span.icon-pie 
          Usage
      %li{ class: (["company_settings", "companies", "users"].include?(params[:controller]) ? 'active' : '') }
        %a{:href=> user_settings_company_path(@company), :title=>"Settings"} 
          %span.icon-cog
          Settings
