.test-flow-sub-nav.clearfix.pull-left
  .menu{ class: [:new, :norms, :styles].include?(params[:action].to_sym) ? "active" : "" }
    1 &nbsp; Create Test 
  .menu{ class: ([:add_candidates].include?(params[:action].to_sym) and request.get?) ? "active" : "" }
    2 &nbsp; Add Candidates
  .menu{ class: ([:add_candidates].include?(params[:action].to_sym) and request.put?) ? "active" : "" }
    3 &nbsp; Confirm &amp; Send     
.clr
