.content-sub-nav.clearfix
  %a.menu{ class: (["show"].include?(params[:action]) ? "active" : ""), :href => standard_assessment_path(:id => params[:id]), :title => "Measured Traits"}
    Measured Traits
