- if flash[:notice].present?
  = render :partial => "shared/alert-success"
- if flash[:error].present?
  = render :partial => "shared/alert-error"
- if flash[:alert].present?    
  = render :partial => "shared/alert-error"
- flash.clear      
