.span6
  = test_link_statuses[user_assessment.link_status]
  #{hdate user_assessment.expiry_date}, #{htime user_assessment.expiry_date} Hrs
- if is_superuser?    
  .span2.big-text.first
    %a.icon-plus-sign{ :href=> extend_validity_company_custom_assessment_path(company.id, assessment.id, user.id)}
    = link_to "", expire_assessment_link_company_custom_assessment_path(company.id, assessment.id, user.id), :confirm => "Are you sure?", :class => "icon-remove-sign"
