- roles = @report.report_data[:competency_scores].first[1][:role_wise_scores].keys
- step = roles.size > 4 ? 1 : 2
- @report.report_data[:competency_scores].each_slice(step) do |step_competency_scores|
  = render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Data Points on Scores: Competencies"}
  - step_competency_scores.each do |competency, competency_scores|
    .scores.border-bottom-grayLighter.mrf_data_points
      .color-info.big-text
        Details on 360&#176 Ratings on Competencies/Values
      .divider1
      = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/competency360_competencies_textual_data_points", locals: { competency: competency, competency_scores: competency_scores}
  .page-break