.medium-text.black
  Comments on
  = trait_scores[:trait][:name]
    

.divider1
- if !trait_scores[:comments].present?
  .no-responses
    .box
      No Responses
  .divider1
- else
  %ul
    - if trait_scores[:comments].values.flatten.any?{|comment| comment[:comment].present?}
      - trait_scores[:comments].each do |role_name, role_wise_comment|
        - if role_wise_comment.any?{ |comment| comment[:comment].present? }
          %li.left-offset1.border-bottom-grayLighter.vSmall-padding
            .classic_user_icon.black.pull-left 
            .span2.first
              Manager:
            .span15.green_heading
              "#{role_wise_comment.map { |comment| comment[:comment] }.compact.join('; ')}"
            .clr
    - else
      %li
        .no-responses
          .box
            No Responses
        .divider1
.divider1
