= render partial: "shared/360/compact_mrf_report_header.pdf.haml", :locals => { :display_text => "Development Guide for the Candidate"}
.inner
  .scores.interview_guide
    .blue_heading.big-text
      Development Guide for the Candidate
    %p.medium-tex.gray-darker
      This section offers some tips and suggestions for the candidate to improve on a particular trait/ parameter.
    %ul.clearfix.interview_guide_listing
      -3.times do
        %li
          .divider1
          .factor-name.pull-left
            Assertiveness
          .description.pull-left
            You may want to express your opinion individually in every group conversation. Avoid giving in easily if you believe in something. Before you agree to something, come up with a justification for why you should agree. Try to maintain eye contact when communicating.
          .clr
          .divider1
.page-break
