.medium-text.black.span
  Frequency of Ratings
.clr


.left-offset1
  %table.frequency_rating_table{:cellpadding=>"0", :cellspacing=> "0", width: "100%", :style=>"border:0 none"}
    %tbody
      %tr.captions
        
        %td.mute_bg.medium-text{:colspan=>"8"}
          Rating

      %tr.captions.rating_ranges
        %td
        - graph_buckets.each do |bucket|
          %td
            = bucket.name

      - role_wise_scores.each do |role, score|
        - max_score = score[:bucket_wise_percentages].values.map{|x| x[:count] }.max
        %tr{:style=>"background:none"}
          %td.color-average.captions.line-height2.border-bottom-grayLighter{:style=>"text-align:left"}
            = role.titleize
          - graph_buckets.each do |bucket|
            - bucket_score = score[:bucket_wise_percentages][bucket.name][:count]
            %td.border-bottom-grayLighter.color-stakeholder{ class: max_score == bucket_score ? "max_value":"" }
              = bucket_score
              -#add class ".max_value" to ".rating_score" if td have maximum value of that row
      %tr{:style=>"background:none"}
        %td.captions.bold.line-height2.border-bottom-grayLighter.color-average{:style=>"text-align:left"}
          Total
        - max_score = graph_buckets.map{|bucket| role_wise_scores.collect{|role,score| score[:bucket_wise_percentages][bucket.name][:count] }.sum }.max
        - graph_buckets.each do |bucket|
          - total = role_wise_scores.collect{|role,score| score[:bucket_wise_percentages][bucket.name][:count] }.sum
          %td.border-bottom-grayLighter.color-stakeholder{ class: max_score == total ? "max_value" : "" }
            = total
    .divider1
