- section_value.each do |section|
  - trait_guidelines = Hash["type" => section["locals"]["type"], "guidelines" => @report.report_hash[:trait_guidelines], "title" => section["locals"]["title"]]
  = render :partial => section["path"], :locals => {:guidelines => trait_guidelines}