.overall_report
  .divider1
  .j-logo.pull-left
  .clr
  .divider28
  .huge-text.left-offset1
    = @report.report_hash[:user][:name]
  .divider1
  .banner
    .banner-heading.pull-left
      360&#176;
    .pull-right
      .divider3
      .banner-sub-heading
        Profiling Report
      - section_value.each do |section|
        = render :partial => section["path"]
    .clr
  .divider2
  .extra-large-text
    .span.left-offset1
      360&#176; Profiling:
    .span13
      = @report.report_hash[:assessment][:name]
    .clr
    .divider2
    .span.left-offset1
      Report Generated On:
    .span
      = hdate @report[:updated_at]
    .clr
.page-break
