= render partial: "shared/360/compact_mrf_report_header.pdf.haml", :locals => { :display_text => "Perception Gap"}
.competency_perception_gap_on_traits
  .divider2
  .title_section{:style=>"margin-left: 27px"}
    .color-info.big-text
      Perception Gap on Traits
    %p.medium-text.gray-darker
      This section enlists traits in three parts, based on the gap between self ratings and stakeholder ratings on those traits:
  %table{:cellpadding=>"0", :cellspacing=>"0"}
    %tr.titles
      %td
        .span6.first
          Agreement
        .clr
      %td.space
      %td
        .span6
          Perceived Negative Difference
        .clr
      %td.space
      %td
        .span6
          Perceived Positive Difference
        .clr
    %tr
      - @report.report_hash[:perception_gap].each do |title, traits|
        %td.description
          .span6.first
            = Rails.application.config.reports["perception_gap"][title.to_s]
        %td.space
    %tr
      - @report.report_hash[:perception_gap].each do |title, traits|
        %td
          .span6
            .divider1
            %ul.disc.medium-text
              -traits.each do |trait_name|
                %li
                  = trait_name
            .divider1
          .clr
        %td.space
          


