= render partial: "shared/360/compact_mrf_report_header.pdf.haml", :locals => { :display_text => "Scores"}
.competency_perception_gap_on_traits
  .divider2
  .title_section{:style=>"margin-left: 27px"}
    .color-info.big-text
      Perception Gap on Traits
    .divider1

  %table{:cellpadding=>"0", :cellspacing=>"0"}
    %tr.titles
      %td
        .span6.first
          Agreement
        .clr
      %td.space
      %td
        .span6
          Perceive positive difference
        .clr
      %td.space
      %td
        .span6
          Perceive negative difference
        .clr
    %tr
      -3.times do
        %td.description
          .span6.first
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. 
        %td.space
    %tr
      -3.times do
        %td
          .span6
            .divider1
            %ul.disc.medium-text
              -3.times do
                %li
                  Affectionate
            .divider1
          .clr
        %td.space
          


