.scores
  .response_distribution_six_points
    .color-info.big-text
      Response distribution on Questions
    .divider1
    -2.times do
      .frame
        %ul
          %li.titles.clearfix
            .span9
              Questions on Emotional Control
            .span2
              Never
            .span2
              Rarely 
            .span2
              Occasionally
            .span2
              Many times
            .span2
              Almost always
            .span2
              Always
          -2.times do 
            %li.clearfix
              .span9
                .question
                  Question 1 Stakeholder
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  
              .span2
                xx
              .span2
                xx
              .span2
                xx
              .span2
                xx
              .span2
                xx
              .span2
                xx

          -2.times do 
            %li.clearfix.candidate_answer
              .span9
                .question
                  Question 1 Stakeholder
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  
              .span2
                xx
              .span2.active
                xx
              .span2
                xx
              .span2
                xx
              .span2
                xx
              .span2
                xx

      .divider1