- responses.each_with_index do |(subjective_response_key, subjective_response_value), index|
  .frame
    .heading
      .pull-left
        Question #{index+1}: 
      .span17
        #{subjective_response_value[:body]}
      .clr
    .divider1
    - if subjective_response_value[:role_wise_subjective_responses].values.flatten.any?{|role_wise_response| role_wise_response.present?}
      %table{:cellspacing=>"7"}
        - subjective_response_value[:role_wise_subjective_responses].each do |role, role_wise_response|
          %tr.clearfix
            - role_wise_response.each do |comments|
              %td
                %div{:style=>"padding-bottom: 10px"}
                  = role.titleize
                .small-text
                  "#{comments}"
    - else
      .no-responses
        .box
          No Response
  .divider1
