= render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Scores"}
.scores
  #scores_competencies.scores_competencies_graph.border-bottom-grayLighter
    .divider1
    .color-info.big-text.pull-left
      360&#176; and self ratings on Competencies
    .graph_instructions.pull-right
      .graph_stakeholder_rating_icon.pull-left
      .stakeholder_rating.span
        Rating by other Stakeholders
      .graph_classic_user_icon.span
      .user_rating.span
        Self Rating
      .span
        Score Overlap is indicated by 
      .competency_overlapped_score_icon.span
      .clr
    .clr
    .divider1
    = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/competency_classic_graph_without_desired_range"
.page-break
