- @report.report_data[:competency_scores].each do |competency_name, competency_scores|
  - if competency_scores[:trait_scores].any?{|trait| trait[:comments].values.flatten.any?{|comment| comment[:comment].present?} }
    - section_value.each do |section|
      = render :partial => section["path"], :locals =>{competency_name: competency_name, competency_scores: competency_scores}
    .clr