- if @report.report_data[:mrf_report_strength_areas_of_improvement]
  = render partial: "shared/360/compact_mrf_report_header.pdf.haml"

  .strength_weakness_areas.section02
    .scores
      - @report.report_data[:strengths_and_areas_of_improvement].each do |type, traits|
        .medium-text
          = type.titleize
        .divider1
        .section_description.gray-dark
          
          .left-info{:style=>"width:100%;font-weight:600;"}
            .less-padding-all1
              = Rails.application.config.reports["mrf_report"][type.to_s]
          .right-info{:style=>"width:100%;color:#808285"}
            .less-padding-all1
              - if traits.empty?
                No such traits
              - else  
                %ul
                  - traits.each do |trait|
                    %li
                      = trait
        .divider2
  .page-break

