- if @report.report_data[:subjective_responses_self].length > 0
  = render partial: "shared/360/compact_mrf_report_header.pdf.haml", :locals => { :display_text => "Response to Other Questions"}
  .divider2
  .stakeholder-comments.responses
    .color-info.big-text
      Responses to Other Questions
    %br
    .clr
    - section_value.each do |section|
      = render :partial => section["path"], :locals => {:responses => @report.report_data[:subjective_responses_self]}
  .page-break
  .clr