- @report.report_data[:competency_scores].each_slice(2) do |step_scores|
  = render partial: "shared/360/compact_mrf_report_header.pdf.haml", :locals => { :display_text => "360 Degree Scores"}
  .scores
    .traits_under_competencies.scores_competencies_graph.section02
      .divider1
      .color-info.big-text.pull-left
        360&#176; Scores: Traits under Competencies
      .graph_instructions.pull-right
        .graph_stakeholder_rating_icon.pull-left
        .stakeholder_rating.span
          Rating by other Stakeholders
        .graph_classic_user_icon.span
        .user_rating.span
          Self Rating
        .span
          Score Overlap is indicated by 
        .competency_overlapped_score_icon.span
        .clr
        .desired_range.span2.hide
        .span.hide
          Desired Range
        .clr
      .clr
      .divider1
      - step_scores.each do |competency, competency_scores|
        = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/traits_under_competency_classic_graph_without_desired_range", locals: { competency: competency, competency_scores: competency_scores, trait_scores: competency_scores[:trait_scores] }
  .page-break
  .clr
