%br/
= render :partial => 'suitability/competency_grades/import_form'
%br/
= render :partial => 'suitability/competency_grades/export_form'
%br/
= link_to 'Back', suitability_competency_grades_path
= link_to 'Destroy All', destroy_all_suitability_competency_grades_path
