.big-text
  Generate a new Factual Data Distributions Report
.divider1
.span24
  = form_for :assessment, url: suitability_analytics_factual_data_distributions_report_path, :method => :post do |f|
    .span10
      .span.pull-left
        Assessment IDs
      .span
        %input{ name: "factual_data_distributions[assessment_ids]" }
      .clr  
      .divider2
      .action.pull-right
        = f.submit "Generate", class: "btn btn-large btn-warning"
      .clr
    .clr  
.clr    
