%h1 Edit suitability competency
- Rails.logger.debug("#{@competency.name}")
= render 'form',  method: :post, url: suitability_competencies_path(), competency: @competency

= link_to 'Back', suitability_competencies_path
