%br/
= render :partial => 'suitability/competencies/import_form'
%br/
= render :partial => 'suitability/competencies/export_form'
%br/
= link_to 'Back', suitability_competencies_path
= link_to 'Destroy All', destroy_all_suitability_competencies_path
