.test-text-to-send.medium-text
  %span.extra-medium-text.span2.first.show
    Subject
  .massage-body.italic.span13
    &lt;Candidate Name&gt;, #{@company.name} has chosen you to write an Assessment
  .clr
  .divider1
  %span.extra-medium-text.span2.first.show
    Message
  
  .massage-body.italic.span13
    %p
      Hello &lt;Candidate Name&gt;,
    %p
      #{@company.name} has arranged for you to complete a Jombay Suitability Questionaire.

    %p
      To proceed, please click the weblink listed below or visit it by copy-pasting the URL into your web browser's address bar.
    %p
      URL: &lt;candidate specific url&gt;
    %p
      If you face any technical difficulties or have any queries please feel free to reach us at  
      %a.muted{:href=>"mailto:prakhar@jombay.com", :title=>"For any queries Mail to Prakhar"}
        prakhar@jombay.com.  
      %br
      You can also call us at +91 87960 29607
     
    %p
      Best Regards, 
      %br/
      Team Jombay  
  .clr
