.training_requirements_details
  .page-title
    .divider1
    = @training_requirement_group.title
  .divider2
  .content-sub-nav.clearfix
    %a.menu{ class: (["show"].include?(params[:action]) ? "active" : ""),:href => company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id]), :title => "Summary"}
      Summary
    %a.menu{ class: (["training_requirements"].include?(params[:action]) ? "active" : ""), :href => training_requirements_company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id]), :title => "Training Requirements"}
      Training Requirements
  .padding-all2.border-warning.shifted-up1
    .list-snippet-titles.large-text.clearfix
      .span4.first
        %a{href: "#", title: "Sort by assessment  ID in ascending order"}
          AID
          %i.icon-chevron-down.small-text.line-height1
      .span14.first
        %a{href: "#", title: "Sort by assessment Name in ascending order"}
          assessment Name
          %i.icon-chevron-down.small-text.line-height1

    .divider1
    %ul.selected-factors
      - @training_requirement_group.assessment_hash.each do |assessment_id, assessment_data|
        %li.list-snippet.border-bottom-grayLighter
          .divider1
          .selected-factors-title.clearfix
            .span4.first
              = assessment_id
            .span14
              = assessment_data[:name]
          .divider1
    .divider2
