.create-test.creat-test-show
  .inn.first
    .page-title.pull-left
      = @training_requirement_group.title
  .clr
  .inn.gray-gradient
    .pull-left
      .content-sub-nav.clearfix
        %a.menu{ class: (["show"].include?(params[:action]) ? "active" : ""),:href => company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id]), :title => "Summary"}
          Summary
        %a.menu{ class: (["training_requirements"].include?(params[:action]) ? "active" : ""), :href => training_requirements_company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id]), :title => "Training Requirements"}
          Training Requirements
    .clr
    .divider2
    .first
      %b.span2.medium-text
        Test ID
      %b.span14.medium-text
        Test Name
      .clr.divider1
      %ul.unstyled.selected-factors
        - @training_requirement_group.assessment_hash.each do |assessment_id, assessment_data|
          %li
            .selected-factors-title.clearfix
              .span2
                = "TEST#{assessment_id}"
              .span14.lhs-border
                = assessment_data[:name]
