.create-test.creat-test-show
  .divider1
  .inn.first
    .page-title.pull-left
      #{@training_requirement_group.title}
  .clr
  .divider2
  .inn.gray-gradient
    .pull-left
      .content-sub-nav.clearfix
        %a.menu{ class: (["show"].include?(params[:action]) ? "active" : ""),:href => company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id]), :title => "Summary"}
          Summary
        %a.menu{ class: (["customize"].include?(params[:action]) ? "active" : ""), :href => customize_company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id]), :title => "Training Requirements"}
          Customize  
        %a.menu{ class: (["training_requirements"].include?(params[:action]) ? "active" : ""), :href => training_requirements_company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id]), :title => "Training Requirements"}
          Training Requirements
    .span10.pull-right.text-right
      - if @training_requirement_group_report && @training_requirement_group_report.status == Vger::Resources::Suitability::AssessmentGroupReport::Status::UPLOADED
        %a.pull-right{:href => download_report_company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id], :format => :pdf), :title => "Download Training Requirements Report as PDF", target: "_blank"}
          Download a PDF version of Training Requirements Report
    .clr
    .padding-all2.border-warning.shifted-up1
      %ul
        %li
          .divider1
          - if @training_requirement_group_report && @training_requirement_group_report.report_data.present?
            .span10.extra-medium-text.first
              Training requirements Report
            .span
              %a.extra-medium-text{:href => download_report_company_training_requirement_group_path(:company_id => params[:company_id], :id => params[:id], :format => :html), :title => "Download Training Requirements Report as PDF", target: "_blank"}
                %i.icon-file              
                View Report
          - else
            .alert-info.alert.text-center
              %b{ class: "medium-text", style: "color: black;" }
                - if @training_requirement_group.total_candidates == 0
                  Training Requirements are enabled. Page will be updated on sufficient responses.
                - else
                  %i.icon-spinner.icon-spin
                  Training Requirements calculation is in progress.
        .divider2
