.inn.border_bottom
  .span22.fl_none.clearfix
    %a{:href => "#", :title => "See this Job Posting"}
      -#%a{:href => sparta_recommendation_path(@job), :title => "See this Job Posting"}
      %strong See this Job Posting
    .divider1
    .biggest_text
      Job name
    -#  #{ @job.name }

= render :partial => "recruiters/candidates/index/top_section", locals: { applications: @applications }
= render :partial => "recruiters/candidates/index/candidate_list_snippet", collection: @applications, locals: {job: @job}

.divider1
.inn.border_bottom
  .span22.fl_none.clearfix
    .pull-right
      = bootstrap_paginate(@applications, :inner_window => 0, :outer_window => 0,)
    .clr
.divider2