.candidate-profile
  .divider2
  .page-title.pull-left
    Anuja Pandit
  .span.extra-medium-text.left-offset1
    %i.icon-map-marker.line-height2.large-text
    Thiruvendipuram
  .pull-right.extra-medium-text
    %i.icon-calendar.line-height2.large-text
    Applied on: 12-3-2015 
  .clr

  .divider2
  .profile-picture.pull-left
    = image_tag('http://placehold.it/150x150')
  .span6.left-offset1
    .big-text.color-success
      .psy-icon.pull-left
      .pull-left
        Psychometric Score
      .clr
    .extra-medium-text
      .left-offset1
        .divider1
        Above Average
        .divider1

      .border-top-grayLighter
        .left-offset1
          .divider1
          %a{:href=>"#"}
            View Report
          .divider1

  .span8.border-left-grayLighter
    .span7
      .big-text.color-success
        .strengths-icon.pull-left
        .pull-left.line-height2
          Top Strengths
        .clr
      .extra-medium-text.left-offset1
        .divider1
        People Understanding
        .divider1

        .border-top-grayLighter
          .divider1
          Emotional Control 
          .divider1

        .border-top-grayLighter
          .divider1
          Process Orientation 
          .divider1

    .clr
  .pull-right
    .divider7
    %input.btn.btn-link.bold.big-text{type: "submit", value: "REJECT"}
    %input.btn.btn-warning.bold.big-text{type: "submit", value: "ACCEPT"}
  .clr
  .divider2.border-bottom-success

  .divider2

  .profile-details.medium-text
    .pannel.experience.span15.first
      .left
        .experience-icon.pull-left
        .title.pull-left.line-height2
          Total work experience
      .right
        3 Years
      .clr

    .pannel.job-count.span15
      .left
        .job-count-icon.pull-left
        .title.pull-left.line-height2
          Total Number of Jobs
      .right
        3
      .clr
    .divider1.clr
    .pannel.job-details.span15.first
      .left
        .job-details-icon.pull-left
        .title.pull-left.line-height2
          Last Job details
      .right
        .black 
          Sr. Associate HMC
        Saama Technologies
        %br/
        1 year 2 months
      .clr
    .pannel.languages.span15
      .left
        .languages-icon.pull-left
        .title.pull-left.line-height2
          Languages
      .right
        %ul
          %li Hindi    
          %li Marathi    
          %li English    
          %li Vharadi
      .clr    
    .clr

  .divider1

  .pannel
    .video-section.left-offset1
      .video-icon.pull-left
      .medium-text.pull-left.line-height2
        Link to the video answer
      .clr

      .divider1
      
      %ul.clearfix
        -7.times do
          %li
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/1Br6_dFKBws", :width => "420"}

      .divider1
.divider4    