.create-test.creat-test-show
  .page-title.pull-left
    .divider1
    Test #{@assessment.id} - #{@assessment.name}
  %a.btn.btn-warning.pull-right.big-text.big.span{ href: add_candidates_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
    Send This Test
  - if !@assessment.report_types.include?(Vger::Resources::Suitability::CustomAssessment::ReportType::TRAINING_REQUIREMENT)
    %a.extra-medium-text.pull-right.line-height3{:href => enable_training_requirements_report_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Enable Training Requirements Report for this test"}
      Enable Training Requirements Report
  - else
    - if @assessment_report && @assessment_report.status == Vger::Resources::Suitability::AssessmentReport::Status::UPLOADED
      %a.extra-medium-text.pull-right.line-height3{:href => download_training_requirements_report_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id], :format => :pdf), :title => "Download Training Requirements Report as PDF", target: "_blank"}
        Download a PDF version of Training Requirements Report    
  .clr
  .divider2
  .clr
  = render :partial => "shared/candidate-content-sub-nav"
  .padding-all2.border-warning.shifted-up1
    %ul
      %li.list-snippet.medium-text
      - if @assessment.report_types.include?(Vger::Resources::Suitability::CustomAssessment::ReportType::TRAINING_REQUIREMENT)
        - if @assessment_report && @assessment_report.report_data.present?
          .span10.extra-medium-text.first
            Training requirements Report
          .span
            %a.extra-medium-text{:href => download_training_requirements_report_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id], :format => :html), :title => "Download Training Requirements Report as PDF", target: "_blank"}
              %i.icon-file              
              View Report
        - else
          .alert-info.alert.text-center
            %i.icon-spinner.icon-spin
            Training Requirements calculation is in progress.     
      - else
        .alert-info.alert
          %span{ class: "medium-text", style: "color: black;" }
            Training Requirements calculation hasn't been enabled for this test. Please use the button above or to enable it 
            %a{:href => enable_training_requirements_report_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Edit Test"}
              click here
    .divider2
