.desire_range_container{ style: "left: #{scale_values[:scale_offset]}%; width: #{scale_values[:scale_width] }%" }
  .desire_range{:style=>"width: #{scale_values[:range_width]}%; margin-left: #{scale_values[:range_offset]}%"}
