= form_for :assessment, url: export_group_trr_users_path, multipart: true, :method => :post do |f|
  %fieldset
    %legend
      %strong Export Candidate List(Multiple Assessments - Group TRR)
    %p
      TRR ID :
      = f.text_field :assessment_group_id

    = f.hidden_field :email, :value => current_user.email

  .actions
    = submit_tag 'Download Candidate List'
