= form_for :assessment, url: export_assessment_trr_users_path, multipart: true, :method => :post do |f|
  %fieldset
    %legend
      %strong Export Candidate List(Single Assessment TRR)
    %p
      Assessment ID :
      = f.text_field :id

    = f.hidden_field :email, :value => current_user.email

  .actions
    = submit_tag 'Download Candidate List'
