.final-score.overall_score_rating{:style=>"background-color: #128975; width: 440px; margin-bottom: 1px"}
  .score_rating_title.pull-left{:style=>"color: #fff"}
    Aggregate Numerical Score
  .span.large-text.line-height2
    #{@report.report_hash[:aggregate_competency_score]}%
  .clr
.clr 
