.pull-right
  .final-score.score_band{ :style=>"background-color: #128975" }
    Aggregate Score: #{@report.report_hash[:aggregate_competency_score_bucket][:name]}
  
  - nested_child.each do |child|
    = render :partial => child["path"], :locals => { functional_legends: child["children"]}  
  .divider1

.clr
.divider3

.extra-medium-text
  Assessment:
  = @report.report_hash[:assessment][:name]
  .divider1
  Assessment Answered On:
  = @report.report_hash[:completed_at]
.divider2
