.aptitude_score
  .container
    .divider2
    .title
      Score for Aptitude 
    .divider1
    .pannel
      .divider1
      .span9.margin-auto
        .span4.first.rounded
          18 / 50
        .span4.left-offset1.rounded
          42%
        .clr
        .divider1
        .span3.first.text-center.extra-large-text
          Score
        .span3.left-offset1.text-center.extra-large-text
          Percentage
        .clr
      .divider1