#overview.cover_page
  .overall_report
    .divider8
    .container
      .user-name.pull-left
        = @report.report_hash[:user][:name]
    - section_value.each do |section|
      = render :partial => section["path"], :locals => { nested_child: section["children"] }