.divider3
.container
  .title Explanation of Jombay Scores
%ul.explanation_scores_list
  -6.times do
    %li
      .container
        .left.pull-left
          .scale.right-offset1
            .line
            .marker-container
              .marker.active
                %br/
                Low
              .marker
                Below Average
              .marker
                Average (Low)
              .marker
                Average (High)
              .marker
                Above Average
              .marker
                %br/
                High
              .clr
          .clr
        .right.pull-right.big-text
          .divider1
          Low is the minimum score on the scale
        .clr