.frame.padding-all1{:style => "background: white;color: #808285;"}
  %p.medium-text
    This Assessment is designed to capture the behavioural characteristics that are most applicable to the assessment taker. The statements used in the assessment are neutral in nature to ensure that there are no &#145;Right&#146; or &#145;Wrong&#146; responses.
  %p.medium-text
    This report focuses on the overall behavioural profile of the assessment taker and is intended to act as an indicative guiding tool rather than a judgement. The reports showcases score descriptions along with the strengths and areas of improvements on competencies identified for superior performance that are imperative for success.
.clr
.divider1