.functional-questions.objective
  .container
    .divider2
    .title
      Responses to Other Objective Questions
    .divider1

    .instruction-box
      .user.span11.first
        %i.icon-edit
        Options selected by Pranav Dinesh S..
      .correct.span8
        Green indicates correct response
      .incorrect.span8
        Red indicates incorrect response
      .clr
    .divider1
    .correct-responses.span8.first
      Correct Responses: 78%
    .clr

    .divider3

    - 2.times do
      .frame
        .label.label-warning.pull-left.left-offset1
          Question
        .span24
          .question
            The key differentiators of YES Bank are Knowledge Banking, Human Capital, ___________ & ______________
          .divider1
          %ul.options
            %li Corporate Governance
            %li Brand Creation
            %li Responsible Banking 
            %li Service Excellence
            %li Technology
        .responses-result.incorrect
          -#toggle class ".incorrect"
        .clr
        .divider1
        .label.label-warning.pull-left.left-offset1 
          Options and response
        .clr
        .divider1
        %ul.options-response
          %li.correct
            %i.icon-edit 
            A&amp;D
          %li.incorrect 
            %i.icon-edit 
            B&amp;E
          %li 
            %i.icon-edit 
            D&amp;A
          %li 
            %i.icon-edit 
            E&amp;C
        .attachment-info
          This question is attached to the trait “Adaptability”
      .divider1
  .divider1