.final-score.overall_score_rating{:style=>"background-color: #128975; width: 495px; margin-bottom: 1px;margin-top: 1px"}
  .score_rating_title.fw.first{:style=>"color: #fff; margin-bottom: 1px; padding-right: 35px"}
    Score Rating Description
  .medium-text{:style => "padding: 15px 10px;"}
    Indicates low level of suitability for the behaviours measured. This implies that the candidate has scored mostly in the unfavourable range and that the candidate has a low alignment to the behavioural profile
