.score{:style=>"background-color: #128975;"}
  .left_sec.float-none{:style=>"width: auto"}
    Score Rating
  .right_sec.float-none{:style=>"width: auto"}
    .medium-text.less-padding-all1
      = @report.report_data[:aggregate_competency_score_rating][:description]
  .clr
  