.strength_areas.section_end_line
  .divider3
  .scores.container
    .title
      Strengths and Areas of Improvement
    .divider1

    %table.section_description.extra-medium-text{:cellpadding=>"0", :cellspacing=>"10", :align=>"top"}
      %tbody
        %tr
          %td.frame
            .heading
              Strengths
            %ul.large-text
              - get_strengths(@report).each do |factor_name, factor_score|
                %li
                  %span #{factor_name}
          %td.frame
            .heading
              Areas of Improvement
            %ul.large-text
              - get_areas_of_improvements(@report).each do |factor_name,factor_score|
                %li
                  %span #{factor_name}
       
    .divider2

