.functional-questions.objective
  .container
    .divider2
    .title
      Responses to Other Subjective Questions
    .divider2
    -2.times do
      .frame
        .divider1
        .label.label-warning.pull-left.left-offset1
          Question
        .span22
          The YES Bank Travel card is currently available in  
        .clr
        .divider1
        .label.label-warning.pull-left.left-offset1
          Response
        .span25.bold    
          “EURO”  
        .clr
        .divider1
      .divider1
  .divider1
