#scores.section03
  .divider2
  .scores.container
    .title
      - if @view_mode == "html"
        Scores of Traits measured under different Competencies 
      - else
        Factor wise scores per competency 
    .divider2

    .pull-left
      .instruction_container
        .instructions
          .box.pull-left
            .box-icon.pull-left
            .box-title.pull-left Expected Score
            .clr
          .instruction1.pull-left
            Favorable Traits 
          .instruction2.less_favorable.pull-left
            Less Favorable Traits
          .clr
      .functional-traits-title
        Functional Traits (Trait Score is included in/excluded from  competency scores)
    .scale
      .line
      .marker-container
        - @norm_buckets.each do |norm_bucket|
          .marker
            .arrow
            .marker-info
              = norm_bucket.description
            - if norm_bucket.name.split(" ").size == 1
              %br/
            = norm_bucket.name
        .clr
    .clr
    .divider4
    - if @view_mode == "html"
      - @report.report_hash[:competency_scores].each do |competency_name, competency_data|
        - if competency_data[:factor_scores].present?
          = render :template => "assessment_reports/competency_report/html/competency", :locals => { competency_name: competency_name, competency_data: competency_data, factor_scores: competency_data[:factor_scores], step: 0 }
    - else
      = render :template => "assessment_reports/competency_report/html/competency", locals: { competency_name: competency_name, competency_data: competency_data, factor_scores: factor_scores, step: step }
