- (0..competency_scores.length-1).step(competency_step) do |step|    
  - step_competency_scores = Hash[competency_scores[step..(step+(competency_step - 1))]]
  - if @report.report_hash[:hexagons_page_competency]
    #traits.section02
      .divider2
      .scores.container
        .title
          Competencies / Values Measured
        .divider2
        .instruction_container
          .instructions
            .instruction1.pull-left
              Favorable Traits
            .instruction2.less_favorable.pull-left
              Less Favorable Traits
            .clr
        .divider3
        - if @report.report_data[:show_favourable_above_desired_range]
          - step_competency_scores.each do |competency_name, competency_data|
            = render :partial => "assessment_reports/competency_report/html/custom_factor_block", locals: { competency_name: competency_name, competency_data: competency_data }
        - else
          - step_competency_scores.each do |competency_name, competency_data|
            = render :partial => "assessment_reports/competency_report/html/generic_factor_block", locals: { competency_name: competency_name, competency_data: competency_data }  
