.level_02.type_01
  .column
    - 6.times do|index|
      .score_container
        .score
          #{index}%
        .sub_trait_name
          Organizational Leadership
        .grid
        .right
          - 6.times do
            .sub_score_container.pull-left
              .grid
              .score
                34%
              .trait_name
                Alignment of Personal Values/ Beliefs with the org
          .clr
      
  .clr
  .divider5

