.level_02
  - @report.report_data[:facet_scores].each_with_index do |(facet_name, score_hash),index|
    .column.pull-left
      - score_hash[:factor_scores].each_with_index do |(factor_name, factor_score_hash),index|
        - score = factor_score_hash["score"]
        - less_favorable_klass = score.to_i <  Rails.configuration.reports["engagement_report"]["less_favorable_score"] ? "less_favorable" : ""
        .score_container
          %div{:class => "score #{less_favorable_klass}"}
            = "#{score.to_i.to_s}%"
          .sub_trait_name
            = factor_name
          .grid
  .clr
  .divider4

