.divider3
.level_01
  .margin_square
  .average_score
    40%
  - 5.times do|index|
    %div{:class => "score_#{index} active"}
      #{index}%
      .trait_name
        Organizational Leadership
    
  .grid
  .grid
  .grid
  .grid
  .clr
  .divider9

