.level_02
  - 5.times do|index|
    .column.pull-left
      - 5.times do|index|
        .score_container
          .score
            #{index}%
          .sub_trait_name
            Organizational Leadership
          .grid
  .clr
  .divider4

