#spotlight
  .divider4
  .container
    .headings
      .huge-text.pull-left 
        Rustum Patil Qureshi 
      .pull-right.text-right
        .huge-text.color-warning  
          Individual Report
        .extra-medium-text
          No of Candidates: 22  Answered on 12-10-2014
      .clr
      .divider1
    .divider2
    .large-text
      .span19.first
        Region: West
      .span10.pull-right
        Business Unit: Automobiles
      .clr
      .divider1
      .span19.first
        Region: West
      .span10.pull-right
        Business Unit: Automobiles
      .clr
      .divider1
