.group_report
	= render :partial => "exit/surveys/group_reports/spotlight"
	= render :partial => "exit/surveys/group_reports/page_01"
	= render :partial => "shared/reports/html/about_us"
	= render :partial => "shared/reports/html/legal_disclaimer"

