.create-test.norms.add
  .inn.first
    .page-title Tests
  .inn
    = render :partial => "shared/test-flow-sub-nav"
    .divider1
    .select-candidate-type 
      %b.span.show.left-offset1
        Please select the candidate type :
      .show.left-offset1.pull-left
        %label
          %input{:type => "radio", :name => "EmplType"}
          Existing Employees
        %label
          %input{:type => "radio", :name => "EmplType"}
          Potential Employees
      .clr 
    .divider1
    .span5.left-offset1
      %b First name
    .span4.left-offset1
      %b Last name
    .span5.left-offset1
      %b Email id
    .span4.left-offset1
      %b Contact number
      (optional)
    .clr
    .divider1
    %ul.add-candidates.unstyled.clearfix
      -10.times do
        %li
          .count 1
          %input.span5.first{:type => "text", :placeholder =>"First name"}
          %input.span4.left-offset1{:type => "text", :placeholder =>" First name"}
          %input.span5.left-offset1{:type => "text", :placeholder =>" Email id"}
          %input.span4.left-offset1{:type => "text", :placeholder =>"Contact number (optional)"}
          .clr
    %button.pull-right.btn.btn-info
      Proceed
    .clr