.container
  .span14.page-title.first
    .divider1
    Candidates
  %a.btn.btn-info.big.big-text.pull-right.span{:href => select_tools_company_oac_exercises_path(@company.id, @exercise.id), :title => "Click Here To Create new Assessment Center"}
    Create New Assessment Center
  .clr
  .divider2
