.container
  .span14.page-title.first
    .divider1
    Candidates
  %a.btn.btn-info.big.big-text.pull-right.span{:href => home_company_oac_exercises_path(@company.id), :title => "OAC Home"}
    Back to OAC Home
  %a.btn.btn-info.big.big-text.pull-right.span{:href => add_candidates_company_oac_exercise_path(@company.id, @exercise.id), :title => "Click Here To Create new Assessment Center"}
    Add Candidates
  .clr
  .divider2
