.competencies_wise_individual_ratings.border-bottom-grayLighter
  .container
    .divider2
    .title
      Competency-wise Individual Ratings
    .divider2
    %table.medium-text.text-center{:cellspacing=>"0", :cellpadding=>"0"}
      %tr.extra-medium-text
        %td
          Candidate names
        -8.times do
          %td
            Overall 360&#176 Rating

      -5.times do
        %tr
          %td
            Pranav Shah
          -8.times do
            %td
              Overall Score
    .divider2
