- candidate_count = @report.report_hash[:competency_individual_scores].first[1].size
.competencies_wise_individual_ratings.border-bottom-grayLighter
  .container
    .divider2
    .title
      Competency-wise Individual Ratings
    .divider2
    %table.medium-text.text-center{:cellspacing=>"0", :cellpadding=>"0"}
      %tr.extra-medium-text
        %td
          Candidate names
        %td
          Overall Score
        - @report.report_hash[:competency_individual_scores].each do |competency, competency_data|
          %td
            = competency

      -candidate_count.times do |index|
        %tr
          %td
            = index
          %td
            XX
          - @report.report_hash[:competency_individual_scores].each do |competency, competency_data|
            %td
              x2
    .divider2
