.bg-gray.distribution.black.border-bottom-white
  .divider2
  .container
    .title
      Frequency Distribution of Overall 360&#176; Ratings
    .divider2
    .graph_indications.span7.first.bg-white
      .legend.big-text.text-center.line-height3
        Legend - Rating
      %ul.medium-text.padding-all1
        %li
          .icon-stop.pull-left{:style=>"color: #a8e500"}
          .pull-left Communication Skills
          .clr
        
        %li
          .icon-stop.pull-left{:style=>"color: #7cdeaf"}
          .pull-left Planning and Organization
          .clr
        %li
          .icon-stop.pull-left{:style=>"color: #eed523"}
          .pull-left Problem Solving Skills
          .clr
        %li
          .icon-stop.pull-left{:style=>"color: #f85c43"}
          .pull-left Teamwork
          .clr
        %li
          .icon-stop.pull-left{:style=>"color: #1f87df"}
          .pull-left Strategic Decision Making
          .clr

    .grid_graph.span20.pull-right
      .columns
        -6.times do
          .column.span2.left-offset1{:style=>"margin-top: #{(300*70/100)}px; height: 30%"}
            %div{:style=>"background: #1f87df; height: 30%"}
            %div{:style=>"background: #f85c43; height: 15%"}
            %div{:style=>"background: #eed523; height: 10%"}
            %div{:style=>"background: #7cdeaf; height: 20%"}
            %div{:style=>"background: #a8e500; height: 25%"}
            
            .rating_range
              0 - 1
        .clr

      .counts
        -counter = 110
        -11.times do |index|
          - counter = counter-10
          .count
            #{counter}
    .clr  
    .divider3


