.bg-gray.distribution.black
  .divider2
  .container
    .title
      Distribution of Overall 360&#176; scores
    .divider2
    
    .grid_graph.span20.margin-auto
      .columns
        - total = @report.report_data[:overall_competencies_score_distribution].values.sum
        - @report.report_data[:overall_competencies_score_distribution].each do |bucket, count|
          - percentage = ((count*100).to_f/total).round(2)
          .column.span2.left-offset1{:style=>"background: #a729ac; margin-top: #{(300*(100-percentage)/100)}px; height: #{percentage}%"}
            .rating_range
              = bucket
        .clr

      .counts
        -counter = 110
        -11.times do |index|
          - counter = counter-10
          .count
            #{counter} 
    .clr  
    .divider3


