.mrf_top_bottom_competencies.border-bottom-grayLighter
  .container
    .divider2
    .title
      Top 2 and Bottom 2 Competencies
    .divider2
    .pull-left{:style => "font-size: 86px;color: #469ada"}
      &#8226;
    .pull-left.large-text
      Average 360&#176 Rating
    .clr
    .scores_competencies_graph.descending_order.descending_average_rating
      - sorted_top_competency_scores = Hash[@report.report_data[:competency_scores].sort_by{|key,value| value[:average_score_excluding_self][:points].to_f }.reverse[0..1]]
      = render :partial => "mrf/assessments/assessment_reports/competency_group_report/html/sorted_top_bottom_competencies", :locals => {:display_name => "Top 2", :sorted_competency_scores => sorted_top_competency_scores}
      - sorted_bottom_competency_scores = Hash[@report.report_data[:competency_scores].sort_by{|key,value| value[:average_score_excluding_self][:points].to_f }[0..1]]
      = render :partial => "mrf/assessments/assessment_reports/competency_group_report/html/sorted_top_bottom_competencies", :locals => {:display_name => "Bottom 2", :sorted_competency_scores => sorted_bottom_competency_scores}
