= form_for assessment, :as => :assessment, :url => url, multipart: true, method: method, html: { class: "creat-test-form" } do |f|
  = f.hidden_field :company_id, value: assessment.company_id
  = render :partial => "assessments/assessment_fields", :locals => { :assessment => assessment, :f => f }
  .pull-left
    - if current_user.type == "SuperAdmin"
      %label
        %input{ type: "checkbox", name: "enable_training_requirements_report", id: "enable_training_requirements_report" }
        Enable Training Requirements Report for this assessment
      %label
        %input{ type: "checkbox", name: "is_jombay_pearson_test", id: "is_jombay_pearson_test"  }
        Is Jombay Pearson Test?
      %label
        %input{ type: "checkbox", name: "show_help_text", id: "show_help_text"  }
        Show Help Text for Items?

  .pull-right
    - if current_user.type == "SuperAdmin"
      %input.btn.btn-warning.large-text{ type: "submit", value: "Proceed with Competency Framework", name: "competency", style: "margin-right:10px;" }
    %input.btn.btn-warning.large-text{ type: "submit", value: "Proceed", name: "fit" }
  .clr
