.benchmark_report.training_requirements_report
  .inner{ style: "margin-top:0px;" }
    .overall_report
      .logo.pull-right
      .clr
      .heading
        .big-text
          Training Requirements 
          .small-text 
            Report Summary
        .span.first
          Training Requirement: 
        .span9
          #{@training_requirement_group.title}
        .clr

      .visual
        %p This report helps you identify training needs of the candidates who have been included in this Training Requirement Exercise.


        %p It consolidates areas of improvement for all candidates.

        %p Listed below are the factors measured in included assessments alongside the percentage of candidates who did not score in the desired or favorable range for each of the measured factor. 

        %p Subsequent pages include training guide and more details for each factor.
 

        .sub-heading.pull-left
          No. of Candidates 
          %br/
          Assessed
          .candate_count
            #{@training_requirement_group_report.report_data[:no_of_candidates_assessed]}
        .clr
        .divider1
      = render :partial => "shared/reports/training_requirements/h_graph", locals: { factor_scores: @report_data[:factor_scores] }



      
