- if @report.report_data[:objective_items].present?
  .competency_report
    .divider2
    .functional
      .container
        .functional_final_score
          %h1.font-normal.score_band.pull-right 
            Aggregate Score: #{@report.report_data[:objective_score].to_f.round(2)}%
          .clr
      .overview
        .container
          .bottom-triangle
            .divider1
            .content
              .overview-title
                Overview of Sections Scores
              %ul.competency-list
                - @report.report_data[:section_wise_objective_item_scores].each do |section_name, section_data|
                  - next if section_name == "Global"
                  %li
                    .competency-name.pull-left
                      = section_name
                    .competency-value.pull-left
                      #{section_data[:percentage]}%
                      
                    .clr
              .clr
            .divider2
