.badge_label.clearfix.span9.first{"data-snippet" => job_category.id}
  -#
    .badge_count
      #{ job_category.count }
  .badge_content
    #{ truncate(job_category.name, length: 50) }
  %a.close{"data-dismiss" => "alert", :href => "[data-id='#{ job_category.id }']"} ×
  = hidden_field_tag("job[categories][query_options][id][]", job_category.id)