.badge_label.clearfix.span9.first
  -#
    .badge_count
      #{ job_category.count }
  .badge_content
    #{ truncate(job_location.name, length: 50) }
  %a.close{"data-dismiss" => "alert", :href => "[data-id='#{ job_location.id }']"} ×
  = hidden_field_tag("job[locations][query_options][id][]", job_location.id)