.h-graph
  %ul.bars.clearfix
    - 10.times do
      %li{:style=>"width: 20%"}
  %ul.x-axis.clearfix
    - 11.times do  |index|
      %li{:class=>"values#{index}"}
        #{index *10}%
      
    %li.units
      \% 
      of candidates

  %ul.y-axis
    - 10.times do  |index|
      %li
        .values 
          Emotional Control 
          #{index}
        .marker
        .clr
    %li.units

