.scores
  .divider2
  .blue_heading.large-text 
    Jombay Score Scale
  .divider2
  .text-center
    .score-scale-bg
    .divider1
    %p.medium-text
      Scores indicate where a person stands on a particular trait, when compared to the relevant norm population
