- if @report.report_data[:enable_score_scale_section]  
  = render partial: "shared/reports/pdf/report_header.pdf.haml"
  .scores
    .divider2
    .blue_heading.large-text 
      Jombay Score Scale
    .divider2
    .text-center
      = wicked_pdf_image_tag("report/pdf/score_scale.png")
  .page-break      
