= render "shared/reports/pdf/report_header"
.score_scale
  .container
    .divider2
    .page_title
      Jombay Score Scale
    .divider3
    .text-center
      = image_tag(asset_path("report/pdf/score_scale.png"))
      .divider1
      %p.medium-text
        Scores indicate where a person stands on a particular trait, when compared to the relevant norm population
      .divider2