:css
  .report .inner{margin-top:0px;} 

- @report.report_configuration["html"]["sections"].each do |section_value|
  = render :partial => section_value["path"], :locals => { :section_value => section_value["children"] }
  .page-break
  
  / = render :partial => "assessment_reports/fit_report/html/page1"
  / .page-break

  / = render :partial => "assessment_reports/score_scale"
  / .page-break

  / = render :partial => "assessment_reports/fit_report/html/page2"
  / .page-break      

  / = render :partial => "assessment_reports/fit_report/html/page3"
  / .page-break
    
  / = render :partial => "assessment_reports/fit_report/html/scores_of_functional_traits"
  / .page-break

  / = render :partial => "assessment_reports/functional_report/html/functional_overview_section"
  / .page-break

  / = render :partial => "assessment_reports/functional_report/html/objective_questions"
  / .page-break

  / = render :partial => "assessment_reports/functional_report/html/subjective_questions"
  / .page-break

  / = render :partial => "assessment_reports/fit_report/html/page4"
  / .page-break      

  / = render :partial => "assessment_reports/fit_report/html/page5"
  / .page-break

  / = render :partial => "assessment_reports/fit_report/html/page6"
  / .page-break
    
  / = render :partial => "shared/reports/html/about_us"
  / .page-break

  / = render :partial => "shared/reports/html/legal_disclaimer"
  / .page-break

