:css
  .report .inner{margin-top:0px;} 

- @report.report_configuration["html"]["sections"].each do |section_value|
  = render :partial => section_value["path"], :locals => { :section_value => section_value["children"] }
  .page-break