- content_for :javascripts do
  = wicked_pdf_javascript_include_tag "reports"

:css
  .report .competency_report .inner{margin-top:0px;}

- @factor_scores = @report.report_data[:competency_scores].map{|competency, competency_scores| competency_scores[:factor_scores] }.reduce({}){|factor_scores, _hash| _hash.merge(factor_scores) }
- competency_step = Rails.application.config.reports[@view_mode]["competency_step"]
- total = @report.report_hash[:competency_scores].keys.size

.competency_report
  - @report.report_configuration["pdf"]["sections"].each do |section_value|
    = render :partial => section_value["path"], :locals => { :section_value => section_value["children"] }
    .page-break
