.competency_report
  = render :template => "assessment_reports/cpage1"
  .page-break 
  = render :template => "assessment_reports/cpage2"
  .page-break 
  = render :template => "assessment_reports/cpage3"
  .page-break 