= render partial: "shared/reports/pdf/report_header.pdf.haml"
.norm_bucket_descrption.overview
  .divider1
  .inner
    .blue_heading.large-text
      Explanation of Jombay Scores
  %ul
    - @norm_buckets.each do |norm_bucket1|
      %li
        .scale
          .line
          .marker-container
            - @norm_buckets.each do |norm_bucket2|
              -# add ".active" clases to ".marker"
              .marker{ class: norm_bucket1 == norm_bucket2 ? 'active' : '' }
                - if norm_bucket2.name.split(" ").size == 1
                  %br/
                = norm_bucket2.name
            .clr
            .divider1
        .description.default.span8.pull-right
          .divider1
          = norm_bucket1.description
        .clr
