- if @report.report_hash[:enable_norm_bucket_description_page]
  .norm_bucket_descrption
    #traits.section02
      .container
        .divider2
        .title
          Explanation of Jombay Scores
      .divider1
      %ul
        - @norm_buckets.each do |norm_bucket1|
          %li
            .container
              .scale
                .line
                .marker-container
                  - @norm_buckets.each do |norm_bucket2|
                    -# add ".active" clases to ".marker"
                    .marker{ class: norm_bucket1 == norm_bucket2 ? 'active' : '' }
                      - if norm_bucket2.name.split(" ").size == 1
                        %br/
                      = norm_bucket2.name
                  .clr
                  .divider1
              .description.default.big-text.span13.pull-right
                .divider1
                = norm_bucket1.description
              .clr
                
