.factor_fit.report_content
  .report_title
    Factors under Company Fit
  .instruction1
    Favorable 
  .instruction2
    Less Favorable 
  .factors_container
    .factor_1.favorable
      .wrapper
        Assertiveness
    .factor_2.less_favorable
      .wrapper{:style=>"margin-top: 10px;"}
        Assertiveness
    .factor_3
      .wrapper
        Assertiveness
    .factor_4.less_favorable
      .wrapper
        Assertiveness
    .factor_5.favorable
      .wrapper
        Assertiveness
    .factor_6
      .wrapper
        Assertiveness
    .factor_7.favorable
      .wrapper
        Assertiveness
    .factor_8.less_favorable
      .wrapper
        Assertiveness
    .factor_9.favorable
      .wrapper
        Assertiveness
    .factor_10
      .wrapper
        Assertiveness
    .factor_11.less_favorable
      .wrapper
        Assertiveness
    .factor_12.favorable
      .wrapper
        Assertiveness
    .factor_13
      .wrapper
        Assertiveness
    .factor_14.less_favorable
      .wrapper
        Assertiveness
  .bottom_sec
    .title_1
      Job Role Fit
    .strength_1
      High
    .title_2
      Team Fit
    .strength_2
      Low
    .title_3
      Company Fit
    .strength_3
      Average