.inner
  .scores.interview_guide 
    .blue_bg_heading.pull-left
      - if @report.report_hash[:candidate_stage].to_sym == :candidate
        %b Interview Questions
      - else
        %b 
          Development Guide
          .medium-text
            for the Candidate
      =# "(continued)" if step != 0      
    .indication.pull-right
      .hexagon-icon.favorable.pull-left
      .pull-left.extra-medium-text
        Favorable
      .hexagon-icon.less_favorable.pull-left
      .pull-left.extra-medium-text
        Less Favorable
      - if @report.report_hash[:candidate_stage].to_sym == :candidate  
        .hexagon-icon.mid_favorable.pull-left
        .pull-left.extra-medium-text
          Miscellaneous
    .clr
    .divider1
    %ul.unstyled.clearfix.interview_guide_listing 
      - post_assessment_guidelines.each do |factor_name, guide|
        %li
          - klass = guide[:factor_type] == "Suitability::DirectPredictor" ? 'mid_favorable' : (guide[:pass]? 'favorable' : 'less_favorable')
          .span1.first.que-no.hexagon-icon{ class: klass }
          .factor-name.pull-left
            = factor_name
          .description.pull-left
            = guide[:body]
          .clr
