.interview_guide_report
  .report_title
    .inn
      Interview Guide
  .report_content
    .page_inner
      .hexagon-box
        .content
          .lhs.span4
            %b Street smartness
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
      .hexagon-box
        .content
          .lhs.span4
            %b Target orientation
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
      .hexagon-box
        .content
          .lhs.span4
            %b Ownership
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
      .divider1
      .hexagon-box.yellow
        .content
          .lhs.span4
            %b Capacity to take stress
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
      .hexagon-box.yellow
        .content
          .lhs.span4
            %b Cooperative &amp; helpful
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
      .hexagon-box.yellow
        .content
          .lhs.span4
            %b Being Considerate
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
      .divider1
      .hexagon-box.red
        .content
          .lhs.span4
            %b Self-awareness
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
      .hexagon-box.red
        .content
          .lhs.span4
            %b Introversion - Extraversion
          .span1.text-center
            Q
          .rhs.span6
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ?
          .clr
    .divider4
