.overall_report
  .logo.pull-right
  .clr
  .heading
    .user_name
      Pratik Munot
    .date
      Test Date: 33/33/3333
    .span.first
      Test Name: 
    .span8
      Sales Manager at Mercedes Benz Dealership
    .clr

  .sub-heading.large-text.pull-right
    Jombay Recommends : Hire with Caution 
  .clr
  .sub-heading.medium-text.pull-right
    Pratik’s Fitment Scores
  .clr
  .visual
    .strength_1
      High
    .strength_2
      Low
    .strength_3
      Average
      
    .title_1
      Company Fit
    .title_2
      Job Role Fit
    .title_3
      Team Fit
