.scores.overview
  .heading.green.pull-left
    Miscellaneous

  .clr
  .divider2

  .miscellaneous
    -3.times do 
      .snippet
        .lhs.pull-left
          .hexagon-big-icon.pull-left
            Conflict Resolution
          .title.pull-left
            Avoidance
          .clr
        .rhs.pull-left
          More likely to avoid confrontation with the other parties involved in conflict
        .clr
  .heading.yellow.pull-left
    Alarms

  .clr.divider2

