.scores.interview_guide 
  .heading.light_blue.pull-left
    Interview Guide 
  .clr
  .divider1
  %ul.unstyled.clearfix.interview_guide_listing 
    - 12.times do
      %li
        .span1.first.que-no.hexagon-icon.favorable
          Q
        //classes for Hexagon icon, .favorable .less_favorable .mid_favorable having green, yellow and blue borders plz delete this comment
        .factor-name.pull-left
          Self Understanding
        .description.pull-left
          Everyone has to bend or break rules sometimes.  Give few examples when you had to do this.
        .clr
