= render :template => "assessment_reports/training_requirements_report/page1"
= render :template => "assessment_reports/training_requirements_report/page2"
= render :template => "assessment_reports/training_requirements_report/page3"
= render :template => "assessment_reports/training_requirements_report/page4"
