.company_profile
  .page-title
    .divider1
    Settings
    
  .divider2
  = render :partial => "shared/settings-content-sub-nav"

  .padding-all2.border-warning.shifted-up1
    .extra-large-text.text-center
      Please provide the following information
    .divider2
    = form_for :subsciption, :url => add_mrf_subscription_company_path(@company), method: :put, :html => { :class => "add_subscription text-right span14 margin-auto"}  do |f|
      .control-group
        %label.span6.first.big-text.line-height2.gray-darker
          Number of Assessments:
        = f.text_field :assessments_purchased, :name => "merchant_param1", :class => "first span7 medium-text left-offset1"
        .clr

      .control-group
        %label.span6.first.big-text.line-height2.gray-darker
          Expiry Date of Subscription
        = f.text_field :valid_to, :name => "merchant_param2", :class => "first span7 medium-text left-offset1"

        .clr
      
      %input.btn.btn-warning.large-text.pull-right{:type => "submit", :value => "Submit"}
      .clr
