.candidate-search
  .alert.alert-error.big-text
    Please enter an Assessment Taker's name or email address to search!
  .page-title
    Search Assessment Takers
  .divider2
  %input.search-field{:type => "text", :placeholder => "Assessment Taker Name or Email id"}
  .search-btn
    %input{:type=>"submit", :value => ""}
  .span.info-text.line-height2
    Please enter an Assessment Taker's name or email address and press a button to search
  .clr

  .divider2

  .big-text
    Showing results for “Pranav D Shah”
  
  .divider2
  
  .list-snippet-titles.big-text.clearfix
    .span3.first
      %a.down{:href => "#", :title => "Sort by id in ascending order"}
        ATID
        %i.icon-chevron-down.small-text.line-height1
    .span7
      %a.down{:href => "#", :title => "Sort by name in ascending order"}
        Assessment Taker
        %i.icon-chevron-down.small-text.line-height1
    .span6
      %a.down{:href => "#", :title => "Sort by status in ascending order"}
        Assessment Title
        %i.icon-chevron-down.small-text.line-height1
    .span8
      %a.down{:href => "#", :title => "Sort by status in ascending order"}
        Assessment Status
        %i.icon-chevron-down.small-text.line-height1
    .clr
    .divider1
  %ul
    -5.times do
      %li.list-snippet.extra-medium-text
        .divider1
        .span3.first
          %a{:href => "#", :title => ""} 
            2812
        .span7.info-block
          %a{:href => "#", :title => "David Goliath"}
            David Goliath
        .span6
          %a{:href => "#", :title => ""}
            2612-Arts&Crafts-1-3
        .span8
          %a.down{:href => "#", :title => ""}
            Pending as of 11:45 Hrs, 09/10/2014
        .span
          %a{:href => "#", :title => "Send Reminder"}
            %i.icon-time
            Send Reminder
            -# instead of send reminder and icon
              %i.icon-file
                View Report
            -#Or
              %i.icon-spinner.icon-spin 
                Generating Report...
        .clr
  .divider2
  .pull-right
    .muted.extra-medium-text
      .span.line-height2
        Go to Page
      %select.span2
        %option
          1
      .clr
  .clr

  -#if search did not match, then only enable below HAML
    .big-text
      Your search - "Pranavvss SHakh" - did not match any Assessment Takers
      .divider2
      Suggestions:
      .divider2
      %ul.styled
        %li If searching using name, please ensure correct spelling
        %li If searching using email ID, please use a valid email address associated with an assessment, without any spaces
        %li Type the name or email ID - avoid copying & pasting from another source
