.company_profile
  = render :partial => "shared/sub-nav"
  .inn.first
    .page-title
      Settings
  .inn.gray-gradient
    = render :partial => "shared/settings-content-sub-nav"
    .clr
    .divider1
  .inn
    .page-title.text-center
      Please provide the following information
  %form.edit_company{name:"edit_company"}

    .left-offset1.pull-left
      %label
        Company Pan Card Number:
      %input{:type => "text", name:"pancard"}

    .left-offset1.pull-left
      %label
        Country:
      %input{:type => "text", country:""}

    .clr
    .left-offset1.pull-left
      %label
        State:
      %select{name:"state"}
        %option
          1
        %option
          2
        %option
          3
        %option
          4

    .left-offset1.pull-left
      %label
        City:
      %select{name:"city"}
        %option
          1
        %option
          2
        %option
          3
        %option
          4
    .clr

    .left-offset1.pull-left
      %label
        Company Address:
      %textarea{name:"company_address", rows:"5"}

    .left-offset1.pull-left
      %label
        Pincode:
      %input{:type => "text", name:"pincode"}

    .clr

    .left-offset1.pull-left
      %label
        Contact Person's Name:
      %input{:type => "text", name:"contact_person" }

    .left-offset1.pull-left
      %label
        Contact Person's Number:
      %input{:type => "text", name:"contact_person_number" }

    .clr
    
    .form-action.pull-right
      %button.btn.btn-info
        Submit