- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"
.home
  - if session[:show_home_page_message] != false
    - session[:show_home_page_message] = false
    #flag.alert.alert-info.fw
      Welcome! You can start using one of the Ready-to-Use assessments or create a Custom Assessment to suit your requirements!
      %br/
      You can use these assessments to measure behavior of your existing employee or potential hire that you are making.
      %a.close{:href => "#", :id => "close"}
        CLOSE
        %span.medium-text
          x
  .divider1

  .page-title.pull-left
    Ready-to-Send Assessments
  %a.icon-question-sign.large-text{:href=>"#how-it-works", :title=>"How it Works?"}
  %a.button.btn.btn-warning.big-text.pull-right{href: new_company_custom_assessment_path(@company)}
    Create Custom Assessment
  .clr

  .divider1

  .big-text
    Choose the Assessment that comes close to the Job Role you want to measure.

  .divider2

  %ul.assessment-list.span28.margin-auto.clearfix
    - if @candidate_assessment
      - report = @candidate_assessment.candidate_assessment_reports.present? ? @candidate_assessment.candidate_assessment_reports.first : nil
      - if report && report.status == "uploaded"
        - url = company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => params[:id], :candidate_id => @candidate_assessment.candidate_id, :custom_assessment_id => @candidate_assessment.assessment_id, :id => report.id, :view_mode => "html")
      - else    
        - url = @candidate_assessment.url
    - if url.present?
      %li
        %a.fw.span{:href => url, target: "_blank"}
          .pull-left
            Quick Self Assessment
          .icon-chevron-right.pull-right    
    - if @standard_assessments.present?
      -@standard_assessments.each do |standard_assessment|
        %li
          %a.span7.medium-text{:href => company_standard_assessment_path(@company,standard_assessment)}
            = standard_assessment.name
          .pull-right
            %a.icon-eye-open{:href => company_standard_assessment_path(@company,standard_assessment), :title => "View Assessment Details"}
            - if standard_assessment.report_urls.present?
              %a.icon-file{:href => standard_assessment.report_urls["pdf"], :target => "_blank",:title => "View Sample Report'"}
            - else
              %a.icon-file{:href => "#", :title => "View Sample Report"}

            %a.icon-envelope{:href => send_test_company_standard_assessment_path(@company,standard_assessment), :title => "Send Assessment"}
            .clr
          .clr
    - else
      %li
        %a.span8{:href => "#"}
          No Ready To Send Assessments Present
        .clr

  
  .divider2
  #how-it-works.info-list.span24.margin-auto.text-center
    .extra-large-text
      How it Works
    .divider4
    %ul.clearfix
      %li.span8
        .thumb1.divider5
        .extra-medium-text
          1. Choose Relevant Asessment
      %li.span8
        .thumb2.divider5
        .extra-medium-text
          2. See Assessment Details
      %li.span7
        .thumb3.divider5
        .extra-medium-text
          3. Send Assessment

  .divider4.border-bottom-grayLighter
  .divider2
  
  .benefit-list.span21.margin-auto.text-center
    .extra-large-text
      Benefits of Using Jombay
    .divider4
    %ul.clearfix
      %li.span5
        .thumb1.divider5
        .extra-medium-text
          Hire for the right Cultural Fit
      %li.span5
        .thumb2.divider5
        .extra-medium-text
          Reduce hiring errors
      %li.span5
        .thumb3.divider5
        .extra-medium-text
          Predict Attrition
      %li.span5
        .thumb4.divider5
        .extra-medium-text
          Identify Leadership Potential

  .divider2

:javascript
  $("#close").on('click',function(){
    $("#flag").hide(500);
  })

