.password_setting
  .inn.first
    .page-title
      Settings
  .inn.gray-gradient
    .pull-left
      = render :partial => "shared/settings-content-sub-nav"
    .clr
    .divider2
    .alert.alert-error
      Password Don’t Match
    .divider1
    %form
      .control
        %label
          Old Password
        %input{:type => "password"}
        .clr
      .control
        %label
          New Password
        %input{:type => "password"}
        .clr
      .control
        %label
          Confirm Password
        %input{:type => "password"}
        .clr
      %button.btn.btn-info.pull-right
        Change Password
      .clr
