.over_all_report
  .report_title
    .inn
      .large-text Recommendation
      .extra_large_text Hire With Caution 
      .font-normal Test Name: Sales Manager at Mercedes Benz Dealership
  .report_content
    .divider1
    .large-text.text-center
      %b Overall Scores