.about_vac
  .inner
    .blue_heading.big-text 
      About Jombay

  %ul
    %li
      .inner
        %strong
          About Jombay
        %p
          Jombay is a Behavior to Bottomline Company. Jombay’s Assessment tools are based on Goleman’s emotional intelligence model and Cattell’s Source & Surface theory. Jombay has profiled more than 1 million professionals to offer a highly valid and reliable suite of Assessment and 360 degree tools. Jombay’s tools are used by Fortune 500 companies to hire, promote and develop talent.
    %li
      .inner
        %strong
          About Knolskape
        %p
          KNOLSKAPE (www.knolskape.com) is an award-winning immersive gamification and simulation software company focusing on talent transformation. Using experiential learning products, KNOLSKAPE helps organizations attract, grow and retain talent. Global Fortune 500 companies and Top-10 B-schools use KNOLSKAPE’s products and solutions for on-boarding, training, assessments and talent engagement. KNOLSKAPE is funded by Inventus Capital and HR Fund and is supported by Microsoft Ventures.
    %li
      .inner
        %strong
          About TalentLens
        %p
          We develop and deliver leading, scientifically-valid assessments used to improve performance, identify talent, develop leaders, and engage teams.
          %br
          TalentLens, a Pearson business, publishes scientific assessments that are used globally to hire and develop the 21st century workforce. Our instruments measure critical thinking, problem solving, and a range of job skills to deliver data-driven insights that inform and clarify an organization's human capital decisions. Learn more at TalentLens.com.
   

  .divider2
     