= render "shared/reports/pdf/oac_report_header"
.about_vac
  .inner
    %h1.blue_heading.big-text 
      About Us
  %ul
    - tools = @report.report_data[:tools].values.uniq_by{|config| config[:company_name] }
    - tools.each do |config|
      %li
        .inner
          %strong.span10
            About #{config[:company_name]}
          .clr
          %p
            #{config[:about_company].html_safe}
