.divider1
.about-us
  .header
    .icon
    .title
      
    .clr
  .divider1
  .inner
    .content
      %ul
        %li.feature01
          %p
            %b About Jombay: 
            Jombay is a Talent Assessment & Analytics platform powered by Psychometrics. Jombay measures Personality, Attitudes, Emotional Intelligence, Motivators and Organizational Skills of an individual. Psychometrics is a field of Psychology that enables you to objectively measure human behavior - for the purpose of hiring, promoting  or developing your talent. Jombay has profiled more than 1 million Professionals across the globe.

        %li.feature02
          %p
            %b Underlying Theories & Concepts: 
            Jombay Assessments are based on globally proven theories in Psychology such as the Big Five Theory by Costa and McCrae, Cattell's Theory of Surface and Source Traits, Rotter's Expectancy Theory, Organ's Theory of Organizational Citizenship Behavior and Goleman's concept of Emotional Intelligence.
        %li.sub-title
          What differentiates Jombay?
        %li.feature03
          %p
            %b Scientifically Validated: 
            Jombay Assessment has been created by referring to the test development guidelines published by the International Test Commission (ITC) and American Psychological Association (APA). It means that you can trust Jombay to be based on sound People Science - it delivers stable and consistent scores (i.e. are reliable); and, its reports are useful and accurate to individuals (i.e. are valid).   

        %li.feature04
          %p
            %b Customization: 
            Jombay allows you to customize assessments to every job role, competencies or core values. You can measure what is relevant to you or your company requirements - No force fitting!

        %li.feature05
          %p
            %b Integrated Talent Analytics: 
            Jombay provides you actionable insights through Analytics reports around Benchmarking of Talent, Training Needs Identifications, Attrition Analysis among others.
- if @report && @report.report_hash && @report.report_hash[:assessment] && @report.report_hash[:assessment][:is_jombay_pearson_test]
  .company-summary
    .content
      .company-logo
        = wicked_pdf_image_tag('report/pdf/talent-lens.png')
      .divider1
      %p
        We develop and deliver leading, scientifically-valid assessments used to improve performance, identify talent, develop leaders, and engage teams. TalentLens, a Pearson business, publishes scientific assessments that are used globally to hire and develop the 21st century workforce. Our instruments measure critical thinking, problem solving, and a range of job skills to deliver data-driven insights that inform and clarify an organization's human capital decisions. Learn more at TalentLens.com.

- else
  .divider1
  = render :partial => "shared/reports/pdf/contact_section.pdf.haml"
