.common-top-trangle
  .divider1
  .about-us
    .inner
      .content
        %ul
          %li.feature01
            %h1.font-bold.medium-text.default{:style => "display: inline-block; line-hieght: 25px;"} About Jombay
            %span.medium-text.default{:style => "line-hieght: 25px;"}
              \: Jombay is a Behavior to Bottomline Company. Jombay&apos;s Assessment tools are based on Goleman&apos;s emotional intelligence model and Cattell&apos;s Source & Surface theory. Jombay has profiled more than 1 million professionals to offer a highly valid and reliable suite of Assessment and 360 degree tools. Jombay&apos;s tools are used by Fortune 500 companies to hire, promote and develop talent.

          %li.feature06
            %p
              %span
              For Support related queries, contact us at support&#64;jombay.com
  - if @report && @report.report_hash && @report.report_hash[:assessment] && @report.report_hash[:assessment][:brand_partner].present?
    .company-summary
      .content
        - imagePath = asset_path("#{@report.report_hash[:assessment][:brand_partner].underscore}.png")
        .company-logo
          .partner-logo{:style => "background: url(#{imagePath}) no-repeat center 0; width: 240px; height: 55px "}
        .divider1
        = Rails.application.config.brand_partners[@report.report_hash[:assessment][:brand_partner].underscore][:description].html_safe
  - else
    .divider1
    = render :partial => "shared/reports/pdf/contact_section.pdf"
