.divider1
.contact_section
  .content
    .title For Sales Enquiries
    %ul.clearfix
      %li
        America & Europe
        %a{:href=> "mailto:mansi@jombay.com"}
          mansi@jombay.com
      %li
        Africa, Middle East & Asia
        %a{:href=> "mailto:pratik@jombay.com"}
          pratik@jombay.com
      %li
        India
        %a{:href=> "mailto:pranali@jombay.com"}
          pranali@jombay.com
      %li
        Australia & New Zealand
        %a{:href=> "mailto:anuja@jombay.com"}
          anuja@jombay.com
    .clr
    .divider1

    .text-right
      %a.default-color{:href=> "http://products.jombay.com/", :target=>"_blank"}
        %i.icon-globe
        www.jombay.com