.report_header.clearfix
  .container{:style=>"width: 92%"}
    .logo.full-logo
      = image_tag('report/pdf/jombay-logo-icon.png')
    - if @report.report_data[:assessment][:brand_partners].to_a.include?("cocubes")
      - logo_url = asset_path("cocubes.png")
      .logo-partner.with-full-logo
        =image_tag(logo_url, :style => "padding: 5px 0 0 10px;")
    .text-right
      .user_name
        = @report.report_data[:user][:name]
      .medium-text
        Assessment: 
        = @report.report_data[:assessment][:name]
    .clr
