- force ||= false
- navigation ||= true
- last_page ||= false
- if @view_mode != "html" || force
  .footer.clearfix
    - if @view_mode != "html" && navigation
      .current-page.pull-left
        1
      .left-offset1.pull-left
        Private &amp; Confidential

      .pull-right 
        &copy; Jombay 

    - else    
      .pull-left
        Private &amp; Confidential
      .pull-right 
        &copy; Jombay 
    .clr 
- if @view_mode == "html" && !last_page     
  %hr
