.header.clearfix
  .logo
    = wicked_pdf_image_tag ('report/pdf/jombay-logo-icon.png')
  .text-right
    .user_name
      = @report.report_hash[:candidate][:name]
    .medium-text
      Assessment: 
      = @report.report_hash[:assessment][:name]

