%h1 All Items / Item Groups
- if can? :create, "Engagement::Item"
  = link_to "Manage Engagement Items", manage_engagement_items_path

.pagination.pull-right
  = paginate @items
.clr
= render partial: 'index', locals: { items: @items }
.pagination.pull-right
  = paginate @items
.clr
