%div{ style: "margin-left:50px;" }
  %br/
  = render :partial => 'jq/candidate_assessment_reports/import_norm_population'
  %br/
  = render :partial => 'jq/candidate_assessment_reports/export_norm_population'
  %br/

