.report
  .about-us, .legal_disclaimer
    background: image-url('report/body-bg.png') no-repeat #fff
    min-height: 760px
    .content
      padding: 0 30px
    .header
      background: image-url('report/blue-texture.png') 
      padding: 10px 30px
      .icon
        background: image-url('report/jombay-logo-icon.png') no-repeat 0 0
        height: 72px
        width: 85px
        float: left
      .title
        float: left
        color: #fff
        font-weight: bold
        font-size: 28px 
        line-height: 72px
        padding: 0 0 0 25px
  .legal_disclaimer
    margin-top: 0px
    p
      font-size: 14px
      line-height: 25px
  .about-us
    margin-top: 0px
    .header
      .title
        background: image-url('report/about_title_logo.png') no-repeat center right
        padding-right: 125px
    ul
      margin: 0
      li[class*="feature"]
        list-style: none
        border-bottom: 1px dashed #a3a3a3
        padding-top: 15px
        p
          font-size: 14px
          line-height: 25px

          &.title
            font-size: 17px
            font-weight: bold
    [class*="feature"]
      min-height: 130px
    .feature01
      background: image-url('report/about-us/feature01.png') no-repeat 93% 0px
      padding-right: 277px
      padding-bottom: 30px
      background-size: 25%
    .feature02
      background: image-url('report/about-us/feature02.png') no-repeat 5% 25px
      padding-left: 160px
      
    .feature03
      background: image-url('report/about-us/feature03.png') no-repeat 95% 30px
      padding-right: 172px
      
    .feature04
      background: image-url('report/about-us/feature04.png') no-repeat 5% 30px
      padding-left: 160px
      
    .feature05
      background: image-url('report/about-us/feature05.png') no-repeat 95% 25px
      padding-right: 200px
      
    .feature06
      background: image-url('report/about-us/feature06.png') no-repeat 5% 30px
      padding-left: 155px
  .contact_section
    background: #fffaed
    padding: 10px 7px 5px 7px
    font-weight: bold
    .title
      font-size: 12.75px
      padding: 0 0 10px 30px

    ul
      background: #fff
      margin: 0
      li
        font-weight: bold
        float: left
        font-size: 11.33px
        padding: 15px 15px
      [class^="icon-"], [class*=" icon-"]
        &:before
          color: #ff8b19
          font-size: 18px
          width: 22px
