.factors_container
  background: image-url("report/pdf/hexagon-bg.png") no-repeat center center
  height: 785px
  width: 760px
  margin: auto
 
  .factors_list
    position: relative
    height: 117px
    line-height: 15px
  [class*="factor_"]
    position: absolute
    width: 117px
    text-align: center
    font-weight: 700 
    font-size: $medium-text
  .favorable
    color: #82d23f  
  .less_favorable
    color: #ffc000
    text-decoration: underline  
  .factor_1
    left: 320px
    top: 245px
  .factor_2
    left: 440px
    top: 245px
  .factor_3
    left: 380px
    top: 345px
  .factor_4
    left: 262px
    top: 345px
  .factor_5
    left: 200px
    top: 245px
  .factor_6
    left: 262px
    top: 140px
  .factor_7
    left: 380px
    top: 140px
  .factor_8
    left: 500px
    top: 140px
  .factor_9
    left: 560px
    top: 245px
  .factor_10
    left: 500px
    top: 345px
  .factor_11
    left: 440px
    top: 450px
  .factor_12
    left: 320px
    top: 450px
  .factor_13
    left: 200px
    top: 450px
  .factor_14
    left: 142px
    top: 345px
  .factor_15
    left: 83px
    top: 245px
  .factor_16
    left: 143px
    top: 140px
  .factor_17
    left: 320px
    top: 35px
  .factor_18
    left: 620px
    top: 345px
  .factor_19
    left: 560px
    top: 450px
  .factor_20
    left: 500px
    top: 555px
  .factor_21
    left: 380px
    top: 555px
  .factor_22
    left: 262px
    top: 555px
  .factor_23
    left: 142px
    top: 555px
  .factor_24
    left: 83px
    top: 450px
  .factor_25
    left: 23px
    top: 345px
  .factor_26
    left: 320px
    top: 660px
  .factor_27
    left: 440px
    top: 660px
  .factor_28
    left: 560px
    top: 660px
  .factor_29
    left: 620px
    top: 555px
  .factor_30
    left: 675px
    top: 450px
  .factor_31
    left: 675px
    top: 245px
  .factor_32
    left: 620px
    top: 140px
  .factor_33
    left: 560px
    top: 35px
  .factor_34
    left: 440px
    top: 35px
  .factor_35
    left: 200px
    top: 35px
  .factor_36
    left: 83px
    top: 35px
  .factor_37
    left: 23px
    top: 140px
  .factor_38
    left: -35px
    top: 245px
  .factor_39
    left: -35px
    top: 450px
  .factor_40
    left: 23px
    top: 555px
  .factor_41
    left: 83px
    top: 660px
  .factor_42
    left: 200px
    top: 660px
  .factor_43
    left: 262px
    top: 755px
  .factor_44
    left: 380px
    top: 755px
  .factor_45
    left: 500px
    top: 755px
  .factor_46
    left: 142px
    top: 755px
  .factor_47
    left: 620px
    top: 755px
  .factor_48
    left: 23px
    top: 755px