.span
  - if @report && @report.report_hash && @report.report_hash[:assessment]
    - @report.report_hash[:assessment][:brand_partners].to_a.each do |partner|
      - partner_image_path = asset_path("#{partner.underscore}.png")
      %img.pull-right{:src => partner_image_path}
.clr
