.span
  - if @report && @report.report_hash && @report.report_hash[:assessment]
    - logos = @report.report_hash[:assessment][:brand_partners].to_a.map{|partner| Rails.application.config.brand_partners[partner][:logo] }.compact.uniq
    - logos.each do |logo|
      %img.pull-right{:src => asset_path(logo)}
.clr
