%li
  %a.scroll{:href => "#developement_guide", :title => "Development Guide for the Assessment Taker"}
    = @report.report_hash[:candidate_stage].to_sym == :user ? "Interview Guide" : "Development Guide"
