.section03
  .divider1
  .scores.container
    .title.span15.line-height2
      Please rate assessment_takers_name on the following traits
    .scale
      .line
      .marker-container
        .marker
          .arrow
          .marker-info
            Low' is the minimum score on the scale
          %br
          Low
    .clr
    .divider1
    %ul
      -5.times do
        %li.border-bottom-d-grayLighter
          .divider1
          .big-text.bold.span4
            Adaptability
          .extra-medium-text.gray-dark.span19
            Degree to which an individual is willing to go out of his/her way to ensure customer satisfaction
          .medium-text.span.line-height2.gray-dark
            Your rating is
          %select.span4
            %option
              1
          .clr
          .divider1
