#guidelines
  .divider2
  .container
    .title
      Guidelines to providing Feedback
    .divider2
    .guidelines
      .divider2
      .scale
        .line
        .marker-container
          .marker
            .arrow
            .marker-info
              Low on the scale indicates that the individual possesses or exhibits minimum amount of the trait measured
            %br/
            Low
          .marker
            .arrow
            .marker-info
              Below Average on the scale indicates that the individual possesses or exhibits the traits measured, lesser than the Average but not as minimal as Low score on the scale
            Below Average
          .marker
            .arrow
            .marker-info
              Average (Low) on the scale indicates that the individual possesses or exhibits average behavior of the trait measured, but lies on the lower side of the mean
            Average (Low)
          .marker
            .arrow
            .marker-info
              Average (High) on the scale indicates that the individual possesses or exhibits average behavior of the trait measured, but lies on the higher side of the mean
            Average (High)
          .marker
            .arrow
            .marker-info
              Above Average on the scale indicates that the individual possesses or exhibits the traits measured, more than the Average, but lesser than High score on the scale
            Above Average
          .marker
            .arrow
            .marker-info
              High on the scale indicates that the individual possesses or exhibits higher amount of the trait measured than most of the population
            %br/
            High
          .clr
    .divider2