#spotlight
  .container
    .feedback_spotlight_title
      You are providing feedback for
      #{@report.report_hash[:candidate][:name]}&#39;s report
      .divider1
      .extra-medium-text.text-center
        This report was generated after 
        #{@report.report_hash[:candidate][:name]} 
        answered a Jombay Behavioral Assessment
