- if skills_list.skills.attributes.to_a.present?
  .inn.clearfix
    %strong.medium_text
      #{ skills_list.hexref }
    .divider1
    = render :partial => "recruiters/skill_level", collection: skills_list.skills.attributes.to_a
