%h1 All Items / Item Groups
- if can? :create, "Suitability::Item"
  = link_to "Manage Mrf Items", manage_mrf_items_path

.pagination.pull-right
  = paginate @items
.clr
= render partial: 'index', locals: { items: @items }
.pagination.pull-right
  = paginate @items
.clr
