- competency_scores = @report_data[:competency_scores].sort_by{|competency, competency_data| competency_data[:avg_score][:score] }.reverse
.competency_report
  #traits.section02
    .divider2
    .scores.container
      .title
        Competencies / Values Measured
      .divider2
      .instruction_container
        .instructions
          .instruction1.pull-left
            Favorable Traits
          .instruction2.less_favorable.pull-left
            Less Favorable Traits
          .clr
      .divider3
      - competency_scores.each do |competency, competency_data|
        = render :partial => "assessment_reports/training_requirements_report/html/competency_factor_block", locals: { competency: competency, competency_data: competency_data }
    
