- competency_scores = @report_data[:competency_scores].sort_by{|competency, competency_data| competency_data[:avg_score][:score] }.reverse
.competency_report
  .overview
    .divider2
    - if !@report.cover_page
      .divider2
    .bottom-triangle
      .container
        .divider1
        .content
          .overview-title
            .pull-left
              .divider3
              Overview of Competencies / Values Measured
            .scale.right-offset1
              .line
              .marker-container
                - @norm_buckets.each do |norm_bucket|
                  .marker
                    .arrow
                    .marker-info
                      = norm_bucket.description
                    = norm_bucket.name
                .clr
            .clr
          .divider2
          %ul.competency-list.pull-left
            - competency_scores.each do |competency, competency_data|
              %li
                .competency-name.pull-left
                  = competency
                .competency-value.pull-right
                  .scale.right-offset1
                    .line
                    .marker-container
                      - @norm_buckets.each do |norm_bucket|  
                        .marker{ class: (norm_bucket.name == competency_data[:avg_score][:bucket] ? 'active' : '') }
                          = norm_bucket.name if norm_bucket.name == competency_data[:avg_score][:bucket]
                      .clr
                  .clr
                .clr
          .clr
        .divider2
