#overview.section01
  .overall_report.container
    .divider12
    .final-score.pull-right
      = @report.report_title
    .clr
    .divider3
    .extra-medium-text
      Report Generated On: #{hdate(Date.today)}
      .divider1
      Assessment Included: 
      #{@report_data[:assessment_name]}
      .divider1
      Total Candidates Assessed: 
      #{@report_data[:no_of_candidates_assessed]}
    .divider2



      
