#trait-score
  .container
    .divider2
    .title.pull-left
      Top Training Needs
    .pull-left
      .score-indicator
        .indicator.less-favorable
          Candidates with Less Favourable scores
        .indicator.favorable
          Candidates with Favourable scores
        .clr
    .clr
    .divider3

  - if @report_data[:trr_graph] == "bar"
    = render :partial => "assessment_reports/training_requirements_report/html/bar_graph", :locals => { :factor_scores => factor_scores, :step => step }
  - else
    = render :partial => "assessment_reports/training_requirements_report/html/pie_chart", :locals => { :factor_scores => factor_scores, :step => step }

