#about_vac.about_vac.section03
  .divider2
  .container
    .title
      About Us
    .divider2

  %ul
    - tools = @report.report_data[:tools].values.uniq_by{|config| config[:company_name] }
    - tools.each do |config|
      %li
        .container
          %strong
            About #{config[:company_name]}
          %p
            #{config[:about_company].html_safe}
  .divider2
     
