.about-us
  .header
    .container
      .icon
      .title
        .logo
      .clr
  .about-us-top-triangle
    .about-us-bottom-triangle
      .container
        .divider3
        .content
          %ul
            %li.feature01
              %p
                %b About Jombay: 
                Jombay is a Talent Assessment & Analytics platform powered by Psychometrics. Jombay measures Personality, Attitudes, Emotional Intelligence, Motivators and Organizational Skills of an individual. Psychometrics is a field of Psychology that enables you to objectively measure human behavior - for the purpose of hiring, promoting  or developing your talent. Jombay has profiled more than 1 million Professionals across the globe.

            %li.feature02
              %p
                %b Underlying Theories & Concepts: 
                Jombay Assessments are based on globally proven theories in Psychology such as the Big Five Theory by Costa and McCrae, Cattell's Theory of Surface and Source Traits, Rotter's Expectancy Theory, Organ's Theory of Organizational Citizenship Behavior and Goleman's concept of Emotional Intelligence.
            %li.sub-title
              What differentiates Jombay?
            %li.feature03
              %p
                %b Scientifically Validated: 
                Jombay Assessment has been created by referring to the test development guidelines published by the International Test Commission (ITC) and American Psychological Association (APA). It means that you can trust Jombay to be based on sound People Science - it delivers stable and consistent scores (i.e. are reliable); and, its reports are useful and accurate to individuals (i.e. are valid). 

            %li.feature04
              %p
                %b Customization: 
                Jombay allows you to customize assessments to every job role, competencies or core values. You can measure what is relevant to you or your company requirements - No force fitting!

            %li.feature05
              %p
                %b Integrated Talent Analytics: 
                Jombay provides you actionable insights through Analytics reports around Benchmarking of Talent, Training Needs Identifications, Attrition Analysis among others.

        .divider1
        .content.company-summary
          .company-badge
            TalentLens
          .divider2
          %p
            %b
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia faucibus egestas. Nunc in egestas sapien. Pellentesque euismod maximus faucibus. Morbi dignissim tortor quis tortor facilisis sollicitudin. Praesent iaculis massa ex, in placerat tortor interdum nec. Nullam tempus tristique nibh non fermentum. Aliquam tincidunt laoreet mi. Suspendisse tincidunt feugiat est non interdum. Morbi tempor dignissim ipsum quis posuere. Integer ultrices nibh vitae tincidunt congue. Pellentesque a purus dui. Praesent purus neque, commodo id sagittis ut, ornare facilisis nunc. Integer mattis metus ut orci pharetra, ac semper nisi aliquam.
              Phasellus enim massa, feugiat sit amet ligula nec, faucibus maximus massa. Praesent vulputate magna mauris, ut tincidunt ante tincidunt a. Morbi euismod malesuada eros, vel sollicitudin sapien tincidunt vel. Nam et nisi pretium, posuere arcu sit amet, tincidunt urna. Nulla quis augue fermentum, mattis lacus in, vulputate mauris. Curabitur hendrerit nec mauris ac mollis. Integer nec feugiat tellus. Cras quis est vel urna consequat tristique quis vitae nisi. Quisque nec sagittis tellus, vitae fringilla turpis. Duis placerat, arcu eu elementum elementum, sapien ipsum placerat neque, eget feugiat lorem dolor quis lectus. Phasellus faucibus quam nibh, ac ornare ipsum pellentesque a. Sed nec nisi nec diam gravida dignissim id non libero. Proin vitae maximus orci. Suspendisse potenti. Donec dignissim posuere lectus, ac faucibus lacus egestas vel. Proin a vehicula mi, at dignissim lacus.




        .divider1
        .content.contact_section
          .divider1
          .inn
            .caption For Sales Enquiries
            .divider1
            %ul.clearfix
              %li.span6.first
                America &amp; Europe
                %a{:href=> "mailto:mansi@jombay.com"}
                  mansi@jombay.com
              %li.span7
                Africa, Middle East &amp; Asia
                %a{:href=> "mailto:pratik@jombay.com"}
                  pratik@jombay.com
              %li.span7
                India
                %a{:href=> "mailto:pranali@jombay.com"}
                  pranali@jombay.com
              %li.span5
                Australia &amp; New Zealand
                %a{:href=> "mailto:anuja@jombay.com"}
                  anuja@jombay.com
            .clr
            .divider3
            .home-page-redirect
              %a{:href=> "http://products.jombay.com/", :target=>"_blank"}
                www.jombay.com
              .clr
            .divider1
      .divider3
