-#
  .about-us.compact
    .container
      .divider3
        
      .content.contact_section
        .divider1
        .inn
          .caption For Sales Enquiries
          .divider1
          %ul.clearfix
            %li.span6.first
              America &amp; Europe
              %a{:href=> "mailto:mansi@jombay.com"}
                mansi@jombay.com
            %li.span7
              Africa, Middle East &amp; Asia
              %a{:href=> "mailto:pratik@jombay.com"}
                pratik@jombay.com
            %li.span7
              India
              %a{:href=> "mailto:pranali@jombay.com"}
                pranali@jombay.com
            %li.span5
              Australia &amp; New Zealand
              %a{:href=> "mailto:anuja@jombay.com"}
                anuja@jombay.com
          .clr
          .divider3
          .home-page-redirect.large-text
            %a.white{:href=> "https://products.jombay.com/", :target=>"_blank"}
              www.jombay.com
            .clr
          .divider1
    .divider2
