.legal_disclaimer
  .header
    .container
      .icon
      .title.black
        - if @report && @report.report_hash && @report.report_hash[:assessment] && @report.report_hash[:assessment][:brand_partner].present?
          - brand_partner_image_path = asset_path("#{@report.report_hash[:assessment][:brand_partner].underscore}.png")
          %img{:src => brand_partner_image_path, :style =>"height: 55px;position: relative;top: -17px;left: 2px;", :align => "center"}
      .clr
  .divider3
  .container
    %p.extra-large-text
      Legal Disclaimer
    %p
      This report is strictly confidential and should be used only for its intended purpose. Unauthorised sharing or publishing of this report in any manner would constitute a breach of privacy. Jombay reserves the right to use any data associated with the report for research purposes. 

    %p
      %span.bold Note: 
      Jombay's Reports should not be used as the sole basis for making any employee related decision. Please refer to the relevant legal, professional and ethical standards for guidance to ensure compliance.
.divider10
.footer
  .container
    .pull-left
      Private &amp; Confidential
    .pull-right
      &copy; Jombay
    .clr
