= render partial: "shared/reports/pdf/oac_report_header.pdf.haml"
.assessor_feedback
  .inner
    .frame.bg-gray
      .heading.line-height2.big-text
        Assessor&#39;s Feedback 

      .padding-all1
        Assessor feedback Assessor feedback Assessor feedback Assessor feedback Assessor feedback Assessor feedback Assessor feedback Assessor feedback Assessor feedback
  