= render partial: "shared/reports/pdf/oac_report_header"
.overview.competency.oac_competency_overview
  .inner
    .divider1
    .content
      - section_value.each do |value|
        = render :partial => value["path"], locals: {:section_value => value[:children]}
    .clr
    .divider1
