.overview.tool_wise
  .inner
    .blue_heading.big-text
      Tools used to measure Competencies
    .divider1
    .content
      %ul.competency-list
        %li.overview-title
          .span7.text-left.no-border.line-height2.extra-medium-text
            Competency
          .pull-right
            - 6.times do
              .span2.no-border.text-center
                Tool Name
            .clr
          .clr
        
        - 5.times do
          %li
            .span7.medium-text
              Leadership Potential 
            .pull-right
              - 6.times do
                .span2.text-center
                  .ok-icon
                  
              .clr
            .clr
        
    .divider1

