= render partial: "shared/reports/pdf/oac_report_header"

.overview.tool_wise
  .inner
    %h1.blue_heading.big-text
      Tools used to measure Competencies
    .divider1
    .content
      %ul.competency-list
        %li.overview-title
          .span6.text-left.no-border.line-height2.extra-medium-text
            Competency
          .pull-right
            - @report.report_data[:super_competency_configuration][:toolwise_configuration].each do |tool,config|
              .span2.no-border.text-center
                = tool
            .clr
          .clr
        - competencies = @report.report_data[:super_competency_configuration][:overall_configuration].map{|id,config| config[:name] }
        - competencies.each do |competency|
          %li
            .span7.medium-text
              = truncate competency, :length => 55
            .pull-right
              - @report.report_data[:super_competency_configuration][:toolwise_configuration].each do |tool,config|
                - checked = config.values.find{|x| x["name"] == competency }.present?
                .span2.text-center
                  - if checked
                    .ok-icon
                  - else
                    \-  
                  
              .clr
            .clr
        
    .divider1

