.overall_report
  .divider1
  .j-logo.pull-left
  .clr
  .divider28
  
  .banner
    .banner-heading
      OAC Report
    
  .divider2
  .left-offset1
    .extra-large-text
      Sample Report OAC
      .divider2
    .large-text
      .pull-left
        Report Generated On:
      .span
        = hdate @report.report_hash[:generated_at]
      .clr
  .divider2
  .partner_logos
    =image_tag("report/html/oac/partner_logos/a_dc.png")
    =image_tag("report/html/oac/partner_logos/cocubes.png")
    =image_tag("report/html/oac/partner_logos/jombay.png")
    =image_tag("report/html/oac/partner_logos/knolskape.png")
    =image_tag("report/html/oac/partner_logos/pearson.png")
    =image_tag("report/html/oac/partner_logos/talview.png")

.page-break
