.overall_report
  .divider1
  .j-logo.pull-left
  .clr
  .divider28
  
  .banner
    .banner-heading
      VAC Report
  .divider2
  .left-offset1
    .extra-large-text
      = @report.report_data[:exercise][:name]
      .divider2
    .large-text
      .pull-left
        Report Generated On:
      .span
        = hdate @report.report_data[:completed_at]
      .clr
  .divider2
  .partner_logos
    - @report.report_data[:tools].map{|x,y| y[:logo].present? ? y[:logo] : nil }.compact.uniq.each do |logo|
      = image_tag("report/html/oac/partner_logos/#{logo}")

.page-break
