- @report.report_data[:super_competency_guidelines].each_slice(5) do |step_guidelines|
  = render partial: "shared/reports/pdf/oac_report_header"
  .development_guide
    .inner
      %h1.blue_heading.big-text
        Development Guide
      .divider1
      - step_guidelines.each do |competency, guideline|
        .frame
          .heading.pull-left
            #{competency}
          .clr
          %p.less-padding-all1
            #{guideline[:guide]}
        .divider1

  .page-break
