.individual_development_plan
  .inner
    %table
      %tr
        %td{:colspan=>"5"}
          Individual Development Plan
      %tr
        %td
          What are my Goals?
        %td
          What do I have to do to achieve these goals?
        %td
          What Support and Resources will I need?
        %td
          How will I measure success?
        %td
          Target Date for Review
      -2.times do
        %tr
          -5.times do
            %td.placeholders
              \-
