= render partial: "shared/reports/pdf/oac_report_header.pdf.haml"
.development_guide
  .divider1
  .frame
    .heading
      Overall Feedback
    .clr
    %p.less-padding-all1
      Some description Some description Some description Some description Some description Some description Some description Some description 
  .divider1
.page-break
