= render partial: "shared/reports/pdf/oac_report_header"
.inner.border-bottom-grayDark
  %h1.clearfix
    Participation      
  .divider1  
  .participation
    .content
      %p Dear #{@report.report_data[:user][:name]},
      %p
        = @report.report_data[:cover_letter].to_s.html_safe


