= render partial: "shared/reports/pdf/oac_report_header"
.interpretation_guide
  .inner
    %h1.blue_heading.big-text
      Report Interpretation Guide
      .divider1
    %ul
      %li
        .index.span1.first
          1
        .description.span22
          The integrated rating of the 
          = @report.report_data[:company][:name]
          competencies has been arrived at by taking into account data gathered on all the instruments. However, it is likely that you demonstrate some behaviour as strengths through one exercise and as development needs through another. For example, while a person may have a preference to do something, he/she may not actually demonstrate that ability or behaviour. Such differences provide valuable data and should be factored in the development planning.
        .clr
      %li
        .index.span1.first
          2
        .description.span22
          We recommend reviewing this report and reflect on the development priorities. This should aid in bringing sharper clarity on the development needs for you to focus on. The intent is for you to continue leveraging your strengths and build on them while being conscious of development needs. The development planning should be based on the personal aspirations and the key focus areas highlighted within this report.

        .clr
      %li
        .index.span1.first
          3
        .description.span22
          The HiVE VAC Report underlines the development needs of the candidate on the competecies and behaviours assessed. The Competencies and Behaviours are measured on a 5 Point Scale. Description of the scale is as follows:
          .divider1
          %table
            %tr
              %th
                Score
              %th
                Description
            %tr
              %td
                1
              %td
                Development Need
            %tr
              %td
                2
              %td
                Development Need
            %tr
              %td
                3
              %td
                Proficient
            %tr
              %td
                4
              %td
                Strength
            %tr
              %td
                5
              %td
                Strength
        .clr
      %li
        .index.span1.first
          4
        .description.span22
          The section "My Development Plan" helps candidates in planning their development. The Subsections "What are my Goals?", "What do I have to do to achieve these goals" etc will be filled by the candidate after the exercise is over for creating a development plan.
        .clr
.page-break
