= render partial: "shared/reports/pdf/oac_report_header"
.competency_description
  .inner.border-bottom-grayDark
    %h1.blue_heading.big-text
      Tool Descriptions
    .divider1
    %table{ width: "100%", :cellspacing=> "0", :cellpadding=> "0" }
      - @report.report_data[:tools].each do |tool, data|
        %tr
          %td.left
            .span3
              = tool
          %td.right.medium-text
            = data[:description]
.page-break
