.top_bottom_competencies
  .inner
    .caption.top.pull-left{ style: "width: 50%" }
      Top 2 Competencies
    .caption.bottom.pull-left{ style: "width: 50%" }
      Bottom 2 Competencies
    .clr
    %table
      -2.times do 
        %tr
          %td{ style: "width: 50%" }
            .legend.big-text
              Leadership Potential             
            Degree to which an individual assigns tasks/ responsibilities and ensures accomplishent of those by providing appropriate guidance, provides constructive feedback sensitively and recognises achievements of his team members.
          
          %td.space 
          %td{ style: "width: 50%" }
            .legend.big-text
              Leadership Potential             
            Degree to which an individual assigns tasks/ responsibilities and ensures accomplishent of those by providing appropriate guidance, provides constructive feedback sensitively and recognises achievements of his team members.           
  .divider1
