.inn.yellow_bg.padding_top.padding_bottom.gray_border.border_left.border_right
  .span22.fl_none.clearfix
    %hr.divider8
    .span3
      %label.checkbox.line_height2
        -#%input#optionsCheckbox2{:type => "checkbox", :value => "option1"}
        .big_text #{ application_list.first.strftime("%B %-d") }
    .pull-right.medium_text
      #{ pluralize(application_list.last.count, "new application") }
.candidate_list_snippet
  = render :partial => "persia/recruiters/dashboard/candidate_list_snippet", collection: application_list.last, locals: {job: @job}