.content-sub-nav.clearfix
  %a.menu{class: (["details"].include?(params[:action]) ? "active" : ""), href: details_company_engagement_survey_path(@company.id,@survey.id)}
    Statistics
  %a.menu{class: (["elements"].include?(params[:action]) ? "active" : ""), href: elements_company_engagement_survey_path(@company.id,@survey.id)}
    Elements Included
  %a.menu{class: (["candidates"].include?(params[:action]) ? "active" : ""), href: candidates_company_engagement_survey_path(@company.id,@survey.id)}
    Candidates
