.gray_gradient.text_center.padding_all1.clearfix
  %strong.medium_text.italic.font_georgia
    Do you like this candidate?
  .divider1
  .span3.fl_none.margin_auto
    = rating_stars(application.employer_rating, "data-application" => application.id, "data-rate_application" => rate_recruiters_job_candidate_path(:id => application.id))
  .divider1
  .italic.font_georgia.margin_auto
    Rate for your easy reference &amp; shortlisting.
  .divider1
  %a{:href => resume_recruiters_job_candidate_path(application.id, :job_url => link_to_jobseeker_app("jobs/#{@job.id}-")), :title => "Download in Excel", :class => "span5 btn btn-success line_height2 margin_auto fl_none medium_text"}
    %i.icon-download-alt.icon-white
    %strong Download Resume
