- if extract_academic_performance(user_prof_infos) or extract_language_fluency(user_prof_infos)
  .gray_gradient.clearfix
    .inn.border_bottom.clearfix
      %strong.medium_text
        - if extract_academic_performance(user_prof_infos)
          .span5.first
            Academic Performance :
          .span10
            #{ extract_academic_performance(user_prof_infos) }
        - if extract_language_fluency(user_prof_infos)
          .clr
          .divider1
          .span5.first
            Fluency in English :
          .span10
            #{ extract_language_fluency(user_prof_infos) }
