- if extract_preferred_job_category(user_prof_infos).present?\
-   or extract_kind_of_job(user_prof_infos).present?\
-   or extract_preferred_location(user_prof_infos).present?
  .gray_gradient.clearfix
    .inn.border-bottom
      %strong.yellow_text.big_text
        Preferences
    .inn.border_bottom
      %strong.medium_text
        - if extract_preferred_job_category(user_prof_infos).present?
          .span5.first
            Job Category:
          .pull-left
            #{ extract_preferred_job_category(user_prof_infos) }
          .clr
          .divider1
        - if extract_kind_of_job(user_prof_infos).present?
          .span5.first
            Nature of Job:
          .pull-left
            #{ extract_kind_of_job(user_prof_infos) }
          .clr
          .divider1
        - if extract_preferred_location(user_prof_infos).present?
          .span5.first
            Job Location:
          .pull-left
            #{ extract_preferred_location(user_prof_infos) }
          .clr
          .divider1
