- if extract_strengths(user_prof_infos)
  .gray_gradient.clearfix
    .inn.border-bottom
      %strong.yellow_text.big_text
        Strengths
    .divider1
    .inn.border_bottom.clearfix
      #strengths.medium_text.span13.fl_none.first
        = render partial: "recruiters/candidates/show/strengths/strength", collection: extract_strengths(user_prof_infos)
