.badge, .label
  padding: 2%  
  color: #fff
  font-size: 24px
  display: inline-block
  border-radius: 3px

.badge
  background-color: #a7a9ac
  border-radius: 50%
.label-small, .badge-small
  font-size: 10px
  padding: 7px
  line-height: 10px
.badge-small
  line-height: 18px
  width: 18px
  padding: 0
  text-align: center
  font-size: 10px
.label-small, .badge-small
  &.inverse
    background-color: #fff
    color: $grayDarker
    border: 1px solid $grayLight

.label-warning, .badge-warning
  background-color: $color-warning
  color: #fff
  border: 1px solid $color-warning
.label-warning[href], .badge-warning[href]
  background-color: $color-warning
  color: #fff
  
  &:hover
    text-decoration: none
    background-color: #fff
    color: $color-warning
    border: 1px solid $color-warning

.label-info, .badge-info
  background-color: $color-info
  color: #fff
  border: 1px solid $color-info
.label-info[href], .badge-info[href]
  background-color: $color-info
  color: #fff
  &:hover
    text-decoration: none
    background-color: #fff
    color: $color-info
    border: 1px solid $color-info

