.assessments-list
  .span14.page-title.first
    .divider1
    Standard Assessments
  - if can?(:create, "Suitability::StandardAssessment")    
    %a.btn.btn-warning.big.big-text.pull-right.span{:href => new_standard_assessment_path(), :title => "Click Here To Create Standard Assessment"} 
      Create Standard Assessment
  .clr
  .divider2
  - if @assessments.empty?
    .medium-text.alert.pull-left
      No tests have been created. To create a test, 
      %a{:href => new_standard_assessment_path(), :title => "Click Here To Create New Test"} click here.
  
  - if @assessments.present?    
    .list-snippet-titles.large-text.clearfix
      .span2.first
        %a{:href=>"#"}
          AID
          %i.icon-chevron-down.small-text.line-height1
      .span4
        %a{:href=>"#"}
          Created On 
          %i.icon-chevron-down.small-text.line-height1
      .span18
        %a{:href=>"#"}
          Assessment Title
          %i.icon-chevron-down.small-text.line-height1
      .span4
        View Details
      .clr
      .divider1          
    %ul
      - @assessments.each do |assessment|
        %li.list-snippet.border-bottom-grayLighter
          .divider1
          .span2.first
            %a{:href=> standard_assessment_path(assessment), :title =>  assessment.name} #{assessment.id}
          .span4
            %a{:href => "#"} 
              = Date.parse(assessment.created_at).strftime("%d/%m/%Y")
          .span18
            %a{:href=> standard_assessment_path(assessment), :title => assessment.name}  
              = assessment.name
          .span3.text-center
            %a{:href => standard_assessment_path(assessment)}
              %i.icon-eye-open
          .clr
          .divider1
  .divider2
  .pull-right
    .muted.extra-medium-text
      .span.line-height2
        Go to Page
      %select.span2{onchange:"location = this.options[this.selectedIndex].value;"}
        - @assessments.total_pages.times do |page|
          %option{selected: params[:page].to_i == (page + 1), value: standard_assessments_path(@company, :page => page + 1), }
            = page + 1
      .clr
  .clr   
  
