.inn
  border-bottom: 1px dashed #DCDCDC !important
  padding: 18px 15px 18px 30px !important 
.border-bottom
  border-bottom: 1px solid #B2B2B2 !important
#skills .inn:last-child
  border-bottom: medium none !important
.recruiters_icons
  background: url("candidates/recruiters_icons.png") no-repeat 0 0
#recruiter_details 
  .go_back_btn 
    display: block
    line-height: 30px !important
    padding-left: 35px

  .yellow_text 
    color: #D4A410 !important

  .location_preferences 
    background-position: 360px -30px
    border: 1px solid #CFCFCF
    border-radius: 5px 5px 5px 5px
    height: 36px
    line-height: 36px
    width: 412px

  .location_preferences.ok 
    background-color: #ECF5DF

  .location_preferences.not_ok 
    background-color: #F7E6E6
    background-position: 360px -68px
    color: #999999

  #strengths 
    .strengths_inn 
      border-radius: 5px 5px 5px 5px
      float: left
      margin-bottom: 18px
      margin-left: 10px
      padding: 10px
      text-align: center

#skills 
  .inn
    &:last-child 
    border-bottom: medium none

.pagination 
  margin: 0 !important


.skills_level
  margin-left: -10px !important
  .skills_level_inn
    border-radius: 5px 5px 5px 5px
    float: left
    margin-bottom: 10px
    margin-left: 10px
    .left 
      font-weight: bold
    .left, .right 
      float: left
      padding: 10px 18px
      text-align: center

    .right 
      border-left: 1px solid #DCDCDC
  .gray_bg
    background: #F3F1F1 