//= require ajax

$(document).ready(function(){
  var index;
  function get_factors_success(response) {
    $("#load_traits_"+index+" .suitability ."+response.factors.trait_class_type+"-traits").empty();
    var factor_ids = $("#input_factor_ids").val().split(",");
    for (var i = 0; i < response.factors.global_factors.length; i++) {
        var factor = response.factors.global_factors[i].attributes;
        var id = response.factors.trait_class_type+"_trait_ids["+i+"]["+factor.id+"]";
        var checked = $.inArray(factor.id.toString(), factor_ids) !== -1 ? "checked":"";
        $("#load_traits_"+index+" ."+response.factors.trait_class_type+" .global").append("<li  class='pull-left'>"+
          "<input type='checkbox' value='"+factor.id+"' id='"+id+"' name = '"+id+"'"+checked+">"
           + "<label for="+id+">"+factor.name +"</label></li>");
    }

    for (var i = 0; i < response.factors.and_factors.length; i++) {
        var factor = response.factors.and_factors[i].attributes;
        var id = response.factors.trait_class_type+"_trait_ids["+i+"]["+factor.id+"]";
        var checked = $.inArray(factor.id.toString(), factor_ids) !== -1 ? "checked":"";
        $("#load_traits_"+index+" ."+response.factors.trait_class_type+" .custom-and").append("<li  class='pull-left'>"+
          "<input type='checkbox' value='"+factor.id+"' id='"+id+"' name = '"+id+"'"+checked+">"
           + "<label for="+id+">"+factor.name +"</label></li>");
    }

    for (var i = 0; i < response.factors.difference_factors.  length; i++) {
        var factor = response.factors.difference_factors[i].attributes;
        var id = response.factors.trait_class_type+"_trait_ids["+i+"]["+factor.id+"]";
        var checked = $.inArray(factor.id.toString(), factor_ids) !== -1 ? "checked":"";
        $("#load_traits_"+index+" ."+response.factors.trait_class_type+" .custom-difference").append("<li  class='pull-left'>"+
          "<input type='checkbox' value='"+factor.id+"' id='"+id+"' name = '"+id+"'"+checked+">"
           + "<label for="+id+">"+factor.name+" ("+factor.company_names+")" +"</label></li>");
    }
  }

  function get_factors_failure(response){
    alert("Something Went Wrong while loading factors/traits");
  }


  $(".load_traits").on("click",function(event){
    index = $(this).attr('id');
    var company_ids = $("#company_ids").val();
    var hash = {
          "company_ids": company_ids
        }
    jsonRequest("/suitability/factors/get_factors", hash, get_factors_success, get_factors_failure);
    jsonRequest("/mrf/traits/get_traits",hash,get_factors_success,get_factors_failure);
    jsonRequest("/functional/traits/get_traits",hash,get_factors_success,get_factors_failure);
  })
});
