//= require ajax

$(document).ready(function(){
  var index;
  function get_factors_success(response) {
    $("#load_traits_"+index+" .suitability .suitability-traits").empty();
    for (var i = 0; i < response.factors.length; i++) {
        var factor = response.factors[i].attributes;
        if(factor.name == undefined){
          console.log(response.factors[i]);
        }
        console.log("Index is "+index);
        var id = "factor_ids["+i+"]["+factor.id+"]";
        $("#load_traits_"+index+" .suitability .suitability-traits").append("<li  class='pull-left'>"+
          "<input type='checkbox' value="+factor.id+" id="+id+" name = "+id+">"
           + "<label for="+id+">"+factor.name +"</label></li>");
    }
  }

  function get_mrf_traits_success(response){
    $('#load_traits_'+index+' .mrf .mrf-traits').html("");
    for (var i = 0; i < response.traits.length; i++) {
        var factor = response.traits[i].attributes;
        if(factor.name == undefined){
          console.log(response.factors[i]);
        }
        var id = "mrf_trait_ids["+i+"]["+factor.id+"]";
        $("#load_traits_"+index+" .mrf .mrf-traits").append("<li  class='pull-left'>"+
          "<input type='checkbox' value="+factor.id+" id="+id+" name = "+id+">"
           + "<label for="+id+">"+factor.name +"</label></li>");
    }


  }

  function get_functional_traits_success(response){
    $("#load_traits_"+index+" .functional .functional-traits").empty();
    for (var i = 0; i < response.traits.length; i++) {
        var factor = response.traits[i].attributes;
        if(factor.name == undefined){
          console.log(response.factors[i]);
        }
        var id = "functional_trait_ids["+i+"]["+factor.id+"]";
        $("#load_traits_"+index+" .functional .functional-traits").append("<li class='pull-left'>"+
          "<input type='checkbox' value="+factor.id+" id="+id+" name = "+id+">"
          + "<label for="+id+">"+factor.name +"</label></li>");
    }

  }

  function get_factors_failure(response){
    console.log(response);
  }
  $(".load_traits").on("click",function(event){
    index = $(this).attr('id');
    var company_ids = $("#company_ids").val();
    var hash = {
          "company_ids": company_ids
        }
    jsonRequest("/suitability/factors/get_factors", hash, get_factors_success, get_factors_failure);
    jsonRequest("/mrf/traits/get_traits",hash,get_mrf_traits_success,get_factors_failure);
    jsonRequest("/functional/traits/get_traits",hash,get_functional_traits_success,get_factors_failure);
  })
});
