$( document ).ready(function() {
  var tooltipParentHeight= $('.info-tooltip-control').innerHeight();
  var tooltipHeight= $('.info-tooltip').outerHeight();
  var tooltipTopValue= (tooltipHeight/2) - (tooltipParentHeight/2);
  var flag = false;
  
  var blockedDomains = "<%= Rails.application.config.validators["restricted_domains"] %>"

  $('.info-tooltip').css({
    top: - tooltipTopValue
    });
 
  $('.control-group input[type="text"]').focus(function() {
    $(this).parent().find(".info-tooltip").fadeIn('slow');
  });
  $('.control-group input[type="text"]').blur(function() {
    $(this).parent().find(".info-tooltip").fadeOut();
  });

  $('#error').html("");
  $("#new_company").on("submit", function(){ 
    email = $('input[id=company_admin_attributes_email]').val();
    var isValid = isEmailValid(email);
    var domain_regexp = new RegExp($('input[id=company_admin_attributes_email]').val().split('@')[1]);    
    flag = false;
    
    if(isValid){
      if(domain_regexp.test(blockedDomains)){
        $('#error').html("<div class='alert alert-error'><strong>Please use a valid email address</strong></div>");
        flag = true;
      }
      return !flag;
    }else{
      $('#error').html("<div class='alert alert-error'><strong>Please enter your email id in the formal abc@xyz.com</strong></div>");
      return false;
    }
  
  });

  function isEmailValid(emailAdress) {
    var EMAIL_REGEXP = new RegExp('^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$', 'i');
    return EMAIL_REGEXP.test(emailAdress)
  }  
});