@import grid/core-set
@import reset
@import grid/grid
@import typography
@import layout/utilities
@import sticky_footer
@import shared/preload-images

// Container (centered, fixed-width layouts)
.container
  +container-fixed
.sign_up_success
  .image_visual
    position: relative
    .text
      left: 37px
      position: absolute
      top: 102px
      line-height: 17px


