= content_for :stylesheets do
  = stylesheet_link_tag 'recruiters/jobs'
  

- content_for :sidebar do
  .job_flow_lhs
    %ul
      %li.done
        1. Job Description
      %li.active
        2. Candidate Requirement
      %li
        3. Candidate Preference
      %li
        4. Compensation &amp; Logistics
      %li
        5. Miscellaneous
      %li
        6. Contact Details
      %li
        7. Preview
    .job_lhs_help
      .user_icon.rounded.pull-left
        = image_tag("http://www.placehold.it/75x75")

      .title.pull-left
        Need Help?
      .clr
      .divider1
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .text_center.big_text.font_normal.line_height2
        Write Us
        %br/
        OR 
        %br/
        Call us on: 09882353371
.job_flow_rhs
  .divider2
  .preview
    preview