- content_for :sidebar do
  .padding_all1
    =render :partial => "recruiters/shared/lhs_post_btn"
  =render :partial => "recruiters/shared/help_block"
= render :partial => "recruiters/jobs/status/#{ @status }_status"