#nav
  .navbar-inner.container.clearfix
    #logo
      %h1
        %a{:href => "/", :title => "Jombay hiring process"}
          jombay - Missing piece of the hiring puzzle
    .pull-right
      %a.ask-btn.pull-right{:href => "/login/", :title => "Log in to jombay"} Login
      %a.ask-btn.pull-right{:href => "/jobs/", :title => "For Job Seekers"} For Job Seekers
      .clr
      %ul.clearfix.unstyled
        %li
          %a{:href => "/about-us/", :title => "About Us"} About Us
        %li
          %a{:href => "/eligibility-tool/", :title => "Eligibility Tool"} Eligibility Tool
        %li
          %a{:href => "/suitability-tool/", :title => "Suitability Tool"} Suitability Tool
        %li
          %a{:href => "/contact-us/", :title => "Ask For Demo"} Ask For Demo