#nav
  .navbar-inner.container.clearfix
    #logo
      %h1
        %a.logo-image{href: "/", title: "Jombay Psychometric Test"}
          Jombay - India-focused Psychometric Tests
        %a.hiring{href: "/work-with-us/"}
        .clr
    %ul.clearfix.unstyled.header-menu
      %li
        %a{href: "/how-it-works/", title: "How it Works"} How it Works
      %li
        %a{href: "/pricing/", title: "Pricing"} Pricing
      %li
        %a{href: "/benefits/", title: "Benefits"} Benefits
      %li
        %a{href: "/team/", title: "About Us"} About Us
      %li
        %a.btn.btn-warning{href: "/contact-us/", title: "Free Trial for Companies"} Free Trial for Companies
      %li
        %a.btn.login{href: "/login/", title: "Log in to jombay"} Login