.span10
  .extra-medium-text.gray-dark.line-height2
    %span.gray-dark
      Not a user? 
    %a{:href => sign_up_path, :title => "Sign Up to Jomaby Now"}
      %strong Sign Up Now
  .divider2
  .gray-darker
    .big-text
      5 reasons you will love Jombay
    .divider2
    %ol.medium-text
      %li
        Library of Ready-to-Send Assessments 
        .divider1
      %li
        Create your own Custom Assessments
        .divider1
      %li
        Send Assessments in less than 60 seconds
        .divider1
      %li
        Intuitive Reports 
        .divider1
      %li
        24X7 Customer Support
        .divider1
    .divider2