- content_for :stylesheets do
  = stylesheet_link_tag 'recruiters/header'
- if current_user.present?
  = render :partial => "recruiters/shared/headers/closed"
- else
  = render :partial => "recruiters/shared/headers/open"