.help_block
  .user_icon.rounded.pull-left
    = image_tag("http://www.placehold.it/75x75")

  .title.pull-left
    Need Help?
  .clr
  .divider1
  %p
    If you have any queries or need personalized assistance on job postings, please feel free to get in touch with your personal Recruitment Manager.

  .text_center.big_text.font_normal.line_height2
    Write Us at
    %br/
    %p
      %a{:href =>"#", :title =>""} 
        sales@jombay.com
    OR 
    %br/
    Call us on: 09673335248