.post_job
  -#
    Add ".active" class after clicking on grren "post job" link 
    For Exp :- .post_sub.active
  %a.btn-post{:href => job_posting_recruiters_dashboard_index_path, :title => "Click here to post job"}
    %i.icon-plus-sign
    Post a Job