.lhs_info_snippets.update_profile.medium_text
  How does our 
  %strong
    recruitment solution
  work?
  .divider2
  %a.btn.btn-primary.medium_text.span2.margin{:href => "#", :title => "How does our recruitment solution work?"}
    Find Out
  .clr
  .divider1