.lhs_info_snippets.update_profile.faded_dark
  .medium_text
    Company Profile
  %strong 
    Keeping your company profile updated helps you post jobs faster.
  .divider2
  %a.btn.btn-primary.medium_text.span3.margin{:href => "#", :title => "How does our recruitment solution work?"}
    Update Now
  .clr
  .divider1