- competency_scores = @report.report_hash[:competency_scores].map{|key,value| [key,value] }
.divider1.clr
.overview.compact
  .inner{ style: "margin-top:0px;" }
    %h1.font-normal
      Overview of Competencies / Values Measured
    .content.overview_scale
      .scale
        .line{:style=>"width:#{(@company_norm_buckets.size-1)*50}px"}
        .marker-container
          - @company_norm_buckets.each do |norm_bucket|
            .marker
              - if norm_bucket.name.split(" ").size == 1
                %br/
              = norm_bucket.name
          .clr
      - locals_hash = { competency_scores: competency_scores }
      - section_value.each do |section|
        - locals = Hash[section["locals"].map { |key, value| [key.to_sym, locals_hash[key.to_sym]] }]
        - locals[:section_value] = section["children"]
        = render :partial => section["path"], :locals => locals
    .divider2
