.overview
  .top-triangle
    .bottom-triangle
      .container
        .divider2
        .huge-text.text-center.white
          Overview of Competencies / Values Measured
        
        .divider2
        .content.margin-auto
          .overview-title
            Overview
          %ul.competency-list.mrf.pull-left.default
            %li
              .competency-name.title.pull-left
                Competency
              .competency-value.title.pull-right
                360° Rating Average
              .clr
            %li
              .competency-name.pull-left
                Operations Excellence
              .competency-value.pull-right
                Average (High)
              .clr
            %li
              .competency-name.pull-left
                Customer Focus
              .competency-value.pull-right
                Average (High)
              .clr
            %li
              .competency-name.pull-left
                Team Work
              .competency-value.pull-right
                Average (Low)
              .clr
            %li
              .competency-name.pull-left
                Work Efficiency
              .competency-value.pull-right
                Average (High)
              .clr
          .clr
        .divider2
        
        