.overview.tool_wise
  .container
    .divider2
    .title
      Toolwise View of Competencies / Values Measured
    .divider2
    .content
      %ul.competency-list
        %li.overview-title
          .span11.text-left
            Competency
          .span3
            Psychometry
          .span3
            Personal Interview
          .span3
            Group Discussion
          .span3
            SJT
          .span3
            Case Studies
          .span3
            E-Trays
          .clr

        -5.times do
          %li.medium-text
            -#.favorable.first.hexagon-icon.span1
            .span11
              = truncate "Responsibility of outcomes sample Lorem ipsum text check length punctuality agreeablenes", :length => 55
            .span3.text-center
              %i.icon-ok-sign
            .span3.text-center
              
            .span3.text-center
              %i.icon-ok-sign
            .span3.text-center
              
            .span3.text-center
              %i.icon-ok-sign
            .span3.text-center
              
            .clr
        
    .divider1
    .divider1.border-bottom-grayLighter
