#overview.section01
  .overall_report.container
    .divider8
    .user-name.pull-left
      Bahubali The Great
    .pull-right
      .divider2
      .final-score.score_band{:style => "background-color: #128975"}
        Aggregate Score: Above Average
      .final-score.overall_score_rating{:style => "background-color: #0EB156; width: 355px"}
        .score_rating_title.pull-left{:style => "color: #0EB156"}
          Score Rating
        .span
          GREEN
        .clr
      .clr
      .divider1
    .clr
    .divider3
    .extra-medium-text
      Assessment:
      Testing ToC 15th October
      .divider1
      Assessment Answered On:
      04/11/2015
    .divider2