#overview.section01
  .overall_report.container
    .divider3
    .pull-left
      .user-name
        Bahubali The Great
      .divider1
      .extra-medium-text
        Assessment:
        Testing ToC 15th October
        %br/
        Assessment Answered On:
        04/11/2015
      
    .pull-right
      .final-score.score_band{:style => "background-color: #128975"}
        Aggregate Score: Above Average
      .final-score.overall_score_rating{:style => "background-color: #0EB156; width: 360px"}
        .score_rating_title.pull-left{:style => "color: #0EB156"}
          Score Rating
        .span
          GREEN
        .clr
      .clr
      .divider1
    .clr
    .divider2