.divider2
.individual_development_plan
  .container
    .divider1
    %table
      %tr
        %td{:colspan=>"3"}
          Individual Development Plan
      %tr
        %td
          Area of Improvement
        %td
          Target to be achieved
        %td
          Aids Help needed and Monitoring
      -2.times do
        %tr
          -3.times do
            %td
              Print Only
