.divider2
.individual_development_plan
  .container
    .divider1
    %table.text-center{:cellpadding=>"0", :cellmargin=>"0", :border=>"0"}
      %tr
        %td{:colspan=>"3"}
          Individual Development Plan
      %tr
        %td
          Area of Improvement
        %td
          Target to be achieved
        %td
          Aids (Help needed and Monitoring)
      -2.times do
        %tr{:style => "height: 100px; color:#bdbec1;"}
          -3.times do
            %td
              Print Only
