.partners.text-center
  .container
    .divider2
    .big-text
      Partners
    .divider1
    .partner_logos
      = image_tag("report/html/oac/partner_logos/tal_view.png")
      = image_tag("report/html/oac/partner_logos/knol_skape.png")
      = image_tag("report/html/oac/partner_logos/a_dc.png")
    .divider1