.top_bottom_competencies
  .container
    .divider2
    .title
      Top 2 and Bottom 2 Competencies 
    .divider2
    .caption.top.span15.first
      Top 2 Super Competencies
    .caption.bottom.span15.first
      Bottom 2 Super Competencies
    .clr
    %table
      -2.times do
        %tr
          -2.times do
            %td
              .legend
                Operations Excellence
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            %td.space 
  .divider1