.overview-title
  .pull-left.text-left
    - section_value.each do |section|
      - locals = Hash[section["locals"].map { |key, value| [key.to_sym, competency_scores_hash[key.to_sym]] }]
      = render :partial => section["path"], :locals => locals
    .clr
  .scale.right-offset1
    .line{:style=>"width:#{(@company_norm_buckets.size-1)*80}px"}
    .marker-container
      - @company_norm_buckets.each do |norm_bucket|
        .marker
          .arrow
          .marker-info
            = norm_bucket.description
          - if norm_bucket.name.split(" ").size == 1
            %br/
          = norm_bucket.name
      .clr
  .clr
.divider1
