= form_tag(send("#{controller_name}_path"), method: 'post') do
  %div
    Key:&nbsp;
    %input{type: 'text', name: 'key', placeholder: 'Type key', value: params[:id]}

  %div
    Value:&nbsp;
    %textarea{name: 'value', placeholder: 'Type value (could be json)'}
      = @value
  %input{type: 'submit', value: 'Save'}

%div
  %a{href: send("#{controller_name}_path")}
    Back
