%h1 Edit suitability assessment

= render 'form', method: :put, url: suitability_assessment_path(@assessment.id), :assessment => @assessment
%br
%br
%br
= link_to 'Back', suitability_assessment_path(@assessment.id)
