.report
  .head_space
  .inner
    .report_title
      How did s/he score:
      %span.icon1.strenght
        Strenghts
      %span.icon2.p_strenght
        Potential Strenghts
      %span.icon3.weakness
        Weaknesses


    .report_content
      .report_visual
        .job
          .title
            Job 
            %br/
            Fit
          .average
            99%
          .behavior1.p_strenght
            Very Street Smart
          .behavior2
            Service Oriented
          .behavior3.strenght
            Good Planning &amp; Prioritization
          .behavior4.weakness
            Moderately Assetive
          .behavior5
            Good Goal Settings &amp; Orientation
          .behavior6
            Highly Willingness to Learn
          .behavior7
            Socially Confident
          .behavior8
            Highly Willingness to Learn
          .behavior9.weakness
            Internal Locus of Control
          .behavior10
            Moderate Capacity to take Stress

        .people
          .title
            People
            %br/
            Fit
          .average
            90%
          .behavior1.strenght
            Moderately Self Aware
          .behavior2
            Impulsive
          .behavior3.weakness
            Agreeable
          .behavior4
            Manages Own Emotions Well
          .behavior5.weakness
            Empathic
          .behavior6
            Extrovert
          .behavior7.small.p_strenght
            Conflict Resolution style is Competitive
          .behavior8.small
            Respectful Attitude towards opposite sex
          .behavior9.weakness
            Optimistic
          .behavior10.strenght
            Low Workplace Aggression


        .organization
          .title
            Organization 
            %br/
            Fit
          .average
            93%
          .behavior1.strenght
            Internal locus of control
          .behavior2.weakness
            Disciplined
          .behavior3
            Leadership style is supportive
          .behavior4
            Process Oriented
          .behavior5.p_strenght
            Motivated by Recognition
          .behavior6
            High on Integrity
          .behavior7.p_strenght
            An Individualistic
          .behavior8
            Adaptable
          .behavior9.weakness
            Risk taking Attitude
