.score_report
  .report_title
    .inn
      .pull-left
        How did s/he score:
      .pull-right
        %span.icon1.strenght
          High
        %span.icon2.p_strenght
          Average
        %span.icon3.weakness
          Low
      .clr
  .report_content
    .report_visual
      .job
        .title
          Job Role 
          %br/
          Fit
        .average
          .strenght
            High
        .behavior1.p_strenght
          Very Street Smart
        .behavior2.strenght
          Service Oriented
        .behavior3.p_strenght
          Good Planning &amp; Prioritization
        .behavior4
          
        .behavior5.weakness
          Good Goal Settings &amp; Orientation
        .behavior6.strenght
          Highly Willingness to Learn
        .behavior7
          
        .behavior8.p_strenght
          Highly Willingness to Learn
        .behavior9.strenght
          Internal Locus of Control
        .behavior10.p_strenght
          Moderate Capacity to take Stress

      .people
        .title
          Team
          %br/
          Fit
        .average
          .weakness Low
        .behavior1.strenght
          
        .behavior2.weakness
          Impulsive
        .behavior3.strenght
          Agreeable
        .behavior4.p_strenght
          Manages Own Emotions Well
        .behavior5.p_strenght
         
        .behavior6.strenght
          Extrovert
        .behavior7.small
          
        .behavior8.small.p_strenght
          Respectful Attitude towards opposite sex
        .behavior9.weakness
          
        .behavior10.strenght
          Low Workplace Aggression


      .organization
        .title
          Company 
          %br/
          Fit
        .average
          .p_strenght
            Average
        .behavior1.weakness
          Internal locus of control
        .behavior2.weakness
          
        .behavior3.strenght
          
        .behavior4.p_strenght
          Process Oriented
        .behavior5
          
        .behavior6.strenght
          High on Integrity
        .behavior7.weakness
          An Individualistic
        .behavior8.weakness
          
        .behavior9.strenght
          Risk taking Attitude
