.improvements_report
  .report_title
    .inn
      Strengths and Areas of improvements
  .report_content
    .page_inner
      %b.medium-text.strenght
        Top Strengths 
      .divider1

      .hexagon-box.pull-left
        .content.text-center.span4
          %b Street smartness
          .small-text 
            Strong will power, Can think on his/her feet, Confident, Quick decision making
        .clr
      .hexagon-box.pull-right
        .content.text-center.span4
          %b Target orientation
          .small-text 
            Tends to set higher goals, Hardworking, Target oriented
        .clr
      .clr
      .hexagon-box.pull-left
        .content.text-center.span4
          %b Ownership
          .small-text 
            Assumes responsibility of tasks, does not show blaming behaviour
        .clr
      .clr
      .divider.dashed_border  

      %b.medium-text.p_strenght
        Moderate Strengths
      .divider1

      .hexagon-box.yellow.pull-left
        .content.text-center.span4
          %b Capacity to take stress
          .small-text 
            Tends to plan meticulously and sound judgement but can crumble under pressure
        .clr
      .hexagon-box.yellow.pull-right
        .content.text-center.span4
          %b Cooperative &amp; helpful
          .small-text 
            Participative, Good natured, warm hearted
        .clr
      .clr
      .hexagon-box.yellow.pull-left
        .content.text-center.span4
          %b Being Considerate
          .small-text 
            Warm, personable and reasonably good at rapport building
        .clr
      .clr
      .divider.dashed_border  

      %b.medium-text.weakness
        Areas of Improvement
      .divider1

      .hexagon-box.red.pull-left
        .content.text-center.span4
          %b Self-awareness
          .small-text 
            Less aware of the situations that can make him/her emotional, angry
        .clr
      .hexagon-box.red.pull-right
        .content.text-center.span4
          %b Introversion - Extraversion
          .small-text 
            Sociable, talkative and articulate
        .clr
      .clr
    .divider3
