.summary_report
  .report_title
    .inn
      Miscellaneous
  .report_content
    .page_inner
      .hexagon-box.red
        .content
          .lhs.span4
            %b Power (Motivator)
          .span1.text-center
            \|
          .rhs.span6
            Submissive, is more of a follower than a leader

          .clr
      .hexagon-box
        .content
          .lhs.span4
            %b Money (Motivator)
          .span1.text-center
            \|
          .rhs.span6
            Need money, perks and other benefits. Material gains is on first priority
          .clr
      .hexagon-box.yellow
        .content
          .lhs.span4
            %b Recognition (Motivator)
          .span1.text-center
            \|
          .rhs.span6
            Encouragement drives him/her to work harder and strive for better
          .clr
  .report_title
    .inn
      Alarms
  .page_inner
    .divider1
    %p.medium-text His/her scores show, that he/she does not exhibit any tendency of counterproductive behaviour at workplace
    .divider7
