.score_report
  .report_title
    .inn
      .pull-left
        How did s/he score:
      .pull-right
        %span.icon1.strength
          High
        %span.icon2.p_strength
          Average
        %span.icon3.weakness
          Low
      .clr
  .report_content
    .report_visual
      .job
        .title
          Job Role 
          %br/
          Fit
        .average
          .strength
            High
        .behavior1.p_strength
          Very Street Smart
        .behavior2.strength
          Service Oriented
        .behavior3.p_strength
          Good Planning &amp; Prioritization
        .behavior4
          
        .behavior5.weakness
          Good Goal Settings &amp; Orientation
        .behavior6.strength
          Highly Willingness to Learn
        .behavior7
          
        .behavior8.p_strength
          Highly Willingness to Learn
        .behavior9.strength
          Internal Locus of Control
        .behavior10.p_strength
          Moderate Capacity to take Stress

      .people
        .title
          Team
          %br/
          Fit
        .average
          .weakness Low
        .behavior1.strength
          
        .behavior2.weakness
          Impulsive
        .behavior3.strength
          Agreeable
        .behavior4.p_strength
          Manages Own Emotions Well
        .behavior5.p_strength
         
        .behavior6.strength
          Extrovert
        .behavior7.small
          
        .behavior8.small.p_strength
          Respectful Attitude towards opposite sex
        .behavior9.weakness
          
        .behavior10.strength
          Low Workplace Aggression


      .organization
        .title
          Company 
          %br/
          Fit
        .average
          .p_strength
            Average
        .behavior1.weakness
          Internal locus of control
        .behavior2.weakness
          
        .behavior3.strength
          
        .behavior4.p_strength
          Process Oriented
        .behavior5
          
        .behavior6.strength
          High on Integrity
        .behavior7.weakness
          An Individualistic
        .behavior8.weakness
          
        .behavior9.strength
          Risk taking Attitude
