.over_all_report
  .report_title
    .inn
      .large-text Recommendation
      .extra_large_text Hire With Caution 
      .font-normal Test Name: Sales Manager at Mercedes Benz Dealership
  .report_content
    .divider1
    .large-text.text-center
      %b Overall Scores
    .report_average.strength
      High
    .report_average.p_strength
      Average
    .report_average.weakness
      Low
    .role_fit.title.pull-left
      Job Role Fit
    .company_fit.title.pull-left
      Company Fit
    .clr
    .team_fit.title
      Team Fit
      