.measured_report
  .report_title
    .inn
      What was the candidate measured on?
  .report_content
    .report_visual
      .job
        .title
          Job Role 
          %br/
          Fit
        .average
          .strenght
            High
        .behavior1
          Very Street Smart
        .behavior2
          Service Oriented
        .behavior3
          Good Planning &amp; Prioritization
        .behavior4
          Moderately Assetive
        .behavior5
          Good Goal Settings &amp; Orientation
        .behavior6
          Highly Willingness to Learn
        .behavior7
          Socially Confident
        .behavior8
          Highly Willingness to Learn
        .behavior9
          Internal Locus of Control
        .behavior10
          Moderate Capacity to take Stress

      .people
        .title
          Team
          %br/
          Fit
        .average
          .weakness Low
        .behavior1
          Moderately Self Aware
        .behavior2
          Impulsive
        .behavior3
          Agreeable
        .behavior4
          Manages Own Emotions Well
        .behavior5
          Empathic
        .behavior6
          Extrovert
        .behavior7.small
          Conflict Resolution style is Competitive
        .behavior8.small
          Respectful Attitude towards opposite sex
        .behavior9
          Optimistic
        .behavior10
          Low Workplace Aggression


      .organization
        .title
          Company 
          %br/
          Fit
        .average
          .p_strenght
            Average
        .behavior1
          Internal locus of control
        .behavior2
          Disciplined
        .behavior3
          Leadership style is supportive
        .behavior4
          Process Oriented
        .behavior5
          Motivated by Recognition
        .behavior6
          High on Integrity
        .behavior7
          An Individualistic
        .behavior8
          Adaptable
        .behavior9
          Risk taking Attitude
