%form.form-horizontal
  .control-group
    %label.control-label
      Application Instructions
    .controls
      %textarea.span10.first{:placeholder => "Separate titles by comma", :rows => "4"}
  .divider1
  .control-group
    %label.control-label
      Are there specific companies where your required candidates would be working currently?
    .controls
      %textarea.span10.first{:placeholder => "Type companies separated by comma", :rows => "4"}
  .divider1
  .control-group
    %label.control-label
      Other job titles such candidates have in the industry?
    .controls
      %textarea.span10.first{:placeholder => "Separate titles by comma", :rows => "4"}
  .divider1
  .control-group
    %label.control-label
      Keywords or buzzwords that such candidates write on their profiles?
    .controls
      %textarea.span10.first{:placeholder => "Separate titles by comma", :rows => "4"}
  .divider1
  .control-group
    %label.control-label
      Kind of people you do not want to hire? 
    .controls
      %textarea.span10.first{:placeholder => "Separate titles by comma", :rows => "4"}
  .divider1
  
  .form-actions
    %a.pull-left{:class => "", :href => "#"}
      Previous
    %button.pull-right{:class => "btn btn-info offset1", :type => "button"}
      %strong Next Step
    %a.pull-right{:class => "", :href => "#"}
      %strong save and continue later
    .clr
