%form.form-horizontal
  .control-group
    %label.control-label
      Job Title* 
      .label_subtitle 
        This would be the title of your job
    .controls
      %input#job_title{:placeholder => "type the title of the job", :type => "text", :class => "span10 first"}
  .control-group
    %label.control-label
      Industry* 
      .label_subtitle 
        Add an industry that describes your company the best
    .controls
      = select_tag("work_experience[][industry]", options_from_collection_for_select(@master_data[:industries], :id, :name), :include_blank => "Choose Industry", class: "span9 first fl_none", "data-preselect" => "job.try(:industries).try(:first).try(:id)")
      .badge_label.clearfix.span9.first
        .badge_count
          1
        .badge_content
          Marketing, Advertising, Market Reasearch, public...
        %a.close{"data-dismiss" => "alert", :type => "button"} ×

  .control-group
    %label.control-label
      Functional Area of this role*  
    .controls
      = select_tag("work_experience[][category]", options_from_collection_for_select(@master_data[:job_categories], :id, :name), :include_blank => "Choose Job Category", class: "span9 first fl_none", "data-preselect" => "job.try(:job_categories).try(:first).try(:id)")
      .badge_label.clearfix.span9.first
        .badge_count
          1
        .badge_content
          Marketing, Advertising, Market Reasearch, public...
        %a.close{"data-dismiss" => "alert", :type => "button"} ×
      .badge_label.clearfix.span9.first
        .badge_count
          1
        .badge_content
          Marketing, Advertising, Market Reasearch, public...
        %a.close{"data-dismiss" => "alert", :type => "button"} ×

  .control-group
    %label.control-label
      Job Profile* 
      .label_subtitle 
        Eg. Software Engineer, Marketing Manager, Data Entry Operator, etc.
    .controls
      = select_tag("work_experience[][profile]", options_from_collection_for_select(@master_data[:work_profiles], :id, :name), :include_blank => "Choose Work Profile", class: "span9 first fl_none", "data-preselect" => "job.try(:work_profiles).try(:first).try(:id)")
      .badge_label.clearfix.span9.first
        .badge_count
          1
        .badge_content
          Marketing, Advertising, Market Reasearch, public...
        %a.close{"data-dismiss" => "alert", :type => "button"} ×
      .badge_label.clearfix.span9.first
        .badge_count
          1
        .badge_content
          Marketing, Advertising, Market Reasearch, public...
        %a.close{"data-dismiss" => "alert", :type => "button"} ×


  .control-group
    %label.control-label
      Number of Openings* 
    .controls
      %input#job_title{:placeholder => "1", :type => "text", :class => "span3 first"}

  .control-group
    %label.control-label
      Job Location* 
      .label_subtitle 
        Eg. Software Engineer, Marketing Manager, Data Entry Operator, etc.
    .controls
      = select_tag("work_experience[][location][query_options][geography_id]", top_list_for_select(:india_cities), class: "span9 first fl_none", "data-preselect" => "job.try(:locations).try(:first).try(:geography_id)")
      .badge_label.clearfix.span9.first
        .badge_count
          1
        .badge_content
          pune
        %a.close{"data-dismiss" => "alert", :type => "button"} ×
      .badge_label.clearfix.span9.first
        .badge_count
          1
        .badge_content
          Mumbai
        %a.close{"data-dismiss" => "alert", :type => "button"} ×
  .form-actions
    %button.pull-right{:class => "btn btn-info offset1", :type => "button"}
      %strong Next Step
    %a.pull-right{:class => "", :href => "#"}
      %strong save and continue later
    .clr
