.competency_norms.create-test 
  .factors
    .factor-snippet
      select
        height: 25px
        width: 130px
        border-redius: 0
      li.item
        padding: 0 15px
.test-competency-list
  .global_selector
    margin: 18px 0
  label
    padding: 0 10px 0 15px
  .test-competency-list-container
    border-bottom: 1px dashed #CFCFCF
    margin: 0 0 18px 25px
    ul
      list-style: none
      margin-left: 0
      li
        padding-bottom: 18px
        width: 200px
  .test-competency-list-container.last
    border-bottom: 0
.competencies
  .add_competencies
    font-size: 14px
    font-weight: bold
    .left
      background: #fafafa
      border: 1px solid #6467ae
      color: #484848
      border-right: 0
      padding: 10px 25px
      float: left
    .right
      float: left
      padding: 11px
      background: #fff
      border: 1px solid #042e3f

    select 
      height: 20px
      padding: 2px 3px
      width: 55px
      margin: 0 10px 

    
