.frame.mrf
  background:  image-url('report/html/mrf/mrf_scores_listing_bg.png') no-repeat 97% 97%

.frame.mrf.gray-bg
  background-color:  #fbfbfb
.mrf_scores_listing
  li
    padding: 0 0 0 47px
    border-top: 1px dashed #ccc

    &:first-child
      border: none
  .rounded
    width: 10px 
    height: 10px
  .left-sec
    .rounded
      background: #28b29b
    .title
      color: #000
      font-size: 20px
      font-weight: 700
  .rating-slider
    background:  image-url('report/html/mrf/rating-slider-line.png') no-repeat center center
    margin-top: 30px 
    .marker
      position: relative
      background:  image-url('report/html/mrf/marker-disk.png') no-repeat center center
      height: 20px
      width: 20px
      margin-left: 110px
      float: left
      text-align: center
      z-index: 999

      &:first-child
        margin-left: 0
      &.mrf-rating.self-rating
        background:  image-url('report/html/mrf/marker-hexagon-combo.png') no-repeat center center
          
      [class*="arrow"]
        position: absolute
        width: 20px
        height: 15px
        z-index: 9999
        display: none
      .mrf-result
        display: none
        position: absolute
        width: 185px
        left: -85px
        border: 1px solid #28b29b
        bottom: 31px
        border-radius: 3px
        background: #fff
        padding: 2px
        .left
          float: left
          background: image-url('report/html/mrf/rating-ring.png') no-repeat center 5px #28b29b
          width: 91px
          padding: 35px 0 0 0
          color: #fff

        .right
          width: 91px
          float: right
          padding: 20px 0 0 0
        
      .self-result  
        display: none
        position: absolute
        width: 185px
        left: -85px
        border: 1px solid #3da5bf
        bottom: 31px
        border-radius: 3px
        padding: 2px
        .left
          float: left
          width: 91px
          background: #fff
          padding: 20px 0 0 0

        .right
          padding: 35px 0 0 0
          color: #fff
          background: image-url('report/html/mrf/user-icon.png') no-repeat center 5px #3da5bf
          width: 91px
          float: right
        


    .marker.mrf-rating
      background:  image-url('report/html/mrf/marker-hexagon-green.png') no-repeat center center

      .arrow-mrf-result
        display: block
        top: -15px
        background:  image-url('report/html/mrf/mrf-rating-arrow.png') no-repeat center center
      .mrf-result
        background: #fff
        display: block
       
    .marker.self-rating
      background:  image-url('report/html/mrf/marker-hexagon-blue.png') no-repeat center center
      .arrow-self-result
        display: block
        top: 20px
        background:  image-url('report/html/mrf/self-rating-arrow.png') no-repeat center center
        
      .self-result  
        display: block  
        bottom: auto
        top: 32px 
        background: #fff
    &.mrf-benchmark-ranges
      position: relative
      @for $i from 2 through 5      
        &.width#{$i}
          width: $i * 125px - (110)
      &.width4
        width: 395px    
      &.width5
        width: 525px
      .line
        height: 1px
        border-top: 2px solid #ff0000
        position: absolute
        top: 9px
        left: 10px
        @for $i from 1 through 6
          &.width#{$i}
            width: $i * 130px
          &.position#{$i}
            left: $i * 130px + 10 - (130)
            
.benchmark-ranges-markers
  @for $i from 2 through 5      
    &.width#{$i}
      width: $i * 125px - (80)
      margin-left: -4px
.mrf-benchmark-ranges-block
  border: 1px dashed #c2c2c2
  font-size: 16px
  padding: 0 18px
  line-height: 35px
  .line
    height: 1px
    border-top: 2px solid #ff0000
    width: 50px
    margin: 16px 0 0 18px


.mrf_data_points_listing
  li
    border-top: 1px dashed #28b29b
    &:first-child
      border: none
    .left_sec
      float: left
      padding: 36px 0
      .content
        border-right: 1px solid #ccc
        padding: 35px 40px
        .trait_rating
          font-size: 16px
          padding: 1px
          border: 1px solid #e3e3e3
          border-radius: 3px
          margin-bottom: 18px
          background: #fbfbfb

          &.max
            .left
              background: image-url('report/html/mrf/max.png') no-repeat 7px center #abed74
          &.min
            .left
              background: image-url('report/html/mrf/min.png') no-repeat 7px center #ffcf36
          &.self
            .left
              background: image-url('report/html/mrf/self.png') no-repeat 7px center #6ea6bf
          &.score
            .left
              background: image-url('report/html/mrf/score.png') no-repeat 7px center #28b29b

          .left, .right
            width: 185px
            border-radius: 2px
            padding: 10px 0
          .left
            width: 150px
            padding-left: 35px
            float: left
            color: #fff
          .right
            float: right
            text-align: center

      .caption
        position: relative
        font-size: 24px
        padding-left: 40px
        color: #000

        &:hover
          color: $color-warning
          cursor: pointer
          .info, .arrow
            display: block
        .info
          display: none
          position: absolute
          color: #808285
          font-size: $medium-text
          line-height: 20px
          border: 1px solid $color-warning
          border-radius: 4px
          padding: 7px 15px
          width: 380px
          top: 29px
          background: #fff

        .arrow
          display: none
          position: absolute
          background: image-url('report/html/mrf/warning-up-arrow.png') no-repeat center center
          width: 22px
          height: 11px
          left: 60px
          top: 20px
          z-index: 9999

      .overall_average
        padding: 18px 35px
        background: #fff
        border: 1px solid #e3e3e3
        p
          width: 190px
          border: 1px dashed #28b29b
          line-height: 36px
          text-align: center
          margin: auto
        .snippet
          padding: 10px 10px 10px 50px
          font-size: 16px
          color: #fff
          &.including
            background: image-url('report/html/mrf/including.png') no-repeat 10px center #28b29b
          &.excluding
            background: image-url('report/html/mrf/excluding.png') no-repeat 10px center #28b29b
    .right-sec
      float: right
      .caption
        font-size: 20px
        color: #000
      .stakeholders-name
        width: 150px
        line-height: 36px
        margin-right: 85px
        text-align: center
        color: #fff
        background: #6ea6bf
        border-radius: 2px
        font-size: 16px
      .stakeholders-rating-slider
        margin-top: 30px
        background:  image-url('report/html/mrf/stakeholders-rating-line.png') no-repeat center center
        width: 390px
        position: relative
        @for $i from 2 through 5
          &.width#{$i}
            width: $i * 75px - (75)
        .stakeholders-rating-markers
          width: 390px
          margin-left: -5px
        .alert
          position: absolute
          width: 375px
          left: 5px
          top: -33px
          z-index: 99
          text-align: center
          border-radius: 2px
          background: #f2dedf
          border: 1px solid #efc1c4
          color: #ba4965
          @for $i from 3 through 5
            &.width#{$i}
              width: $i * 75px - (80)
          &.width2
            width: 145px
        .marker
          position: relative
          background:  image-url('report/html/mrf/marker-disk.png') no-repeat center center
          height: 20px
          width: 20px
          margin-left: 54px
          float: left
          text-align: center
          z-index: 999
          &.active
            background:  image-url('report/html/mrf/marker-hexagon-blue.png') no-repeat center center
            .arrow, .score
              display: block
          &:first-child
            margin: 0
        .arrow
          background: image-url('report/html/mrf/stakeholders-rating-arrow.png') no-repeat 
          width: 22px 
          height: 14px
          position: absolute
          display: none
          top: -13px 
          left: -1px
          z-index: 9999
        .score
          display: none
          position: absolute
          width: 150px
          text-align: center
          border: 1px solid #6ea6bf
          padding: 5px 0
          border-radius: 2px
          top: -40px
          left: -65px
          background: #fff
.feedback-stats
  width: 710px
  margin: auto

  .caption
    background: #d8f6f1
    border: 1px dashed #28b29b
    margin-bottom: 18px
    line-height: 54px
    color: #f58220
    text-align: center
    font-size: 24px
  ul
    background: #fff
    border: 1px dashed #28b29b
    padding-bottom: 10px
    
    li
      .middle, .right
        text-align: center
      .left, .middle, .right
        border-right: 1px solid #f58220
        float: left
      .left
        width: 240px
        padding-left: 40px
      .middle
        width: 195px
      .right
        border-right: none
        width: 228px
      &:nth-child(odd)
        background: #f8f8f8

    li.head
      border-bottom: 1px dashed #28b29b
      font-size: 24px
      color: #f58220
      padding: 10px 0
      line-height: 40px
      background: none
      margin-bottom: 10px
    li.list
      font-size: 18px
      color: #000
      line-height: 55px
.mrf-footer
  background: #28b29b
  color: #fff
  font-size: 18px
  line-height: 55px
  width: 100%
  position: absolute
  bottom: 0
.mrf 
  .footer
    display: none
.mrf_report
  .section02
    .trait_fit
      .bottom-sec
        background: image-url('report/html/mrf/home-bottom-hexagon.png') no-repeat 
        color: #000 
      .factors_container 
        .factors_list
          background: image-url('report/html/mrf/trait-hexagons.png') no-repeat center center 
          min-height: 490px
.fit
  .overview 
    background: #3cd3ba
    .bottom-triangle
      background: image-url('report/html/competency/overview-bottom-triangle.png') no-repeat right bottom
    .top-triangle
      background: image-url('report/html/competency/overview-top-triangle.png') no-repeat 0 0
    .content
      background: #fff
      border: 1px dashed #28b29b
  .mrf_data_points_listing li
    border-color: #ccc
.report
  .stakeholder-comments
    border-bottom: 1px dashed #28B29B
    li
      margin-bottom: 18px
    .sub-tiltle
      font-size: 24px
      color: #28b29b
    .trait-name, .question
      position: relative
      color: #000
      cursor: pointer
      &:hover
        color: $color-warning
        .info, .arrow
          display: block
      .info
        background: #FFF
        border: 1px solid #F58220
        border-radius: 4px 4px 4px 4px
        color: #808285
        display: none
        font-size: 14px
        font-weight: 200
        line-height: 20px
        padding: 7px 15px
        position: absolute
        top: 32px
        left: 0
        width: 380px
        z-index: 999
      .arrow
        background: image-url("report/html/mrf/warning-up-arrow.png") no-repeat center center 
        display: none
        height: 11px
        left: 20px
        position: absolute
        top: 23px
        width: 22px
        z-index: 9999
    .trait-comment-heading
      font-size: 20px
      line-height: 27px
      font-weight: 700
      color: #000
    .trait-comment-sub-heading
      font-size: 14px
      color: #000
    .bottom-trangle
      background: image-url('report/html/mrf/mrf-comments-bottom-trangle.png') no-repeat right bottom
      
    .stakeholder
      color: #595959
      font-size: 16px 
      font-weight: 700
      text-align: center
      padding-top: 55px
      background: image-url('report/html/mrf/stakeholder-icon.png') no-repeat center 0
    .frame
      background: image-url('report/html/mrf/stakeholder-comment-frame-bg.png') no-repeat 20px 20px 
      border-width: 1px
      padding: 18px 40px
    .boxed-comments
      border: 1px solid #28b29b
    .comment-box
      position: relative
      padding: 15px 25px 
      line-height: 15px
      color: #fff
      background: #28b29b
      .arrow  
        background: image-url('report/html/mrf/comment-box-arrow.png') no-repeat
        width: 33px
        height: 15px
        position: absolute
        left: -30px
        top: 0
        z-index: 11
    .no-responses
      background: image-url('report/html/mrf/mrf-no-response-icon.png') no-repeat
      min-height: 60px
      padding: 13px 0 0 70px
      .box
        border: 1px solid #28b29b
        border-radius: 4px
        background: #fff
        padding: 5px 
        color: $color-warning
        font-size: 18px
        text-align: center
    &.responses
      .frame
        border: 1px solid #6ea6bf
      .question
        font-size: 18px
      .comment-box
        background: #6ea6bf
        .arrow
          background-image: image-url('report/html/mrf/responses-comment-box-arrow.png')
      .bottom-trangle
        background-image: image-url('report/html/mrf/responses-mrf-comments-bottom-trangle.png')
      .frame
        background-image: image-url('report/html/mrf/responses-stakeholder-comment-frame-bg.png')
      .no-responses
        background-image: image-url('report/html/mrf/responses-mrf-no-response-icon.png')
        .box
          border-color: #6ea6bf
        

