.alert-text
  color: #DA1E1E
.success-text
  color: #12B61D
.statistic
  .stat_graph
    border: 1px solid #e3e3e3
    .stop
      height: 12px
      width: 30px
  .lhs
    padding: 30px 10px
    border-right: 1px solid #e3e3e3
  .rhs
    padding: 18px 24px 
    padding-right: 10px
    width: 765px

    .span14
      padding: 13px 0
      float: right
    
  .graph
    border-left: 2px solid #ccc
    padding: 0 0 0 2px
    width: 190px
  .column
    height: 18px
    margin-bottom: 3px
  .green-bg
    background: #6AB724
    color: #6AB724
  .yellow-bg
    background: #FAC934
    color: #FAC934
  .orange-bg
    background: #f58220
    color: #f58220
  .darkBlue-bg
    background: #002939
    color: #002939
  .lightBlue-bg
    background: #6680BF
    color: #6680BF