$darkBlue: #002939
.color-darkBlue
  color: $darkBlue
.usage
  .label
    padding: 0 10px
    line-height: 19px
  .sub-title
    color: #bcbec0
  .bg-warning
    background: $color-warning
  .bg-darkBlue
    background: $darkBlue
  .overall_stat_graph
    .column
      height: 15px
      margin-top: 2px
  .graph
    border-bottom: 1px solid #e3e3e3
    .snippet
      width: 198px
      float: left
      text-align: center
    .upper-sec
      padding-bottom: 1px
      background: image-url("border-dot.png") repeat-x 0 bottom
      .graph-columns
        height: 80px
        width: 34px
        margin: auto
        position: relative
        .column
          width: 15px
          margin: 0 0 0 1px 
          bottom: 0
          position: absolute
          &:nth-child(even)
            left: 17px
    .bottom-sec
      .snippet
        background: image-url("border-dot.png") repeat-y center 0

        .extra-medium-text
          line-height: 22px
        .extra-medium-text, b, br, span
          background: #fff
        span
          color: $grayDarker
  .usage-details-list
    border: 1px solid #e3e3e3

    li
      &.headings
        [class*="span"]
          min-height: 37px
          padding: 10px 0
      &:first-child
        border-bottom: 1px solid #e3e3e3

      &:nth-child(odd)
        background: #f8f8f8

      [class*="span"]
        margin-left: 0
        padding: 18px 0
        text-align: center
        border-left: 1px solid #e3e3e3
        width: 168px

        &:first-child
          border: 0 none
      .status
        div
          padding-left: 20px
          margin-left: 25px
          background: image-url("usage-status-icon.png") no-repeat
          text-align: left

          &.deactivated
            background-position: 0px 0px
            color: #6d6e71
          &.exhausted
            background-position: 0px -36px
            color: $color-warning
          &.active
            background-position: 0px -73px
            color: #69ba09
          &.expired
            background-position: 0px -110px
            color: #dd0909
