@import toolkit/component/pagination
@import toolkit/component/buttons
@import toolkit/component/alerts


table tr th, table tr td
  text-align: left
    
    
form
  padding: 5px
  background: #cccccc
  label
    font-weight: 700
    margin-right: 10px
  .field
    padding: 10px    
  .actions
    padding: 10px  
.master_data_list
  .list_container
    width: 25%
  ul
    margin: 18px
    min-width: 200px
    li
      line-height: normal
      &.title
        font-size: 22px
        color: #fff 
        background: $color-success
        padding: 10px 18px
      a
        padding: 10px 18px
        display: block
        border: 1px solid #e3e3e3
        font-size: 14px
        &:hover
          background-color: #e3e3e3
