@import toolkit/component/pagination
@import toolkit/typography/awesome-font
@import toolkit/component/forms
@import toolkit/component/buttons
@import toolkit/component/alerts
@import shared/content-sub-nav
@import shared/navigation-sub-nav
@import plans-details
@import statistic

.home
  ul
    li
      color: $grayDarker
  .info-list
    li
      float: left
      margin-left: 32px
      &:first-child
        margin-left: 0
    .visual01
      background: image-url("home/visual01.png") no-repeat center 0
    .visual02
      background: image-url("home/visual02.png") no-repeat center 0
      width: 266px
    .pencil
      background: image-url("home/pencil.png") no-repeat center 0
    .file
      background: image-url("home/file.png") no-repeat center 0
    .envelop
      background: image-url("home/envelop.png") no-repeat center 0
    .group
      background: image-url("home/group.png") no-repeat center 0
    .tick
      background: image-url("home/tick.png") no-repeat center 0

  .assessment-list
    li
      width: 370px
      padding: 10px
      font-size: 16px
      border: 1px solid $grayLighter  
      border-radius: 2px
      line-height: 16px
      margin-bottom: 18px

      a
        color: $grayDarker

        &:hover
          color: $color-warning
          text-decoration: none


      [class^="icon-"], [class*=" icon-"]
        line-height: 16px
        font-size: 18px
        margin: 0 15px
      .icon-chevron-right
        margin-right: 20px
  a
    &:hover
      color: $color-warning
      text-decoration: none

.list-snippet
  font-size: $extra-medium-text
  margin: 0 0 18px 0
  color: $grayDarker
  a
    display: block
    color: $grayDarker
    &:hover
      color: $color-warning
      text-decoration: none
.list-snippet-titles 
  a
    color: $default
    &:hover
      text-decoration: none
      color: $default
      i
        color: $color-warning
    i.active
      color: $color-warning
.payment_unsuccess
  .border-warning
    border-radius: 4px
    padding: 18px 50px
  ul
    li
      padding: 0 0 0 40px

      i
        margin: 0 0 0 -40px
.sign-up
  .control-group
    .info-tooltip-control
      position: relative
      width: 0
      height: 36px
      .info-tooltip
        display: none
        position: absolute
        border: 1px solid $color-warning
        border-radius: 4px
        font-size: 12px
        width: 280px
        padding: 10px
        z-index: 99999
        background: #fff
        left: 10px

      .left-caret
        background: image-url("left-caret.png") no-repeat center center
        height: 10px
        left: -10px
        position: absolute
        top: 44%
        width: 16px
    &.infoMassage
      .info-tooltip-control
        display: block
.company_profile
  i
    font-size: 24px
    color: $color-warning
    margin-right: 20px
.factors_container
  background: image-url("report/hexagon-bg.png") no-repeat center center
  height: 570px
  width: 760px
  margin: auto
 
  .factors_list
    position: relative
    height: 557px
    line-height: 15px
  [class*="factor_"]
    position: absolute
    width: 92px
    text-align: center
    font-weight: 700 
  .favorable
    color: #82d23f  
  .less_favorable
    color: #ffc000
    text-decoration: underline  
  .factor_1
    left: 332px
    top: 152px
  .factor_2
    left: 415px
    top: 199px
  .factor_3
    left: 415px
    top: 294px
  .factor_4
    left: 332px
    top: 342px
  .factor_5
    left: 250px
    top: 294px
  .factor_6
    left: 250px
    top: 199px
  .factor_7
    left: 250px
    top: 104px
  .factor_8
    left: 332px
    top: 57px
  .factor_9
    left: 415px
    top: 104px
  .factor_10
    left: 495px
    top: 152px
  .factor_11
    left: 495px
    top: 247px
  .factor_12
    left: 495px
    top: 342px
  .factor_13
    left: 415px
    top: 389px
  .factor_14
    left: 332px
    top: 437px
  .factor_15
    left: 250px
    top: 389px
  .factor_16
    left: 170px
    top: 342px
  .factor_17
    left: 170px
    top: 247px
  .factor_18
    left: 170px
    top: 152px
  .factor_19
    left: 170px
    top: 57px
  .factor_20
    left: 250px
    top: 9px
  .factor_21
    left: 415px
    top: 9px
  .factor_22
    left: 495px
    top: 57px
  .factor_23
    left: 495px
    top: 437px
  .factor_24
    left: 415px
    top: 484px
  .factor_25
    left: 250px
    top: 484px
  .factor_26
    left: 170px
    top: 437px
  .factor_27
    left: 335px
    top: -35px
  .factor_28
    left: 500px
    top: -35px
  .factor_29
    left: 575px
    top: 9px
  .factor_30
    left: 575px
    top: 104px
  .factor_31
    left: 575px
    top: 199px
  .factor_32
    left: 575px
    top: 294px
  .factor_33
    left: 575px
    top: 389px
  .factor_34
    left: 575px
    top: 484px
  .factor_35
    left: 495px
    top: 530px
  .factor_36
    left: 332px
    top: 530px
  .factor_37
    left: 170px
    top: 530px
  .factor_38
    left: 90px
    top: 484px
  .factor_39
    left: 90px
    top: 389px
    
  .factor_40
    left: 90px
    top: 294px
  .factor_41
    left: 90px
    top: 199px
  .factor_42
    left: 90px
    top: 104px
  .factor_43
    left: 90px
    top: 9px
  .factor_44
    left: 170px
    top: -35px
  .factor_45
    left: 690px
    top: 152px
  .factor_46
    left: 690px
    top: 247px
  .factor_47
    left: -20px
    top: 152px
  .factor_48
    left: -20px
    top: 247px