@import toolkit/component/pagination
@import toolkit/component/buttons
@import toolkit/component/alerts


.page-title 
  font-size: 24px
  line-height: 36px
.companies-list, .companies-list a
  color: #3e3e3e
.companies-list
  .big-text
    line-height: 30px
  ul
    li
      &:first-child
        .inn
          border-top: none
      .inn
        border-top-style: dashed
        font-size: 14px
 
