@import toolkit/main-layout
@import toolkit/component/buttons

.thank-you
  text-align: center
  font-size: 24px
  font-weight: 700
  background: image-url("users-content-bg.png")
  .text-wrap
    display: inline-block
    margin-top: 240px
    padding-left: 40px
    min-height: 40px
    line-height: 30px
    background: image-url("success-alert-tick.png") no-repeat 0 0
