.distribution
  .graph_indications
    border: 1px dashed #ccc
    .legend
      border-bottom: 1px dashed #ccc
    ul
      li
        line-height: 24px
        padding: 10px 0
        [class*="icon-"]
          font-size: 24px
          line-height: 24px

  .grid_graph
    padding: 10px 0 0 10px
    border-left: 1px solid #ccc
    height: 302px
    position: relative
    .y_indication
      position: absolute
      background: image-url('report/html/competency/grid_graph_y_indication.png') no-repeat 0 center
      width: 45px
      height: 100%
      left: -70px
    .x_indication
      position: absolute
      width: 100%
      bottom: -60px
      font-size: 16px
      color: #808285
      text-align: center
    
    .columns
      background: image-url('report/gray_border.gif') 
      height: 100%
      .column
        position: relative
        .rating_range
          font-size: 16px
          position: absolute
          bottom: -25px
          text-align: center
          width: 110%


    .counts
      position: absolute
      margin: 0 0 0 -50px
      height: 100%
      width: 30px
      line-height: 14px
      text-align: right
      font-size: 14px
      top: 0
    .count
      height: 30px
    &.small
      .y_indication
        width: 40px
        height: 100%
        left: -50px
        background-image: image-url('report/html/competency/grid_graph_y_indication_small.png')
      .x_indication
        bottom: -50px
        font-size: 12px
      .column
        margin-left: 45px
        .rating_range
          font-size: 10px
          width: 190%
          right: -40%
.perception_gap
  .frame
    border-width: 1px
  .color-agreement
    color: #26c485
  .color-positive
    color: #a3e7fc
  .color-negative
    color: #553a41
  .chart_indication
    .icons
      font-size: 80px
  .chart
    text-align: center
    .pie_chart
      height: 270px
    .pie_chart_rate
      font-size: 240px
      line-height: 60px
      [class*="color-"]
        position: relative

      .rate
        position: absolute
        width: 100%
        color: #fff
        font-size: 14px
        top: 0
    &.small
      li
        border-left: 1px solid #ccc
        width: 16.6%
        box-sizing: border-box
        float: left
        margin: 35px 0
        &:first-child
          border: 0 none
      .pie_chart
        height: 110px
      .pie_chart_rate
        font-size: 140px
        line-height: 40px
        margin-left: -3%
        .rate
          font-size: 12px
          top: 0


.classic_report 
  .mrf_top_bottom_competencies, .average_individual_ratings
    .scores_competencies_graph.descending_order 
      .graph_container 
        .left_sec   
          .stakeholder_rating
            background: image-url('report/html/mrf/graph_left_sec_top_bottom_stakeholder_rating_icon.png')
          ul
            li
              margin-top: 8px
              color: #414042
              
  .average_individual_ratings
    .scores_competencies_graph.descending_order 
      .graph_container 
        .left_sec   
          ul
            li
              &:first-child
                div:first-child
                  font-weight: 700
.competencies_wise_individual_ratings
  table
    width: 100%
    border: 1px solid #28b29b
    tr
      &:first-child
        background: #28b29b
        color: #fff
        td
          background: #28b29b !important
          padding: 20px
          border-top: 0 none

      &:nth-child(even)
        background: #f8f8f8
      td
        border-top: 1px solid #fff
        border-left: 1px solid #fff
        &:first-child
          border-left: 0 none
          padding: 15px 10px
          text-align: left
          background: #e3e3e3
          min-width: 130px
