$mrf_image_path: report/pdf/mrf
.report.mrf
  .color-stakeholder
    color: #9b3e97
  .color-self
    color: #52c1af
  .color-including-self
    color: #c5a756
  .color-average
    color: #6ea4be
  .overall_report
    min-height: 500px
    color: #002b3a
  .color-max
    color: #b3d56e
  .color-min
    color: #ffd037
  .scale 
    width: 380px
    .marker
      width: auto
      background: none
      .hexagon
        top: 35px
        position: absolute
        background: image-url("#{$mrf_image_path}/scale-hexagon.png") no-repeat
        height: 15px
        width: 13px
        .bucket-name
          position: absolute
          width: 53px
          bottom: 25px
          text-align: center
          left: -20px
      &:first-child
        margin-left: 0 !important    
    .marker-container
      width: 435px 
      left: 4px
    .line
      width: 365px 
      border-color: #707175
      left: 5px
  .banner
    color: #fff
    background: #f58220
    font-size: 18px
    border-bottom: 7px solid #002b3a
    box-shadow: 0 1px 0 #cac1b4
    padding: 18px 30px 18px 90px
    width: 720px
    margin-left: -40px
    .banner-heading
      font-size: 120px
      line-height: 127px
      text-shadow: 8px 0px 0px #d36a28
    .banner-sub-heading
      font-size: 28px
      line-height: 35px

  .factor_fit 
    background: none
    .factors_container
      background: image-url("#{$mrf_image_path}/hexagon-bg.png") center center no-repeat
      
      [class*="factor_"]
        font-weight: 200
        line-height: 17px



  .mrf_scores_listing
    li
      border-top: 1px dotted #f1f1f1

      &:first-child
        border: none
    .rounded
      width: 10px 
      height: 10px
    .left-sec
      .rounded
        background: #28b29b
      .title
        color: #000
        font-weight: 700
        margin-bottom: 10px
    .rating-slider
      background:  image-url('#{$mrf_image_path}/rating-slider-line.png') no-repeat center center
      margin-top: 30px 
      width: 380px
      .error-full-width
        position: absolute
        width: 100%
        left: 5px
        top: -33px
        z-index: 99
        text-align: center
        border-radius: 2px
        background: #f2dedf
        border: 1px solid #efc1c4
        color: #ba4965
      .rating-marker-container
        width: 400px
      .marker
        position: relative
        background:  image-url('#{$mrf_image_path}/marker-disk.png') no-repeat center center
        height: 20px
        width: 20px
        margin-left: 52px
        float: left
        text-align: center
        z-index: 999

        &:first-child
          margin-left: 0 !important
        &.mrf-rating.self-rating
          background:  image-url('#{$mrf_image_path}/marker-hexagon-combo.png') no-repeat center center
            
        [class*="arrow"]
          position: absolute
          width: 20px
          height: 15px
          z-index: 9999
          display: none
        .mrf-result, .self-result
          display: none
          position: absolute
          width: 128px
          left: -56px
          border-radius: 1px
          background: #fff
          padding: 1px
          font-size: 7px
          bottom: 22px

          .left
            width: 63px
            float: left
          .right
            width: 63px
            float: right
        .mrf-result
          border: 1px solid #28b29b
          .left
            background: image-url('#{$mrf_image_path}/rating-ring.png') no-repeat center 2px #28b29b
            padding: 15px 0 0 0
            color: #fff

          .right
            padding: 8px 0 0 0
            background: #fff
          
        .self-result  
          border: 1px solid #3da5bf

          .left
            background: #fff
            padding: 8px 0 0 0

          .right
            padding: 15px 0 0 0
            color: #fff
            background: image-url('#{$mrf_image_path}/user-icon.png') no-repeat center 5px #3da5bf
          


      .marker.mrf-rating
        background:  image-url('#{$mrf_image_path}/marker-hexagon-green.png') no-repeat center center

        .arrow-mrf-result
          display: block
          top: -8px
          background:  image-url('#{$mrf_image_path}/mrf-rating-arrow.png') no-repeat center center
        .mrf-result
          background: #fff
          display: block
         
      .marker.self-rating
        background:  image-url('#{$mrf_image_path}/marker-hexagon-blue.png') no-repeat center center
        .arrow-self-result
          display: block
          top: 13px
          background:  image-url('#{$mrf_image_path}/self-rating-arrow.png') no-repeat center center
          
        .self-result  
          display: block  
          bottom: auto
          top: 23px
          background: #fff
      &.mrf-benchmark-ranges
        position: relative
        .line
          height: 1px
          border-top: 2px solid #ea2a2f
          position: absolute
          top: 9px
          left: 10px

          @for $i from 1 through 5
            &.width#{$i}
              width: $i * 72px
            &.position#{$i}
              left: $i * 72px + 7 - (72)
  .mrf-benchmark-ranges-block
    border: 1px dashed #c2c2c2
    font-size: 14px
    padding: 0 13px
    line-height: 25px
    .line
      height: 1px
      border-top: 2px solid #ea2a2f
      width: 25px
      margin: 10px 0 0 15px

  .mrf_data_points_listing
    li
      border-top: 1px dashed #e5e5e6
      &:first-child
        border: none
      .left_sec
        float: left
        .content
          border-width: 0px !important
          border-right: 1px solid #ccc !important
          padding: 20px 20px 10px 20px
          padding-left: 0
          .trait_rating
            font-size: 11px
            padding: 1px
            border: 1px solid #e3e3e3
            border-radius: 3px
            margin-bottom: 18px
            line-height: 25px
            background: #fbfbfb

            &.max
              .left
                background: image-url('#{$mrf_image_path}/max.png') no-repeat 5px center #abed74
            &.min
              .left
                background: image-url('#{$mrf_image_path}/min.png') no-repeat 5px center #ffcf36
            &.self
              .left
                background: image-url('#{$mrf_image_path}/self.png') no-repeat 5px center #6ea6bf
            &.score
              .left
                background: image-url('#{$mrf_image_path}/score.png') no-repeat 5px center #28b29b

            .left, .right
              width: 115px
              border-radius: 2px
            .left
              width: 120px
              padding-left: 25px
              float: left
              color: #fff
            .right
              float: right
              text-align: center

        .caption
          font-size: 16px
          color: #000
        .overall_average
          padding: 10px 15px
          background: #fff
          border: 1px solid #e3e3e3
          p
            width: 125px
            border: 1px dashed #28b29b
            line-height: 23px
            text-align: center
            margin: auto
            margin-bottom: 10px
          .snippet
            margin-bottom: 10px
            padding: 0 0 0 32px
            font-size: 10px
            line-height: 25px
            color: #fff
            width: 200px
            &.including
              background: image-url('#{$mrf_image_path}/including.png') no-repeat 7px center #28b29b
            &.excluding
              background: image-url('#{$mrf_image_path}/excluding.png') no-repeat 7px center #28b29b
      .right-sec
        float: right
        .caption
          font-size: 16px
          color: #000
        .stakeholders-name
          width: 100px
          line-height: 26px
          margin-right: 50px
          text-align: center
          color: #fff
          background: #6ea5be
          border-radius: 1px
          font-size: 12px
        .stakeholders-rating-slider
          margin-top: 10px
          background:  image-url('#{$mrf_image_path}/stakeholders-rating-line.png') no-repeat 9px center
          width: 285px
          position: relative
          .stakeholders-rating-marker-container
            width: 305px
          .alert
            position: absolute
            width: 260px
            left: 5px
            top: -33px
            z-index: 99
            text-align: center
            border-radius: 2px
            background: #f2dedf
            border: 1px solid #efc1c4
            color: #ba4965
          .marker
            position: relative
            background:  image-url('#{$mrf_image_path}/marker-disk.png') no-repeat center center
            height: 20px
            width: 20px
            margin-left: 31px
            float: left
            text-align: center
            z-index: 999
            &.active
              background:  image-url('#{$mrf_image_path}/marker-hexagon-blue.png') no-repeat center center
              .arrow, .score
                display: block
            &:first-child
              margin: 0 !important
          .arrow
            background: image-url('#{$mrf_image_path}/stakeholders-rating-arrow.png') no-repeat 
            width: 22px 
            height: 14px
            position: absolute
            display: none
            top: -13px 
            left: -1px
            z-index: 9999
          .score
            display: none
            position: absolute
            width: 100px
            padding: 3px 0
            text-align: center
            border: 1px solid #6ea6bf
            border-radius: 2px
            line-height: 19px
            top: -38px
            left: -44px
            background: #fff
    


  .feedback-stats
    background: image-url("#{$mrf_image_path}/feedback-stats-bg.png") no-repeat center 30px
    min-height: 770px
    .stats
      width: 670px
      margin: auto
      .blue_heading
        font-size: 30px
        color: #24b29a

      .caption
        background: #f58220
        margin-bottom: 10px
        line-height: 34px
        color: #fff
        text-align: center
        font-size: 20px
      ul
        background: #fff
        border: 1px dashed #24b29a
        
        li
          .middle, .right
            text-align: center
          .left, .middle, .right
            border-right: 1px solid #24b29a
            float: left
          .left
            width: 165px
            padding-left: 55px
          .middle
            width: 221px
          .right
            border-right: none
            width: 221px
          &:nth-child(even)
            background: #e4f4f7

        li.head
          border-bottom: 1px dashed #28b29b
          font-size: 16px
          color: #fff
          padding: 7px 0
          line-height: 23px
          background: #24b29a
          .left, .middle, .right
            border-color: #fff
        li.list
          color: #000
          line-height: 35px
        li.total
          font-weight: 700

  .competency_report
    .mrf_rating_competency_overview
      .bg
        background: image-url("#{$mrf_image_path}/mrf-rating-competenc-overview-bg.png") no-repeat 0 0
        min-height: 300px
      .content
        background: #fff
        padding: 0
        border: 0 none

        .overview-title
          background: #23b099
          font-size: 16px
          color: #fff
          border: 1px solid #23b099
          padding: 10px 0 
          font-weight: 700
        .left
          padding-left: 25px
          width: 550px
          float: left
        .right
          padding-right: 5px
          float: right
          width: 130px
        .competency-list
          border: 1px dashed #23b099
          border-top: 0 none  
          margin: 0
          font-size: 14px
         
          li
            padding: 10px 0
            color: #000
            &:nth-child(odd)
              background: #f1f2f2
          .competency-name
            padding-left: 25px
            width: 550px
            float: left
          .competency-value
            padding-right: 5px
            float: right
            width: 130px
            font-weight: 700
    .competency-container.mrf
      border-width: 1px
      .factors_list
        background: image-url("#{$mrf_image_path}/competency-hexagon-bg.png") no-repeat center center

        [class*="factor_"]
          width: 90px
        .factor_1
          top: 345px
          top: 55px
        .factor_2
          left: 390px
          top: 133px
        .factor_3
          left: 298px
          top: 133px
        .factor_4
          left: 207px
          top: 133px
        .factor_5
          left: 253px
          top: 54px
        .factor_6
          left: 435px
          top: 55px
        .factor_7
          left: 480px
          top: 135px
        .factor_8
          left: 115px
          top: 132px
        .factor_9
          left: 160px
          top: 54px
        .factor_10
          left: 527px
          top: 55px
        .factor_11
          left: 573px
          top: 133px
        .factor_12
          left: 26px
          top: 133px
        .factor_13
          left: 70px
          top: 55px
        .factor_14
          left: 620px
          top: 55px
        .factor_15
          left: 665px
          top: 133px
        .factor_16
          left: 205px
          top: -4px
        .factor_17
          top: -4px
          left: 295px
        .factor_18
          left: 388px
          top: -4px
        .factor_19
          left: 482px
          top: -4px
    
    .frame
      .small-padding
        padding: 0 15px 
      .mrf_scores_listing 
        .left-sec 
          .rounded
            height: 7px
            width: 7px
            margin: 5px 0 0 10px
          .title
            margin-bottom: 0
          .discription
            font-size: 10px 
            
      .heading
        padding: 0 25px
      .mrf_data_points_listing
        padding: 0 25px

        li 
          border-color: #7bcfc2
          .left_sec 
            .overall_average
              padding: 10px 20px
            .content 
              background: none  
              .trait_rating 
                .left
                  width: 110px
                .right
                  width: 105px
          .right-sec
            width: 420px
            .stakeholders-name
              margin-right: 30px

  .stakeholder-comments
    padding: 18px 30px
    border-bottom: 1px dashed #28B29B
    li
      margin-bottom: 18px
    .sub-tiltle
      color: #28b29b
    .trait-name, .question, .trait-comment-sub-heading
      color: #000

    .trait-comment-heading
      font-weight: 700
      color: #000
    .bottom-trangle
      background: image-url('#{$mrf_image_path}/mrf-comments-bottom-trangle.png') no-repeat right bottom
      
    .stakeholder
      color: #595959
      font-weight: 700
      text-align: center
      padding-top: 36px
      background: image-url('#{$mrf_image_path}/stakeholder-icon.png') no-repeat center 0
    .frame
      background: image-url('#{$mrf_image_path}/stakeholder-comment-frame-bg.png') no-repeat 20px 20px 
      border: 1px solid #28B29B
      padding: 20px 25px
    .boxed-comments
      border: 1px solid #28b29b
    .comment-box
      position: relative
      padding: 10px 15px 
      line-height: 13px
      font-size: 10px
      color: #fff
      background: #28b29b
      .arrow  
        background: image-url('#{$mrf_image_path}/comment-box-arrow.png') no-repeat
        width: 23px
        height: 15px
        position: absolute
        left: -20px
        top: 0
        z-index: 11
    .no-responses
      background: image-url('#{$mrf_image_path}/mrf-no-response-icon.png') no-repeat
      min-height: 40px
      padding: 5px 0 0 40px
      .box
        border: 1px solid #28b29b
        border-radius: 2px
        background: #fff
        color: #F58220
        text-align: center
        line-height: 22px
    &.responses
      .frame
        border: 1px solid #6ea6bf
        background-image: image-url('#{$mrf_image_path}/responses-stakeholder-comment-frame-bg.png')
      .comment-box
        background: #6ea6bf
        .arrow
          background-image: image-url('#{$mrf_image_path}/responses-comment-box-arrow.png')
      .bottom-trangle
        background-image: image-url('#{$mrf_image_path}/responses-mrf-comments-bottom-trangle.png')
      .no-responses
        background-image: image-url('#{$mrf_image_path}/responses-mrf-no-response-icon.png')
        .box
          border-color: #6ea6bf

.classic_report
  color: #000
  .response_distribution_list
    ul
      li
        margin-bottom: 18px
        list-style: disc
        .responses
          border-bottom: 1px solid #ccc
          text-align: center
          .response-title
            color: #58595b
          .value 
            margin: 12px auto
            width: 27px
            height: 27px
            line-height: 27px

            color: #A119A6
            background: image-url('#{$mrf_image_path}/graph_left_sec_stakeholder_trait_rating_icon.png') no-repeat center center
    &.self
      .value
        visibility: hidden 
        background: #24D8BA !important
        color: #fff !important
  .trait_rating 
    width: 85%
    margin: auto
    .left
      width: 125px
    .right
      width: 65px
  #distribution_data_points 
    border-bottom: 1px solid #e3e3e3
    padding-bottom: 40px
  .classic_user_icon
    background: image-url('#{$mrf_image_path}/classic_user_icon.png') no-repeat center center
  .stakeholder_rating_icon
    background: image-url('#{$mrf_image_path}/stakeholder_rating_icon.png') no-repeat center center
  .scores_competencies_graph
    .competency_overlapped_score_icon
      background: image-url('#{$mrf_image_path}/competency_graph_equal_rating_icon.png') no-repeat center center !important
      height: 28px
      width: 28px
    .trait_overlapped_score_icon
      background: image-url('#{$mrf_image_path}/trait_graph_equal_icon.png') no-repeat center center
      height: 28px
      width: 28px
    .graph_instructions
      line-height: 28px
      .classic_user_icon, .stakeholder_rating_icon 
        height: 28px
        width: 18px
    .graph_container
      margin-bottom: 15px
      .graph_instructions
        margin-left: 175px
        .stakeholder_rating_icon, .classic_user_icon
          width: 38px
      .left_sec
        li
          margin-top: 10px
          font-weight: 700
          div:first-child
            padding-top: 5px
          .stakeholder_rating, .self_rating
            color: #fff
            text-align: center

          .stakeholder_rating
            height: 27px
            width: 27px
            line-height: 27px
            background: image-url('#{$mrf_image_path}/graph_left_sec_stakeholder_rating_icon.png') no-repeat center center
          .self_rating
            line-height: 22px
            background: #24d8ba
            border: 2px solid #24d8ba
            height: 22px
            width: 22px
          .clr
      .right_sec
        .classic_competency_graph
          .classic_competency_graph_scale
            width: 101%
            .block
              color: #808285
              line-height: 25px
              &:first-child
                width: 2px !important
          .graph
            border: 1px solid #e5e5e5
            background: -moz-linear-gradient(90deg, #e9eaec 0%, #F6F6F7 30%, #FFFFFF 50%)

            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e9eaec), color-stop(30%, #F6F6F7), color-stop(50%, #FFFFFF))

            background: -webkit-linear-gradient(90deg, #e9eaec 0%, #F6F6F7 30%, #FFFFFF 50%)

            background: -o-linear-gradient(90deg, #e9eaec 0%, #F6F6F7 30%, #FFFFFF 50%)

            background: -ms-linear-gradient(90deg, #e9eaec 0%, #F6F6F7 30%, #FFFFFF 50%)

            background: linear-gradient(90deg, #e9eaec 0%, #F6F6F7 30%, #FFFFFF 50%)

            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#e9eaec',GradientType=1 )
            background-repeat: no-repeat



            .graph_content
              background: image-url('#{$mrf_image_path}/classic_competency_graph_dashed_bg.png') repeat-y center 0
              min-height: 20px
              padding: 8px 0
              .graph_bar
                height: 1px
                border-top: 1px solid #888a8d
                position: relative
                &.equal_rating
                  width: 2px !important
                  .overlapped_score_icon
                    background: image-url('#{$mrf_image_path}/competency_graph_equal_rating_icon.png') no-repeat center center !important
                    height: 38px
                    width: 38px
                    position: absolute
                    top: -19px
                    left: -19px
                  &.trait_under
                    .overlapped_score_icon
                      background: image-url('#{$mrf_image_path}/trait_graph_equal_icon.png') no-repeat center center !important
                .graph_stakeholder_rating, .graph_self_rating
                  width: 27px
                  height: 27px
                  top: -14px
                  position: absolute
                .graph_stakeholder_rating
                  background: image-url('#{$mrf_image_path}/graph_stakeholder_rating_icon.png') no-repeat center center
                  z-index: 2 

                .graph_self_rating
                  z-index: 1
                  width: 23px
                  height: 23px
                  border: 2px solid #24d8ba
                  background: image-url('#{$mrf_image_path}/self.png') #24d8ba no-repeat center center 
    
    &.traits_under_competencies
      .traits_under_graph
        .graph_container 
          .classic_user_icon, .stakeholder_rating_icon
            background: none
          &:first-child
            .classic_user_icon
              background: image-url('#{$mrf_image_path}/classic_user_icon.png') no-repeat center center
            .stakeholder_rating_icon
              background: image-url('#{$mrf_image_path}/stakeholder_rating_icon.png') no-repeat center center


          .left_sec
            ul 
              li
                div:first-child 
                  font-weight: 200
                  color: #808285
                &:first-child 
                  div
                    font-weight: 700
                    color: #414042
                  .stakeholder_rating
                    background: image-url('#{$mrf_image_path}/graph_left_sec_stakeholder_rating_icon.png') no-repeat center center
                    color: #fff
                    font-weight: 700
                  .self_rating
                    background: #24D8BA
                    color: #fff
                .stakeholder_rating
                  background: image-url('#{$mrf_image_path}/graph_left_sec_stakeholder_trait_rating_icon.png') no-repeat center center
                  color: #A119A6
                  font-weight: 700
                .self_rating
                  background: none
                  color: #24D8BA
                .trait_title
                  position: relative
                  &:hover
                    color: #1b7daa
                    cursor: pointer
                    .info
                      display: block
                  .arrow
                    position: absolute
                    background: image-url('#{$mrf_image_path}/classic_competency_trait_info_arrow.png') no-repeat center center
                    width: 18px
                    height: 28px
                    padding: 0
                    top: 27%
                    left: -17px
                  .info
                    border: 1px solid #1b7daa
                    border-radius: 2px
                    padding: 10px 15px
                    width: 390px
                    color: #1b7daa
                    font-size: 14px
                    background: #fff
                    display: none
                    left: 102%
                    position: absolute
                    top: -60%
                    min-height: 30px
                    z-index: 3
          .right_sec
            .classic_competency_graph
              .graph
                .graph_content 
                  .graph_bar.trait_under
                    .graph_stakeholder_rating
                      background: image-url('#{$mrf_image_path}/graph_stakeholder_trait_rating_icon.png') no-repeat center center
                    .graph_self_rating
                      background: image-url('#{$mrf_image_path}/classic_user_icon.png') #fff no-repeat center center

    &.best_worst_scores
      .trait_title
        line-height: 28px
        padding: 0 !important
      .min_rating_icon_small
        background: image-url('#{$mrf_image_path}/min_rating_icon_small.png')  no-repeat center center
        
        height: 28px
      .stakeholder_rating_icon_small
        background: image-url('#{$mrf_image_path}/stakeholder_rating_icon_small.png')  no-repeat center center
        
        height: 28px
      .max_rating_icon_small
        background: image-url('#{$mrf_image_path}/max_rating_icon_small.png')  no-repeat center center
        
        height: 28px
      &.trait_wise
        .min_rating_icon_small
          background: image-url('#{$mrf_image_path}/min_rating_icon_small_trait_wise.png')  no-repeat center center
        .stakeholder_rating_icon_small
          background: image-url('#{$mrf_image_path}/stakeholder_rating_icon_small_trait_wise.png')  no-repeat center center
        .max_rating_icon_small
          background: image-url('#{$mrf_image_path}/max_rating_icon_small_trait_wise.png')  no-repeat center center

    &.descending_order
      .graph_container 
        .descending_graph_bar.max
          height: 5px 
          border-radius: 0 2.5px 2.5px 0
        .descending_graph_bar.min
          height: 2.5px 
          border-radius: 0 1.5px 1.5px 0
          margin-top: 2.5px
        .left_sec 
          li 
            font-weight: 200
            .min_rating, .self_rating, .including_self_rating, .max_rating
              border: 0 none
              height: 27px
              width: 27px
              color: #FFFFFF
              line-height: 27px
              text-align: center
              font-weight: 700
            .self_rating
              background: image-url('#{$mrf_image_path}/graph_left_sec_self_rating_icon.png')  no-repeat center center
              
            .including_self_rating
              background: image-url('#{$mrf_image_path}/graph_left_sec_including_self_rating_icon.png')  no-repeat center center

            .min_rating
              background: image-url('#{$mrf_image_path}/graph_left_sec_including_min_rating_icon.png')  no-repeat center center
            .max_rating
              background: image-url('#{$mrf_image_path}/graph_left_sec_including_max_rating_icon.png')  no-repeat center center

        
                
    &.descending_overall_score
      .trait_title
        line-height: 27px
        padding: 0 !important
      .graph_container 
        .descending_graph_bar.max
          margin-top: 15px
    &.descending_average_rating
    
      .graph_container 
        .left_sec 
          li 
            font-weight: 200
            .stakeholder_rating
              background: image-url('#{$mrf_image_path}/graph_left_sec_average_stakeholder_rating_icon.png')  no-repeat center center
              font-weight: 700
        .descending_graph_bar
          background: #6ea4be
          margin-top: 3px


  .frequency_rating_table
    text-align: center
    font-size: 10px
    border-bottom: 1px solid #e3e3e3
    tr
      &:nth-child(odd)
        background: #f8f8f8
    .rating_score
      border-right: 1px solid #e3e3e3
      color: #a119a6
      background-image: image-url('#{$mrf_image_path}/graph_left_sec_stakeholder_trait_rating_icon.png') 
      background-repeat: no-repeat
      background-position: center center
      font-weight: 700
      &.max_value
        background-image: image-url('#{$mrf_image_path}/graph_left_sec_stakeholder_max_trait_rating_icon.png') 
    .captions
      td
        border-top: 1px solid #fff
        border-left: 1px solid #fff
        color: #000
    .rating_ranges
      background: #ccc
      td
        border-bottom: 1px solid #fff
        width: 115px
    .overall
      td
        border-top: 1px solid #d56e17
    .mute_bg
      background: #f8f8f8
      width: 200px !important
    .green_bg, .orange_bg
      border-top: 1px solid #fff
      border-left: 1px solid #fff
      color: #fff
      padding: 7px 0
    .green_bg
      background: #6ea4be
    .orange_bg
      background: #d56e17
      border-top: 1px solid #fff !important
    .dark_mute_bg
      background: #e3e3e3




