.oac
  .navigation-sub-nav
    .menu
      width: (100% / 8.05)
      padding: 15px 5px 15px 25px
      box-sizing: border-box
      line-height: 18px
      font-size: 14px
      .count
        width: 15px 
        height: 15px 
        line-height: 15px 
        left: 5px
  #crumbs
    text-align: center
    ul
      list-style: none
      li
        &.active
          a
            color: #fff
            background: #3498db
            &:after
              border-left-color: #3498db
        a
          cursor: default
          display: block
          float: left
          height: 30px
          background: #eee
          text-align: center
          padding: 11px 0px 0 35px
          position: relative
          margin: 0 2px 0 0
          font-size: 14px
          text-decoration: none
          color: #000
          &:after
            content: ""
            border-top: 20px solid transparent
            border-bottom: 20px solid transparent
            border-left: 20px solid #eee
            position: absolute
            right: -20px
            top: 0
            z-index: 1
          &:before
            content: ""
            border-top: 20px solid transparent
            border-bottom: 20px solid transparent
            border-left: 20px solid #fff
            position: absolute
            left: 0
            top: 0
        &:first-child a
          &:before
            display: none
        &:last-child a
          padding-right: 10px
          &:after
            display: none

  .weightage-container 
    *
      box-sizing: border-box

    .tabs
      a
        display: block
        padding: 18px 
        color: #fff
        background: #3498db
        margin: 1px -1px 1px 0
        cursor: pointer
        text-decoration: none
        &.active
          color: #414042
          background: #fff
          border: 1px solid #ccc
          border-right: 0 none
          position: relative
          z-index: 2
    .boxes
      border: 1px solid #ccc
      margin-top: 1px
      min-height: 332px
      padding: 18px
      max-height: 500px
      overflow: auto

      [class*="box"]
        display: none

      ul
        li
          border-top: 1px solid #ddd
          padding-top: 40px
          &:first-child
            border: 0 none
          ul
            li
              padding: 0
              float: left
              border: 0 none
              &:nth-child(odd)
                clear: left
              &:nth-child(even)
                float: right

