.report 
  .competency_report 
    .overview
      &.tool_wise
        background: none
        .competency-list
          .title
            font-size: 16px
  .scores
    ul.scores_listing 
      li
        padding: 18px 
        li
          border: 0 none !important
.individual_development_plan
  table
    border-collapse: collapse
    width: 100%
    border: 2px solid #28b29b
    td
      border: 2px solid #28b29b
      font-size: 18px
      width: 33%
      padding: 15px