$oac_image_url: report/html/oac
.report 
  .explanation_scores_list
    li
      padding: 30px 0
      border-bottom: 1px dashed #d8d8d8
      &:nth-child(even)
        background: #f8f8f8
    .scale
      float: left
      .scale_inner
        position: relative
      .line
        border: 1px solid #ccc
        height: 0px
        background: #ccc
        bottom: 8px
        position: absolute
      .marker_container
        .marker
          float: left
          text-align: center
          position: relative
          height: 70px
          line-height: 18px
          font-size: 14px
          color: #ccc
          cursor: default
          background: image-url("report/html/scale-hexagon_gray.png") no-repeat center bottom
          z-index: 3

          span
            position: absolute
            display: block
            width: 100%
            bottom: 30px
          &:hover
            cursor: pointer
            background: image-url("report/html/scale-hexagon_gray.png") no-repeat center bottom
          &.active
            color: #3aafe5
            background: image-url("report/html/scale-hexagon.png") no-repeat center bottom
        .marker_info
          display: none
          background: #fff
          border: 1px solid #39afe5
          border-radius: 2px
          color: #000
          display: none
          font-size: 10px
          left: 30px
          line-height: 13px
          padding: 5px 20px
          position: absolute
          text-align: left
          top: 85px
          z-index: 2
    .right
      width: 42%
  .frame
    border-width: 1px
  .section01
    background: #28b29b
    border-top: 2px solid #18907c
    .overall_report
      background: none
  .competencywise_assessor_comments
    border-bottom: 1px dashed #28b29b
  .competency_report 
    .overview
      &.competency
        .overview-title
          padding: 20px 20px 20px 32px
          border: 0 none
        .content 
          .competency-list
            .scale
              margin-right: -12px !important
              .desire_range
                z-index: 1
              .marker
                position: relative
                z-index: 2
                color: #000
      &.tool_wise
        background: none
        border-bottom: 1px dashed #28b29b
        .content 
          border: 1px solid #28b29b
        .competency-list
          *
            box-sizing: border-box
          .ok-icon
            height: 20px
            background: image-url('report/html/icon-ok.png') no-repeat center center

          li
            padding: 15px 0 15px 36px
            &:first-child
              font-size: 16px
              background: #28b29b
              color: #fff
              [class*="span"]
                min-height: 36px
                border-left: 1px solid #fff
            [class*="span"]
              padding: 0 10px
              margin-left: 0
              text-align: center
              &:first-child
                text-align: left
          .title
            font-size: 16px
  .scores
    ul.scores_listing 
      li
        padding: 18px 
        li
          border: 0 none !important
  .ultratech_idp
    border-bottom: 1px dashed #28b29b
    table
      border-collapse: collapse
      tr
        &.blank
          background: #ccc 
        td
          border: 1px solid #333
          font-size: 14px
  .interpretation_guide
    border-bottom: 1px dashed #28b29b
    ul
      li
        border-top: 1px solid #A0A0A0
        padding: 18px 0
        &:first-child
          border: 0 none
        .index
          background: #21AF99
          width: 35px
          height: 35px
          line-height: 35px
          font-size: 20px
          text-align: center
          color: #fff
          border-radius: 50%
        .description
          font-size: 12px
        table
          border: 1px solid #21AF99
          border-collapse: collapse
          tr
            th, td
              width: 150px
              padding: 10px 25px
              font-weight: 200
            th
              color: #fff
              background: #21AF99
              font-size: 14px
              &:first-child
                border-right: 2px solid #fff
                text-align: center
            td
              font-size: 12px
              &:first-child
                border-right: 2px solid #F5F5F6
                text-align: center
            &:nth-child(even)
              background: #F5F5F6
              td:first-child
                border-right-color: #fff
  .scores_on_behaviors, .scores_on_competencies 
    border-bottom: 1px dashed #28b29b
    .graph_container 
      margin-bottom: 36px
      .descending_graph_bar
        border-radius: 0 5px 5px 0
        height: 10px
        background: #a119a6
      .left_sec 
        .graph_instructions
          margin-bottom: 22px
        ul
          padding-top: 1px
          li
            font-weight: 200
            margin-top: 0
            line-height: 46px
            font-size: 18px
            .trait_title
              padding-top: 0
            &:first-child
              margin-top: 0
              .trait_title
                padding-top: 15px
      .right_sec .classic_competency_graph
        .classic_competency_graph_scale
          width: 101%
          .block
            text-align: right
            font-size: 20px
            color: #808285
            line-height: 50px
            &:first-child
              width: 2px !important
        .graph
          border: 1px solid #e5e5e5
          .graph_content
            min-height: 20px
            padding: 1px 0
            position: relative
  .data_points_competency_wise
    border-bottom: 1px dashed  #28b29b
    ul.disc
      margin-left: 15px
      margin-bottom: 15px
      li
        line-height: 22px

    .competency_specific_score
      border: 1px solid #bee8e1
      *
        box-sizing: border-box
      .tools, .tool_scores
        padding: 8px 0 8px 36px
        font-size: 14px
        text-align: center
        [class*="span"]
          border-left: 1px solid #ccc
          padding: 0 10px
          margin-left: 0
          min-height: 36px
          text-align: center

      
      .tools
        //background: #bee8e1
        font-size: 12px
      .tool_scores
        line-height: 36px
      &.strengths_improvement
        border-collapse: collapse
        border: 0 none
        td
          border: 1px solid #bee8e1
          width: 48%
          text-align: left
          vertical-align: top
          &.space
            width: 1%
            border: 0 none

    .classic_report 
      .scores_competencies_graph
        &.descending_order 
          .graph_container 
            .left_sec 
              li
                margin-top: 17px
                div:first-child 
                  font-size: 14px 
                  color: #808285
                  padding-top: 11px 
                &:first-child
                  div:first-child
                    padding-top: 2px

            .right_sec 
              .classic_competency_graph 
                .classic_competency_graph_scale 
                  .block
                    line-height: 20px
                    text-align: center
                    margin-bottom: 3px
                    font-size: 16px

.partners
  position: fixed
  width: 100%
  background: #FFF
  z-index: 10000
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  margin-top: 4px
  .partner_logos
    img
      margin-left: 45px
      &:first-child
        margin-left: 0
.participation
  background: #3cd3ba
  padding: 36px
  .content
    border: 1px dashed #29b49d
    padding: 36px
    background: #f5fdfb
  p, ul
    font-size: 16px
    line-height: 20px
    margin: 0 0 15px
.tool_description
  border-bottom: 1px dashed #28b29b
  table 
    tr
      td
        line-height: 22px
        padding: 18px
        border-bottom: 2px solid #fff
        &.left
          background: #28b29b
          color: #fff
          font-size: 18px
          width: 16%
        &.right
          width: 84%
          vertical-align: top
          background: #f8f8f8
          color: #808285
          font-size: 16px
.competency_description
  table 
    tr
      &.last
        td.right 
          padding: 0
          height: 0

      td
        line-height: 20px
        .competency_name
          font-size: 18px
          line-height: 20px
          color: #fff
          font-weight: 700
        .competency_description
          font-size: 14px
          color: #fff
        &.left
          border-top: 2px solid #fff
          border-left: 2px solid #808285
          text-align: center
          padding: 10px 18px
          background: #808285
          color: #fff
          font-size: 18px
          line-height: 20px
          width: 16%
          padding: 15px 30px
        &.right
          border-top: 2px solid #808285
          border-right: 2px solid #808285
          width: 84%
          vertical-align: top
          background: #fff
          color: #808285
          font-size: 14px
          padding: 15px 30px
      &:first-child
        td 
          background: #27B19B
          padding: 15px 30px
          border-color: #27B19B
        & + tr 
          td
            &.right
              border-top-color: transparent

.top_bottom_competencies
  border-bottom: 1px dashed #28b29b
  *
    box-sizing: border-box 
  .caption 
    padding: 0 0 0 65px
    background: image-url('#{$oac_image_url}/top_bottom_competencies.png') no-repeat
    line-height: 55px
    color: #28b29b
    font-size: 24px
    &.bottom
      background-position: 0px -65px

  table
    font-size: 16px
    tr
      &:first-child
        td
          border: 0 none
      td
        padding: 20px
        border-top: 1px dashed #e3e3e3
        &.space
          border: 0 none
        .legend
          color: #28b29b
          font-weight: 700

.individual_development_plan
  table
    border-collapse: collapse
    width: 100%
    border: 1px solid #28b29b
    tr
      &:first-child
        td
          background: #28b29b
          color: #fff
          text-align: left
          font-size: 24px
        &+tr
          td
            color: #28b29b
            text-align: center
            border-bottom-style: dotted
    td
      border: 1px solid #28b29b
      font-size: 14px
      width: 33%
      padding: 15px
      vertical-align: top
    .placeholders
      height: 150px
  
.about_vac
  ul
    li
      padding: 10px
      strong
        color: #21b099
        font-size: 20px
      p
        font-size: 14px
        padding: 10px 40px
        margin: 0
      &:nth-child(odd)
        background: #f8f8f8
.footer
  .home-page-redirect
    padding-left: 25px
    background: image-url('report/html/about-us/globe.png') no-repeat 
    color: #fff
.assessor_feedback
  border-bottom: 1px dashed #28b29b