$favorable_color: #88b22a  
$less_favorable_color: #ffc000 

.page-break
  display: block 
  clear: both 
  page-break-after: always     
  
.report
  .favorable
    color: $favorable_color  
  .less_favorable
    color: $less_favorable_color
  .favorable_bg
    background: $favorable_color  
  .less_favorable_bg
    background: $less_favorable_color

  .inner
    background: image-url('report/body-bg.png') no-repeat #fff
    width: 580px
    margin: 0 auto
  .report_content
    background: image-url("report/hexagon-bg.png") no-repeat 70px 125px 
    height: 700px
    padding: 30px
  .dashed_border
    border-bottom: 1px dashed #b2b2b2
    margin-bottom: 18px
  .small-text
    font-size: 10px
    line-height: 12px
  .report_title
    font-size: 18px 
    font-weight: bold
    color: #0c315e
    margin-bottom: 15px  
  .header
    background: image-url('report/blue-texture.png')
    padding: 15px 0 15px 30px 
    color: #fff
    .right-side
      .pull-left.span
        width: 240px
    .left-side, .right-side
      padding: 0 10px 0 15px
      float: left
    .left-side
      border-right: 3px solid #929dab
      max-width: 125px
      word-break: break-all
      -ms-word-break: break-all
      -webkit-word-break: break-all
    .logo
      float: left
      width: 55px
    .user_name
      font-size: 20px
      font-weight: bold
      line-height: 25px
 
    .hexagon_small
      width: 25px
      height: 25px
  .overall_report
    padding: 30px
    .visual
      height: 350px
      background: image-url('report/overall_hexagon_visual.png') no-repeat right top
      position: relative

    [class*="strength_"], [class*="title_"]
      position: absolute
      color: #002552
      text-align: center
      font-weight: bold
    [class*="strength_"]
      font-size: 12px
      width: 70px
    [class*="title_"]
      font-size: 16px
      width: 170px
      text-align: right
    .strength_1
      left: 268px
      top: 165px
    .strength_2
      left: 338px
      top: 203px
    .strength_3
      left: 336px
      top: 123px

    .title_1
      left: 129px
      top: 35px
    .title_2
      left: -19px
      top: 207px
    .title_3
      left: 143px
      top: 305px
      
    .heading
      background: image-url('report/blue-texture.png')
      margin-left: -30px
      padding: 18px 30px
      width: 385px
      color: #fff
      margin-bottom: 145px
      .user_name
        font-size: 22px
        font-weight: bold
        line-height: 30px
    .logo
      width: 100px
      height: 25px
      background: image-url('report/logo.png') no-repeat center center
      margin-bottom: 60px
    .sub-heading
      font-weight: bold
      color: #fff
      text-shadow: 1px 1px 1px #283d06
      background: image-url('report/green-texture.png')
      padding: 15px 10px 15px 50px
      margin-bottom: 20px

  
  .factor_fit
    [class*=instruction]
      padding: 5px 40px
      color: #969696
      font-weight: bold
      margin-bottom: 15px
      background: image-url("report/hexagon-small.png") no-repeat
    .instruction2
      background-position: 0px -33px
    .bottom_sec
      margin: 400px 0 0 360px 

      position: relative
      [class*="title_"], [class*="strength_"]
        position: absolute
        color: #fff
        font-size: 9px
        font-weight: bold
      [class*="strength_"]
        top: 80px
        width: 35px
        text-align: center
        color: #b6b6b6
      .title_1 
        font-size: 13px
        left: -5px
        top: 30px
      .strength_1
        font-size: 10px
        color: #082d5a
        left: 35px
        width: 40px
      .title_2
        left: 28px
        top: 173px
      .strength_2
        left: 40px
        top: 135px
      .title_3
        left: 95px
        top: 135px
      .strength_3
        left: 81px
        top: 111px

    .factors_container
      position: relative


      [class*="factor_"]
        position: absolute
        width: 100px
        text-align: center
        font-weight: bold
        .wrapper
          word-break: break-all
          -ms-word-break: break-all
          -webkit-word-break: break-all

      .factor_1
        left: 134px
        top: -16px
      .factor_2
        left: 45px
        top: 35px
      .factor_3
        left: 229px
        top: 33px
      .factor_4
        left: 140px
        top: 86px
      .factor_5
        left: 321px
        top: 86px
      .factor_6
        left: 49px
        top: 139px
      .factor_7
        left: 233px
        top: 140px
      .factor_8
        left: 140px
        top: 189px
      .factor_9
        left: 51px
        top: 242px
      .factor_10
        left: 146px
        top: 292px
      .factor_11
        left: 236px
        top: 240px
      .factor_12
        left: 327px
        top: 187px
      .factor_13
        left: 327px
        top: 290px
      .factor_14
        left: 240px
        top: 342px

  .scores
    padding: 30px
    min-height: 700px
    padding-top: 20px
    .wrapper
      background: image-url('report/scores-heading-icon.png') no-repeat
      padding: 18px 0 18px 100px
    .heading
      padding: 5px 13px
      font-weight: bold
      color: #fff
      text-shadow: 1px 1px 1px #283d06
      background: image-url('report/green-texture.png')
    .title
      font-size: 14px
      font-weight: bold
      color: #5a5a5a
      margin-bottom: 18px
      width: 108px
    ul.scores_listing, ul.alarms_listing
      li
        border-bottom: 1px dotted #c3ced9
        &:last-child
          border: none
      .factor-name
        color: #092e5b
        font-size: 14px
        font-weight: bold
        margin-bottom: 10px
      .factor-description
        font-size: 11px
      .lhs-sec
        padding-top: 18px
      .wrap-desire
        color: #0e3360
      
      .wrap-actual
        color: #fff
        font-weight: bold
       
      .small
        font-size: 10px
      .wrap-inn
        padding: 30px 10px


    ul.scores_listing
      background: image-url('report/score-listing-bg.png') repeat-y right 0
      min-height: 600px
      .lhs-sec
        width: 290px
      .wrap-actual, .wrap-desire
        min-height: 90px
        text-align: center
        margin-left: 5px
      .wrap-actual
        .wrap-inn
          padding-top: 45px

    ul.alarms_listing
      background: image-url('report/light-blue-bg.png') repeat-y right 0

      .lhs-sec
        width: 402px
      .wrap-actual, .wrap-desire
        min-height: 90px
        text-align: center
        margin-left: 5px

  .less_favorable_factors
    .wrapper
      background-position: 0px -102px
      .heading
        background: image-url('report/yellow-texture.png')
        text-shadow: 1px 1px 1px #7a6902 
  .hexagon-icon
    background: image-url('report/hexagon-icon.png') no-repeat
    width: 30px
    font-size: 14px
    font-weight: bold
    text-align: center
    line-height: 26px

  .hexagon-icon.less_favorable
    background-position: 0px -36px
  .hexagon-icon.mid_favorable
    background-position: 0px -72px

  .overview
    .heading
      padding: 13px 50px 13px 10px
      font-size: 18px
      font-weeight: bold
      color: #fff
   
    .miscellaneous
      .snippet
        margin-bottom: 25px
      .lhs
        color: #062b58
        font-weight: bold
        .title
          font-size: 14px
          margin: 20px 10px 0 15px
          width: 110px
        .hexagon-big-icon
          background: image-url('report/hexagon-big.png') no-repeat center center
          font-size: 11px
          width: 77px
          height: 50px
          text-align: center
          line-height: 12px
          padding-top: 15px
      .rhs
        ffont-size: 11px
        width: 290px
        padding: 0 0 0 15px
        margin-top: 20px
        border-left: 1px solid #b5b5b5  
        line-height: 13px

  .heading.yellow
    background: image-url('report/yellow-texture.png')
    text-shadow: 1px 1px 1px #7a6902 

  .heading.green
    background: image-url('report/green-texture.png')
    text-shadow: 1px 1px 1px #283d06 
  .interview_guide 
    .heading.light_blue
      background: image-url('report/light-blue-bg.png')
      text-shadow: 1px 1px 1px #043d43
      font-size: 18px
      padding: 15px 40px 15px 10px

    .interview_guide_listing
      li
        border-bottom: 1px dotted #cccccc
        margin: 0 0 20px 0
        padding: 0 0 10px 0
        &:last-child
          border: none
      .factor-name
        width: 100px
        padding: 0 10px 
        font-weight: bold
        color: #042956
      .description
        font-size: 10px
        border-left: 1px solid #cccccc
        padding: 0 0 0 5px
        width: 355px
        line-height: 13px
  
  .footer
    color: #0b6e92
    background: #002735
    font-size: 14px
    padding: 15px 35px 
