@import toolkit/component/pagination
@import toolkit/component/buttons
@import toolkit/component/alerts
@import toolkit/component/forms
@import shared/content-sub-nav
@import shared/navigation-sub-nav


.checked
  label
    color: $color-warning
label.checked
  color: $color-warning
label
  .checked
    color: $color-warning
.page-title 
  font-size: 30px
  line-height: 35px
  color: #414042 

.new
  label
    font-size: 14px
    color: #58595b
.norms
  .divider
    width: 30px
    display: none
    height: 10px
    float: left
  li
    min-height: 50px
    &:nth-child(odd)
      border-right: 1px solid #ddd
  .span15
    margin-left: 0
    &:nth-child(odd)
      .factor-list
        padding-left: 0
    &:nth-child(even)
      .divider
        display: block

    .factor-list
      padding: 0 0 0 30px
    ul
      border: none
.factor-list
  label
    font-size: 16px
    position: relative

    p
      border: 1px solid $color-warning
      border-radius: 4px
      bottom: 17px
      cursor: pointer
      line-height: 14px
      padding: 10px
      position: absolute
      background: #fff
      color: #808285
      display: none
    .down-caret
      display: none
      background: image-url("down-caret.png") no-repeat center center
      height: 10px
      left: 10px
      position: absolute
      top: -10px
      width: 16px

    &:hover
      color: $color-warning

      p
        color: #808285
        display: block
      .down-caret
        display: block

.list-snippet
  font-size: $extra-medium-text
  margin: 0 0 18px 0
  color: $grayDarker
  a
    display: block
    color: $grayDarker
    &:hover
      color: $color-warning
      text-decoration: none
.list-snippet-titles 
  a
    color: $default
    &:hover
      text-decoration: none
      color: $default
      i
        color: $color-warning

