= bg($image, $position-x, $position-y)
  background: image-url('report/pdf/training_requirements/#{$image}.png') no-repeat #{$position-x} #{$position-y}
$trr_image_path: report/html/training_requirements_report

.training_requirements_report
  .label
    background: #3d9eaf
    font-size: 14px
    font-weight: 200
    line-height: 24px
    padding: 0 4px
    margin-top: 7px
  .instruction_container 
    .instructions 
      [class*="instruction"]
        +bg(round-indications-small, 0, 0)
        padding: 0 0 0 20px
        line-height: 16px
        color: #000
        text-decoration: none
      .instruction1
        margin-left: 0
      .instruction2
        background-position: 0px -34px
  .section01
    .large-text
      margin-left: 35px
    h1
      font-size: 35px
      color: #000
      font-weight: 200
      padding: 14px 35px
      border-top: 1px dashed #999
      border-bottom: 1px dashed #999
    .logo
      width: 200px
      height: 50px
      margin-left: 35px
      +bg(logo, 0, 0)
    .pie
      width: 510px
      height: 110px
      margin-left: 35px
      background-size: 510px 110px
      +bg(pie, 0, 0)
  .trr_header
    position: relative
    background: #42b59f
    padding: 10px 18px
    color: #fff
    .logo-icon
      position: absolute
      width: 65px
      height: 75px
      +bg(logo-icon, 0, 0)
  .score-indicator
    margin-left: 25px
    &.round
      .indicator
        background: image-url("report/pdf/training_requirements/round-indications-small.png") no-repeat 0 4px !important   
        padding-left: 18px
        &.favorable
          background-position: 0 -30px !important
        &.mid-favorable
          background-position: 0 -64px !important
    .indicator
      padding-left: 30px
      line-height: 22px
      float: left
      margin-left: 25px
      &.less_favorable  
        +bg(less-fav-hexagon, 0, 0)
        text-decoration: underline
      &.favorable
        +bg(fav-hexagon, 0, 0)
        color: #414142
      &.mid-favorable
        +bg(mid-fav-hexagon, 0, 0)
  .assessment_names
    width: 500px
    padding-left: 15px
  .title
    margin-left: 18px
    color: #1c7dab
  .scores
    .title
      margin-left: 0
  .training-need
    .instructions
      margin-left: 20px
    .instruction1, .instruction2
      margin-top: 10px
  .data_points
    .divider1
      height: 8px
    .padding-all1
      padding: 8px
    .frame
      border-width: 1px
      margin-bottom: 8px
    ul
      li
        &:first-child
          border: 0 none
          padding: 0
    .tip
      padding: 5px 7px 5px 50px
      +bg(tip, 18px, 7px)
      background-color: #f8f8f8
      font-size: 10px
      margin: 0px 0px 2px 0px
      line-height: 12px
      white-space: normal

    .left
      text-align: center
      border-right: 1px solid #ccc
      .bucket-holder
        position: relative
        .connector
          position: absolute
          border-top: 1px dashed #a8e0d7
          height: 1px
          width: 395px
          left: 44px
          top: 44px
          z-index: -1
        .across_score
          font-size: 9px
          color: #000
          margin: 30px 24px 0
          text-align: center
          line-height: 12px
          &:first-child
            margin-left: 10px
        .score
          +bg(across_score, center, 0)
          width: 26px
          height: 26px
          font-size: 8px
          color: #fff
          line-height: 26px
          margin: auto
          margin-bottom: 10px
    .right
      .pannel
        border: 1px dashed #ccc
        padding: 10px 20px
        .score_snippet
          line-height: 14px
          padding: 7px
          color: #fff
          font-size: 10px
          border-radius: 3px
          margin-top: 10px
          &:first-child
            margin-top: 0
          &.max
            background: #82D23F
          &.min
            background: #FDC206
          &.average
            background: #3E9DAF
    .flow-chart
      position: relative
      width: 390px
      margin: auto
      .line
        height: 1px
        border-top: 1px solid #82d23f
        position: absolute
        z-index: 1
      .range  
        top: 155px
        height: 15px
        border: 1px solid #a1def8
        border-top: none
        position: absolute
        z-index: 1
        font-size: 16px
        color: #1a98d5
        .text
          bottom: -7px
          height: 1px
          left: 50%
          position: absolute
          width: 1px
          .text-inner
            font-size: 10px
            line-height: 9px
            left: -70px
            position: absolute
            text-align: center
            top: 0
            width: 140px
      .score
        +bg(across_score, center, 0)
        width: 26px
        height: 26px
        font-size: 8px
        color: #fff
        line-height: 26px
        margin: auto
      .parent-node
        width: 1px
        height: 55px
        margin: auto
        position: relative
        border-left: 1px solid #dedede
        .final-score
          width: 45px
          height: 62px
          +bg(final-score, center, center)
          background-color: #fff
          position: absolute
          left: -48px
          top: -25px
          padding: 0 25px
          .pie-chart
            width: 76px
            height: 76px
            margin-left: -15px
            margin-top: -7px
          .max-score, .min-score
            width: 80px
            position: absolute
            font-size: 16px
            top: 23px            
          .min-score
            color: #82d23f
            text-align: left
            right: -80px
          .max-score
            text-align: right
            color: #fdc206
            left: -80px
      .child-node
        position: relative
        width: 76px
        height: 50px
        float: left
        border-top: 1px solid #fdc206
        .score
          bottom: -13px
        &.small
          width: 38px
        &.left-node
          border-left: 1px solid #82d23f
          .bucket-name
            left: -33px
          .score
            left: -13px
        &.right-node
          border-right: 1px solid #82d23f
          .bucket-name
            right: -33px
          .score
            right: -13px
        &.min-score
          border-color: #fdc206
          .score
            +bg(min_rating_circle, center, 0)
        &.gray
          border-color: #cccccc
          .score
            background: image-url("#{$trr_image_path}/gray_circle.png") no-repeat center 0    

        .score
          position: absolute
          +bg(max_rating_circle, center, 0)
        .bucket-name
          position: absolute
          width: 65px
          bottom: -50px
          height: 30px
          font-size: 10px
          line-height: 12px

  .training-need-list
    &.small
      li
        .snippet
          .pie-visual
            height: 100px
            width: 110px
    li
      padding: 25px 45px
      border-bottom: 1px solid #e3e3e3

      &:nth-child(even)
        background: #fbfbfb
      .snippet
        width: 219px
        margin-left: 45px
        float: left
        text-align: center
        line-height: 23px
        &:first-child
          margin: 0
        .trait-title
          font-size: 13px
          color: #000
          font-weight: 700
          min-height: 35px
          text-align: left
        .count
          +bg(count-bg, 0, 0)
          font-weight: 700
          width: 23px 
          height: 23px 
          line-height: 23px
          text-align: center
          color: #fff
          margin-right: 5px
        .pie-visual
          height: 130px
          width: 150px
          margin: auto

        .score
          font-size: 16px
          color: #fdc206
          font-weight: 700

  .scale
    .line
      border-color: #bcbec0
    .marker-container 
      .marker
        +bg(scale-hexagon, center, bottom)
        color: #366378
  #details
    .scale
      margin: 15px 34px 0 0
  .improvement-tips-list
    li
      padding: 18px 25px
      border-top: 1px dashed #b2b2b2

      &:nth-child(even)
        background: #f6f6f6

      p
        +bg(tip, 0, 0)
        font-size: 12px
        padding-left: 45px
        margin: 0
        min-height: 25px
      .trait-name
        font-size: 16px
        font-weight: 700
        padding-top: 7px
      .pie-snippet
        .left
          color: #fdc206
        .left, .right
          float: left
          font-size: 15px
          font-weight: 700
          line-height: 70px
        .pie-visual
          width: 75px
          height: 75px
          float: left 
          margin: 0 10px
      .rating-slider
        +bg(rating-slider-line, center, center)
        margin-top: 30px
        position: relative
        width: 280px
        background-size: 250px 1px

        .marker
          +bg(marker-disk, center, center)
          float: left
          height: 30px
          margin-left: 23px
          position: relative
          text-align: center
          width: 27px
          z-index: 999

          &:first-child
            margin: 0
          &.active
            +bg(marker-hexagon-blue, center, center)
            .score, .arrow
              display: block

        .arrow
          +bg(rating-slider-arrow, center, center)
          display: none
          height: 12px
          left: -1px
          position: absolute
          top: -5px
          width: 27px 
          z-index: 9999
        .score
          background: #FFF
          border: 1px solid #c5cdd5
          border-radius: 2px
          display: none
          left: -19px
          position: absolute
          text-align: center
          top: -20px
          width: 60px
          font-size: 8px
  .common-bottom-trangle
    background-position: center 1007px
  .overview 
    .content
      border-color: #a5ded6 !important
      padding: 0
      .competency-list
        width: 100%
        li
          background: #fff !important
          padding: 5px 0 !important
          &:nth-child(odd)
            background: #f8f8f8 !important
    .competency-name
      padding-left: 25px !important
      color: #000
      margin-top: 10px
    .scale
      margin-right: 25px
      height: 39px
      .line
        bottom: 17px
      .marker
        line-height: 12px
        height: 28px
        &.active
          color: #3baee3
          background: image-url('report/pdf/scale-hexagon.png') no-repeat center bottom
          font-weight: 200
          white-space: nowrap

    .overview-title
      padding-left: 25px !important
      border: 0 none !important
      .scale
        height: 52px
        .line
          border-color: #3baee3
          bottom: 13px
        .marker-container
          .marker
            height: 45px
            color: #1c7dab
            background: image-url('report/pdf/scale-hexagon.png') no-repeat center bottom
            