@import toolkit/component/buttons
@import toolkit/component/alerts
@import toolkit/component/forms

.container.user-flow
  background: image-url('users/user-flow-bg.png') no-repeat center 0
  background-size: 100%

  form
    background: #fff

