.index-page-link
  background: #fbfbfb
  border: 1px solid #b9b9b9
  padding: 15px 10px

.navigation-sub-nav
  width: auto
  .menu
    width: auto
    padding-right: 130px

.walk-ins-customize, .walk-ins-edit
  .expire
    min-width: 500px
    background: #e5e5e5
    border: 1px solid #cecece
    padding: 7px 10px

    select
      color: #b5b5b5
      height: 35px
      width: 70px
      &.big
        width: 90px


  .enable-assessment-list
    ul
      li
        border-bottom: 1px dashed #cfcfcf
        padding-top: 15px
        &.titles
          border: 0
          .control-group
            margin: 0
        &:last-child
          border: 0
        .control-group
          input[type="checkbox"]
            margin-top: 13px

        label
          border: 1px solid #CFCFCF
          padding: 10px
          display: block
          width: 96%
          font-size: 16px
          
          &:hover, &.checked
            background: #ffffcd
            border-color: #f8f8d1
  .checked label, label.checked
    color: #484848
.walk-ins-edit
  .expire-container
    border-bottom: 1px dashed #cfcfcf
    padding-bottom: 15px
