.benefits  
  .landing_inn
    .heading.link_color.text_center
      Benefits of using Jombay.com Job Portal
    .margin_auto.clearfix
      .benefits_point
        .benefits_icon_1
        .description
          90% saving of your time on calling candidates
      .benefits_point
        .benefits_icon_3
        .description
          60% higher conversions of candidates
      .benefits_point
        .benefits_icon_2
        .description
          65% less time to hire candidates
  .divider2