.banner.clearfix
  .landing_inn
    .lhs.pull-left
      .container
        .faded_light.text_center.big_text.font_normal
          Other Job Portals
        .banner_lhs_img
          = image_tag("recruiters/landing/other_job_portals.png")
        .faded_light.text_center.medium_text
          %strong
            Lots of irrelevant Resumes
    .rhs.pull-left.clearfix
      .container.pull-left
        .link_color.text_center.big_text.font_normal
          Jombay.com Job Portal
        .banner_rhs_img
          = image_tag("recruiters/landing/yournextleap_job_portal.png")
        .link_color.text_center.medium_text
          %strong
            Candidates matching requirements
      .span9.pull-right
        .rhs_heading.link_color.text_right
          Why go through 100s of Resumes, when you can get the best 5? 
        .divider1
        %ul.list
          %li
            Automated matching
          %li
            Intelligent filters
          %li
            3x faster hiring
        .btn_sec
          %a{:href => new_user_registration_path, :class => "btn btn-warning", :title => "Start Free Job Trial Now!"}
            Register to Post Jobs
          
          %a.link_color.medium_text.show{:href => new_user_session_path(:redirect_to => job_posting_recruiters_dashboard_index_path), :title=> "Post another Job"}
            %strong
              Already Registered? Post another Job

