.testimonials
  .landing_inn
    .heading.margin.link_color.text_center
      Testimonials from clients
    .divider2
    .client_data.clearfix
      - 3.times do
        .testimonials_inn
          .testim_head_bg
            .content
              .title.clearfix
                .span2.first
                  = image_tag("http://placehold.it/70x70")
                .span4
                  .medium_text
                    Rahul Janorkar
                  Focus Consultants
              %p
                12/19 candidates that I found on Jombay.com joined at my client's company. And I had to spend zero time in calling and SMSing these applicants!
          .testim_foot_bg
  .divider2