.wrapper
  .landing
    = render :partial => "/recruiters/landing/landing_banner" 
    = render :partial => "/recruiters/landing/contact_banner"
    = render :partial => "/recruiters/landing/benefits"  
    -# = render :partial => "/recruiters/landing/testimonials"