- if user_assessment.assessment.brand_partners.present?
  #{user_assessment.assessment.brand_partners.map(&:titleize).join(',')} Pending
- elsif is_superuser?
  Competency Scoring...
- else
  Generating Report...
