%a{:href => send_reminder_to_user_company_custom_assessment_path(:company_id => params[:id], :id => user_assessment.assessment_id, :user_id => user.id, :user_assessment_id => user_assessment.id), :title => "Send Reminder"}
  %i.icon-time
  Send Reminder
