// Links
$color-warning: #f58220
$color-success: #28be9b
$color-info: #0a90c3
$color-green: #08b635
$linkColorHover: darken($color-warning, 15%) 

// Grays
$black: black 
$white: white 
$default: #414042 
$grayDarker: #58595b 
$grayDark: #808285 
$grayLight: #bdbec1 
$grayLighter: #e3e3e3

//font Sizes
$small-text: 10px
$default-text: 12px
$medium-text: 14px
$extra-medium-text: 16px
$big-text: 18px
$large-text: 20px
$extra-large-text: 24px
$huge-text: 30px



// Accent colors
$blue: #049cdb 
$blueDark: #0064cd 
$green: #46a546 
$red: #9d261d 
$yellow: #ffc40d 
$orange: #f89406 
$pink: #c3325f 
$purple: #7a43b6
$black : rgba(0, 0, 0, 0.79) 

// Typography
$baseFontSize: 12px 
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif 
$baseLineHeight: 18px 
$textColor: $default

// Buttons
$primaryButtonBackground: $color-warning

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown: 1000
$zindexPopover: 1010
$zindexTooltip: 1020
$zindexFixedNavbar: 1030
$zindexModalBackdrop: 1040
$zindexModal: 1050

// Input placeholder text color
$placeholderText: $grayLight 

// HR border color
$hrBorder: $grayLight

// Navbar
$navbarHeight: 40px 
$navbarBackground: $grayDarker 
$navbarBackgroundHighlight: $grayDark 
$navbarLinkBackgroundHover: transparent 

$navbarText: $grayLight 
$navbarLinkColor: $grayLight 
$navbarLinkColorHover: $white 

// Form states and alerts
$warningText: $color-warning
$warningBackground: #fcf8e3 
$warningBorder: darken(adjust-hue($warningBackground, -10), 3%) 

$errorText: #b94a48 
$errorBackground: #f2dede 
$errorBorder: darken(adjust-hue($errorBackground, -10), 3%) 

$successText: #468847 
$successBackground: #dff0d8 
$successBorder: darken(adjust-hue($successBackground, -10), 5%) 

$infoText: #3a87ad 
$infoBackground: #d9edf7 
$infoBorder: darken(adjust-hue($infoBackground, -10), 7%) 

// GRID
// --------------------------------------------------

//1190px grid
$gridColumns: 30
$gridColumnWidth: 30px 
$gridGutterWidth: 10px 
$gridRowWidth: $gridColumns * $gridColumnWidth + $gridGutterWidth * ($gridColumns - 1) 

// Fluid grid
$fluidGridColumnWidth: 6.383% 
$fluidGridGutterWidth: 2.128%

//colors for color change of counter
$red: rgba(255, 3, 3, 0.87)
$red: rgba(255, 3, 3, 0.87)