.candidate-details
  .span22.first.page-title
    .divider1
    AID:Assessment Name

  %a.btn.btn-warning.big.big-text.pull-right.span{:href=>candidates_company_sjt_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title=>"View All Candidates"}
    View All Candidates
  .clr
  .divider2
  = render :partial => "shared/sjt/sjt-candidate-content-sub-nav"

  .padding-all2.border-warning.shifted-up1.extra-medium-text
    .span19.margin-auto
      %ul
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Assessment Taker:
          .span8
            Abhishek Verma
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Email id:
          .span8
            XX@jombay.com

          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Contact no.:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Industry:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Current Location:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Current Functional area:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Age:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Experience in Current Company:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Gender:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Total Work Experience:
          .span8
            XX
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Current CTC:
          .span8
            XX
          .clr
        -#
          %li.border-bottom-grayLighter.padding-all1
            .span9.big-text
              Marital Status:
            .span8
              XX
            .clr
        -#
          %li.border-bottom-grayLighter.padding-all1
            .span9.big-text
              Current Company Name:
            .span8
              XX
            .clr
        -#
          %li.border-bottom-grayLighter.padding-all1
            .span9.big-text
              Degree with Specialization:
            .span8
              XX
            .clr

        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Number of Dependants:
          .span8
            XX
          .clr
  .divider1
  .padding-all2.border-warning.shifted-up1.extra-medium-text
    .page-title
      Reports
    .divider2
    .list-snippet-titles.large-text.clearfix
      .span3.first
        %a{:href => "#", :title => "Sort by assessment ID in ascending order"}
          AID
          %i.icon-chevron-down.small-text.line-height1
      .span5
        %a{:href => "#", :title => "Sort by Company Name in ascending order"}
          Company Name
          %i.icon-chevron-down.small-text.line-height1
      .span10
        %a{:href => "#", :title => "Sort by Assessment Name in ascending order"}
          Assessment Name
          %i.icon-chevron-down.small-text.line-height1
      .span5
        Recommendation
      .span5
        %a{:href => "#", :title => "Sort by Assessment Status in ascending order"}
          Assessment Status
          %i.icon-chevron-down.small-text.line-height1
    %ul
      - 5.times do |index|
        %li.list-snippet
          .divider1
          .span3.first
            %a{:href=> "#"}
              123
          .span5
            #{@company.name}
          .span10
            Assessment Name
          .span5
            \-
          .span5
            %i.icon-spinner.icon-spin
            Generating report...
          .clr
