.container
  .page-title
    Customize Assessment
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"

  .span22.margin-auto.clearfix
    %ul
      -6.times do |index|
        %li.span7
          .span6
            .control-group
              .span4.big-text.black.first
                Tool #{index}
              %input.span2.first{:type=>"text", :placeholder=>"Weightage %"}
            %select.fw
              %option 
                Select Location
            .divider1
            %select.fw
              %option 
                Select Industry
            .divider1
            %select.fw
              %option 
                Select Experience
            .divider1
            %input.fw{:type=>"text", :placeholder=>"Page Size"}
          .clr.divider3
    .span7
      .span6
        .extra-medium-text.black
          API Key
        %br/
        %input.fw{:type=>"text", :placeholder=>"Page Size"}
    .span7
      .span6
        .extra-medium-text.black
          API Secret
        %br/
        %input.fw{:type=>"text", :placeholder=>"Page Size"}
    .span7
      .span6
        .extra-medium-text.black
          API URL
        %br/
        %input.fw{:type=>"text", :placeholder=>"Page Size"}
    .clr
    
    .divider2
    
    %a.pull-right.btn.btn-info.big-text.big.font-bold{:href => add_candidates_company_oac_path(@company.id, 12)}
      Proceed