.container
  .page-title
    Select Competencies
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"
  %form
    .assessments-list
      .list-snippet-titles.extra-medium-text.clearfix
        .span6.first.bold
          Competencies
        - 6.times do |index|
          .span4.text-center.bold
            Tool #{index}
        .divider3          
      %ul
        - 5.times do |assessment|
          %li.list-snippet.border-bottom-grayLighter.medium-text
            .span6.first
              Responsbility of Outcomes
            - 6.times do |index|
              %label.span4.text-center
                %input{:type => "checkbox"}
            .clr
            .divider1
    .divider2
    %a.pull-right.btn.btn-info.big-text.big.font-bold{:href => set_weightage_company_oac_path(@company.id, 12)}
      Proceed
    .clr

