.container
  .page-title
    Send Assessment
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"
  .divider2
  .clr
  .send-assessment
    .heading.color-info
      %i.icon-envelope
      Email Settings
    .divider2
    
    .left-offset1.span9
      .big-text.line-height2
        Choose Email Template
      %select.span9.first{ id: "select_template", name: "template_id"}
        - 4.times.each do |index|
          %option{value: "Some Value"}
            Template No #{index}
      .clr
      .divider1


    .email-template.span18
      .gray-dark
        .large-text
          Following is the Preview of the email that Assessment takers will receive.
        .divider1
        .custom-email.hide
          .test-text-to-send
            %span.extra-medium-text.span2.first.show
              From
            .massage-body.italic.span15.medium-text.email-from
              <Sender Name> at XXXX
            .clr
            .divider1
            %span.extra-medium-text.span2.first.show
              Subject
            .massage-body.italic.span15.medium-text.email-subject
              "<Assessment Taker's Name>, XXXX has chosen you to write an Assessment"
            .clr
            .divider1
            %span.extra-medium-text.span2.first.show
              Message
            .massage-body.italic.span15.medium-text.email-body
            .clr
        .default-email
          .test-text-to-send
            %span.extra-medium-text.span2.first.show
              From
            .massage-body.italic.span15.medium-text
              "<Sender Name> at XXXX"
            .clr
            .divider1
            %span.extra-medium-text.span2.first.show
              Subject
            .massage-body.italic.span15.medium-text
              "<Assessment Taker's Name>, XXXX has chosen you to write an Assessment"
            .clr
            .divider1
            %span.extra-medium-text.span2.first.show
              Message
            .massage-body.italic.span15.medium-text
              %p
                Hello &lt;Assessment Taker's Name&gt;,
              %p
                XXX has arranged for you to complete a Jombay Questionaire.
              %p
                To proceed, please click the web-link listed below or visit it by copy-pasting the URL into your web browser's address bar.
              %p
                URL: &lt;Assessment Taker's specific url&gt;
              %p
                If you face any technical difficulties or have any queries please feel free to reach us at  
                %a.muted{:href=>"mailto:#{Rails.application.config.emails[:jit_recipients][:support]}"}
                  #{Rails.application.config.emails[:jit_recipients][:support]}. 
                %br
              %p
                Best Regards, 
                %br/
                Team Jombay
                XXXX
                %br/
              %p
                P.S.: If the link above does not work, or wraps over 2 or more lines, please copy and paste the link directly into your browser and ensure that there are no spaces in between.
            .clr
  .divider2
  %a.pull-right.btn.btn-info.big-text.big.font-bold{:href => assign_assessor_company_oac_path(@company.id, 12)}
    Proceed
