.competency_specific_score.pull-left 
  = render :partial => "oac/exercises/reports/competency_reports/pdf/competency_data_points/tools_used"
  = render :partial => "oac/exercises/reports/competency_reports/pdf/competency_data_points/toolwise_scores"
.clr

