- areas_of_improvements = competency_scores.select{|id,data| !data[:score][:pass]}
- if areas_of_improvements.present?
  .color-info.medium-text
    Development Guide on Areas of Improvement
  %ul
    - areas_of_improvements.each do |id, data|
      %li
        .line-height2
          = data[:name]
        .gray-dark
          = @report.report_data[:competency_guidelines][data[:name]][:guide]
        .divider1.border-bottom-grayLighter
  .divider1
