%table.strengths_improvement.competency_specific_score{:width=>"100%", :cellpadding=>"0", :cellspacing=>"0"}
  %tr
    %td.tools{:style=>"font-size: 12px"}
      Strengths
    %td.space
    %td.tools{:style=>"font-size: 12px"}
      Areas of improvement
  %tr
    %td.tool_scores
      - strengths = competency_scores.select do |name, cdata|
        - cdata[:score][:pass]
      - strengths = Hash[strengths.sort_by{|name, cdata| cdata[:score][:score] }.reverse]
      - if strengths.present?
        %ul.disc.gray-dark.small-text
          - strengths.each do |id,cdata|
            %li
              = cdata[:name]
      - else
        .small-text
          No strengths found 
    %td.space
    %td.tool_scores
      - weaknesses = competency_scores.select do |id, cdata|
        - !cdata[:score][:pass]
      - weaknesses = Hash[weaknesses.sort_by{|id, cdata| cdata[:score][:score] }]
      - if weaknesses.present?
        %ul.disc.gray-dark.small-text
          - weaknesses.each do |id,cdata|
            %li
              = cdata[:name]
      - else
        .small-text
          No areas of improvement found
.divider1
%p{:style=>"font-size: 12px"}
  Scores ranging from Competent to Expert are considered as Strengths. Scores ranging between Novice and Practitioner are considered as Areas of Improvement

