%table.strengths_improvement.competency_specific_score{:width=>"100%", :cellpadding=>"0", :cellspacing=>"0"}
  %tr
    %td.tools{:style=>"font-size: 12px"}
      Strengths
    %td.space
    %td.tools{:style=>"font-size: 12px"}
      Areas of improvement
  %tr
    %td.tool_scores
      %ul.disc.gray-dark.small-text
        - 3.times do
          %li
            Managing Targets
    %td.space
    %td.tool_scores
      %ul.disc.gray-dark.small-text
        - 2.times do
          %li
            Monitoring
      
.divider1
%p{:style=>"font-size: 12px"}
  Scores ranging from Competent to Expert are considered as Strengths. Scores ranging between Novice and Practitioner are considered as Areas of Improvement

