#overview.cover_page
  .overall_report
    .divider12
    .scores
      .score
        = @report.report_title
    .clr
    .container
      .divider3
      .extra-medium-text
        Report Generated On: #{hdate(Date.today)}
        .divider1
        Assessments Included: 
        #{@report_data[:assessment_names].to_a.join(', ')}
        .divider1
        Total Candidates Assessed: 
        #{@report_data[:no_of_users_assessed]}
      .divider2
