.about-us
  .header
    .icon
    .title
      About
    .clr
  .divider1
  .content
    %ul
      %li.feature01
        %p.title
          Built after extensive research
        %p
          Jombay's assessments are built after profiling over 1 million professionals across industries and functions, giving you more accurate insights on your organization's workforce.
      %li.feature02
        %p.title
          A Scientifically Validated Tool
        %p
          Jombay's tools are built following the global best practices of Psychometric Assessment construction including the reliability and validity studies. 
      %li.feature03
        %p.title
          Relevant Content &amp; Easy to Understand Language
        %p
          Assessment uses simple, easy-to-understand language for anyone with even an average understanding of English. This makes Jombay applicable across all experience levels and functions in a Company.  

      %li.feature04
        %p.title
          Clear &amp; Intuitive Reports; no need of interpretations!
        %p
          Jombay gives clear and intuitive reports with actionable insights. Even the line/business managers can understand the reports or use the tools without certifications. 

      %li.feature05
        %p.title
          Integrated Analytics for Strategic Talent Management 
        %p
          A suite of integrated Analytics features allows companies to take all the Talent Management efforts to a logical conclusion with actionable insights 

      %li.feature06
        %p.title
          Easily Customizable to a Company's needs
        %p
          Jombay's assessments can be highly personalized to fit a company's competency framework, for every job role in the company. 
    .divider1
    .contact_section
      .title Contact Information
      %ul.clearfix
        %li.icon-globe
          %span  Website:  www.jombay.com      
        %li.icon-envelope
          %span  Email:  Sales: sales@jombay.com         
        %li.icon-phone
          %span  Telephone:  +91 96733 35242
