.legal_disclaimer
  .header
    .icon
    .title
      Legal Disclaimer
    .clr
  .divider4
  .content
    %p
      The information mentioned in this report is strictly confidential and it should not be shared with any non-related person. The information contained is potentially sensitive and every effort should be made to ensure that it is stored in a secure place. The report must not be published in any way and should be used only for its intended purpose.
      %br
      %br
      %strong
        Note: 
      Jombay’s Reports should not be used as the sole basis for making an employment decision. It is recommended that Jombay’s Reports be used in combination with other assessment techniques. Please refer to relevant legal, ethical, and professional standards for guidance in the appropriate use of assessment results.
