.legal_disclaimer
  .header
    .icon
    .title
      Legal Disclaimer
    .clr
  .divider4
  .content
    %p
      The information mentioned in this report is strictly confidential and that it should not be shared with any non-related person. The information contained is potentially sensitive and every effort should be made to ensure that it is stored in a secure place. The report must not be published in any way and should be used only for its intended purpose.
