.legal_disclaimer
  .header
    .icon
    .title
      Legal Disclaimer
    .clr
  .divider4
  .content
    %p
      Note: Jombay’s Reports should not be used as the sole basis for making an employment decision. It is recommended that Jombay’s Reports be used in combination with other assessment techniques. Please refer to relevant legal, ethical, and professional standards for guidance in the appropriate use of assessment results.
