.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag ("#{Rails.application.config.action_controller.asset_host}/#{asset_path('jombay-logo.png')}")
      .big-text.gray-dark.padding-all1.pull-left
        Training Requirements 
      .pull-right
        %ul#nav.clearfix.pull-left
          %li.left
          %li
            %a.scroll{:href => "#overview", :title => "Overview"}
              Overview
          %li
            %a.scroll{:href => "#details", :title => "Details"}
              Details
          %li.right
        = yield :report_link
        .clr
      .clr
