- if @view_mode != "html"
  .training_requirements_report_header
    .header.clearfix
      .logo
        - if @view_mode == "html"
          = image_tag ('report/jombay-logo-icon.png')
        - else
          = wicked_pdf_image_tag ('report/jombay-logo-icon.png')
      .right-side.pull-right
        .big-text
          %b Tips on Areas of Improvement
        .pull-left
          Assessment Name:
          = @assessment.name
        .clr

