.frame.mrf.gray-bg
  .heading.pull-left
    #{competency_name} : #{competency_scores[:score][:bucket]}
  .clr 
  .divider1
  %ul.mrf_data_points_listing
    %li
      .left_sec
        .content
          .trait_rating.self
            .left
              Self Rating
            .right
              XXXX
            .clr

          .trait_rating.score
            .left
              Assessment Score
            .right
              XXXX
            .clr

          .divider1

          .overall_average
            %p.big-text
              Overall Average
            .divider1
            .snippet.including
              Including Self Rating: XXXX
            .divider1
            .snippet.excluding
              Excluding Self Rating: XXXX
            .divider1

      .right-sec.span17
        .caption.text-center
          Average Rating by Stakeholders
        .divider3
        - 5.times do |index|
          .stakeholders-rating-snippet
            .stakeholders-name.pull-left
              XXXX
            .stakeholders-rating-slider.pull-left 
              -@norm_buckets.each_with_index do |norm_bucket|
                .marker{}
                  -# add ".active" to ".marker"
                  .arrow
                  .score
                    = norm_bucket.name
              .clr
            .clr
            .divider3

      .clr
.divider1

