.stakeholder-comments.responses
  .container
    .divider2    
    .title
      Responses to Other Questions
    .divider2
    .divider2
    - @report.report_data[:subjective_responses_others].each do |subjective_response_key, subjective_response_value|
      = render :partial => "mrf/assessments/reports/competency_report/subjective_responses", :locals => { :subjective_response_key => subjective_response_key, :subjective_response_value => subjective_response_value}