.stakeholder-comments
  .container
    .divider2
    .title
      Stakeholder Comments on Traits under various Competencies
    .divider2
    - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
      = render :partial => "mrf/assessments/reports/competency_report/comments_on_traits", :locals => { :competency_name => competency_name, :competency_scores => competency_scores}