.frame.gray-bg
  .heading.pull-left
    #{competency_name }: #{competency_scores[:score][:bucket]}
  .clr 
  .divider1
  %ul.mrf_data_points_listing
    - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
      - competency_scores[:trait_scores].each_with_index do |trait_score, index|
        = render :partial => "mrf/assessments/reports/competency_report/trait_wise_rating", :locals => {:trait_score => trait_score, :index => index}
      .divider1
.divider1

