#scores.section03
  .divider1
  .scores.container
    .title.pull-left
      Traits with 360 Degree Scores 
    .scale.mrf.pull-right.left-offset1
      .line
      .marker-container
        - @norm_buckets.each do |norm_bucket|
          .marker
            .arrow
            .marker-info
              = norm_bucket.description rescue "-" 
            - if norm_bucket.name.split(" ").size == 1
              %br/
            = norm_bucket.name
      .clr
    .clr
    .divider3
    - @report.report_data[:competency_scores].each do |competency_name, competency_scores|
      = render :partial => "mrf/assessments/reports/competency_report/competency", :locals => { :competency_name => competency_name, :competency_scores => competency_scores }