.stakeholder-comments.responses
  .container
    .divider2
    
    .title
      Responses to Other Questions
    .divider2
   
    .divider2
    -2.times do
      .bottom-trangle
        .frame
          .question
            Question 1. Pays minute attention to details while completing a task    
            .info
              This question was about the trait Risk Taking. ​Response to question was ​Optional. 
            .arrow
      
          
          .divider2
          -#if no response then only enable this HAML code
            .no-responses
              .box
                No Responses
            .divider3
          %ul
            -5.times do
              %li
                .stakeholder.span3.first
                  Manager
                .comment-box.span23.pull-right
                  comment text comment text comment text comment text comment text comment text comment text comment text comment text comment text comment text comment text comment text comment text 
                  .arrow
                .clr
      .divider2
