=# link_to 'Download all Factor Norms', suitability_job_factor_norms_path(:format => :csv, :trailing_slash => false)
=# link_to 'Edit Suitability Job Factor Norms', edit_suitability_job_factor_norms_path
= link_to 'Manage Suitability Job Factor Norms', manage_suitability_job_factor_norms_path
%h1 All Suitability Job Factor Norms
.pagination.pull-right        
  = paginate @job_factor_norms        
.clr     

%table
  %tbody
    %th ID
    %th Suitability Factor
    %th Industry
    %th Functional Area
    %th Experience
    %th Norm Min
    %th Norm Max
    - for job_factor_norm in @job_factor_norms do
      %tr
        %td=	job_factor_norm.id
        %td=	job_factor_norm.factor.name
        %td=	job_factor_norm.industry.name
        %td=	job_factor_norm.functional_area.name
        %td=	job_factor_norm.job_experience.display_text
        %td=	job_factor_norm.norm_min
        %td=	job_factor_norm.norm_max
%br   
.pagination.pull-right        
  = paginate @job_factor_norms        
.clr     

