= link_to 'Manage Suitability Job Factor Norms', manage_suitability_job_factor_norms_path
%h1 All Suitability Job Factor Norms

= render :partial => "suitability/master_data/search"

%br

.pagination.pull-right        
  = paginate @objects
.clr     

%table
  %tbody
    %th ID
    %th Suitability Factor
    %th Industry
    %th Functional Area
    %th Experience
    %th Norm Min
    %th Norm Max
    - for job_factor_norm in @objects do
      %tr
        %td=	job_factor_norm.id
        %td=	job_factor_norm.factor.name
        %td=	job_factor_norm.industry.name rescue "-"
        %td=	job_factor_norm.functional_area.name rescue "-"
        %td=	job_factor_norm.job_experience.display_text rescue "-"
        %td=	job_factor_norm.norm_min
        %td=	job_factor_norm.norm_max
%br   
.pagination.pull-right        
  = paginate @objects        
.clr     

