= link_to 'Download all Factor Norms', suitability_job_factor_norms_path(:format => :csv, :trailing_slash => false)
= link_to 'Edit Suitability Job Factor Norms', edit_suitability_job_factor_norms_path
= link_to 'Manage Suitability Job Factor Norms', manage_suitability_job_factor_norms_path
%h1 All Suitability Job Factor Norms
%table.unstyled
  %tbody
    %th Suitability Factor
    %th Industry
    %th Functional Area
    %th Experience (min)
    %th Experience (max)
    %th Norm
    %th Std. Deviation
    - for job_factor_norm in @job_factor_norms do
      %tr
        %td=	job_factor_norm.suitability_factor[:factor][:name]
        %td=	job_factor_norm.industry[:industry][:name]
        %td=	job_factor_norm.functional_area[:functional_area][:name]
        %td=	job_factor_norm.job_experience[:job_experience][:min]
        %td=	job_factor_norm.job_experience[:job_experience][:max]
        %td=	job_factor_norm.norm_value
        %td=	job_factor_norm.std_dev
