.container.huge-text.muted
  .divider2
  .frame
    .heading
      Assessor's Remarks
    .divider1
    .scores
      .remarks.section05
        .container
          %ul.scores_listing
            %li
              .big-text.bold
                Observations
              .divider1
              %p.extra-medium-text
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec venenatis arcu. Proin tincidunt ultricies arcu. Sed metus elit, convallis vel nulla sit amet, bibendum malesuada urna. Donec luctus cursus aliquet. Integer ut massa quis lectus molestie facilisis in at nibh. 
              .divider2

              .big-text.bold
                Feedback
              .divider1
              %p.extra-medium-text
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec venenatis arcu. Proin tincidunt ultricies arcu. Sed metus elit, convallis vel nulla sit amet, bibendum malesuada urna. Donec luctus cursus aliquet. Integer ut massa quis lectus molestie facilisis in at nibh. 