.competency_report  
  =render :partial => "oac/assessments/reports/competency_reports/html/header"
  =render :partial => "oac/assessments/reports/competency_reports/html/cover_page"
  =render :partial => "oac/assessments/reports/competency_reports/html/competency_overview"
  =render :partial => "oac/assessments/reports/competency_reports/html/competency_overview_tool_wise"
  =render :partial => "oac/assessments/reports/competency_reports/html/data_points_tool_wise"
  =render :partial => "oac/assessments/reports/competency_reports/html/personalised_comments"
  =render :partial => "oac/assessments/reports/competency_reports/html/individual_development_plan"
  =render :partial => "oac/assessments/reports/competency_reports/html/assessor_remarks"
  =render :partial => "shared/reports/html/legal_disclaimer"
  =render :partial => "shared/reports/html/about_us_compact"
  / =render :partial => "oac/assessments/reports/competency_data_points"

  .footer
    .container
      .pull-left
        Private &amp; Confidential
      .pull-right
        \&copy; Jombay
      .clr
