- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Jobs
    .content
      .pull-left
        .medium_text.line_height2
          Here is the list of closed jobs on Jombay.com.
      =render :partial => "recruiters/jobs/status/status_nav" 
- content_for :sidebar do
  

- if @jobs.present?
  %ul.listing
    - @jobs.each do |job|
      = render :partial => "recruiters/dashboard/section/closed_job", :locals => {:job => job}
- else
  .padding_all1
    .blank_job_alert
      There are 0 jobs posted by you on Jombay.com Please go ahead and start posting jobs.