- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Jobs
    .content
      .pull-left
        .medium_text.line_height2
          Here is the list of closed jobs on Jombay.com.
      =render :partial => "recruiters/jobs/status/status_nav" 
- content_for :sidebar do
  =render :partial => "recruiters/shared/help_block"  

- if @jobs.present?
  %ul.listing
    = render :partial => "recruiters/dashboard/section/closed_job", :collection => @jobs
- else
  = render :partial => "recruiters/jobs/status/no_job"