- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Jobs
    .content
      .medium_text.line_height2
        Here is the list of incomplete jobs on Jombay.com.
      .pull-right
        = bootstrap_paginate @jobs, :inner_window => 0, :outer_window => 0, :previous_label => "&laquo;", :next_label => "&raquo;"
      .divider1
- content_for :sidebar do
  =render :partial => "recruiters/shared/help_block"

- if @jobs.present?
  %ul.listing
    = render :partial => "recruiters/dashboard/section/incomplete_job", :collection => @jobs
- else
  = render :partial => "recruiters/jobs/status/no_job"