- content_for :recruiter_title do
  .recruiter_title
    .content
      .main.pull-left
        Jobs
      =render :partial => "recruiters/jobs/status/status_nav" 
    .content
      .pull-left
        .divider1
        .medium_text
          Here is the list of incomplete jobs on Jombay.com.
      .pull-right
        .divider1
        = bootstrap_paginate @jobs, :inner_window => 0, :outer_window => 0, :previous_label => "&laquo;", :next_label => "&raquo;"
      .clr
      .divider1
- content_for :sidebar do
  =render :partial => "recruiters/shared/help_block"

- if @jobs.present?
  %ul.listing
    = render :partial => "recruiters/dashboard/section/incomplete_job", :collection => @jobs
- else
  = render :partial => "recruiters/jobs/status/no_job"