- content_for :recruiter_title do
  .recruiter_title
    .content
      .main.pull-left
        Jobs
      =render :partial => "recruiters/jobs/status/status_nav" 
    .content
      .medium_text.line_height2
        Here is the list of open jobs on Jombay.com.
- content_for :sidebar do
  =render :partial => "recruiters/shared/help_block"

- if @jobs.present?
  %ul.listing
    = render :partial => "recruiters/dashboard/section/open_job", :collection => @jobs
- else
  = render :partial => "recruiters/jobs/status/no_job"