- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Jobs
    .content
      .pull-right
        .medium_text.line_height2
          Here is the list of jobs that are pending approval from the Jombay.com team. You'll be notified once they are approved and posted on Jombay.com.
      =render :partial => "recruiters/jobs/status/status_nav" 
- content_for :sidebar do
  =render :partial => "recruiters/shared/help_block"

- if @jobs.present?
  %ul.listing
    - @jobs.each do |job|
      = render :partial => "recruiters/dashboard/section/pending_job", :locals => {:job => job}
- else
  .padding_all1
    .blank_job_alert
      There are 0 jobs posted by you on Jombay.com Please go ahead and start posting jobs.
