.status_nav.pull-right
  %ul.unstyled.clearfix.margin
    %li
      %a{:href => "#", :title => "Click here to view all Pending jobs"}
        Pending
    %li
      %a{:href => "#", :title => "Click here to view all Open jobs"}
        Open
    %li.active
      %a{:href => "#", :title => "Click here to view all Incomplete jobs"}
        Incomplete
    %li
      %a{:href => "#", :title => "Click here to view all Closed jobs"}
        Closed
.clr