- content_for :stylesheets do
  = stylesheet_link_tag "tests"
- content_for :content do
  .divider1
  .container
    //For Alerts
    //= render :partial => "shared/alert-success-iconic"
    //= render :partial => "shared/alert-error"
    //= render :partial => "shared/alert-success"
  .white-box.tests.bordered.container
    = render :partial => "shared/sub-nav"
    = yield
= render :file => 'layouts/jit'
