- content_for :stylesheets do
  = stylesheet_link_tag "feedback"
- content_for :main_header do
  = render :partial => "shared/reports/candidate_report_feedback_header"
  
= render :file => 'layouts/base'
