-# HANDLE WITH CARE!!!
  This layout affects 100% pages of the site. It is the
  absolute base layout. All layouts eventually inherit from this layout.  Basic
  HTML tags, HEAD, BODY tags, etc are all defined here, and yield blocks are
  provided as hooks to add content.

:ruby
  unless defined? options
    options = {}
  end

  options.reverse_merge!({
    :body_class => ""
  })

  @default_seo = {
    :title => "",
    :description => "The most awesome jobs site in India.",
    :image => "/images/ynl_feed_icon.png"
  }


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
%html
  %head
    = favicon_link_tag
    = yield :stylesheets
    =# render :partial => "shared/meta", :locals => {:seo => @default_seo.merge(@seo || {})}

    =# yield :extra_meta
    -# 
      - if content_for? :canonical_link
        =# yield :canonical_link
      - else 
        %link{:rel => :canonical, :href => request.url}

    =# render :partial => 'shared/analytics/google_analytics'

  %body{:class => options[:body_class]}
    = yield :body
    =# render :partial => 'shared/social_js'


    -# Block for javascript libs. Any 3rd party libs being used should be loaded
      here. Bundling was disabled here as some bootstrap libs dont play well
      bundled. We should check this, if bundling doesnt raise errors any longer,
      we should activate bundling here also

    / - bundle :name => bundler_name(:libs) do
    = yield :javascripts

    -# Block for page javascript.  Custom page js goes here.
