- content_for :stylesheets do
  = stylesheet_link_tag "shared"

- content_for :main_header do
  = render :partial => 'shared/header'

- content_for :footer do
  = render :partial => 'shared/footer'

= render :file => 'layouts/base'
