- content_for :stylesheets do
  = stylesheet_link_tag "reports_html"
- content_for :main_header do
  = render :partial => "shared/360/mrf_report_header"
  
- content_for :content do

  .report
    = yield

= render :file => 'layouts/jit'
