- content_for :stylesheets do
  = stylesheet_link_tag "tests"
  = stylesheet_link_tag "training_requirements"

- content_for :content do
  .divider1
  .container
    = yield
    //For Alerts
    //= render :partial => "shared/alert-success-iconic"
    //= render :partial => "shared/alert-success"
    //= render :partial => "shared/alert-error"

= render :file => 'layouts/jit'
