- content_for :stylesheets do
  = stylesheet_link_tag "users"
- content_for :main_header do
  = render :partial => 'shared/users/header'
- content_for :content do
  .divider1
  .white-box.tests.bordered.container
    .users-content
      .box
        = yield
      .divider3   
= render :file => 'layouts/base'
