- content_for :stylesheets do
  = stylesheet_link_tag "users"
- content_for :main_header do
  = render :partial => 'shared/header'
- content_for :content do
  
  .container.user-flow
    = yield
    .divider3   
= render :file => 'layouts/base'
