%br/
= render :partial => 'suitability/norm_buckets/import_form'
%br/
= render :partial => 'suitability/norm_buckets/export_form'
%br/
= link_to 'Back', suitability_norm_buckets_path
= link_to 'Destroy All', destroy_all_suitability_norm_buckets_path
